[2021-02-04 22:21] irbekrm commented on #3603
It is confusing me a bit because in the logs you posted the error message is `too many new orders recently` - in their docs it says that you get another error message-  `too many certificates already issued for exact set of domains` - if the 5 hostnames limit is reached.
[Here](https://github.com/letsencrypt/boulder/blob/main/ra/ra.go#L521) is the origin of the error I think.

In any case, I think

[2021-02-04 22:34] justinkillen commented on #3603
Sorry - I try to explain better.  Let’s say hypothetically that LetsEncrypt limits are 10 requests per IP, and 5 certs per host.  In that case, when the first 5 CertificateRequests are generated, they go through.  At the same time, 5 CertificateRequests are created for a separate host, and they go through.  Now though, any additional requests will fail due to the per-IP limit, and the 6th Certific

[2021-02-04 23:10] irbekrm commented on #3603
It makes sense what you are saying - I see that the error is on the 6th CertificateResource so it would make sense if it was the limit of certs per host. But the error message `too many new orders recently` comes from [here](https://github.com/letsencrypt/boulder/blob/main/ra/ra.go#L521)- unless I've completely got it wrong.

In fact, they are checking for new order per account limit before checki

[2021-02-04 23:46] jglick opened #3634 "Empty issuer DN when using selfSigned"
**Describe the bug**:

The `selfSigned` issuer seems to generate a certificate that, while tolerated by Chromium for example, is rejected as malformed by Java—apparently due to lack of an issuer DN (and perhaps other reasons if it were to get past that).

**Expected behaviour**:

That the certificate be accepted as well-fomed and importable into the Java cert store.

**Steps to reproduce the bug**

[2021-02-05 07:27] nmiculinic commented on #3629
Yeah, I've tried to go to web UI and add CNAME type service, though I had issues getting it to serve me CNAME entry. Maybe I'm doing something wrong, though I didn't have much time to debug it.

[2021-02-05 08:03] dverbeek84 commented on #2882
@robstradling Nice, i will test it in the comming week. Thanks for the fix!

[2021-02-05 08:32] irbekrm commented on #3629
You've got to [register an instance](https://docs.aws.amazon.com/cloud-map/latest/api/API_RegisterInstance.html) after creating the service as well.

I created a service with name `_acme-challenge` and with record type CNAME in the UI and then ran something like

[code]
after that I had an actual CNAME record in the AWS Cloud Map managed zone.

[2021-02-05 08:55] rahbal commented on #2362
Facing same issue in v1.1.0 of helm chart from jetstack/cert-manager

Some logs:
pod/cert-manager-webhook
[code]

pod/cert-manager
[code]

[2021-02-05 08:59] maelvls commented on #3634
Hi! Thank you for the very thorough description.

As discussed in the SO thread [x-509-issuer-dn-optional][], the [RFC 3280][] states that the issuer distinguished name must be not empty (_MUST_ as per [RFC 2119][]):

I also noticed that the [RFC 3739][] proposes a different certificate profile, based on [RFC 3280][], for identity certificates issued **to natural persons**. In this certificate pro

[2021-02-05 09:01] maelvls commented on #3634
/priority backlog
/area ca

[2021-02-05 09:05] rahbal commented on #3019
Facing same issue in v1.1.0 of helm chart from jetstack/cert-manager

`kubectl describe clusterissuer letsencrypt-staging` shows events as `None`.

`kubectl get clusterissuer letsencrypt-staging  -o wide`
[code]

Some logs:
pod/cert-manager-webhook
[code]

pod/cert-manager
[code]

I am stuck in this situation since two days, please help!

[2021-02-05 09:23] zedtux commented on #3019
Hey @rahbal,

You need to check what's going wrong with your cluster using sonobuoy. Please have a look at [my sonobuoy's issue where I'm figuring out what's going wrong](https://github.com/vmware-tanzu/sonobuoy/issues/1151), you will see how to run sonobuoy and potentially detect the root of your issue.

[2021-02-05 09:42] maelvls commented on #3413
I will try to finish this for the 1.2-alpha.2 that we plan on releasing this morning

/assign @maelvls

[2021-02-05 10:00] irbekrm commented on #3458
This is a recently introduced bug I think.
Whilst I was investigating #3603 I noticed that in `cert-manager` v0.14.3 the old CertificateRequests do get deleted (there is only one CertificateRequest per Certificate at any time) whereas in v1.0.0 they are no longer deleted.
It does not however seem itself to cause Certificates to _not_ get renewed.

I have no idea what I did but I only created 2 Cer

[2021-02-05 10:50] #3488 closed

[2021-02-05 11:00] maelvls opened #3636 "Add a unit test around the new ocspServers and crlDistributionPoints"
As of #3505, we decided to skip the unit tests so that the new feature would be shipped as part of v1.2-alpha.2 and would benefit from more "real" alpha testing. This issue reminds @maelvls to actually write those unit tests.

Todo:
- [ ] unit test `ocspServers`
- [ ] unit test `crlDistributionPoints`

Related:
- https://github.com/cert-manager/website/issues/425 (document `ocspServers`)

/kind cl

[2021-02-05 11:01] maelvls commented on #3636
/milestone v1.2

[2021-02-05 11:27] #3497 closed

[2021-02-05 16:20] irbekrm commented on #3631
Thanks for raising this issue @chadleeshaw !

I was trying to reproduce this and could not- for me a password with 60 chars (including some random characters) resulted in keystore and truststore being encrypted with the password as expected.
It would be great to be able to document this if there are any unexpected limits on the allowed values, so in case you still have any logs/the old password va

[2021-02-05 18:21] n27051538 commented on #1068
Hello, I have the same issue when I set proxy.

[code]

If I install the same but without proxy vars, the error disappear and my self-signed certificate is created:

[code]

[2021-02-05 21:15] jglick commented on #3634
I think I found a workaround: add

[code]

to the `Certificate`.

[2021-02-05 22:21] jglick commented on #3634
A further update, which may be something obvious to you and as designed in cert-manager but recording it here for the benefit of anyone “Googling the error message” as I did: importing the `ca.crt` from a `selfSigned` issuer into the Java keystore (`tls.crt` was identical) did _not_ allow a Java client to connect. However I then switched to a keypair generated by OpenSSL and referenced using a `ca

[2021-02-06 00:58] oursland commented on #2526
A Gateway resource on port 80 prevents the operation of the Ingress of the cert-manager webhook.

Removing this Gateway will permit proper operation as demonstrated in @abatilo 's demonstration, however isn't ideal as it prevents tls redirection or matching service on port 80.

[2021-02-06 10:14] jetersen commented on #1361
@munnerz The docs for this did they land? I have no luck finding them.

[2021-02-06 11:50] YSZhuoyang commented on #3000
Hey are there any updates? I'm running it on GKE with ISTIO but got the same error:
`Waiting for HTTP-01 challenge propagation: failed to perform self check GET request 'http://<domain>/.well-known/acme-challenge/7CZZwAqne-CKNSgMGlDY2OwZ9nsNDtVMJVjoxwQ-hzE': Get "http://<domain>/.well-known/acme-challenge/7CZZwAqne-CKNSgMGlDY2OwZ9nsNDtVMJVjoxwQ-hzE": dial tcp <istio-ingress-gateway-ip>:80: connect

[2021-02-07 10:53] GlassOfWhiskey opened #3637 "BadRequest error when configuring external Vault with Kubernetes authentication"
When trying to configure Vault as an external certificate Issuer, the ClusterIssuer resource cannot reach the Ready status, giving the following message:
[code]

After debugging with tcpdump, the request that generates the 400 error is the following:

[code]
where the content of the JWT has been substituted with stars.

Now, the same request done with curl from a debugging `alpine` pod in the cert

[2021-02-07 13:16] mostafa8026 commented on #2319
When you use the hostNetwork as true, it has some security issues, it gives the pod access to the loopback device, services listening on localhost, and could be used to snoop on network activity of other pods on the same node [more detail](https://kubernetes.io/docs/concepts/policy/pod-security-policy/#host-namespaces). so it is better to not use this config.
because the hostNetwork is set to true

[2021-02-08 09:36] hopik007 opened #3638 "Certificate wait for removed Order resource on AKS"
**Describe the bug**:

I had issue with DNS challenges for Letsencrypt on our AKS cluster. I hope it was already solved but Challenge and Order resource was still in stuck so I removed this resources for another renew attempt but I can still see in Certificate resource:

[code]
acme-crt-9zf88-1093887857  was Order resource which was removed.

Could you pls somebody help me how to remove "waiting"

[2021-02-08 11:09] irbekrm commented on #3458
We had a brief chat in the team standup about this issue- we think maybe optional limiting of CertificateRequests per Certificate could be implemented similarly to how the number of k8s ReplicaSets for a Deployment can be limited using [revisionHistoryLimit](https://kubernetes.io/docs/concepts/workloads/controllers/deployment/#clean-up-policy).

[2021-02-08 11:41] maelvls commented on #3513
There is something off with the reverse-proxy configuration of https://charts.jetstack.io/
- Currently it 301 to https://hub.helm.sh/charts/jetstack
- But it should 301 to https://hub.helm.sh/packages/helm/jetstack/cert-manager

(note that `hub.helm.sh` 301 redirects to `artifacthub.io`_)

Yes! Right now, searching for cert-manager shows an entry with the user `adam` (who is that??)

![helm-hub-wh

[2021-02-08 11:41] maelvls commented on #3513
Yes! Right now, searching for cert-manager shows an entry with the user `adam` (who is that??)

![helm-hub-who-is-adam](https://user-images.githubusercontent.com/2195781/107214916-e8083000-6a0a-11eb-9e2b-d5f6576c6fc4.png)

[2021-02-08 11:47] rahbal commented on #2319
My values.yaml file.

[code]

[2021-02-08 14:18] hopik007 commented on #3638
Problem solved. There was temporarry issue during Challenges.
So I have to remove invalid resources   : challenges,order and certificaterequests.
It was unblock request new cert.

[2021-02-08 14:18] #3638 closed

[2021-02-08 16:39] Evesy opened #3640 "Challenge Records Not Always Cleaned Up"
**Describe the bug**:
After successfully completing dns-01 challenges, cert-manager is not always cleaning up the TXT records it created

**Expected behaviour**:
All DNS records related to challenges should be deleted once completed.

**Steps to reproduce the bug**:
TBC.

I currently cannot consistently reproduce the issue

**Anything else we need to know?**:

**Environment details:**:
- Kubernete

[2021-02-09 00:34] tr1ck3r opened #3642 "Transition Venafi Cloud integration to OutagePREDICT"
Venafi are currently transitioning their open source Venafi Cloud integrations to the **OutagePREDICT** ("OP") product from **DevOpsACCELERATE** ("DA", which will be sunset later this year).  The Venafi issuer in cert-manager relies upon the VCert (Golang) client and the [v4.13.0 release](https://github.com/Venafi/vcert/releases/tag/v4.13.0) marks this "DA2OP" transition.  The VCert module depende

[2021-02-09 01:29] maganaluis opened #3643 "cert-manager-webhook getting deleted by garbage-collector"
**Describe the bug**:

When you install cert-manager, say on minikube and you install it following the regular install command ```kubectl apply -f https://github.com/jetstack/cert-manager/releases/download/v1.1.0/cert-manager.yaml``` you're assuming that everything will be installed on the namespace "cert-manager", however that's not the case. Some resources will be installed in the namespace "kub

[2021-02-09 07:53] maelvls commented on #3642
/cc @james-w

[2021-02-09 07:54] maelvls commented on #3642
/kind feature
/area venafi
/priority important-soon

[2021-02-09 08:08] maelvls commented on #3640
Hi! It looks like a bug during the "finalized" stage; when the issue happens, would you be able to share the cert-manager-controller logs?

/triage needs-information

[2021-02-09 08:09] maelvls commented on #3620
/priority backlog

[2021-02-09 08:34] maelvls commented on #3612
Looks like the `restore` issue has been reported a couple of time, I propose the `important-soon` priority

/priority important-soon

[2021-02-09 08:42] maelvls commented on #3611
I was thinking about trying to reproduce the issue this morning but I then realized that the ACME implementation is closed-source. That would be Keyon's Microsoft PKI [RA ACME+](https://keyon.ch/en/Produkte-Loesungen/Microsoft-PKI/index.php#RA-ACME-PLUS), is that correct?

Not sure how to proceed with this bug 🤔 How could the cert-manager team help with debugging the issue?

/triage needs-informat

[2021-02-09 08:56] maelvls commented on #3643
You are right, 4 resources are installed by default to the `kube-system` namespace:

- the role that allows the cert-manager-controller to do the leader election (creates/updates a specific configmap in kube-system),
- the role that allows the cert-manager-cainjector to do the leader election,
- the role binding for cert-manager-controller,
- the role binding for cert-manager-cainjector.

The rest

[2021-02-09 08:57] maelvls commented on #3643
/priority backlog
/area deploy

[2021-02-09 08:58] maelvls commented on #3643
/triage needs-information

[2021-02-09 09:40] wallrj opened #3644 "Helm upgrade failed: cannot patch "certificates.cert-manager.io" with kind CustomResourceDefinition: "" is invalid: patch: ..."
@JoshVanL reported a failure in Helm upgrade from 1.1.0 to 1.2.0-alpha.2 fails with the following error:

[code]

@wallrj  reproduced the error with Helm version 3.5.1 and 3.5.2

[code]

[code]
/milestone v1.2
/kind bug

[2021-02-09 09:40] wallrj commented on #3644
/milestone v1.2

[2021-02-09 09:56] jakexks commented on #3642
/milestone next

[2021-02-09 11:00] irbekrm commented on #3644
Some related chat on Slack [here](https://kubernetes.slack.com/archives/CDEQJ0Q8M/p1612523251155200)

I observed the same issue when upgrading v1.0.4 -> v1.1.0 so perhaps this issue is not related to v1.2.0.alpha at all?

With Helm v3.5.2 and Kubernetes 1.19:

Running `helm install   cert-manager jetstack/cert-manager   --namespace cert-manager   --version v1.0.4 --create-namespace --set installCR

[2021-02-09 11:29] maelvls commented on #3642
We really really need to rename the milestone to "next" instead of "Next"
lol

On Tue, 9 Feb 2021 at 10:56, jetstack-bot <notifications@github.com> wrote:

[2021-02-09 12:19] Kanshiroron opened #3645 "[AWS/EKS] Internal error occurred: failed calling webhook "webhook.cert-manager.io": Post https://cert-manager-webhook.cert-manager.svc:443/mutate?timeout=10s: Address is not allowed"
**Describe the bug**:

After following the installation instruction of Cert-Manager v1.1.0, I cannot get the test data to work. Kubectl returns following error:
[code]

**Here is my environment:**

AWS/EKS: 1.18
Cert-Manager: 1.1.0
kubectl: 1.20

**Steps to reproduce**

1. Create an AWS/EKS cluster
2. Deploy Cert-Manager v1.1.0:
[code]
3. Wait some time for everything to be running then create the

[2021-02-09 14:01] irbekrm commented on #3644
It looks like the issue is conversion of `minimum` and `maximum` field values ([here](https://github.com/jetstack/cert-manager/blob/master/deploy/crds/crd-certificates.yaml#L138), [here](https://github.com/jetstack/cert-manager/blob/master/deploy/crds/crd-certificates.yaml#L435), [here](https://github.com/jetstack/cert-manager/blob/master/deploy/crds/crd-certificates.yaml#L1088) and [here](https:/

[2021-02-09 14:05] maganaluis commented on #3643
@maelvls Right, the deployments is deleted. I'm attaching some logs from the Azure diagnostics, based on the time-stamp it seems that at ~ ```11:47 PM```  the controllder-manager was restarted and the deployment for the cert-manager-webhook was deleted.

The question I have, is why is that some resources need to be in the kube-system? Looks like is performing leader-election in the kube-system, wh

[2021-02-09 15:18] Kanshiroron commented on #3645
To make it "work" I needed to remove validation webhooks:

[code]

[2021-02-09 16:25] irbekrm commented on #3645
Hi @Kanshiroron,
Do you have a custom CNI installed - perhaps it is [this](https://cert-manager.io/docs/installation/compatibility/#aws-eks) issue?

[2021-02-09 16:57] Kanshiroron commented on #3645
@irbekrm thanks for the quick reply
That may indeed may the issue since we're using Calico. I'll give it a shot and let you know about the results.

[2021-02-09 17:38] irbekrm opened #3648 "Update Makefile in the root of the repo"
Update [/cert-manager/Makefile](https://github.com/jetstack/cert-manager/blob/master/Makefile):
- [This](https://github.com/jetstack/cert-manager/blob/master/Makefile#L86) references a non-existant `DOCKER_REPO` env var
- `push`(https://github.com/jetstack/cert-manager/blob/master/Makefile#L57) seems to reference a non-existant `docker_push` target- it should be created/updated
- A few of the targ

[2021-02-09 18:05] Evesy commented on #3640
Absolutely. I've increased the logging around cert-manager and will grab a copy of the logs the next time it happens

[2021-02-09 18:50] zquestz commented on #3501
Deleting all my CertificateRequests and reinstalling cert-manager through helm allowed me to fix this error. It had thrashed for days, and one of my certs didn't renew properly.

[2021-02-10 09:59] arief-hidayat opened #3649 "Challenge & secret sometimes not getting created for route53 issuer"
**Describe the bug**:
We have working setup in our kubernetes where we use cert-manager to generate TLS secret for our istio-ingressgateway.
We are changing our deployment approach, so we need to delete existing istio helm chart (which contains Certificate CR) and recreate it via argoCD. There's no change on cert-manager installation.

Here's the certificate
[code]
Please note that our cluster iss

[2021-02-10 13:45] irbekrm opened #3650 "Test recommended installation/upgrade/deletion paths against supported versions of Helm"
We recently discovered an issue with upgrading `cert-manager` installation using Helm v3.x.x (see issue #3644 )

We should ensure that we test against at least major Helm versions that we support and that we test the upgrade/installation paths outlined [in the docs](https://cert-manager.io/docs/installation/kubernetes/#installing-with-helm)

[Helm chart addon used for e2e tests](https://github.com

[2021-02-10 14:20] Kanshiroron commented on #3645
That indeed fixed the issue, we ran into https://github.com/cert-manager/website/issues/403 but we got this sorted.
Thanks for the help @irbekrm !

[2021-02-10 14:20] #3645 closed

[2021-02-10 14:59] #3644 closed

[2021-02-10 16:00] harold-padilla opened #3651 "Document how to set Issuer and Subject for self-signed certificates"
I'm unable to set issuer or subject in v0.15 using a self-signed certificate.

Issuer:
[code]

Certificate (using https://cert-manager.io/v0.15-docs/reference/api-docs/#cert-manager.io/v1alpha2.CertificateSpec):
[code]

This is the certificate I get (empty subject and issuer):
[code]

**Anything else we need to know?**:

**Environment details:**:
- Kubernetes version: 1.16.15-gke.6900
- Cloud-prov

[2021-02-10 17:00] irbekrm commented on #3603
Update: it seems like this issue has been present since [v0.0.16](https://github.com/jetstack/cert-manager/releases/tag/v0.16.0) release (since the certificate controller was split into [multiple control loops](https://github.com/jetstack/cert-manager/tree/master/pkg/controller/certificates).)
It seems like the issue is a race condition between the different certificate controllers.
During a renew

[2021-02-10 17:15] wallrj commented on #3396
/close

We fixed this particular issue by fixing the --renew-before-expiration flag and by adding support for  renew-before annotations to the ingress shim.

The sanity checks may or may not make it into 1.3. I'll update that issue.

[2021-02-10 17:15] wallrj commented on #3486
/milestone Next

[2021-02-10 17:16] #3396 closed

[2021-02-10 19:01] justinkillen commented on #3603
Nice find irebkrm!

With this timing issue in mind, I looked at a few certs we have that expired on the 8th, and this one stood out to me:

[code]

For what it's worth, I did take the Certificate text, ran it though a base64 decode, and I get a valid cert with an expiration date of May 6th, 2021:

[code]

A few strange things here:
1) Order->Status->State is valid, and has legitimate Order->Status

[2021-02-11 08:00] maelvls commented on #3439
/close

[2021-02-11 08:00] #3439 closed

[2021-02-11 08:15] maelvls commented on #3513
So taking a look at our [chart-museum-prod-redirect-ingress.yaml](https://github.com/jetstack/platform-core/blob/main/chart-repository/chart-museum-prod-redirect-ingress.yaml#L9) (private repo... 😞)

[code]

We can see two conflicting rules:

1. Nginx does a 301 to https://hub.helm.sh/charts/jetstack,
2. and at the same time `/` is forwarded to the `chart-museum-prod` service

I really don't under

[2021-02-11 10:16] Phaniharsha2908 opened #3653 "install cert-manager: Readiness probe failed: HTTP probe failed with statuscode: 500"
when I try install cert-manager using following config yaml - everything created well except manager-webhook - when i check the events showing Readiness probe failed: HTTP probe failed with statuscode: 500

kubectl get pods -n cert-manager
NAME                                      READY   STATUS    RESTARTS   AGE
cert-manager-64887fb9d6-549vd             1/1     Running   0          29m
cert-manag

[2021-02-11 10:36] c4tz commented on #2220
Thank you @nishanthooda ! Your comment saved me.

This is still not fixed in the [current documentation](https://cert-manager.io/docs/configuration/acme/dns01/google/#create-an-issuer-that-uses-clouddns). I dont know if this issue should be reopnened, because it refers to another typo and version, though. Maybe @munnerz can decide.

[2021-02-11 11:15] irbekrm opened #3654 "Create a Docker image with release dependencies/commands"
**Is your feature request related to a problem? Please describe.**
Currently to create a new `cert-manager` release, an engineer manually runs a sequence of commands using our [custom release tool](https://github.com/cert-manager/release) and [Kubernetes release notes generator](https://github.com/kubernetes/release/tree/master/cmd/release-notes).
This is potentially risky as we can make mistakes

[2021-02-11 12:56] t-cas opened #3655 "Specify Name Constraints in CA Certificate"
**Is your feature request related to a problem? Please describe.**
When creating a `Certificate` CR using flag `isCA: true`, there is today no possibility to specify [Name Constraints](https://tools.ietf.org/html/rfc5280#section-4.2.1.10) to apply restrictions on the CN and SAN for this Sub-CA.

**Describe the solution you'd like**
a new section `spec.nameConstraints` in `Certificate` CR for examp

[2021-02-11 13:31] maelvls opened #3656 "Prepare backport of bug fixes for releasing 1.1.1"
Command to generate the below list:

[code]

In order to backport PRs for releasing the patch version v1.1.1, we can do:

[code]

Which ones should we cherrypick? I crossed the PRs that I think are not bugfixes.

- [x] #3647 Fix Helm chart type conversion bug
  → ❌ [CONFLICT](https://github.com/jetstack/cert-manager/pull/3647#issuecomment-776885486)
- [ ] ~#3505 Add option to specify OCSP server #

[2021-02-11 13:57] Evesy commented on #3640
Hey @maelvls -- Logs are [here](https://gist.github.com/Evesy/4cf891786d07516bacbf3c3a6b03d8ac). Best I could do was a csv as they were exported from Kibana, cheers

[2021-02-11 15:08] jakexks commented on #3656
#3628 Fix duplication of the CRD definitions in cert-manager.yaml doesn't need to be cherry-picked as it was introduced during a 1.2 alpha release

#3433 Handle Vault issuer working as intermediate correctly is a kind/feature and shouldn't be backported

Aside from that I agree with your categorisations 👍

/assign

[2021-02-11 15:48] jakexks commented on #3656
Do we need to backport anything? Related discussion in [#cert-manager-dev](https://kubernetes.slack.com/archives/CDEQJ0Q8M/p1613037145212300)

- We only support the current version
- However, the helm chart fix could be backported to aid people upgrading
- It might be a courtesy to backport a few bug fixes if people can't upgrade their installations - but we'd need to create dedicated test jobs

[2021-02-11 16:10] insideClaw commented on #1944
I had the same error, but after the above script showed no orphaned Secrets, I examined the cert via:
`kubectl -n <namespace> get certificates`
`kubectl -n <namespace> describe certificates <yourcert>`
and I saw the actual error about being rate limited.

[2021-02-11 17:59] kmorning opened #3659 "custom DNS01 test fails when secondary nameserver is unresponsive"
**Describe the bug**:

I'm attempting to implement a custom DNS01 challenge solver for deSEC.  I'm nearly finished, but I ran into a problem while running the test.  The relevant output when running go test is:
[code]
It seems that ns2.desec.org nameserver is currently unavailable.  I'll have to check with deSEC to see what going on with that.  It appears the test requires all nameservers to retur

[2021-02-11 22:46] yashaswee commented on #2494
I am having the same issue. Moved from http01 to dns01 solver. Earlier in the orders I could see all the challenges but not its only http challenges I can see and keep on getting error:

`Events:
  Type     Reason  Age    From          Message
  ----     ------  ----   ----          -------
  Warning  Solver  8m54s  cert-manager  Failed to determine a valid solver configuration for the set of doma

[2021-02-11 22:47] irbekrm commented on #3603
Justin, thank you again for all the posted logs!

I have only been able to reproduce a scenario where a `CertificateRequest` is created twice during a renewal loop so I have actually never observed the case where a `Certificate` ends up in a failed state because of this- I cannot tell exactly in what state the resources would end up after having failed, we would need to look at the logs to see wha

[2021-02-12 01:09] justinkillen commented on #3603
This was on v1.1.0, yes.  We have the logs in cloudwatch via ContainerInsights, but it's separated by container ID, so it's not the easiest thing to work.  I've attached here the logs from Feb 4th, 2021 00:00:00-23:59:59 UTC  (the date on the Order object) that matched the string "www-qat-78500130-xyz-cert".  I don't think this is all of the entries, but hopefully it's enough to glean some insight

[2021-02-12 05:51] yashaswee opened #3660 "order is showing as ready but stuck at the challenges. Not getting all the challenges."
I was using http01 solver till not and testing the dns01 solver. I have removed the http solver for now and want all certs to be authorized by the dns solver.

After pushing the changes I can see that the order is ready but throwing error:
``cert-manager/controller/orders "msg"="Failed to determine the list of Challenge resources needed for the Order" "error"="no configured challenge solvers can b

[2021-02-12 08:44] matsonkepson commented on #909
@GeckoSplinter , this was whats missing also in my case, while installing with helm. There is an option to add this by default when running helm installer with setting extraArgs parameters like below

[code]

p.s.
I know this bug was closed long ago (here's where the DuckDuckGO led me)  but I hope this comment can be still beneficial for someone.

Cheers

[2021-02-12 14:15] jakexks commented on #3656
After discussion in the stand-up this morning, only the helm chart fix should be backported.

[2021-02-12 20:36] kmorning commented on #3659
As I expected, I ran into a problem trying to deploy a certificate in my cluster.  The challenge is stuck in the pending state when there's no response from ns2.desec.org:

[code]

[2021-02-12 20:48] yashaswee commented on #1745
I am having the same error. I tried with ingress shim and still no challenges have been created. I have created an issue which has all the details about my cert-manager configuration. https://github.com/jetstack/cert-manager/issues/3660.
Please let me know what am I missing here.

[2021-02-14 08:52] trietsch commented on #3539
@net47 the DNS resolvers you're talking about here, are those part of Kubernetes? Or is this part of the machine you're running Kubernetes on?

[2021-02-14 08:55] net47 commented on #3539
They are outside of the Kubernetes cluster, part of my lab environment. As I said, I had split-DNS running and the Kubernetes nodes itself used them instead of going directly to 8.8.8.8 - that was the problem.

[2021-02-14 09:03] trietsch commented on #3539
Ah thanks for the clarification. We're experiencing the same issue, but then inside a GKE cluster. We're still waiting for DNS changes to propagate, so maybe that's the issue for us. Anyways, thanks!

[2021-02-14 20:42] irbekrm opened #3663 "CertificateReadiness controller should not attempt to update Certificate's status if there is no change"
Currently the `CertificateReadiness` control loop will [update the status of a `Certificate`](https://github.com/jetstack/cert-manager/blob/master/pkg/controller/certificates/readiness/readiness_controller.go#L177) every time a cert is synced without checking whether there are any changes.
This does not change the `Certificate`, but could have negative effect, for example, if the unnecessary updat

[2021-02-14 21:09] irbekrm opened #3664 "fatal error: concurrent map read and map write"
Whilst testing `cert-manager` `Certificate` renewal with a larger number of `Certificate`s, I twice observed `controller` crash with

[code]

and

[code]

This appears to be similar to the issue that was fixed with #1980

cert-manager v1.2.0
kubernetes v1.18.12-gke.1210

/kind bug

[2021-02-14 21:32] irbekrm commented on #3603
Thank you for the logs.

Looks like the requests that `cert-manager` sends to the k8s API server get throttled a lot. By default, there is a limit of [20QPS and 50 for burst](https://github.com/jetstack/cert-manager/blob/master/cmd/controller/app/controller.go#L147), but you could modify that with `--kube-api-burst` and `--kube-api-qps` flags (If you aren't already doing that).
Theoretically, I do

[2021-02-15 09:49] trietsch commented on #3539
For us, the issue was caused by the fact that we have multiple authoritative nameservers which were not yet properly propagated. By configuring the Cert Manager controller to use `8.8.8.8` as recursive nameserver, the issue was solved for us.  See [this page](https://cert-manager.io/docs/configuration/acme/dns01/#setting-nameservers-for-dns01-self-check) in the documentation for more details.

[2021-02-15 10:14] Retna-Gjensidige commented on #3603
Hi we have encountered this problem in our setup:
New AKS cluster running with only 1 certificate for an application(argoCD, running in namespace argocd).
cert-manager: v1.1.0
nginx-ingress-controller: v0.43.0
AKS cluster: k8s v1.19

Here is a snippet of log errors from the controller when it creates a duplicate certificate requests.
[code]

We have had 4 CertificateRequests this past week we have

[2021-02-15 10:54] munnerz commented on #3603
As an alternative to this, can we inspect the *Secret* (i.e. decode the x509 data) to determine what the renewalTime should be, using the same logic as the readiness controller? (which sets the renewalTime field).

If we don't depend on the Certificate's own state to determine whether a renewal needs to be triggered, we'll avoid these sorts of edge-cases/races as far as I can tell from reading thi

[2021-02-15 11:06] irbekrm commented on #3603
@munnerz I considered that option, but ended up adding another field to `Certificate.Status` - it felt like duplicating the `renewalTime` calculation logic would over-complicate the policy check and make it concerned about too many things - although I might be wrong

[2021-02-15 11:06] rgembalik commented on #3501
Same here, I had a failed CM installation, which had to be reinstalled. After that, some of the certificates had the `the object has been modified; please apply your changes to the latest version and try again` error.

Just a quick workaround solution I used:

- Delete related TLS Secret
- Delete related CertiificateRequest
- Delete related Certificate
- restart the cert-manager pod

Some of it mi

[2021-02-15 11:34] irbekrm opened #3666 "Unit test CertificateReadiness controller"
Unit tests for [`CertificateReadiness` controller](https://github.com/jetstack/cert-manager/blob/master/pkg/controller/certificates/readiness/readiness_controller.go)

Could follow a similar approach to how the other controllers are tested i.e [`CertificateIssuing` controller](https://github.com/jetstack/cert-manager/blob/master/pkg/controller/certificates/issuing/issuing_controller_test.go)

/kin

[2021-02-15 12:59] munnerz commented on #3603
Hm - I think calling into that same logic isn't really an issue (given that status should always be a reflection of the state of the resource anyway). I am concerned about `lastIssuedTime` as it is not reconstructable state, and indicates that our controller is relying on edge-triggered behaviour (i.e. when something happened rather than the fact that it happened).

I do think a field like this is

[2021-02-15 13:00] munnerz commented on #3603
FWIW there are other places where we duplicate calculation of things like this in order to avoid race issues (though I'll need to go digging to find some :))

[2021-02-15 13:01] munnerz commented on #3603
Lots of examples of shared code in `util.go`. One example is `RequestMatchesSpec` - despite the Ready condition typically giving us this info, we do not rely on it as the races can be tough to manage: https://github.com/jetstack/cert-manager/blob/969b678f330c68a6429b7a71b271761c59651a85/pkg/controller/certificates/util.go#L97

[2021-02-15 14:12] irbekrm commented on #3603
About the duplication of logic- I guess I meant partially also from the perspective of reading the code.

Subjectively, I feel like adding a re-calculation of renewal time to the `TriggerController` adds more complexity to it than a comparison of two higher level fields (`lastIssuedTime` and `renewalTime`) would- makes it harder to understand what the controller does and therefore more difficult t

[2021-02-15 14:14] irbekrm commented on #3603
Agreed. I guess we do treat the `lastFailureTime` that way though, although this might have been unavoidable.

[2021-02-15 14:15] gmauleon commented on #3594
Got it again, same symptoms, challenge invalid and stay stuck forever in that state.
[code]

[2021-02-15 16:11] irbekrm opened #3667 "'..error"="Operation cannot be fulfilled...object has been modified..' lines in the logs"
[code]

These kind of log lines occur if a control loop picks up a resource, such as a `Certficate`, applies some changes and attempts to send the update request to k8s API server (i.e [here](https://github.com/jetstack/cert-manager/blob/master/pkg/controller/certificates/trigger/trigger_controller.go#L184)), but meanwhile another control loop has already updated the same resource and its version

[2021-02-15 17:56] irbekrm commented on #3643
Hi @maganaluis,
There are two `ConfigMaps`- for controller and cainjector- that act as leaderelection locks and are [by default stored in `kube-system` namespace](https://github.com/jetstack/cert-manager/blob/master/cmd/controller/app/options/options.go#L110).
You can modify this with `--leader-election-namespace` flag on the controller deployment (or by setting `leaderElection.namespace` on Helm

[2021-02-15 18:07] maganaluis commented on #3643
@irbekrm Thank you for the information, looks like moving those resources to a single namespace fixed the issue. As you suggested I had to modify the flags and labels in some deployments, and web-hooks.

[2021-02-15 19:54] irbekrm commented on #3643
Glad it worked!
I guess we should try to reproduce the issue and see if we should update our docs/Troubleshooting guide.

[2021-02-16 09:14] Phaniharsha2908 opened #3668 "Secure Istio Gateway in Kubernetes using cert-manager."
I have deployed a cert-manager and created a Issuer and Certificate for the istio gateway.

Issuer
-------
---
apiVersion: cert-manager.io/v1
kind: Issuer
metadata:
  name: test-selfsigned
  namespace: istio-system
spec:
  selfSigned: {}

Certificate
-----------
---
apiVersion: cert-manager.io/v1
kind: Certificate
metadata:
  name: selfsigned-cert
  namespace: istio-system
spec:
  dnsNames:
    -

[2021-02-16 17:02] cghislai commented on #2700
@munnerz Here is an order stuck in the ready state, that times out to 'errored' after some time.
I just tried issuing a certificate for an ingress, then creating a Certificate resource manually. Both orders were stuck in the same state.
Running cert-manager 1.20.

I seach&replaced some sensitive strings/tokens.

[code]

[2021-02-17 00:42] TBBle commented on #2147
Mentioned on the [k8s 1.19 for EKS release notes](https://docs.aws.amazon.com/eks/latest/userguide/kubernetes-versions.html#kubernetes-1.19), I believe the `fsGroup` setting should not be needed for k8s 1.19 onwards, due to the implementation of https://github.com/kubernetes/enhancements/pull/1598.

[2021-02-17 03:18] dimm0 commented on #2722
I'm trying to find a way to have validating admission controller not break every time self-signed certificate changes (with the CA)
Thill this feature also help injecting new CA into the webhook configuration?

[2021-02-17 07:34] hadleyrich commented on #3021
I've just been setting this up myself and was curious why my apiTokenSecretRef was not working. Turns out it does work if I don't base64 encode the secret. This seems odd and I don't know enough to dig through and find out why this is the case.

[2021-02-17 09:06] eivindga commented on #3615
I'm having the same problem.
I recently upgraded to Kubernetes: 1.20.2, and I think this is when the issuing stopped working.

My guess is this is related to: https://github.com/kubernetes/enhancements/issues/1164

If you have access to the kube-apiserver, you might try this:
https://github.com/kubernetes-sigs/nfs-subdir-external-provisioner/issues/25#issuecomment-742616668

[2021-02-17 10:55] #3413 closed

[2021-02-17 10:58] jakexks commented on #3451
/assign

[2021-02-17 11:27] jakexks opened #3670 "Create testing infrastructure for the cert-manager org"
A prerequisite for moving the Github repository from the Jetstack org to the cert-manager org is to decouple it from our testing.

- [ ] Create cert-manager/testing Github repository
- [ ] Create cert-manager Github bot account
- [ ] Liaise with Jetstack infrastructure team to create a separate Prow
- [ ] Move Prow configuration
- [ ] Check testgrid integration?
- [ ] Check triageparty integration

[2021-02-17 11:31] jakexks opened #3671 "Transfer repository to the cert-manager organisation"
Depends on #3678

- [ ] Move repository
- [ ] Ensure e2e tests continue to work

**Additional context**
https://github.com/jetstack/cert-manager/issues/3451
https://github.com/cncf/toc/issues/557

/kind cleanup

[2021-02-17 11:33] jakexks opened #3672 "Change the package import path from jetstack/cert-manager to cert-manager/cert-manager"
Depends on #3671

- [x] Change package names: see #3680 for what it should be
- [x] Update Bazel
- [x] Ensure e2e tests continue to work

Something to consider: using a cert-manager.io vanity import path?

**Additional context**
https://github.com/jetstack/cert-manager/issues/3451
https://github.com/cncf/toc/issues/557

/kind cleanup

[2021-02-17 11:39] jakexks opened #3673 "Create cert-manager container registry"
Once the project is moved from Jetstack to cert-manager, we should also update the location the OCI images are pushed.

Things to consider:
* Where should these be hosted and who will pay for it?
  * quay.io/cert-manager?
  * gcr.io?

- [ ] Decide on location - https://github.com/jetstack/cert-manager/issues/2930
- [ ] Update release tooling
- [ ] Prepare a release (but not necessarily release any

[2021-02-17 11:40] jakexks opened #3674 "Update helm chart location"
Once the project is moved from Jetstack to cert-manager, we should also update the location helm charts are published.

- [ ] Create charts.cert-manager.io
- [ ] Claim cert-manager on artifact hub?
- [ ] Update release tooling
- [ ] Prepare a release (but not necessarily release anything) to smoke test

**Additional context**
https://github.com/jetstack/cert-manager/issues/3451
https://github.com/

[2021-02-17 12:16] alex-berger commented on #3458
Can confirm. We have the same problem here as well. We have very short-living test certificate which we use to monitor Cert-Manager to make sure it works as expected. At some point it stopped renewing that certificate as more and more CertificateRequest objects piled up.

[2021-02-17 18:33] micahhausler opened #3675 "Donation of jniebuhr/aws-pca-issuer to the Cert Manager project"
**Is your feature request related to a problem? Please describe.**

We at AWS would like to contribute to and help maintain the AWS Certificate Manager Private Certificate Authority plugin [jniebuhr/aws-pca-issuer](https://github.com/jniebuhr/aws-pca-issuer/), and we've been in touch with @jniebuhr about finding a community-owned home for the project. The issuer project is Apache 2.0 licensed and

[2021-02-17 18:46] NeuralChris opened #3676 "Configuring LE wildcard cert on EKS w/ Route53 DNS"
So I'm having difficulty getting my LE wildcard cert setup on my EKS cluster (was running K8s 0.18, but just upgraded to 0.19). My understanding is I need to do a DNS challenge which I'm trying to get setup and I'm hitting a major roadblock on.  I started by creating the `cert-manager` namespace and ran the `kubectl apply -f https://github.com/jetstack/cert-manager/releases/download/v1.2.0/cert-ma

[2021-02-18 09:02] flmmartins commented on #2271
@jasoncabot Thanks so much for this issue! It really helped. Can we please clarify the documentation about the use of secrets in the ingress?

[2021-02-18 09:24] flmmartins commented on #841
For people having this issue. In order to have multiple ingresses generating multiple certificates is necessary to add the issue annotation and each ingress must have a unique tls.secretName.

So using the example from this issue

[code]

[code]

We have then letsencrypt-ingress-nginx-2-prod and letsencrypt-ingress-nginx-prod as unique secret from each ingress.

[2021-02-18 09:59] wallrj commented on #3555
Venafi Cloud tests are now working again, with a new user and API token created by @simplyzee

 * https://testgrid.k8s.io/jetstack-cert-manager-next#ci-cert-manager-next-e2e-v1-20

We still need to re-enable the TPP tests.

[2021-02-18 11:47] wallrj commented on #3555
I've tested the public TPP server again this morning and it's still failing:

[code]

[2021-02-18 13:47] digaobarbosa opened #3677 "Provide configuration for delayed certificate update after creation"
**Is your feature request related to a problem? Please describe.**
The problem is related to chrome + lets encrypt. I am no expert, but it seems chrome has some incompatibility with letsencrypt certs temporarily during renewal. This causes our users to experience downtime/invalid messages every 2 months.

From my reasearch, I found these two discussions on lets encrypt.
https://community.letsencry

[2021-02-18 14:57] jakexks opened #3678 "Smoke test moving a repository from jetstack to cert-manager"
To gain confidence in our testing infrastructure continuing to work we should move a low impact repository first.

Nominated repository: https://github.com/jetstack/cert-manager-webhook-example

- [x] Add some tests
- [x] Add test config to Jetstack prow
- [x] Move repository
- [x] Observe consequences

**Additional context**
https://github.com/jetstack/cert-manager/issues/3451
https://github.com/

[2021-02-18 17:11] jakexks opened #3680 "RFC: Changing import paths"
After a discussion in our stand-up, it was suggested that while we are moving repositories across to the cert-manager organisation we could rename our packages to include a vanity URL such as `cert-manager.io/cert-manager`

Pros:
- We have to rename the package anyway, so doing this "future-proofs" the project for moving in future.
- Slightly shorter and more readable import path - many other proj

[2021-02-18 17:13] JoshVanL commented on #3680
+1, all Pros are equally valid.

[2021-02-18 17:59] wallrj commented on #3678
One thing I hate about Prow is that we have to go to another repo to configure the tests.
But I just learned about [Inrepoconfig](https://github.com/kubernetes/test-infra/blob/master/prow/inrepoconfig.md)
Perhaps we could make use of that.

[2021-02-18 18:55] irbekrm commented on #3676
Hi @NeuralChris, some users have seen issues on AWS EKS with a custom CNI, could it potentially be that #3645 ?

Otherwise, the flow of what you expect to happen once you have created a `Certificate` would be that there is another custom resource `CertificateRequest` created and specifically for ACME there will also be an `Order`  and `Challenge` custom resources- for debugging it is probably wort

[2021-02-18 19:14] irbekrm commented on #3680
+1
Is it possible to have the path just as `cert-manager.io` rather than `cert-manager.io/cert-manager` to make it shorter and avoid the repetition?
That also seems to be how k8s has it i.e `k8s.io/apimachinery` .

[2021-02-18 20:20] smacl commented on #3565
We recently observed a similar issue where multiple CertificateRequests were created by cert-manager (not cainjector in our case) for the same Certificate.

First,
```I0216 08:07:52.779649       1 logs.go:179] cert-manager/controller/build-context "msg"="Event(v1.ObjectReference{Kind:\"Certificate\", Namespace:\"cert-manager\", Name:\"mycert\", UID:\"b939275f-915d-444e-b6ef-87defb6e7070\", APIVers

[2021-02-18 21:21] whitelion-github opened #3681 "When using a keystore.jks in secret, how can I specify a name for the alias"
By default, the alias name is always certificate.

Your keystore contains 1 entry

certificate, Feb 18, 2021, PrivateKeyEntry,
Certificate fingerprint (SHA1):

How can I specify in the certificat manifest, a new name for the alias entry in the keystore ?

**Environment details (remove if not applicable)**:
- Kubernetes version: X.19
- Cloud-provider/provisioner: AWS
- cert-manager version: 1
- Ins

[2021-02-18 22:18] NeuralChris commented on #3676
Thanks for the reply @irbekrm!

I'm not sure on the custom CNI (I'm new to AWS and never tried a wildcard cert before).  Are you suggesting I run those lines that removes those validation webhooks?

I tried to run `kubectl get CertificateRequest` and the same error I posted above showed up: `Error from server: conversion webhook for cert-manager.io/v1alpha2, Kind=CertificateRequest failed: Post "h

[2021-02-18 23:24] NeuralChris commented on #3676
I went ahead and deleted the two validation web hooks and then deleted the `ClusterIssuer` and `Certificate` and recreated them to hopefully reinitiate the request, but I'm getting the same error when trying to get the `CertificateRequest`.

[2021-02-18 23:43] amartyamandal opened #3682 "cert-manager support for v1 ingress nginx"
**Describe the bug**:
If I create an ingress like following with vibeta1, a cert request resource gets created and eventually a certificate with proper CN gets created and implemented.
However if I create another ingress with v1 like following example (just bellow the beta1 example), no certificate is getting created and ingress controller not able to find the certificate it supposed to. However,

[2021-02-19 00:47] ammurdoch commented on #3501
Somehow my clusterissuers got deleted.  Restoring them fixed this for me.

[2021-02-19 10:52] JoshVanL commented on #3680
I think we will need `cert-manager.io/cert-manager`. We have multiple projects under `cert-manager.io` e.g. `cert-manager.io/istio-csr`.

This _is_ the same as k8s (https://github.com/kubernetes/apimachinery).

[2021-02-19 11:11] svvac commented on #3610
I think it might be a shortcoming of acme-dns. The readme says (emphasis mine):

Meaning that if your configuration requires more than two challenges for the same acme-dns subdomain they will roll over each other.

My workaround is to issue one set of acme-dns credentials for each domain.

[2021-02-19 11:14] jakexks commented on #3680
It is _possible_ to implement, but if we do that we will only be able to have a custom import for cert-manager itself rather than anything in the org. Whether that's desirable is a different question.

Following up from the stand-up this morning, it would be more sane to use go.cert-manager.io - if we used cert-manager.io we would have to create dummy pages on the website repo just to hold the go

[2021-02-19 11:21] irbekrm opened #3683 "Remove the deprecated `--renew-before-expiry-duration` flag functionality from the codebase"
`--renew-before-expiry-duration` flag was [deprecated](https://github.com/jetstack/cert-manager/blob/master/cmd/controller/app/options/options.go#L256) in v1.2 and in the release notes [we said](https://cert-manager.io/docs/release-notes/release-notes-1.2/#deprecated-features-and-breaking-changes)  we would remove it in the next (v1.3) release.

Removing it could make it easier to implement a clea

[2021-02-19 11:23] bzon commented on #3341
My solution is to delete the certificate and the secret it creates.

[2021-02-19 11:28] svvac opened #3684 "DNS01 propagation check failed when aliasing `_acme-challenge` records"
Using the following records to alias a legacy domain :

[code]

Assuming `static.com` is my HTTP load balancer and `acme-dns.com` is the acme-dns server sued for DNS01 challenges.

Issuing a certificate for `app.legacy.com` gets stuck waiting for DNS propagation. TTLs are short, and I confirmed that all records resolve properly on the node hosting cert-manager.

As soon as I « flatten » the legacy

[2021-02-19 13:06] maelvls commented on #3680
Imagining that we use `go.cert-manager.io` or we purchase the $12/y
`cert-manager.dev` domain, here is how I understand things:

**For the top level import path:**

[code]

For example, with:

[code]

The `go get` tool would see:

[code]

For other projects in the `cert-manager` org:

[code]

or

[code]

For example, with:

[code]

The `go get` tool would see:

[code]

What do you think?

[2021-02-19 13:20] maelvls commented on #3680
Ooops I forgot that, for example, if we have

[code]

then there is an undetermination:

[code]

So using either `go.cert-manager.io/cert-manager` or `cert-manager.dev/cert-manager` seems inevitable 😅

[2021-02-19 15:35] nikhileshva commented on #2147
Hi, @hendrikhalkow  I've followed exactly how you mentioned here for the setup, but I get the same error as @cookandy gets.

Here is my trust policy, which I don't think is incorrect (or if it is, please let me know)
`{
      "Sid": "",
      "Effect": "Allow",
      "Principal": {
        "Federated": "arn:aws:iam::012345678901:oidc-provider/oidc.eks.eu-central-1.amazonaws.com/id/5............237

[2021-02-19 15:41] sc250024 commented on #2147
@nikhileshva Did you check out the docs here? https://cert-manager.io/docs/configuration/acme/dns01/route53

[2021-02-19 15:50] nikhileshva commented on #2147
@sc250024 I followed the doc and also the thread here. My initial setup was working with kube2iam, so I have the rout53 role policy in place which is working.
Now, switching to IRSA setup, first error I see was this
[code]
I figured that my service account was not setup correctly as it did not have the correct namespace there. After fixing this, I got the error mentioned in my previous post. Addin

[2021-02-19 18:45] rittneje opened #3687 "Let's Encrypt X3 to R3 transition"
We are using cert-manager in Kubernetes to get certificates issued by Let's Encrypt's staging environment in our test environment.

Yesterday, they started (intentionally) using an expired root as an early warning for when the equivalent prod root expires in production. They want you to migrate to the new R3 root.

Allegedly this transition is supposed to be transparent for a compliant ACME client

[2021-02-19 19:22] rittneje commented on #3687
It sounds like this might be a bug in Let's Encrypt's staging endpoint and not in cert-manager. I will close this if so.

[2021-02-19 22:30] rittneje commented on #3687
Indeed, this was entirely a Let's Encrypt bug.

[2021-02-19 22:30] #3687 closed

[2021-02-20 07:55] guidtz opened #3688 "ClusterIssuer doesn't appear to be ready"
Hello do you have an idea why my ClusterIssuers doesn't appear to be ready ?
[code]

I use **cert-manager 1.2.0** and **nginx-controler 0.44**

I have the same installation in another kubernetes cluster and It's Works, the only difference is that this cluster is with containerd and cri-o and not with Docker

[code]

If you have an idea :)

[2021-02-20 12:02] irbekrm commented on #3688
Hi @guidtz ,

Thanks for opening the issue 😄

When you create an ACME ClusterIssuer, `cert-manager` tries to register an ACME account with LetsEncrypt and when/if it succeeds, the `ClusterIssuer` status `Ready` condition will be set to True and also the account private key would be stored in `ClusterIssuer.spec.privateKeySecretRef` secret (by default in `cert-manager` namespace for `ClusterIssuer`

[2021-02-20 15:40] guidtz commented on #3688
@irbekrm I am ready to understand, I'm learning a lot about kubernetes and I have a long linux sysadmin skills, so I can do a lot of test for understand :)

So logs about cert-manager :
[code]
And secrets in cert-manager namespace :
[code]

No status field I copied all describe result.

Good for me I would like to experiment Kubernetes with Docker runtime and without it

Thanks

[2021-02-20 18:10] irbekrm commented on #3688
Hi @guidtz ,
Thanks for the logs!

This looks like `cert-manager` is cannot connect to the Kubernetes API server (I assume that `10.96.0.1` is the address of the `kubernetes` Service in your cluster, you could also verify that with `kubectl get svc -A`).

Is there perhaps something specific about your environment that doesn't allow it to reach the API server, some `NetworkPolicy` or something like

[2021-02-20 18:30] irbekrm commented on #3684
Hi @svvac ,

I think this might be because up till `cert-manager` v1.2.0 we did not recursively resolve CNAMEs.
Support for recursive resolution was added by #3532.

Would you be able to upgrade to `cert-manager` v1.2.0 ?

[2021-02-20 21:21] irbekrm commented on #3676
Sorry, I think that GitHub issue conversation I linked was a bit misleading- I don't think you should delete the webhook 😄  I think the user who raised that issue fixed it by following our docs [here](https://cert-manager.io/docs/concepts/webhook/#webhook-connection-problems-on-aws-eks), but it looks like your issue might be related to the TLS cert that the webhook presents not being trusted by th

[2021-02-20 21:21] guidtz commented on #3688
hum hum perhaps a problem with weave net cni. Perhaps I'll go to test with another cni

I have no more errors on cert-manager pods.

[2021-02-21 15:04] juliendeveloper commented on #3615
Is there anything new?

[2021-02-22 01:05] mermetbt commented on #3615
I got the `resourceVersion` problem as well. I was using the version 0.10 installed by gitlab managed apps, and I decided to uninstall it and install the version 1.2.0 manually (in fact, following the upgrade steps from 0.10 til 1.2.0). After that, I got everything working.

I'm using Kubernetes 1.20.2 on a bare metal server, with the latest version of Gitlab (partially) managing the cluster.

[2021-02-22 03:55] Phaniharsha2908 commented on #3668
Hi, Can you please take a look into it, we are unable to access the domain over https using cert-manager for istio.

[2021-02-22 04:17] AstraLuma commented on #3615
Ahhhh thank you @mermetbt that explains it.

[2021-02-22 05:39] mermetbt commented on #3615
@AstraLuma You could wipe everything and get new certs. I was trying to avoid the cert-manager to contact the API of letsencrypt again because for some of the domains I've been blocked for 7 days.

[2021-02-22 06:17] elialgranti opened #3689 "Certificate cannot be created because of attempts to create Order resources that already exist (on OVH)"
**Describe the bug**:
Certificates using lets encrypt issuer cannot be issued because the Order created for the certificate already exists. Deleting the Order/Certificate/CertificateRequest does not solve the problem. No Challenge resources are created.

Logs (namespace and cert name modified):
[code]

**Expected behaviour**:
The certificate is created/validated.

**Steps to reproduce the bug**:

[2021-02-22 09:22] umezawatakeshi opened #3690 "renewal stucks and output suspicious logs periodically"
**Describe the bug**:
After renewal is failed on Feb 2, it seems that cert-manager cannot make renewal successful for 20 days.

[code]

and the following logs are output hourly.

[code]

I already recovered this problem by deleting and re-creating CertificateRequests. If this problem occurs again, I will `kubectl describe`  CertificateRequests and Orders.

**Expected behaviour**:
cert-manager succ

[2021-02-22 09:29] eivindga commented on #3615
Same thing here. I forgot to check what versions gitlab supports, and apparently 1.20 is not yet supported.

https://docs.gitlab.com/ee/user/project/clusters/

[2021-02-22 09:32] jamestutton opened #3691 "no_proxy settings not honored helm/kubernetes/vault"
When setting the helm no_proxy setting vault traffic is still sent via the configured proxy

[code]

[code]

Tried various combinations with both domain and FQDN with and without ports but not able to find a combination where vault issuer will work while proxy is set.  Proxy sees and fails the following:

Squid example log line
[code]
But this traffic should not hit the proxy.

-->

**Expected beh

[2021-02-22 09:38] irbekrm commented on #3683
/assign

[2021-02-22 10:04] jniebuhr commented on #3675
Hello,
I just want to confirm that I'd be willing to transfer the project to the cert-manager organisation.

[2021-02-22 10:50] #3683 closed

[2021-02-22 13:19] gattytto opened #3694 "FR: Hurricane Electric (AKA he.net) solver"
Hello,

I have seen some works on extending cert-manager with third party solvers, and I would like to know if someone is addressing a he.net solver since he.net seems to support api calls for updating dns records now.

Thank you in advance.

/kind feature

[2021-02-22 15:29] jakexks commented on #3678
I made the cert-manager-webhook-example test fixture pass by providing an example package: https://github.com/jetstack/cert-manager-webhook-example/pull/21

[2021-02-22 17:21] irbekrm opened #3696 "Add an integration test for Readiness controller"
Add a simple integration test that checks that the [certificate readiness controller](https://github.com/jetstack/cert-manager/tree/master/pkg/controller/certificates/readiness) starts and that in a standard scenario a Certificate's Ready condition is updated- similar to our [existing integration tests for some of the other Certificate controllers](https://github.com/jetstack/cert-manager/tree/mas

[2021-02-22 18:56] red8888 opened #3698 "Support for gke workload identity in the helm chart?"
I need to give cert manager access to my dns provider
I run GKE and google dns is my provider

What this means is I can give the cert manager deployment access to my google DNS zone with workload identity: https://cloud.google.com/kubernetes-engine/docs/how-to/workload-identity

Is it possible to configure this with the official helm chart? Could this feature be added to the chart somehow if its n

[2021-02-22 19:08] irbekrm commented on #3698
Hi @red8888 ,

You should be able to use workload identity instead of the default service account- there's a section in [our docs](https://cert-manager.io/docs/configuration/acme/dns01/google/#gke-workload-identity) about that.

[2021-02-22 19:27] gmauleon commented on #3690
See also https://github.com/jetstack/cert-manager/issues/3594

[2021-02-22 22:10] Legion2 commented on #2741
Today our certificates expired with pending orders which blocked the certificate renewal. We had to recreate the certificates to fix the problem.

[2021-02-22 23:09] 2tim commented on #843
Adding an additional use case. The spec for the [webhookclientconfig](https://kubernetes.io/docs/reference/generated/kubernetes-api/v1.19/#webhookclientconfig-v1-admissionregistration-k8s-io) takes a PEM encoded bundle. If the secret produced by cert-manager produced a pem file it would drastically reduce the overhead for the setup/maintenance for the ValidatingWebhookConfiguration for the nginx-i

[2021-02-23 06:56] lungosta commented on #2517
@aakhan1 just wondering if you were able to find the solution for this issue, your workaround worked for me but I'm afraid the certificate won't be automatically renewed, on my case I'm trying to make it work with traefik 2.4.5 CE

[2021-02-23 07:44] alex-guenther commented on #3667
There is no need to catch and wrap this error messages. The message appeares because the cert-manager is doing something wrong. K8s is doing optimistic locking. So when you update an object and include the version of the last known state K8s will compare and complain if your last known state is not the current state. As far as I understand cert-manager acts like an K8s operator. This means that it

[2021-02-23 08:16] svvac commented on #3684
Indeed, upgrading to `1.2.0` fixed it. Thanks for the help!

[2021-02-23 08:16] #3684 closed

[2021-02-23 08:52] irbekrm commented on #3667
Hi @alex-guenther,

Thanks for the comment!

We run multiple reconcile loops (with a few of them watching the same resources), so this happens when two loops pick up an object, one of them updates the object, causing the version to change and then the other also attempts to apply an update, but at that point it has an out of date version of that object.

[2021-02-23 14:05] umezawatakeshi commented on #3690
@gmauleon Oh. Thank you.

[2021-02-23 15:15] maelvls commented on #3636
I'll try to get that done today... hopefully

[2021-02-23 15:15] maelvls commented on #3636
/assign

[2021-02-23 15:49] maelvls commented on #3640
After almost 30 minutes into investigating the logs, I realized that I was looking at anti-chronological entries 😅

I then was surprised by the absence of a line that would say "finalizer" (something like `controller/challenges/finalizer`). The removal of the TXT records happens in [acmechallenges/sync.go](https://github.com/jetstack/cert-manager/blob/ab0cd57dc58fd73a76fd96bd9d1402bd5ae96582/pkg/c

[2021-02-23 17:13] jakexks commented on #3678
Repository has been moved from https://github.com/jetstack/cert-manager-webhook-example to https://github.com/cert-manager/webhook-example

So far:
- Build that depended on a previous version of cert-manager-webhook example continues to work.
- `go get` on the new repo fails due to
[code]
  - This means that ASAP after moving (ideally prepared in advance) the import path has to be changed: https:/

[2021-02-23 17:15] munnerz commented on #3678
I'd really prefer we keep the transfer as simple as possible, and don't try substantial changes out as a pre-req for it.

It'll just be a single PR to jetstack/testing right? We could prepare that ahead of time so we can hit merge as soon as the repo is moved :)

[2021-02-23 17:18] jakexks commented on #3678
Yes, for the move a PR to testing in advance would be fine!

However I would like to have the testing config moved in with the code in future, it would line up with my expectations of how most other CI systems work (travis, circle, Github actions...). A benefit is you can add jobs with PRs to the same place with the same owners, and have the new jobs run on that PR this testing them.

[2021-02-23 17:36] munnerz commented on #3678
So I think this may be useful for presubmit tests, however it's not really possible with our *periodic* jobs.

This could be an issue from a trusted code perspective - I see two potentially problems:

1) someone could add a malicious test and have it executed automatically
2) PRs could be merged by changing tests to effectively always pass

I guess (2) can be done as-is today (by changing the `ci-

[2021-02-23 17:37] munnerz commented on #3678
When we've had cases of requiring new testing to be setup to be able to test a PR, the typical workflow is to add an *optional* job that has `always_run: false` on it, merge that PR, and then run `/test my-experimental-test-name` on the PR in question.

Once we see it passing consistently/not flaking, it then may be promoted to be non-optional and have always_run: true set

[2021-02-23 20:29] tr1ck3r commented on #3642
Thank you!  @maelvls @jakexks @james-w are you currently targeting this for cert-manager v1.3?

[2021-02-23 21:52] k3a commented on #3610
It is really acme-dns limitation, thanks @svvac for mentioning this possibility.

I have looked into the [relevant acme-dns code](https://github.com/joohoi/acme-dns/blob/68bb6ab654b6fb1fe375e08807688c55621513a2/db.go#L256), it uses `LIMIT 2` in the SQL query. It then presents up to those 2 most-recent challenges.

Theoretically more than 2 TXT records could be supported but there is 4096 byte limi

[2021-02-23 21:54] Arabus commented on #3284
Not sure if a post-install helm hook could solve that problem. It would at least solve the ordering issue, might still race with the webhook tho.

[2021-02-24 01:42] cabrinha commented on #3513
...

Does this help? https://github.com/helm/chartmuseum/issues/46

[2021-02-24 10:34] jamestutton commented on #1571
Also related, using opendistro-es does not work with cert-manager le certs as it expects the cert, key and ca to all exist under a single secret. It is also not possible to use for example /etc/pki/ca-trust/extracted/pem/tls-ca-bundle.pem  as it expects the ca file to exist within its config path.  If the LE ca itself can not be included could not a copy of normal OS level ca bundles not be includ

[2021-02-24 11:35] glitchcrab commented on #3481
@meyskens do you have any further insight into this? we're still seeing this problem in lots of different clusters. Manually setting renewBefore to ~10 days longer than the certificate's current lifespan does cause it to be renewed successfully, but this is a manual task each time.

[2021-02-24 13:54] jakexks commented on #3642
We will do the milestone planning for 1.3 _soon_™️ but I can't see why it wouldn't be included 😄

[2021-02-24 14:22] #3678 closed

[2021-02-24 20:13] ryanjn commented on #3148
FYI I have confirmed with Microsoft that this is a bug in how the identity service caches identities between changes.  They are tracking it as an issue.  For now use of `and-pod-identity` is the only known workaround.

The issue will eventually resolve itself in my experience.

[2021-02-24 21:18] jdolitsky commented on #3513
Helm Hub is deprecated, and redirecting into the Artifact Hub. You probably want to setup a "jetstack" organization (following the link @cabrinha posted), then change that redirect rule to something like https://artifacthub.io/packages/search?page=1&org=jetstack

Perhaps there is another ingress resource defining `/index.yaml` and `/charts/*`, otherwise I'm not so sure why root route takes you to

[2021-02-24 21:47] rgeraskin opened #3701 "ZeroSSL - Certificate Issueance Failed - Terms Of Service Have Changed"
**Describe the bug**:

One day certificates issuing stopped working. I use ZeroSSL acme with http01 solver.

[code]

[code]

[code]

[code]

**Expected behaviour**:
Certificates are issued.

**Steps to reproduce the bug**:
I don't know. Also, I've fixed this issue by reinstalling cert-manager. But I think it's enough to
1) uninstall cert issuer
2) wipe acme account RSA key (secret)
3) restart cert

[2021-02-24 23:27] rohithcj commented on #2600
It might be because of missing `securityContext` in deployment manifests. I was testing the pod security policy with opa and noticed the same:
[code]

[2021-02-25 07:15] hustshawn commented on #2741
This is indeed an annoying issue that gets rate limited by letsencrypt without any intuitive logs be found from cert-manager. Considering the limit from letsencrypt is by `Certificates per Registered Domain`, so a simple hack workaround is to change from

your-cert
- domain A
to

your-cert
- domain A
- domain B

Of course, this is a non-standard way to use permanently but hope this helps you guys

[2021-02-25 09:35] neopof commented on #2318
@vitobotta I'm facing a similar problem after a velero restore of a namespace. But for me the certifcate are still valid but they are no more renewed. I don't see CertifcateRequests or Orders for certificates restored from velero.
Can you just explain me how you were able to recreate certicates or recreate the requests ?
Thanks !

[2021-02-25 10:39] jakexks commented on #3680
We discussed this in the public development meeting and decided to not go ahead with it.

[2021-02-25 10:39] #3680 closed

[2021-02-25 11:16] jakexks commented on #3513
/milestone v1.3

[2021-02-25 11:43] irbekrm commented on #3696
/assign

[2021-02-25 14:47] vitobotta commented on #2318
Hi @neopof

I now back up with this:

[code]

These were, for me, the resources that triggered new orders and challenges when restoring. Now I can restore the existing, working certificates without any issue. Apparently they get renewed correctly too :)

[2021-02-25 16:17] eXpire163 commented on #3611
We have just updated to 1.2.0 and now we are waiting to see if this helps. We have requested the informations what server they are using, but they are not really "responsive"

[2021-02-25 16:48] jakexks commented on #3678
Is the /ok-to-test gate not enough to prevent untrusted people from adding a malicious CI job?

[2021-02-25 17:06] jakexks commented on #3642
/milestone v1.3

[2021-02-25 17:09] jakexks commented on #3610
/milestone v1.3

[2021-02-25 17:10] jakexks commented on #3603
/milestone v1.3

[2021-02-25 17:11] jakexks commented on #3486
/milestone v1.3

[2021-02-25 17:11] jakexks commented on #3390
/milestone v1.3

[2021-02-25 17:16] jakexks commented on #3290
Discussed in 1.3 Milestone meeting - should maybe be part of the release process documentation too

[2021-02-25 17:19] jakexks commented on #3289
/milestone v1.3

[2021-02-25 17:21] jakexks commented on #3250
/milestone v1.3

[2021-02-25 17:25] jakexks commented on #3188
@munnerz Did you have anything in progress for this? Did you foresee any risks with our current round trip tests?

[2021-02-25 17:32] jakexks commented on #3074
This has gone through a few milestones without being picked up, moving to backlog.
/priority backlog

[2021-02-25 17:35] jakexks commented on #3051
If this still happens, it should be a fairly quick fix
/milestone v1.3

[2021-02-25 17:37] jakexks commented on #2930
/milestone v1.3

[2021-02-25 17:38] jakexks commented on #2930
Possibly add docker importable tarballs to the release artifacts.

[2021-02-25 17:41] jakexks commented on #2868
/milestone v1.3

[2021-02-25 17:42] jakexks commented on #2853
/close

[2021-02-25 17:42] #2853 closed

[2021-02-25 17:43] jakexks commented on #2827
/close
Feel free to re-open if this is still an issue

[2021-02-25 17:43] #2827 closed

[2021-02-25 17:46] jakexks commented on #2354
/milestone v1.3
@wallrj to investigate

[2021-02-25 17:54] jakexks commented on #1551
/milestone v1.3
While #3613 would fix this particular issue, it should be extended to all of our resources' conditions

[2021-02-25 17:55] JoshVanL opened #3703 "Policy"
TBD

[2021-02-25 17:58] jakexks commented on #3200
/close

[2021-02-25 17:58] #3200 closed

[2021-02-25 18:03] jakexks commented on #2361
Is the [kubectl plugin](https://cert-manager.io/docs/usage/kubectl-plugin/#status-certificate) sufficient for this use case?

/close

[2021-02-25 18:03] #2361 closed

[2021-02-25 18:06] jakexks commented on #2321
Maybe we want to warn users when anything they requested in their CSR doesn't match what the CA gave you.

Possible issue:
- auto generated durations
- CA ignoring key usages, etc

[2021-02-25 18:22] maelvls opened #3704 "Document how to manually test cert-manager upgrade in release-process.md"
The idea of automatically testing upgrades was brought up in https://github.com/jetstack/cert-manager/issues/3290.

As a first step, we (during the 1.3 planning meeting) thought that it would be a good idea to start with manually doing the upgrade tests before each release. This issue is about writing some documentation about testing the different ways of upgrading cert-manager to the "next" relea

[2021-02-25 18:23] maelvls commented on #3290
As discussed during the 1.3 milestone meeting, I created https://github.com/jetstack/cert-manager/issues/3704 as a "first step" towards fully automated upgrade e2e tests.

[2021-02-25 19:52] jkirkham-ratehub commented on #3363
I agree with the above request to use a specified service-account name instead of hard-coding in the service-account secret name.  In terms of DR (Disaster-Recovery), it becomes harder to automate rebuilding a cluster because the secret name will change or for that matter, if the issuer is even copied to another namespace.

On a closely related note, I would add that the Vault CA certificate could

[2021-02-25 22:16] guidtz commented on #3688
@irbekrm hello, I had reinstall my hybrid cluster with containerd and cri-o but this time with calico and now all issuers are ready

[code]
It seems to be a problem with weavnet

[2021-02-26 01:40] EvertonSA commented on #3675
thats an awesome proposal

[2021-02-26 02:17] EvertonSA opened #3706 "renewal-hooks"
Can I trigger a custom renewal-hooks script?

I have some intends with the newly generated certificates (update an external tool that is managed via REST.).

I'm thinking in spanning a working unit (kubernetes job for instance) whenever a renewal of a certificate is made.

What are my ideas:

- create custom kubernetes controller to watch for updates in the certificate object via kubernetes API
-

[2021-02-26 04:46] zukko78 commented on #2332
Hi @makkarpov Could you please add more details about - "Solution was much simpler than I expected:

Create ConfigMap with single key: ca-certificates.crt and use desired CA certificates bundle as a value
Mount that ConfigMap over /etc/ssl/certs within a cert-manager Pod."

If I've already created ConfigMap and mounted it as /etc/ssl, what next how can I use my own Certificate with cert-manager?

[2021-02-26 09:56] maelvls commented on #2868
As I understand it, we currently "skip" the reconciliation if the "old" and the "new" object are the same, which means we assume that the observable world is self-contained within the object. But the order controller seems to require observing some external state (i.e., do an HTTP call to fetch the status of the ACME order), which means the order controller might not know about a change of the ext

[2021-02-26 10:39] makkarpov commented on #2332
Not /etc/ssl, but /etc/ssl/certs. Then cert-manager will be use that certificates as roots, and you can configure your ACME authority as usual.

[2021-02-26 11:57] anwoolterton commented on #3140
Hi @wallrj - With regard to the TPP credential controller would this be for the automation of token renewals?

I see the following fields are returned when running vcert.

vCert: 2021/02/26 11:04:20 Getting credentials...
access_token: xxx
access_token_expires:  date
refresh_token:  xxx

Is there a plan to implement a renewal process to update the access token via the refresh token ?

Thanks,
Andr

[2021-02-26 12:06] jakexks commented on #3671
Task list:

- [ ] Merge https://github.com/jetstack/cert-manager/pull/3707 - Fix tests in kubectl plugin
- [ ] Ensure tests pass for https://github.com/jetstack/cert-manager/pull/3702 - update import path
- [ ] Review [Prow config](https://github.com/jetstack/testing/pull/442) and [Website config](https://github.com/cert-manager/website/pull/455)
- [ ] Move repo with @simplyzee
- [ ] ASAP merge #3

[2021-02-26 12:54] rgeraskin commented on #3701
I reported the issue to the ZeroSSL customer service, and they said:

[2021-02-26 14:59] irbekrm commented on #3706
Hey @EvertonSA ,

Depending on how much work you want to put in, you could build your own contoller and run it as a separate deployment. [Here](https://github.com/jetstack/cert-manager/tree/master/pkg/controller/certificates) are the control loops that `cert-manager` runs to reconcile `Certificate` resources on changes- you could use `cert-manager` APIs and build something similar to watch `Certif

[2021-02-26 15:10] irbekrm commented on #3688
Hey @guidtz I'm glad it worked!

I do wonder what the original issue was, but I cannot think of how to reproduce it.

Would you still like to keep this issue open?

[2021-02-26 15:36] EvertonSA commented on #3706
Weaveworks Watch seems like a good match, but i'm actually not mounting this secret (not as far as i'm concened) in a pod. it seems that option 1 is the most work intensively but the nicest software engineer solution.

Any other ideas guys?

does it seems fair to assume this can be turned into a feature request?

[2021-02-26 15:50] EvertonSA commented on #3706
I had a serius time searching for solutions and it seems that mutating webhooks might be the ideal for this because it would be great if I could perform this action before the secret state (and new values) goes into etcd.

this would assure that the external tool will always reference the same certificate as the one that I need on my kubernetes cluster and no downtime regarding certificate will ha

[2021-02-26 16:06] irbekrm commented on #3706
You could also ask #cert-manager on [Kubernetes Slack](http://slack.kubernetes.io/) if you haven't yet- I think it's likely that would get more views from community.

There are a bunch of independently running processes that watch the Certificate CRs and  related resources and update the state in a way that results in the certificate being renewed- with that I am not entirely sure at which point i

[2021-02-26 16:41] irbekrm commented on #3706
I feel like this might be abusing the intention of webhooks though, since they are intended for mutation/validation of the resources being stored rather than arbitrary actions? I could imagine this having unexpected side-effects, i.e the custom script fails and the resource does not get created at all etc.
Also, we currently already use some mutating and validating webhooks and folks are sometimes

[2021-02-26 17:34] zukko78 commented on #2332
@makkarpov Thank you, it was my typo, I mounted cert to /etc/ssl/certs and create ACME ClusterIssuer, but nothing happened after that, Issuer has no any state, how can I check that my custom certs is using?

[2021-02-26 18:30] zukko78 commented on #2332
For examle:
K8s_install usermac$kubectl get clusterissuer
NAME                         READY   AGE
letsencrypt-staging-http01           17m

K8s_install usermac$kubectl describe clusterissuer letsencrypt-staging-http01
Name:         letsencrypt-staging-http01
Namespace:
Labels:       <none>
Annotations:  <none>
API Version:  cert-manager.io/v1
Kind:         ClusterIssuer
Metadata:
  Creation Times

[2021-02-26 23:13] zukko78 commented on #2332
The next thing I observe all-time issue with retrieving information from ConfiMap:
E0226 22:51:48.940646 1 leaderelection.go:321] error retrieving resource lock kube-system/cert-manager-controller: Get "https://10.233.0.1:443/api/v1/namespaces/kube-system/configmaps/cert-manager-controller": Service Unavailable
I've run test pod, get cert-manager service account token and successfully run curl fro

[2021-02-27 03:45] zukko78 commented on #3238
Hi, @meyskens Is it possible to get https instead of http? I have access to over https.

[2021-02-27 07:12] guidtz commented on #3688
@irbekrm we could close this issue I'll go to retry with weavnet later

[2021-02-27 07:12] #3688 closed

[2021-02-28 00:37] sylr opened #3711 "Export issued cert into AWS ACM"
**Is your feature request related to a problem? Please describe.**

We'd like to use ALB load balancer with certificates issued to cert-manager by other CA (like let's encrypt).

**Describe the solution you'd like**

Have cert manager export the issued certs to AWS ACM in addition to k8s secret.

**Describe alternatives you've considered**

**Additional context**

There are issues about issuing ce

[2021-02-28 11:01] vkrishnamoorthi opened #3712 "Cert-Manager webook Service generates self signed certificate with aws ec2 instance name instead of using dns names provided in --dynamic-serving-dns-names option"
**Describe the bug**:
Cert-Manager webook generates self signed certificate with aws ec2 instance name instead of using dns names provided in --dynamic-serving-dns-names option of the deployment manifest file.

EKS cluster has Calico CNI configured.
Followed the suggestion provided at the following link to deploy cert-manager webhook on a host network and a different secure port:
https://cert-mana

[2021-02-28 12:04] dustinmoris opened #3713 "Cannot create roles in kube-system namespace in GKE Autopilot cluster"
GKE has released a new Autopilot mode which means that Google completely manages the control plane and infrastructure for a GKE cluster. As such a user cannot create resources such as roles in the `kube-system` namespace anymore, because that namespace is managed by Google.

The latest cert-manager installation manifest results in errors:

[code]

[2021-02-28 17:01] tamalsaha opened #3714 "Update k8s toolchain to 1.21.x"
**Is your feature request related to a problem? Please describe.**

I would like to see k8s dependencies updated to 1.20.x

**Describe the solution you'd like**

I would like to see k8s dependencies updated to 1.20.x . Kubebuilder has released controller-tools@v0.5.0 for the v1.20.x

**Describe alternatives you've considered**

**Additional context**

**Environment details (remove if not applicabl

[2021-02-28 20:21] irbekrm commented on #3713
Hi @dustinmoris ,

By default `cert-manager` uses `kube-system` namespace for leader election, but you should be able to configure it to use another namespace, i.e `cert-manager`.
There is a `--leader-election-namespace` flag on controller, or if you're deploying with Helm chart `global.leaderElection.namespace=<NAMESPACE>` .

[2021-02-28 20:50] dustinmoris commented on #3713
Thanks for getting back to me. To be honest with you I've been working with Kubernetes for 5 years now and never had to use Helm charts yet 😄 so if there is a way to just create the required resources with normal manifests then I'd prefer that.

Looking at the manifest file to install cert-manager I can see 4 resources which are defined for the `kube-sytem` namespace:

- cainjector Role
- cainject

[2021-02-28 21:27] irbekrm commented on #3713
Yes, you're right, `cainjector` also performs leader election in the `kube-system` namespace.

I double checked with the [Helm chart](https://github.com/jetstack/cert-manager/tree/master/deploy/charts/cert-manager/templates) and I don't see `global.leaderElection.namespace` used for anything else than the two Roles + RoleBindings for `controller` and `cainjector` , so changing namespace for those

[2021-02-28 21:29] irbekrm commented on #3713
There was a similar question a little while ago #3643

[2021-02-28 21:40] dustinmoris commented on #3643
Brilliant, thanks for confirming!

[2021-02-28 21:40] dustinmoris commented on #3713
Brilliant, thanks!

[2021-02-28 23:38] justinas-b opened #3715 "kube-dns not used for DNS01 challenges"
**Describe the bug**:
I am trying to define network policies for `cert-manager` and one of the prerequisites is access to DNS servers. I am using below egress policy:

[code]

Using this policy, `cert-manager` should rely on `coredns` which is running in cluster:
[code]
_Above example is from other container, as i was unable to verify contents for /etc/resolv.conf on cert-manager pod_

As mentione

[2021-03-01 00:12] justinas-b commented on #3715
Although i see in the logs that it uses local DNS server when booting up:
[code]

Only below extra arguments are used:
[code]

[2021-03-01 00:13] zukko78 commented on #2332
Hi @makkarpov is it possible that cert-manager makes requests over https instead of http? For example:
**my current issue:**
E0227 03:49:29.419018 1 sync.go:182] cert-manager/controller/challenges "msg"="propagation check failed" "error"="failed to perform self check GET request 'http://xxxx.com/.well-known/acme-challenge/FD_v3Aqntwk-T5iXp6XHBiHrwBe6JgUAH75SxmjMB58': Get "http://xxxx.com/.well-kno

[2021-03-01 05:48] irbekrm commented on #3713
Do let us know if there are any further issues!

[2021-03-01 06:38] tamalsaha commented on #3714
I tried this locally and have hit this bug: https://github.com/kubernetes/kubernetes/issues/98380

[2021-03-01 07:38] justinas-b commented on #2334
I am using below network policies. So far looks good, will do some more validation today

[code]

[2021-03-01 08:37] huang-jy opened #3716 "Health check failed as CertificateSource is unhealthy""
**Describe the bug**:
After installing cert-manager, it works for anything between 10 minutes and 30 minutes then the webhook pods starts crash-looping, which in turn (presumably) causes cainjector and the main cert-manager pod to also crash-loop.

Looking in the logs for the webhook, I see this message coming up a lot:

[code]

Respinning the pods by deleting them using

`kubectl delete pods -n c

[2021-03-01 09:42] vcanuel opened #3717 "Cannot install on GKE autopilot cluster due to mutatingwebhookconfigurations access denied"
**Describe the bug**:
Hi,

I am trying to install cert-manager on the "new" GKE cluster autopilot via Helm.

Unfortunately I ran into this error :

[code]

**Expected behaviour**:
The helm script should install cert-manager.

**Steps to reproduce the bug**:
- Create a cluster on GKE with autopilot
- Run
[code]

**Anything else we need to know?**:

**Environment details:**:
- Kubernetes version:  1

[2021-03-01 09:46] meyskens commented on #3717
GKE Autopilot has no support for 3rd party webhooks in it's current state, this limits many Kubernetes plugins such as ourselves not to be able to operate correctly. This is reportedly (on Twitter: https://twitter.com/BagadeVivek/status/1365701217469534220 ) to be fixed in a next release.

[2021-03-01 09:47] irbekrm commented on #3713
@dustinmoris there has been some more chat about this [on Slack](https://kubernetes.slack.com/archives/C4NV3DWUC/p1614545181135600)- it looks like Autopilot also does not allow creation of mutating webhooks, so it might be the case that it doesn't work with `cert-manager` at the moment.

[2021-03-01 09:52] vcanuel commented on #3717
Great thanks.

May I leave the bug open until this is fixed ?

[2021-03-01 09:57] dustinmoris commented on #3713
Oh thanks for letting me know. Thanks for linking the Slack channel, joined it now! This is a very questionable limitation indeed! :/

[2021-03-01 10:08] qiffang opened #3718 "Multiple CertificateRequest objects for a single Certificate resource"
**Describe the bug**:

I’m noticing there are many certificaterequests objects for a single Certificate resource.

Certificate:
[code]
The certificateRequests for the above certificate resource constantly being created.

The CertificateRequests
[code]

**Expected behaviour**:

**Steps to reproduce the bug**:

**Anything else we need to know?**:

**Environment details:**:
- Kubernetes version:
- Cl

[2021-03-01 10:16] #2888 closed

[2021-03-01 10:18] Raboo opened #3719 "DNS-01 broken scenario (GCP Cloud DNS)"
**Describe the bug**:
I have a DNS-01 scenario that doesn't work.
I'm using Google Cloud DNS.

My setup is like this.

I have a wildcard like this `*.k8s.example.com. CNAME ingress-nginx.service.consul.`
`ingress-nginx.service.consul.` is a non-existent domain and is for internal use in the local network.
So I create a app at `myapp.k8s.example.com.` meaning that cert-manager needs to create a TXT

[2021-03-01 10:41] #3656 closed

[2021-03-01 10:45] jakexks commented on #3717
We cannot action this so we will close it. However we can leave it pinned for informational purposes
/close

[2021-03-01 10:45] #3717 closed

[2021-03-01 10:45] JoshVanL commented on #3713
Duplicate of https://github.com/jetstack/cert-manager/issues/3717
/close

[2021-03-01 10:45] #3713 closed

[2021-03-01 13:25] jakexks opened #3720 "Feature Request: Multi-cloud testing"
**Is your feature request related to a problem? Please describe.**

cert-manager is one of the most popular Kubernetes addons, but users often run into hiccups when deploying into various managed Kubernetes solutions on different clouds, due to small differences in behaviour between them. It would be nice if we could catch as many of these scenarios with improved e2e testing.

Some hypothetical ex

[2021-03-01 13:48] mtparet commented on #3603
We have been hit by this issue where there are multiple certificatrequests (>10). We observe also another behavior when we hit limit rate of letsencrypt because of this bug. In this case, we observe cert-manager replacing a valid certificate by a not valid/expired one.

See below the reporting weeks before expiring. The certificate is renew sooner and two times it got replaced with a not valid one

[2021-03-01 14:45] linkvt opened #3721 "Run acmesolver container as non-root"
**Is your feature request related to a problem? Please describe.**

We are using Open Policy Agent as PSPs are deprecated and use their templates to enforce rules similar to PSPs from [their library](https://github.com/open-policy-agent/gatekeeper-library/tree/master/library/pod-security-policy/users).

When using the referenced constraint template we noticed that our cert-manager orders get stuck

[2021-03-01 18:38] ejose19 commented on #3009
For those using helm, just adding `--set extraArgs={--issuer-ambient-credentials=true}` to the install script made the `Issuer` to work correctly (besides following the [docs](https://cert-manager.io/docs/configuration/acme/dns01/google/#gke-workload-identity) of course)

[2021-03-01 19:12] #3636 closed

[2021-03-01 19:28] justinkillen commented on #3718
seems related to #3603

[2021-03-01 20:15] tapanhalani opened #3723 "Order stays in an unknown state indefinitely for a particular ingress"
**Describe the bug**:
I have multiple ingresses in different namespaces, and all of them had certificates issues for them previously. But upon auto-renewal, 1 of these certificates didn't successfully renew. I checked the certificateRequest, which had the following error in status.conditions[0].message field of CR:
[code]
I checked the order resource, and compared it to other valid successful orde

[2021-03-02 02:16] vkrishnamoorthi commented on #3712
Closing this bug as this is not the issue with the Cert-Manger Webhook Service. It was problem with the static manifest. I changed the port as per the documentation on the Webhook Deployment but forgot to change the port on the Webhook Service in the static manifest. Making the port change to Deployment and Service fixed the issue.

[2021-03-02 02:16] #3712 closed

[2021-03-02 06:52] qyqcswill commented on #2602
@Antiarchitect
it worked for me

[2021-03-02 10:06] pierluigilenoci opened #3726 "Deprecated Ingress API"
**Describe the bug**:

Running `cert-manager` on K8s 1.19+ you get numerous warnings like the following:

[code]

**Expected behaviour**:

`cert-manager` should use the appropriate API version based on which version of K8s is running on the cluster.

**Steps to reproduce the bug**:

Run `cert-manager` on K8s 1.19+

**Environment details:**:

Not relevant

/kind bug

[2021-03-02 10:46] jakexks commented on #3726
This is due in the next milestone: https://github.com/jetstack/cert-manager/issues/3390

[2021-03-02 15:36] ragoragino commented on #3565
As the problem continues to occur for us, I started digging into the possible root cause and a solution to see if I can be of any help here.

The issue seems to occur after a failure of Server API communication that is followed shortly by a certificate issuance process. At that particular moment, there might be a delay between creating a Server API object and a subsequent local cache update from a

[2021-03-02 17:08] zukko78 commented on #2332
Hi @munnerz

is it possible that cert-manager makes requests over https instead of http? For example:
my current issue:
E0227 03:49:29.419018 1 sync.go:182] cert-manager/controller/challenges "msg"="propagation check failed" "error"="failed to perform self check GET request 'http://xxxx.com/.well-known/acme-challenge/FD_v3Aqntwk-T5iXp6XHBiHrwBe6JgUAH75SxmjMB58': Get "http://xxxx.com/.well-known/ac

[2021-03-02 17:28] danieljkemp commented on #646
looking at the examples in https://github.com/jetstack/cert-manager/pull/322 and https://cert-manager.io/docs/contributing/dns-providers/, it is clear that I lack the background in Go that would be needed.

I do however have a functional API key (tested via acme.sh/Proxmox) and would be willing to test!

[2021-03-02 17:44] danieljkemp commented on #646
/reopen

[2021-03-02 18:08] brewkode commented on #3675
Looking forward to this.

[2021-03-02 19:39] funzie19 commented on #3603
I believe we suffer from the same issue. We have a bit over 400 certs. However it seems like multiple requests are executed at the same time or close to it.

For example this is the same cert being requests:
[code]
With:
[code]
We usually get 2 or 3 duplicates. I don't remember having reach the request limit. But It's not me who usually solves it when we have issues. So it's possible. What I do kn

[2021-03-03 02:50] rneto12 commented on #2875
I need to use rfc2136 in a scenario like described (on my bare-metal kubernetes cluster and bare-metal bind server), but the ClusterIssuer only try to update the root zone, according to the bind logs.
Unfortunatelly there's no hostedZoneName option in rfc2136 to force delegated zone/domain (as in https://cert-manager.io/docs/configuration/acme/dns01/#delegated-domains-for-dns01).
I'm using this co

[2021-03-03 04:28] joshua-hester commented on #3238
@nimerfarahty solved my problem. I agree this needs to be addressed. **ASAP**

[2021-03-03 07:43] qiffang commented on #3718
@justinkillen
This bug is triggered in creating new certificate, i think `3306` is triggered in renew scene.

[2021-03-03 14:21] gmauleon commented on #3594
I keep having this problem over and over (we have over 60 clusters with cert-manager installed so it's pretty easy statistically...). Anyone had the time to have a look at that?

Challenge invalid because of a DNS problem, certificate/order never recover from there.
[code]

[2021-03-03 16:32] justinkillen commented on #3718
I'm not familiar with the code details, but I would imaging that there isn't really a concept of "new" vs "existing", only "a certificate request is needed" vs "no certificate request needed".

[2021-03-03 17:34] zarqman commented on #3594
We're seeing this too. In our case, it's with HTTP-01 validations, but still a DNS error, presumably as part of the preflight checks. Like others, it's sporadic, only affecting a small number of certs.

api.xxx.com does resolve properly, both externally and internally to the cluster.

[code]

[2021-03-03 20:25] Jonas18175 opened #3729 "Possible Bug in RFC2136? Or Missconfiguration?"
Hello,

i like to configure the cert-manager to auto-create let's encrypt certificates for internal domains using dns-01 solver.
Our Company DNS is a Windows DNS - so I setup a bind9 Server with a delegated _acme-challenge. - zone.
But I can't get this stuff working. with nsupdate the key works without issuses, but when I use it in the vonfig it has a bad auth error.

I set the loglevel to 5 so I

[2021-03-03 20:36] zarqman commented on #3594
Upon continuing investigation, a couple more thoughts:

The Certificate and CertificateRequest objects show the error:
`The certificate request has failed to complete and will be retried: Failed to wait for order resource "cert-api-xxx-com-ms2bc-3188650946" to become ready: order is in "invalid" state: `

The second part, `Failed to wait for order...`, doesn't appear to match actual logic. I inter

[2021-03-03 21:10] brunocascio commented on #3682
I'm facing the same issue with metallb + istio ingress gateway

[2021-03-04 01:08] kit837 opened #3730 "add certificate expiration relative time seconds to metrics"
**Is your feature request related to a problem? Please describe.**

I would like to monitor time until certificates expire and I'm using a monitoring system which does not provide a function to get the current time ([DataDog](https://www.datadoghq.com/)).

**Describe the solution you'd like**

I would like a metric that exposes the number of seconds until a certificate expires instead of `certmana

[2021-03-04 04:47] amartyamandal commented on #3682
workaround would be to create a certificate object first and add the corresponding secret to the ingress if you want to use V1, you need to do it manually

[2021-03-04 10:41] #3666 closed

[2021-03-04 12:30] SamClinckspoor commented on #3140
@wallrj is there an issue I can follow for the TPP credential controller? currently, we have to implement an external job to refresh the token (only valid 2 days)

[2021-03-04 15:14] jakexks commented on #3714
/priority important-soon

[2021-03-04 15:37] rbaumgar opened #3732 "cert manager is no longer on the OpenShift operator list"
under "Installing with cert-manager operator"
https://cert-manager.io/docs/installation/openshift/#installing-with-cert-manager-operator
the link https://catalog.redhat.com/software/operators/detail/5e999d862937381642a21c7a --> not found

[2021-03-04 15:45] bartier opened #3734 "Add default values of 'renewBefore' and 'duration' at API reference docs"
**Is your feature request related to a problem? Please describe.**

It would be nice to add the default values of `renewBefore` and `duration` fields to the reference [API reference docs](https://cert-manager.io/docs/reference/api-docs/#cert-manager.io%2fv1), so we know the default behavior when they are unset.

The [FAQ has been already updated](https://github.com/cert-manager/website/pull/458).

[2021-03-04 15:46] jakexks commented on #3734
/assign

[2021-03-04 15:47] jakexks commented on #3734
/kind documentation
/area api

[2021-03-04 15:53] jakexks commented on #3732
We're definitely in operator hub, but I assume the link has changed. Could you open a corresponding issue on the [website repo?](https://github.com/cert-manager/website) and I'll take a look.

/kind documentation
/close

[2021-03-04 15:53] #3732 closed

[2021-03-04 15:59] jakexks commented on #3732
Ref: https://github.com/cert-manager/website/issues/436

[2021-03-04 17:43] maelvls opened #3738 "PKI: inject a time.Time in certificate template functions instead of using time.Now"
We realized in https://github.com/jetstack/cert-manager/pull/3475#issuecomment-790797782 that all the "generate certificate template" functions in [pki/csr.go](https://github.com/jetstack/cert-manager/blob/28fc97699e7812b67a9522bd78fb8bb29aaa482d/pkg/util/pki/csr.go) have a nasty side effect: they call `time.Now` themselves, meaning that we have to do weird dances whenever we have to test anything

[2021-03-04 17:49] maelvls commented on #3738
Oh... When I tried doing this refactoring, I realized that none of the template functions are currently tested. I did start testing some in #3737 but there are still 10 untested functions that contain non-obvious logic (see in the [pki](https://github.com/jetstack/cert-manager/blob/33a9cbfd36acda31e9117d9879973b7f951c7ee4/pkg/util/pki/csr.go) package).

| function                                 |

[2021-03-04 18:40] irbekrm commented on #3718
Hi @qiffang ,

I see `Issuing certificate as Secret does not exist` in the `Certificate` description. Has the `Secret` been created? It would also be interesting to see `cert-manager`'s log and the state of those `CertificateRequest`s, whether they all have the same revision number etc.
Also what version of `cert-manager` are you using?

That's true. The reason for `Issuing` condition seems to be

[2021-03-04 18:59] jonanderson10 opened #3739 "Helm chart fails to install CRDs when using ArgoCD"
**Describe the bug**:

When installing cert-manager via ArgoCD's functionality for OTS (off-the-shelf) charts it fails to install the CRDs. Thus the 'application' within Argo never fully converges to a healthy state. This occurs even when providing a values.yaml that includes the "installCRDs: true" parameter set. When previewing the manifests that Argo renders from the chart, it does not include

[2021-03-04 20:32] teejaded opened #3740 "v1.2.0 images fail vulnerability scan"
**Describe the bug**:

All the recently released v1.2.0 images are showing an issue with tzdata out of date.

[code]

-->

**Expected behaviour**:

No out of date packages.

**Anything else we need to know?**:

**Environment details:**:
- Kubernetes version: v1.18
- Cloud-provider/provisioner: IKS
- cert-manager version: v1.2.0
- Install method: helm

/kind bug

[2021-03-04 20:35] teejaded commented on #3740
It's worth noting the latest `distroless/static` image is up to date.

[code]

[2021-03-05 01:16] zukko78 opened #3742 "Cert-manager usage for local domain cerificate"
I try to use cert-manager to manage certificates for the local domain that signed CA. I use this article(https://docs.solo.io/gloo-edge/master/guides/integrations/cert_manager/) to integrate cert-manager with Gloo and manage certificate for ingress.

**Describe the bug**:

create 2 **ConfigMaps** and store certificate and for there:

    kubectl get configmaps -n cert-manager
    NAME

[2021-03-05 11:16] timothyclarke opened #3743 "Excessive DNS caching for DNS verification"
**Describe the bug**:
Cert-Manager Caches DNS entries for longer than DNS TTL times

**Expected behaviour**:
Cert-Manager should not cache DNS responses

**Steps to reproduce the bug**:

This was encountered when the parent domain was in cloudflare and subdomains (via NS records) were delegated to other nameservers. That delegation was removed and replaced with A records.

1. Create a domain and d

[2021-03-05 17:02] samos123 commented on #1751
I as a new user was very confused about `privateKeySecretRef` because I first assumed that I had to populate this secret myself. I think from UX perspective since the user doesn't need to care about it, it should be removed from the required config and be optional.

[2021-03-05 22:52] fuel-wlightning opened #3747 "Certificate issuerRef should be optional"
**Is your feature request related to a problem? Please describe.**

An application's manifest shouldn't care about Issuers, requiring issuer specific knowledge when setting up an application makes it's manifests less portable between clusters.

For basic HTTPS, this is very apparent, as your application's client is not likely to care if the cert came from Let's Encrypt vs Comodo. If my application

[2021-03-06 09:46] maelvls commented on #3513
I'm interested in fix this issue, I'll have a go

/assign

[2021-03-06 21:32] mmacphail commented on #3631
For me, JKS was generated without a password. The password used in the secret is a standard 20 alphanumeric chars password. So for me, it's a bug.

[2021-03-07 15:14] mattbates commented on #3740
Thanks for filing this issue and the PR with the fix.

Is this stopping you from installing/updating to CM 1.2 - is it reported as an error,  or a warning?

[2021-03-08 09:47] #3585 closed

[2021-03-08 13:29] mvukadinoff opened #3748 "Cert-manager causes API server panic on clusters with more than 20000 secrets."
**Describe the bug**:
On clusters with more than 20000 secrets this becomes a problem . The query that Cert manager does is not optimal.
/api/v1/secrets?limit=500&resourceVersion=0

resourceVersion=0 will cause to query always all secrects and limit=500 will not be taken into account. This way cert manager is not scalable for large deployments. Secrets are used not only for certificates.

As menti

[2021-03-08 16:48] maelvls commented on #3585
Not sure whether the above issue was actually solved by https://github.com/jetstack/cert-manager/pull/3613. @kamolhasan what do you think, are you happy with the new observedGeneration field?

[2021-03-08 18:09] teejaded commented on #3740
There's no severity associated with the issues found.  My personal take is it seems very low priority, but I'm running a local build of the v1.2.0 images with the PR I sent to bypass this issue since we're pushing for 100% clean images at the moment.

Here's the extended output of the vulnerability scanner.

[code]

[2021-03-09 11:06] scheung38 opened #3750 "[Question] mkcert vs cert-manager"
what are the differences between it and mkcert? Thank you

[2021-03-09 12:14] sillent opened #3751 "Cert-Manager doesn't proxying custom annotations from Ingress"
I creating External Issuer, and for some reason i need add some custom annotations in Certificate manifest
When i add it into Certificate manifest and applying into cluster, Certificate controller properly proxying it into CertificateRequest.
But when i want create Certificate request from Ingress manifest, and add my custom annotations, additionally with annotations that require cert-manager, Cer

[2021-03-10 01:38] thomas-lui opened #3755 "Letsencrypt challenges missing nginx ingress and flooding apache logs"
**Describe the bug**:
We’re using cert-manager v0.16.1 and we’re hoping to eventually upgrade to v1.2. We plan to upgrade EKS first and then do a stepwise upgrade to cert-manager latest.

We need to reconcile some error messages to reduce the noise before moving forward.
Thousands of 404s are coming into our apache logs from Let’s Encrypt’s validation server for certificates that are valid and do

[2021-03-10 08:56] maelvls commented on #3513
From what I understand, here are the step we have to take to fix this issue:

1. [ ] Update the image used by the `chart-museum-prod` deployment (shown [above](https://github.com/jetstack/cert-manager/issues/3513#issuecomment-777268801)) to `v0.13.0`
   → will probably solve the 404 on `/` described in #3513
2. [ ] Claim the chart [jetstack/cert-manager](https://artifacthub.io/packages/helm/jetsta

[2021-03-10 09:16] irbekrm commented on #3748
Hi @mvukadinoff,

Sorry to hear you're having trouble and thanks for raising the issue.

I'll see if I can reproduce it, it'd be interesting to know which query that was.
Generally I wasn't aware that we would be watching _all_ the Kubernetes secrets in any of our controllers, I think usually it is only the ones owned by a `Certificate`, but I guess with 20'000 `Certificate`s that might be too man

[2021-03-10 09:25] venkatjk opened #3756 "Node affinity Not applied to all 3 pods"
Hello,

when we use node affinity in custom values.yaml file it is not applied to all 3 pods. It is applied only for cert-manager. Rest others like cert-manager-cainjector and cert-manager-webhook dont use the affinity what we have mentioned. Please advise how to solve this as i need to apply for all 3 pods the node affinity.

[2021-03-10 11:02] sbrunk commented on #3062
We are also running into this issue. We have a chart that installs cluster-global components (several sub-charts and things like a cluster-issuer) so I'd argue that's a valid use-case for installing cert-manager as a sub-chart.

[2021-03-10 11:53] SgtCoDFish commented on #3750
There are many differences! `mkcert` is for temporary development certs and would usually be run locally on a developer's laptop, whereas `cert-manager` runs on Kubernetes clusters and can be used for production TLS certificate management.

This is probably more of a "discussion", so I'll move it there.

[2021-03-10 11:53] #3750 closed

[2021-03-10 13:13] justinkillen commented on #3748
Is the limit 20,000 globally, or 20,000 in a single namespace?

[2021-03-10 14:49] flmmartins commented on #2567
Hello,

I was also looking and I didn't find a ref in the documentation. **How can we put the keySize in cluster-issuer?** since it's the cluster-issuer that generates the certificate.

[2021-03-10 15:49] flmmartins opened #3759 "Define keySize outside the Certificate resource"
Hello,
I use a cluster-issuer to issue my certificates.

In the ingress I attach the issuer so it can create the certificates for me instead of me having to create them.

I wanted to keep using this and add the **keySize** into all my certificates.

Checking the documentation it mentions that you can change the size only in the Certificate resource. Is it possible to add this as an argument in the

[2021-03-10 16:03] #3759 closed

[2021-03-10 17:32] jakexks commented on #2868
/assign @irbekrm

[2021-03-10 21:08] micahhausler opened #3761 "Document a security issue reporting, response, and distribution process"
**Is your feature request related to a problem? Please describe.**

This came up in the [biweekly community call today](https://docs.google.com/document/d/1Tc5t6ylY9dhXAan1OjOoldeaoys1Yh4Ir710ATfBa5U/edit#heading=h.7oili8ncpr4n) so I'm filing an issue for public tracking.

CertManager does not have a documented security issue reporting or response procedure, and this would be beneficial to develop

[2021-03-11 06:21] tvendelin commented on #3265
@ser60v Did you find a solution? I've run into exact same problem with pretty standard Calico CNI.

[2021-03-11 09:08] RinkiyaKeDad commented on #3648
Hi @irbekrm! I'd like to try and fix this.

1. Should I simply remove the [line](https://github.com/jetstack/cert-manager/blob/master/Makefile#L86) referring to the `DOCKER_REPO` env var?
2. Could you provide some more context on how I should create the [`docker_push`](https://github.com/jetstack/cert-manager/blob/master/Makefile#L57) target?
3. Should I remove the targets [displayed by help](http

[2021-03-11 10:50] andreas-p opened #3762 "Misleading error message when field missing in ClusterIssuer setup"
Using v1.2.0, I accidentially applied a ClusterIssuer manifest with empty auth.kubernetes.name:

[code]
This results in the misleading error message `Multiple auth methods cannot be set on the same Vault issuer`.

Looking at pkg/issuer/vault/setup.go, it seems that the error code messageAuthFieldRequired has a wrong text, and checking for multiple auth methods uses the wrong error code.

[2021-03-11 11:20] JoshVanL commented on #3762
I agree, none of these error messages are particularly helpful and very misleading. Would consider this a bug

/bug

[2021-03-11 11:43] #3762 closed

[2021-03-11 12:59] irbekrm commented on #3648
Hi @RinkiyaKeDad ,

Glad to hear you're interested in this!

The goal of fixing that env var would be to make it so that it is possible to run `make images`  like [here](https://github.com/jetstack/cert-manager/blob/master/Makefile#L50) with a custom value for the Docker registry and see that the created Docker images are tagged with that registry name. (At the moment it uses the default registry

[2021-03-11 19:36] justinkillen commented on #3603
FWIW, we ended up reverting back to the previous version we had installed (0.14.3), and we're seeing certs get issued back at a normal rate.

[2021-03-11 19:40] #3324 closed

[2021-03-12 07:16] irbekrm commented on #3620
/unassign

[2021-03-12 09:46] RinkiyaKeDad commented on #3648
Thanks for the detailed explanation @irbekrm! I'll start working on this and ping on the slack channel if I have some doubts.

[2021-03-12 09:47] RinkiyaKeDad commented on #3648
/assign

[2021-03-12 10:28] irbekrm commented on #3603
Thanks for confirming that @justinkillen. I believe it should have appeared in v0.16. I am hoping that #3718 that should be released with v1.3 will fix this issue.

[2021-03-12 10:50] brokencode64 commented on #3415
Having this same issue with kubernetes on-prem cluster. No logs from web-hook container. Certs are correct, svc is reachable etc.

Cert-manager helm  chart version: 1.2.0
Kubernetes version: 1.17.12

[2021-03-12 15:16] StefanSa opened #3764 "ca.crt wrong, asn1_item_embed_d2i:nested asn1 error:crypto/asn1/tasn_dec.c:309:Type=X509_CINF"
**Describe the bug**:
i come from here  https://github.com/nokia/adcs-issuer/issues/8 with the following problem.
adcs-issuer works so far without any problems, but a defective, invalid ca.crt is generated with the newly created certificate, even though the correct `caBundle` is given in the `Issuer`.

The verification of the certificate fails with the following error message:
[code]
All other gen

[2021-03-12 15:23] OmairK commented on #3663
Hi @irbekrm, is this issue up for taking?

[2021-03-12 15:36] irbekrm commented on #3663
Hi @OmairK , glad you're interested- yes you are very welcome to work on this issue.

Let us know if you have any questions.

There is some discussion that might be related about doing these checks here #3525

[2021-03-12 16:06] irbekrm commented on #3663
/unassign

[2021-03-13 11:31] jdef opened #3766 "support for "leases" for leader election"
**Is your feature request related to a problem? Please describe.**
Kube audit logs show heavy use of configmaps resource; I believe this is for leader election. I'd like a simpler audit policy that ignores get/update verbs for "leases" (which seem to be the future for leader election locks anyway).

**Describe the solution you'd like**
I want a flag to let me pick the resource type used for leader

[2021-03-14 05:58] alexanderturner opened #3767 "ClusterIssuer incorrect DNS Resolution"
**Describe the bug**:
I've defined a ClusterIssuer to collect ACME certs. The issuer fails due to an incorrect DNS response for the LetsEncrypt API endpoint. This occurs for all endpoints and returns my NAT'd public IP address. DNS works fine everywhere else in the cluster. This is on a self-hosted k3s cluster.

[code]

DNS lookup in the same namespace:
[code]

Hosts /etc/resolv.conf
[code]

My Cl

[2021-03-14 11:21] OmairK commented on #3663
@irbekrm, I went through #3525, I am planning to define a similar method for [CertificateStatus here](https://github.com/jetstack/cert-manager/blob/51340d0c876147086eea23f3c827906cefdad8e4/pkg/apis/certmanager/v1/types_certificate.go#L307) and use that to determine if there are any changes in the certificate's status. What do you suggest?

[2021-03-14 18:35] irbekrm commented on #3767
Hi @alexanderturner ,

Sorry to hear you're having issues - have you also had a chance to look at `cert-manager` logs?

Maybe it's be worth to check what nameserver values it finds, one of the first log lines should be something like
[code]
^ that value `nameservers` isn't used when registering LetsEncrypt account, but could verify what it found in `/etc/resolv.conf` I think.

nameserver 1.1.1.1

[2021-03-14 19:54] StefanSa commented on #3764
No problem with cert-manager, it was the docker image which was not working correctly.

[2021-03-14 19:54] #3764 closed

[2021-03-14 20:33] jgreat commented on #2471
Ran into this issue today.

If you update the API documentation to remove the "(Optional)" part, I think that would remove the confusion.

[2021-03-15 09:59] evmimagina commented on #3148
Hi @ryanjn ,

I'm strugling when trying to make cert-manager work as well... Could you please give further details about the and-pod-identity workaround?

Many thanks and best regards,

[2021-03-15 10:13] #3603 closed

[2021-03-15 10:21] irbekrm commented on #3603
Hey folks, this issue got closed as we just merged #3665 which will be released with v1.3.0

We 'd be really interested to hear if #3665  fixes the issue with multiple CRs, if you get a chance to upgrade once we release v1.3.0 (we might also do an alpha release earlier too) or perhaps even have a chance to try it with the current master branch.

We'd be happy to re-open the issue if it seems to be

[2021-03-15 10:40] maelvls commented on #3486
I'll take a look today!

/assign

[2021-03-15 10:48] irbekrm commented on #3648
Hi @RinkiyaKeDad,

I had a look at the Bazel rules this morning and I see that we have a [Bazel `docker_push` target](https://github.com/jetstack/cert-manager/blob/master/BUILD.bazel#L36), I think we could use that.

That Bazel target can be run with `bazel run //:images.push` and can also take `DOCKER_REGISTRY`, `APP_VERSION` env vars.

So, perhaps we could have a `make` target that runs that baz

[2021-03-15 12:16] JoshVanL commented on #3458
/assign

[2021-03-15 13:36] mhyousefi opened #3772 "Add the ability to increase the processing queue size"
**Is your feature request related to a problem? Please describe.**
I understand that challenge objects are initially queued when created to prevent congestion and other problems. I sometimes find myself in a situation where this queue is seemingly filled up as there are a significant number of challenges that cant be fulfilled for uninteresting reasons. This causes new certificates (that would nor

[2021-03-15 15:26] #1551 closed

[2021-03-15 17:04] andrewodri commented on #1768
For any visitors from the future... I was encountering the same error as described in this issue, however, it was because the cert-manager self-checks try to resolve using `NodePort` by default, even if one isn't exposed.

I'm using MetalLB, so changing `serviceType` to `ClusterIP` worked for me 🤷‍♂️  Hopefully that helps someone else!

See https://cert-manager.io/docs/configuration/acme/http01/#s

[2021-03-15 20:13] suvl commented on #3148
you'll have to start by installing the AAD pod identity workloads and CRDs, for instance with the Helm operator:
[code]

then follow [the first part](https://cert-manager.io/docs/configuration/acme/dns01/azuredns/#managed-identity-using-aad-pod-identities) of the tutorial. Don't forget to label your cert-manager pods exactly as you've stated in your `AzureIdentityBinding` resource.

[2021-03-15 22:45] gattytto commented on #3694
[WIP](https://github.com/gattytto/cert-manager-acme-he-webhook)

[2021-03-16 09:07] maelvls commented on #3513
@chance19 do you think we could review the different steps needed? We aim at having the Helm chart sorted out before 6th April ([1.3 cut out date](https://docs.google.com/document/d/1Tc5t6ylY9dhXAan1OjOoldeaoys1Yh4Ir710ATfBa5U/edit#bookmark=id.jzi02xg0ngn)). Thanks!

[2021-03-16 12:36] irbekrm commented on #3772
Hi @mhyousefi,

Thanks for creating the issue.
Does this happen when a large number of `Certificate`s are being issued first time? I wonder if this might be related https://kubernetes.slack.com/archives/C4NV3DWUC/p1601260786061000

This is not an error as such. This happens because a control loop attempts to update a resource that another control loop has just updated causing the resource version

[2021-03-16 15:57] justinkillen commented on #3603
Thanks @irbekrm.  I've been following #3665 and will be upgrading to 1.3 once it releases.  Thank you again for the work on this.

[2021-03-16 17:14] irbekrm commented on #3603
Thanks to you @justinkillen for all raising the issue and providing a lot of information/logs!

[2021-03-16 17:50] tl-eddie-hoffman opened #3775 "Add the ability to add custom labels to service with the helm chart"
**Is your feature request related to a problem? Please describe.**
We use labels on services to scrape metrics endpoints with prometheus. Currently we cannot use prometheus and cert-manager with our setup.

**Describe the solution you'd like**
Similar to the podLabels, I would like a helm value/parameter to add custom labels to the service e.g. a new value serviceLabels.

**Describe alternatives y

[2021-03-16 18:23] maelvls commented on #3513
**Update:** created a meeting for Tue 23 March 2021 11:00 – 11:45 UTC. I invited @chance19 and @simplyzee.

[2021-03-16 18:24] maelvls commented on #3486
Done reviewing!
/unassign

[2021-03-16 18:27] maelvls commented on #3513
/unassign

[2021-03-16 18:28] maelvls commented on #3250
Just wanted to let people know that I am still working on a fix in #3444.

[2021-03-16 19:20] irbekrm commented on #3663
Hi @OmairK,

I think the outcome of the #3525 was that that custom method might not have been sufficiently performant.
Perhaps you could use either the [apimachinery.Semantic.DeepEqual()](https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/apimachinery/pkg/api/equality/semantic.go) or just use `reflect.DeepEqual` that we already use [elsewhere](https://github.com/jetstack/cert-

[2021-03-17 11:40] dirkbolte commented on #2954
Get the same with cert manager 1.2, kubernetes 1.20.4, Minikube with virtualbox on MacOS:

Order:
[code]

Challenge:
[code]

The order's state URL has the same content as the error in the original post.

[2021-03-17 16:23] poochwashere commented on #2168
Holy hell @prakash360 ... it worked! I am surprised to be honest but thanks for that hack!

[2021-03-17 17:37] gerrywastaken commented on #294
@kragniz @munnerz There are quite a few people here claiming that this issue was not fixed by https://github.com/jetstack/cert-manager/pull/744 which was the reason @jetstack-bot auto closed this issue. Any thoughts?

[2021-03-17 21:22] joseEnrique commented on #3720
hi @jakexks. I'm coming from GSoC21 and checking this issue and according to my background (mainly working with Kubernetes, terraform and AWS), this task suits to me really good. I would like to address it, so how could we proceed with the application? and when could I start with the task?

Some advice is always appreciated to continue.
Thank you in advance

[2021-03-18 11:47] gerrywastaken commented on #3634
@jglick Yeah it wasn't obvious to me either, and I completely missed the following statement in the docs:

https://cert-manager.io/docs/configuration/selfsigned/

More google foo:
Self signed tls.crt and ca.crt are the same
Self signed tls.crt and ca.crt are the identical
Self signed tls.crt and ca.crt are matching PEM
Certificate and Certificate Authority are the same in self signed

[2021-03-18 14:34] sonalkr132 commented on #3501
same here. not sure what is causing this. k8s update?

[2021-03-18 17:44] khouloudbo commented on #2640
Hello @rsliotta
I have the same issue, but i'am using kubectl instead what is the right command for this,
Running k8s version 1.18

Thank youu

[2021-03-18 20:26] irbekrm commented on #3775
Hey @tl-eddie-hoffman ,

Thanks for the feature request, it should not be difficult to add those labels.

There is also an option to deploy a Prometheus ServiceMonitor for `cert-manager`  controller if you [deploy with Helm](https://cert-manager.io/docs/usage/prometheus-metrics/#helm) (and add custom labels to the monitor) - would this not work for you?

[2021-03-18 21:21] irbekrm commented on #3756
Hi @venkatjk ,

Thanks for raising the issue.

Node affinity for controller, cainjector and webhook actually comes from three separate values - `affinity` for controller, `webhook.affinity` for webhook pod and `cainjector.affinity` for cainjector, see  [here](https://github.com/jetstack/cert-manager/blob/master/deploy/charts/cert-manager/README.template.md#configuration).

i.e
[code]

Let us know

[2021-03-18 21:44] ondrejtomcik commented on #3404
@munnerz ping

[2021-03-19 03:43] osddeitf opened #3776 "Cert-manager have DNS cache too long?"
I've used cert-manager to issue certificate for my domain. But, my DNS records are not up-to-date with my new server IP, the logs show like this (for convenience, I'll replace my domain with `mail.example.net`):
[code]
I updated the DNS records, and wait for DNS server to accept them, I even tried to run some DNS resolve:
[code]
The answer always my new IP, as expected, so that I check again wheth

[2021-03-19 09:48] irbekrm commented on #3776
#3743 could be a related issue.

[2021-03-19 10:29] Evesy commented on #3664
Just to say I have also observed this on cert-manager 1.2.0, kubernetes 1.17.15.

Logs: https://gist.github.com/Evesy/5c0caa6fe355608608c57abb5589bf34

[2021-03-19 12:45] zdzichu opened #3777 "Non-compliant behaviour: re-POSTing challenge instead of polling authorization"
**Describe the bug**:

FreeIPA project (integrated LDAP, Kerberos, CA, DNS, etc. suite) recently added ACME support. I've tried to use it with `cert-manager`, but experienced a bug.
According to FreeIPA developers, this is an issue in cert-manager.

Re-POSTing the challenge causes problems with ACME implementation in FreeIPA, is non-compliant and shouldn't be done.

**Expected behaviour**:

Using

[2021-03-19 17:37] DawPawel opened #3778 "Route53 dns challenge with less privileged hosted zone doesn't work with few domains pointing to the same record"
**Describe the bug**:
I'm using cert-manager to issue multiple certificates using the same subdomain with less privileges. Basically my setup is very similar to the one from example in https://cert-manager.io/docs/configuration/acme/dns01/, so my configuration looks like:

[code]

So i'm using dns letsencrypt challenges using route53 less privileged hosted zone:  **less-privileged.example.org**

D

[2021-03-20 08:02] AndreKR opened #3779 "ingress-shim not working"
I'm currently setting up cert-manager and running into an issue where ingress-shim seems to be doing absolutely nothing.

The args are set in the deployment:
[code]

But nothing is created:
[code]

I have an Ingress with the annotation set:
[code]

I'm getting a bunch of warning in my cert-manager logs, not sure if they are related:
[code]

**Environment details:**:
- Kubernetes version:
[code]
-

[2021-03-20 09:27] irbekrm commented on #3779
Hey @AndreKR

I think the `Ingress` might be missing a `cert-manager` annotation? See an example [here](https://cert-manager.io/docs/usage/ingress/#how-it-works)

The deprecation warnings in logs can be ignored, we're going to update the API version soon, but that should not cause any issues.

[2021-03-20 09:31] AndreKR commented on #3779
Never mind. In the meantime I found out how to get invites to the slack channel and the very nice people there told me that those three args don't actually `create` the ClusterIssuer, they just point to a ClusterIssuer that I'm to create myself. They also told me that in fact this technique is pretty much deprecated and I should just create the ClusterIsser and then use the `cert-manager.io/cluste

[2021-03-20 09:31] #3779 closed

[2021-03-20 09:32] AndreKR commented on #3779
I guess you *could* treat this issue as a documentation improvement request. :)

[2021-03-20 09:33] irbekrm commented on #3779
Yes, also PRs welcome! I wasn't even aware of the `kubernetes.io/tls-acme` annotation myself :)

[2021-03-20 09:35] AndreKR commented on #3779
It's described [here](https://cert-manager.io/docs/usage/ingress/#optional-configuration). I'll see if I can put together a PR.

[2021-03-20 09:42] irbekrm commented on #3779
OK, my bad for not reading the doc properly.

I guess we could add to the [troubleshooting section](https://cert-manager.io/docs/usage/ingress/#troubleshooting) that the `Issuer`/`ClusterIssuer` needs to exist and be in a Ready state for it to work.

Hopefully the deploy will now work!

[2021-03-20 15:18] jakexks commented on #3720
Hello @joseEnrique! Feel free to join our public standup, 10:30 AM London time Monday-Friday: https://cert-manager.io/docs/contributing/#meetings

We also hang out in the #cert-manager channel on the Kubernetes slack.

[2021-03-20 17:34] osddeitf commented on #3776
thank you for point me out that my issue is duplicated, I'll close it now.

[2021-03-20 17:34] #3776 closed

[2021-03-20 17:35] osddeitf commented on #3743
I'm facing this issue too, as of #3776.

[2021-03-20 17:38] osddeitf commented on #3743
It'll make sense when `cert-manager` should not cache DNS resolutions that I think not affect performance. Or if I'm wrong, perhaps should there are some options like TTL of DNS resolutions. Sometimes we could not afford to wait for `Certificate`s ready.

[2021-03-21 16:02] cheslijones opened #3780 "WSL2 support or is there an existing process in place?"
**Is your feature request related to a problem? Please describe.**
I think this issue is with WSL2 itself and its idiosyncrasies because my process is essentially the same for adding a TLS certificate for local dev environments, and it works fine in Linux and macOS.

The abbreviated version of this process is basically:
[code]
When you spin up your local dev cluster, you should be able to navigate

[2021-03-21 19:57] JensErat commented on #1068
I also stumbled over this issue while upgrading from a legacy helm installation. I still had this in my values.yaml:

[code]

The current values.yaml has kube-system as leader election namespace. Fixing this/removing the old values resolved the issue.

[2021-03-22 08:35] freegroup opened #3782 "support of different format of the generated secret to use them with ISTIO"
Right now the generated secret contains two keys - `tls.key` and `tls.cert`.

To use this secret with Istio and MUTUAL TLS we must patch the secret and add the `ca.crt` attribute with the allowed root certificates for the mutual TLS. Unfortunately the `ca.crt` part get lost if the cert-manager updates the certificate for any reason.

Istio supports three kind of secret formats which helps a lot to

[2021-03-22 08:51] freegroup commented on #3782
sorry - wrong cert-manager component.....I want the gardener cert-manager  :-)  sorry for the noise. But maybe this feature if worth for jetstack as well.

[2021-03-22 08:51] #3782 closed

[2021-03-22 09:10] dgard1981 commented on #2380
We ran in to this issue last week. In our case, it means that it's not possible to use https://charts.jetstack.io/index.yaml through an Octopus feed because Octopus relies on semantic versioning.

Is this likely to be fixed?

[2021-03-22 09:28] irbekrm opened #3783 "CLI tool should have an install command"
**Is your feature request related to a problem? Please describe.**

Currently `cert-manager` can be installed using [Helm](https://cert-manager.io/docs/installation/kubernetes/#installing-with-helm) or with [regular Kubernetes manifests](https://cert-manager.io/docs/installation/kubernetes/#installing-with-regular-manifests).

In the second case, if users want to inpect the yaml to be applied, the

[2021-03-22 09:50] venkatjk opened #3784 "No able to exec to cert-manager pod"
when i try to login to pod not able to exec to a pod. Below is the error i am seeing.

$ kubectl exec -it cert-manager-594b8dbb9-d5pnb -n cert-manager /bin/sh
kubectl exec [POD] [COMMAND] is DEPRECATED and will be removed in a future version. Use kubectl exec [POD] -- [COMMAND] instead.
OCI runtime exec failed: exec failed: container_linux.go:370: starting container process caused: exec: "/bin/sh"

[2021-03-22 10:11] meyskens commented on #3784
This is by design as cert-manager doesn't ship with a full Linux distribution to lower the security attack vector, we use https://github.com/GoogleContainerTools/distroless to do this. Hope that helps!

/close

[2021-03-22 10:11] #3784 closed

[2021-03-22 17:03] venkatjk commented on #3756
when i tried edit deployment adding above options for cainjector got below
error.

# deployments.apps "cert-manager-cainjector" was not valid:
# * <nil>: Invalid value: "The edited file failed validation":
ValidationError(Deployment.spec.template.spec): unknown field "cainjector"
in io.k8s.api.core.v1.PodSpec
#

On Thu, Mar 18, 2021 at 9:21 PM Irbe Krumina ***@***.***>
wrote:

[2021-03-22 20:07] KeksBeskvitovich commented on #466
Hi all. Same issue, in DigitalOcean k8s and proxy-protocol.
Resolved, when i set annotation **service.beta.kubernetes.io/do-loadbalancer-hostname**
https://github.com/digitalocean/digitalocean-cloud-controller-manager/blob/master/docs/controllers/services/annotations.md#servicebetakubernetesiodo-loadbalancer-hostname

[2021-03-22 21:48] erikgb commented on #3619
We would also love to see this issue fixed! Any chance we can get a cert-manager maintainer to have a look? 🤔 As indicated by @munnerz in this [K8s Slack thread](https://kubernetes.slack.com/archives/C4NV3DWUC/p1590147887299900), this issue seems to touch delicate matters....

[2021-03-22 22:54] albertvimlet opened #3787 "Missing quay.io/jetstack/cert-manager-acmesolve images"
https://quay.io/repository/jetstack/cert-manager-acmesolver?tab=info

`Failed to pull image "quay.io/jetstack/cert-manager-acmesolver:v1.2.0": rpc error: code = Unknown desc = failed to pull and unpack image "quay.io/jetstack/cert-manager-acmesolver:v1.2.0": failed to resolve reference "quay.io/jetstack/cert-manager-acmesolver:v1.2.0": unexpected status code [manifests v1.2.0]: 502 Bad Gateway
`

[2021-03-22 23:37] mrajashree commented on #2930
quay.io is down again, would be super helpful to have this 👍

[2021-03-23 11:34] jakexks commented on #2930
/assign

[2021-03-23 12:32] maelvls commented on #3513
@simplyzee I was able to create the YAML file onto the bucket, but it seems like the helm museum is not serving it. Command used to create the YAML file:

[code]

It looks like the helm museum does not directly serve the files in the bucket (for example, `index.yaml` is not in the bucket).

[code]

Not sure how to proceed :(

[2021-03-23 13:25] edeediong commented on #2891
@tuananh You're right that running the `helm-docs` directly on the helm manifests doesn't display the description from values. However, having looked at the [documentation](https://github.com/norwoodj/helm-docs#valuesyaml-metadata), all we have to do is to attach ` -- ` to each comment and the tool will generate the commented values.

[2021-03-23 13:27] edeediong commented on #2891
/assign @edeediong

[2021-03-23 13:55] simplyzee commented on #3513
I'm actively looking into this as I sort the other requirements out.

[2021-03-23 13:57] simplyzee commented on #3513
So this is because of the current ingress that is defined in the spec for chart-museum in GKE. It will only return `/index.yaml`, I think we can add another backend path in place now to ensure it can reach `/artifacthub-repo.yml`

[2021-03-23 15:00] rneto12 commented on #2763
It would be nice having an annotation option working for istio gateway.

[2021-03-23 15:00] edeediong commented on #2891
@jakexks @wallrj I figured out how to work around the issue. As I mentioned above, I'll need to edit all comments appending ` -- ` to each description so that `helm-docs` can pick it up. As for the bazel build, I'm still trying to figure how to add another chain into the Pipeline.

[2021-03-23 16:29] cep21 opened #3790 "Unable to helm repo add: failed to fetch https://charts.jetstack.io/index.yaml : 503 Service Unavailable"
[code]

https://charts.jetstack.io/index.yaml

![image](https://user-images.githubusercontent.com/20358/112182082-3720b380-8bba-11eb-82e3-0ae4c651b540.png)

[2021-03-23 16:33] JoshVanL commented on #3790
Thanks @cep21, am looking into this right now

[2021-03-23 16:44] vybber commented on #3790
yep same issue

[2021-03-23 16:47] ElArtista commented on #3513
I suppose this is the reason for this right now?
[code]

[2021-03-23 16:52] JoshVanL commented on #3790
The issue should now be resolved. Do let us know if that isn't the case.

I will leave this issue open for a period of time in case the problem returns, then close.

[2021-03-23 16:52] JoshVanL commented on #3790
Whoops!

[2021-03-23 16:52] ElArtista commented on #3513
And its back.

[2021-03-23 16:54] simplyzee commented on #3513
That's correct. I've reverted the deployment mechanism for now. There are a few differences between the version we're running and the version (0.13.1) that we want to move to which causes some complications with the deployment process. It might be the case we'll have to run a separate deployment for this all together to move forward and then slowly terminate the current instance that is running.

[2021-03-23 16:57] simplyzee commented on #3790
I've made an update here about the downtime - https://github.com/jetstack/cert-manager/issues/3513#issuecomment-805064439

Apologies for the outage.

[2021-03-23 17:29] andremcdecarvalho commented on #3790
Any resolution for this in the meanwhile?

[2021-03-23 17:42] cep21 commented on #3790
Thank you so much for the speedy resolution @JoshVanL  !

It should be resolved now.  Personally, given the recent [quay.io downtime](https://status.quay.io/incidents/vfs19hmq660h) it's very motivating to use a read thru cache such as https://goharbor.io/ for my helm charts.

[2021-03-23 20:04] paultiplady commented on #3298
I'd like to add a different use-case example for this feature request.

I use review apps. I create a fresh namespace & copy of my app per Pull Request. I wire up certs and DNS on the review app so that it's a full production-like environment.

My ideal setup would be to have a fresh letsencrypt certificate per review-app, but that's not possible due to the weekly limit on cert issuance. So a fall

[2021-03-24 03:02] woodliu commented on #3501
Seems like that...

[2021-03-24 08:25] leshibily commented on #2576
Do we have an update on this ticket?

[2021-03-24 10:07] maelvls commented on #3619
Hi, I am taking a look at the issue today!

/assign

[2021-03-24 10:53] #3734 closed

[2021-03-24 11:16] #3740 closed

[2021-03-24 11:43] wallrj opened #3796 "Intermittent E2E test failure: ERROR: 1 setup jobs failed. Check logs above for details"
The E2E tests sometimes fail during setup with the message:

[code]
-- https://prow.build-infra.jetstack.net/view/gcs/jetstack-logs/pr-logs/pull/jetstack_cert-manager/3647/pull-cert-manager-e2e-v1-20/1359494849920765955#1:build-log.txt%3A668 (thanks @irbekrm )

The setup jobs are launched as background shell jobs:
 * https://github.com/jetstack/cert-manager/blob/7204284063702358164713379b07b73642e

[2021-03-24 12:17] wallrj commented on #2891
Sounds promising @edeediong

Maybe you could start with a `./hack/update-helm-doc.sh` script which would directly update the [README.template.md file](https://github.com/jetstack/cert-manager/blob/master/deploy/charts/cert-manager/README.template.md)

And an accompanying `./hack/verify-helm-doc.sh` script which exits with a >0 exit code and a diff if, after running `update-helm-docs.sh`, there are

[2021-03-24 12:21] wallrj commented on #2891
That sounds good. I see some discussion of this syntax in https://github.com/norwoodj/helm-docs/issues/67

I read https://github.com/norwoodj/helm-docs/issues/84 which suggests to me that if we uncomment `leaseDuration` field in the `values.yaml` file, but without a value, that helm will not change that value in the templates....but that needs testing.
And even still, that bug report suggests that

[2021-03-24 14:08] RinkiyaKeDad commented on #3796
/assign

[2021-03-24 15:17] hubstairs-admin opened #3798 "wildcard ceritficate domain: Failed to determine a valid solver configuration for the set of domains on the Order"
cert-manager: v1.2.0
Google kubernetes engine: v1.18

Hi,

I am unable to issue a certifcate like *.test.exemple.com with cert-manager
I do not why but cert-manager throw an error :
[code]

issuer.yaml:
[code]

certificate.yaml:
[code]

kubectl describe wildcard-certificate -n mynamespace:
[code]
have I forgotten something ?

[2021-03-24 16:48] tl-eddie-hoffman commented on #3775
Hey @irbekrm,

No worries, thanks.

I've already tried using the monitor labels and it did not work unfortunately.

[2021-03-24 18:47] rogaha commented on #3594
+1 same issue here

[2021-03-24 19:43] mvanmeerbeck opened #3799 "keystores generation when securing ingress"
Hi there!

I would like to use the certificates generated by cert-manager for ingress in my java app (trust-store.jks).
I've seen that there is a way to use your own certificate resource to ask for the keystores generation (spec:keystores)
https://cert-manager.io/next-docs/reference/api-docs/#cert-manager.io/v1alpha2.Certificate

But when i use cert-manager to secure ingress, I can't change the ce

[2021-03-25 04:15] bjethwan opened #3800 "Documentation requires more elaboration on the cert renewal behavior."
Documentation requires more elaboration on the cert renewal behavior.
It's not clear how the renewal work on a large cluster with up to 3k-5k certificates.
It's not clear if we can define a primetime window where we wouldn't want cert-manager to do the cert renewal.

**Environment details:**:
- Kubernetes version: 1.18.2
- Cloud-provider/provisioner: aws
- cert-manager version: v1..2.0
- Install m

[2021-03-25 04:18] bjethwan opened #3801 "Allow defining prime time windows where we don't want certificate renewal getting triggered"
Allow defining prime time windows where we don't want certificate renewal getting triggered.
This feature will help in keeping the production system running reliably in prime time.

**Environment details (remove if not applicable)**:
- Kubernetes version: 1.18.x
- Cloud-provider/provisioner: aws
- cert-manager version: v1.2.0
- Install method: argocd

/kind feature

[2021-03-25 09:09] sathieu commented on #2522
While waiting for https://github.com/istio/istio/issues/14598 to be fixed (there is no schedule yet), I propose the following solutions:
1. Add an option to [ingress-shim](https://github.com/jetstack/cert-manager/blob/master/pkg/controller/ingress-shim/sync.go) to force the target namespace. Proposed name: `--cluster-issuers-certificates-namespace`
1. Add this option to the `ClusterIssuer` CRD (Pr

[2021-03-25 09:20] #3663 closed

[2021-03-25 10:14] RinkiyaKeDad opened #3804 "support building for and from ARM"
**Is your feature request related to a problem? Please describe.**

Currently none of the build commands (like `bazel build //build:test-targets`) work when run from ARM based machines (M1 Macs). This not only makes it impossible to build images but also makes cert-manager development a bit tough.

**Describe the solution you'd like**

Support ARM architecture natively. If not possible then a work

[2021-03-25 13:37] maelvls commented on #3619
To reproduce the issue, I created the following chain:

[code]

<details>
<summary>📦 Manifests</summary>

[code]

</details>

I then looked at the `ca.crt` value in the `leaf-tls` secret (I took the below command [from here](https://serverfault.com/questions/590870/how-to-view-all-ssl-certificates-in-a-bundle); it displays each certificate of the chain):

[code]

As @yanjunli76 said above, only th

[2021-03-25 13:44] irbekrm commented on #3801
I think setting a specific time window would be possible using a custom policy, once we have support for that?

Policy design PR #3727

[2021-03-25 13:46] erikgb commented on #3619
@maelvls FWIW, I would expect `ca.crt` to only contain the root certificate, and `tls.crt` to contain the full certificate chain - in "proper order": leaf -> intermediate -> root.

[2021-03-25 13:52] erikgb commented on #3619
And the Vault issuer was fixed in this PR: https://github.com/jetstack/cert-manager/pull/3433. It would be nice if the CA issuer could do something equivalent.

[2021-03-25 14:08] maelvls commented on #3619
Thank you for the precision; you are right, it does not make sense to have a chain of certificates in the leaf's `ca.tls` 😅 I re-drqwn the diagram to make that clearer:

[code]

[2021-03-25 14:30] erikgb commented on #3619
@maelvls Thanks a lot for looking into this! ❤️ We have implemented a hack as a workaround currently, and would love to see this fixed. I have a feeling the CA issuer was designed without intermediate CA in mind, and that is ok. But in our case we need it.

I am not sure if I completely understand your diagram, but I think it is ok. 😅 Please let me know if you need further input from us! And/or if

[2021-03-25 14:51] KlavsKlavsen opened #3808 "Supporting traefik IngressRoute objects?"
Traefik v2 decided to implement IngressRoute CRD - which replaces Ingress objects and has much nicer support for setting everything you need(tm :)
https://doc.traefik.io/traefik/v2.4/routing/providers/kubernetes-crd/#kind-ingressroute

It would be very nice, if cert-manager would add support of detecting and working with this, at does with Ingress objects today?

[2021-03-25 15:36] maelvls commented on #3619
@erikgb Sorry for my confusing diagram! I updated it with more explanations, does it help? 😅

Now waiting for feedback from @irbekrm, @jakexks, @SgtCoDFish!

[2021-03-25 15:40] salmanahmed404 opened #3809 "Semantic equality check for checks present in controller packages"
As mentioned [here](https://github.com/jetstack/cert-manager/pull/3786#issuecomment-806490482) by @irbekrm  `reflect.DeepEqual` can be replaced with semantic equality checks that is present, for example [here](https://github.com/jetstack/cert-manager/blob/master/pkg/controller/acmeorders/sync.go#L51) and in other controller packages.

/kind cleanup

[2021-03-25 15:47] salmanahmed404 commented on #3809
/assign

[2021-03-25 17:30] irbekrm commented on #3756
Hi, that's interesting, it should have worked I think.

Is it correct that you are using deploying with Helm and were passing these values via values file to `helm install` command?

What version of `cert-manager` and `helm` are you using and would you perhaps be able to share the whole values file?

[2021-03-25 23:53] smacl opened #3810 "Certificates stuck issuing and unready after cert-manager restart"
**Describe the bug**:
In some situations, certificates that are issuing and unready when cert-manager restarts remain stuck in that state, seemingly permanently.

This seems to happen when cert-manager restarts after the cert has been reconciled, but the issuer is not yet ready.
So a CertificateRequest has been created, but the Certificate status is similar to the following:
[code]

After cert-man

[2021-03-26 08:38] RinkiyaKeDad commented on #3796
Hi @wallrj! I am relatively new to writing bash scripts so just wanted to confirm a few things:
1. [Here](https://github.com/jetstack/cert-manager/blob/7204284063702358164713379b07b73642ea9bec/devel/setup-e2e-deps.sh#L63) `wait $job` returns a boolean value right? And if that is `false` then `EXIT` is incremented. So that would mean the simplest solution you were referring to would have this pseud

[2021-03-26 09:31] irbekrm commented on #3804
Hey @RinkiyaKeDad ,

Thank you for opening the issue and sorry you're having issues - we should definitely make sure `cert-manager` can be built/tested on `darwin/arm`,  `linux/arm` .

Could you please add some extra info`:

- what version of Bazel are you running? I am guessing that you might need a version of Bazel that includes [this PR](https://github.com/bazelbuild/bazel/commit/8c7e11a81c3556

[2021-03-26 11:13] #3458 closed

[2021-03-26 11:57] SgtCoDFish commented on #3619
I think this comment is a really good summary of how we want it to work, except I'd caveat that `tls.crt` shouldn't contain the root.

The motivation for this comes from [RFC 5246, section 7.4.2](https://tools.ietf.org/html/rfc5246#section-7.4.2):

I think I view `ca.crt` as informational; it shouldn't be directly used by clients. Distributing root certs is something I think is on the roadmap for

[2021-03-26 12:30] #3634 closed

[2021-03-26 12:53] SgtCoDFish commented on #3634
NB: #3760 doesn't _fix_ this per-se, but it does add a warning when this situation happens. There was pushback on adding e.g. a default DN to the cert if it would've been empty, so the warning works for now :smile:

[2021-03-26 13:23] jglick commented on #3634
Thanks! I think the tl;dr remains the same: you cannot use `selfSigned` with Java; you must use `ca`.

[2021-03-26 13:24] irbekrm commented on #3603
We have released an alpha release that, between other, has the PR that hopefully would fix the multiple `CertificateRequest`s during one renewal cycle https://github.com/jetstack/cert-manager/releases/tag/v1.3.0-alpha.0 in case anyone would like to test this.
We are looking to release v1.3.0 early April.

Any feedback would be very welcome- it's important to us that this gets fixed 🙏🏼

A note to a

[2021-03-26 14:11] SgtCoDFish commented on #3634
I think you _can_, but you need to make sure that the issued cert has a subject defined. So, in your Certificate which uses your SelfSigned Issuer, you'd have to be sure to set an [X509Subject](https://cert-manager.io/docs/reference/api-docs/#cert-manager.io/v1.X509Subject).

That's the missing bit - if the subject is empty then the issuer will be empty and the cert will be invalid. But you do hav

[2021-03-26 14:38] jglick commented on #3634
Not sure what concretely that looks like. As in https://github.com/jetstack/cert-manager/issues/3634#issuecomment-774319673 my (quite possibly faulty) interpretation of your advice did not work: while `keytool -import` accepted it, actual usages of `HttpsURLConnection` failed. Switching to `ca` fixed things.

If I can find some time I will put together a self-contained demonstration, maybe in Helm

[2021-03-26 14:48] RinkiyaKeDad commented on #3804
Hi @irbekrm!

1. I'm running `bazel 4.0.0-homebrew`. That is the [latest release](https://github.com/bazelbuild/bazel/releases/tag/4.0.0) and was released on 21st Jan but the [link you mentioned](https://github.com/bazelbuild/bazel/commit/8c7e11a81c35563d951062fe6f00e4e85b3009fb) is of 27th Jan so I'm not sure if that PR is included or not. I will try the instructions mentioned in [this comment](h

[2021-03-26 14:51] SgtCoDFish commented on #3634
Sure, if you could give an example like that I'd be happy to take a look, either here or in #cert-manager-dev on kubernetes slack :+1:

[2021-03-26 15:20] #3434 closed

[2021-03-26 16:01] irbekrm commented on #3804
Thank you for the logs!

I think these logs are from running a test target which probably would not work without an explicit platform flag since we only support [amd64 test platforms](https://github.com/jetstack/cert-manager/blob/master/build/platforms.bzl#L47).

Perhaps you could include the logs for running something like `bazel build //cmd/ctl/...` - that I though would have worked on darwin/ar

[2021-03-26 16:29] venkatjk commented on #3756
Please find the values file and yes i am deploying using helm

Thank you
venkat k

On Thu, Mar 25, 2021 at 5:31 PM Irbe Krumina ***@***.***>
wrote:

# Please edit the object below. Lines beginning with a '#' will be ignored,
# and an empty file will abort the edit. If an error occurs while saving this file will be
# reopened with the relevant failures.
#
apiVersion: apps/v1
kind: Deployment
metada

[2021-03-26 16:51] irbekrm commented on #3756
Hi, thanks for the log!
There are three separate deployments created for cert-manager
[code]
 The affinity blocks should get added one to each of those deployments- from the yaml you posted I see that they have all three been added to the single controller deployment.

Do you have the values file that you passed to the install command?

i.e if you deployed with helm you would have passed it to the

[2021-03-26 17:00] venkatjk commented on #3756
ok i will try and let you know

On Fri, Mar 26, 2021 at 4:51 PM Irbe Krumina ***@***.***>
wrote:

[2021-03-26 18:22] erikgb commented on #3619
@SgtCoDFish Why do you think it better to leave out the root (self-signed) certificate in `tls.crt`? The specification states that the root certificate authority **MAY** be omitted from the chain. On the contrary, I think cert-manager should include the root sertificate as well, to make the certificate chain in `tls.crt` complete, if cert-manager has the root certificate. Even if it is just  infor

[2021-03-27 00:47] henrytseng opened #3812 "CustomResourceDefinition.apiextensions.k8s.io creation error with"
**Describe the bug**:
While installing ran into error while creating the custom resource "challenges.acme.cert-manager.io"

`kubectl apply -f https://github.com/jetstack/cert-manager/releases/download/v1.2.0/cert-manager.yaml`

Received this

[code]

**Expected behaviour**:
Expect for the custom resource to be created.

**Steps to reproduce the bug**:
1. Setup cluster on GKE running 1.18
2. Run `k

[2021-03-27 09:54] maelvls commented on #3513
Hi! Do we have made progress?

I'm not sure how to move forward 😅

[2021-03-27 10:23] mhyousefi commented on #3772
Hey @irbekrm
Thanks for the reply and sorry for my long delay in responding.

The issue described in the link you sent is quite similar to that I'm facing, though not caused by an initial sync. To be precise, in one of my clusters, I have 50 to 70 `challenge` objects that remain in the pending state due to incorrect DNS records (knowingly so). The `cm-` pods and ingresses are created and are left

[2021-03-27 11:29] irbekrm commented on #3812
Hey @henrytseng ,

I tried to reproduce this issue, but could not.
I think there has been a similar issue [in the past](https://github.com/kubernetes-sigs/controller-tools/issues/279), but I thought that this has been fixed.
If you pass `--validate=false` to the apply command, does it then work?

Not sure if that matters here, but what version of `kubectl` are you using? Also, I guess this is a 's

[2021-03-27 12:43] andreas-p opened #3813 "Cert renew loop when Vault TTL is 30d"
The cert-manager doc states about renewBefore `If unset this defaults to 30 days. If this value is greater than the total duration of the certificate (i.e. notAfter - notBefore), it will be automatically renewed 2/3rds of the way through the certificate's duration.`

If the CA issues the cert with 30d TTL, the 2/3 rule won't apply; instead, the cert will be renewed immediately, ultimately leading

[2021-03-27 14:42] henrytseng commented on #3812
I used the helm installation version and the error doesn't seem to be repeatable.

[2021-03-27 14:42] #3812 closed

[2021-03-27 15:05] lbm commented on #494
For anyone that reaches this thread via a web search, I recently wrote a blog post detailing how I solved this problem for my particular requirements. I wasn't able to find a place online where all of these steps were nicely collated, so I hope this might be of use to some people:

[Using Wildcard Certificates with Traefik and K3s](https://lachlan.io/blog/using-wildcard-certificates-with-traefik-a

[2021-03-27 17:50] erikgb commented on #3619
Another comment (reminder), that might be obvious/superfluous? I think we should make sure that it is possible to use any number of intermediate CAs for the CA issuer. If the certificate chain for the CA issuer e.g. looks like this:
[code]
The certificate issued by cert-manager should be (in `tls.crt`): `leaf -> ca-issuer -> intermediate3 -> intermediate2 -> intermediate1 -> root`.

To configure t

[2021-03-28 04:01] hbagwas commented on #3800
any updates on this from cert-manager maintainers?

[2021-03-28 04:11] bjethwan opened #3814 "Can `cert-manager.io/cluster-issuer: nameOfClusterIssuer` annotation be made to work on a namespace?"
Can `cert-manager.io/cluster-issuer: nameOfClusterIssuer` be made to work on a namespace?
As I wanted to generate a wildcard based certificate per k8s namespace, something like *.namespace.svc.cluster.local
I don't want to keep creating a Certificate CRD object per namespace.
If it's not possible today, can you set me up in the right direction

**Environment details:**:
- Kubernetes version: 1.18.

[2021-03-28 07:02] RinkiyaKeDad commented on #3804
Logs from running `bazel build //cmd/ctl/...`:
[code]

Logs from running `bazel build --platforms=@io_bazel_rules_go//go/toolchain:darwin_amd64 //cmd/ctl/...`:
[code]

[2021-03-28 16:30] gerrywastaken commented on #2752
Just had a an issue with certmanager deploy using installCRDs but via pulumi where the resource name was different to the chart name resulting in the service being called: `resource-name-cert-manager-webhook`, but cert manager contuning to look for `cert-manager-webhook` without the resource name prefix.

[code]

I'm not sure if this is an issue with Cert manager or Pulumi, but I thought I'd post

[2021-03-28 21:18] Elettronik commented on #3594
+1 found here too

[2021-03-28 21:36] matthewerwin commented on #2954
@dirkbolte I'm seeing the same thing in 1.2.0 and 1.3.0-alpha0 with K8s 1.19

[2021-03-29 05:40] agoloAbbas commented on #3495
deleting only `cert-manager-webhook-tls` and `cert-manager-webhook-ca` secrets fixed it for me. I also think only deleting `cert-manager-webhook-tls` might have solved it.

[2021-03-29 07:09] meyskens commented on #2954
Judging from the challenge describe the issue seems to be a failing self-check rather than the 405 from ACME (altough I have no idea how that happens...) I would suggest calling the URL from inside the cluster to see what is happening (more info https://cert-manager.io/docs/faq/acme/)

[2021-03-29 08:40] #3809 closed

[2021-03-29 08:58] SgtCoDFish commented on #3619
You make an interesting point, but in this case, though, I think I'd argue that information actually does hurt.

For example, the root CA I trust to be able to connect to github.com and write this comment is 1.4kB (1360B). That's not a trivial overhead to impose for purely informational purposes for developers, in my view. That's a fairly significant percentage of the size of the entire TLS handsh

[2021-03-29 09:03] munnerz commented on #3619
+1 that the ca.crt should be best effort, and should be the only place the
root self signed cert should be stored.

There has been a previous discussion on this, which ultimately led to it
being documented in the ‘Concepts’ section:
https://cert-manager.io/docs/concepts/certificate/

certificate will be stored in the secret with key ca.crt. For example, with
the ACME issuer, the CA is not known an

[2021-03-29 09:25] irbekrm commented on #3220
/assign

[2021-03-29 09:28] erikgb commented on #3619
@SgtCoDFish @munnerz Thanks a lot for your involvement in this issue. After reading through your comments, I think we all agree? I did not think about the potential overhead of actually sending the root certificate over the wire. Thanks for clarifying this (to me) @SgtCoDFish! 🙏

[2021-03-29 10:48] irbekrm commented on #3800
Hi @bjethwan ,

Thanks for opening the issue!

As far as I'm aware it is not possible right now. You might be able to implement this kind of functionality using an external policy engine once we have support for that #3727

Could you elaborate on this question?
We don't really state maximum number of certs per cluster as that would depend on other factors, such as how much resources you allocate t

[2021-03-29 14:00] maelvls commented on #3790
The issue seems to have been resolved now. Feel free to open a new issue (or re-open this issue) if this is still an issue.

/close

[2021-03-29 14:00] #3790 closed

[2021-03-29 14:05] maelvls commented on #3619
Agreed, looks like we have reached a consensus! It seems to fit the "good first issue" label since the issue is self-contained and well-scoped and is an interesting first take for anyone interested in X.509!

/good-first-issue

[2021-03-29 14:46] munnerz commented on #3237
No - this would be a feature request for Kubernetes itself.

I agree that this should ideally work, but I also suspect that this behaviour demonstrated here also breaks Kubernetes conformance:

This seems like the kube-apiserver is expecting the DNS name to be `cert-manager-webhook.cert-manager.svc` (as it should), yet it is for some reason valid for a `.computer.internal` internal AWS name of som

[2021-03-29 15:06] munnerz commented on #3220
I think this is the best course of action to be totally honest - we could also make using of the new 'Warnings' API via the webhook to report to users that their value will be ignored. A compliant ACME server should not trip up on us ignoring this value, so I think we'll be okay.

[2021-03-29 15:07] munnerz commented on #3220
Great bit of digging in/research/analysis too @irbekrm 😄 🚀

[2021-03-29 15:10] munnerz commented on #3814
This isn't something that is supported in any way today.

I'd err on the side of "no", simply to avoid the additional watch on Namespace objects that for the majority of users, probably isn't required (though it'd be great to hear from the wider community on this). Also, the amount of configuration that may be requested (e.g. additional parameters/configuration options) on the Namespace level coul

[2021-03-29 15:27] irbekrm commented on #3220
Thanks @munnerz ! I didn't know about the Warnings API 👀

I'll probably be looking at forking the latest upstream `golang.org/x/crypto` to `cert-manager` org with @meyskens [latest commit](https://github.com/meyskens/crypto/commit/ed5f755c63952e93e87862113a4bdbe8f0534603) on top and once we are using that then looking at what we could do with `FetchCertAlternatives` 😄

[2021-03-29 15:53] SgtCoDFish commented on #3761
That list of steps is absolute solid gold, thanks :+1:

My initial thinking here is to define a really simple process to get the ball rolling:

- Everything documented on the main cert-manager repo under `SECURITY.md`
- Applicability is "all repos under the cert-manager org, plus jetstack/cert-manager" (pending that repo being moved across when it can be)
- Contact address is the cert-manager team

[2021-03-29 17:13] ElArtista opened #3819 "Incorrect secret name generated"
Using the following simple ingress definition:
[code]

I get the 404 after adding the tls block, and the ingress logs show:
[code]

Because the generated secret is incorrectly named:
[code]

[2021-03-29 18:11] matthewerwin commented on #2954
I found this issue caused by situations where there is a forward-zone in DNS. Essentially a split-horizon DNS scenario. So if you're running say Cloudflare and behind that Route53 and only passing some sub-domains via an NS record that this occurs.

So essentially it seems that there is a self-check limitation on the propagation based on the cert-manager limitation. The cert-manager design team wa

[2021-03-29 19:00] irbekrm commented on #3220
The second bit is [`FetchCertAlternatives`](https://github.com/meyskens/crypto/blob/eab-plus-altcerts/acme/acme.go#L328) that is needed so that we can allow users to specify an [alternative certificate chain](https://cert-manager.io/docs/release-notes/release-notes-1.0/#preferred-chain) to be fetched from an ACME server.

There is an [accepted CL](https://go-review.googlesource.com/c/crypto/+/2772

[2021-03-29 20:21] ElArtista commented on #3819
Seems that this was an intermediate secret and due to some bad configuration it did not find the relevant root CA Cert secret to create the CA Issuer, can be closed.

[2021-03-29 20:21] #3819 closed

[2021-03-30 06:43] mhyousefi opened #3820 "Controller fails to process new certs when there are a large number of pending ones"
This issue is a duplicate of https://github.com/jetstack/cert-manager/issues/3772. I thought it'd be more appropriate to present this as a bug as my concern is not to be able to adjust the control loop size, but rather to prevent any certificates from getting stuck in the issuing process.

**Describe the bug**:
In one of my clusters, I have about 60 `challenge` objects that remain in the pending s

[2021-03-30 06:46] #3772 closed

[2021-03-30 07:30] MaximilianMeister commented on #2752
@gerrywastaken I think it's not related to Pulumi, as I just ran into the same issue without Pulumi.

I had to downgrade to https://github.com/jetstack/cert-manager/releases/tag/v1.1.1 to make it work. There is also some comment regading the `installCRDs` flag in the release notes

[2021-03-30 08:19] irbekrm commented on #3820
Hi @mhyousefi ,

Thank you for the great description. We'll try to reproduce this.

If it's at all possible, would you be able to add a full log from the `cert-manager` controller (or perhaps a section)- so we can see what is happening when it's stuck? (There could be, for example, a race condition between the [different control loops](https://github.com/jetstack/cert-manager/tree/master/pkg/contr

[2021-03-30 11:06] SgtCoDFish commented on #3761
https://groups.google.com/g/cert-manager-security

I've created this group, with @irbekrm @jakexks @JoshVanL @maelvls @wallrj and myself as owners. Only owners should be able to see messages, but anyone can send reports to that email (tested with my personal email).

It doesn't seem possible to make the owners of the group visible externally without allowing people to join the group, which seems l

[2021-03-30 11:21] gerardgorrion opened #3821 "Error updating from 0.16 to 1.0 version"
**Describe the bug**:
We are using cert manager (0.16) into kubernetes (1.17) and want to update to include new features.
When try to update the cert manager to 1.0, documentation recomend this procedure to do it:
[https://cert-manager.io/docs/installation/upgrading/upgrading-0.16-1.0/](https://cert-manager.io/docs/installation/upgrading/upgrading-0.16-1.0/)
The problem was when try to do it, the

[2021-03-30 11:23] yurymuski commented on #1661
HI, faced the same issue:
version: v1.2.0
Domain got lots of TXT records during time

[2021-03-30 11:37] irbekrm opened #3822 "Use go/x/crypto functionality for ACME External Account Binding"
We currently use [a fork](https://github.com/meyskens/crypto) of [golang/crypto](https://github.com/golang/crypto) library - see #3220 for context.

There are two bits of functionality that our fork implements on top of an older version of upstream- support for [ACME External Account Binding](https://tools.ietf.org/html/rfc8555#section-7.3.4) and support for fetching [alternative certificate chain

[2021-03-30 11:37] irbekrm commented on #3822
/assign

[2021-03-30 11:53] irbekrm commented on #3821
Hi @gerardgorrion ,

Did the `Certificate` not get renewed at the time you were expecting it to be renewed?

These errors can be a bit misleading- usually `cert-manager` recovers from them, see #3794

[2021-03-30 12:18] gerardgorrion commented on #3821
Hi @irbekrm , how can I check if the renewal work fine if the renew time for certificate is 3 months?

We try to delete manually secret and cert to force renew cert, but the chances to do this operation are limited by rate-limit request (we have a dns locked with 429 - too many certificates already issued for exact set of domains).

The procedure to create cert-manager and restore backup seem like

[2021-03-30 13:57] yurymuski commented on #1661
It may be useful to clean all acme TXT using `doctl`
`doctl compute domain records list YOUR_DOMAIN | grep _acme-challenge | awk '{print $1}' | xargs doctl compute domain records delete YOUR_DOMAIN -f`

[2021-03-30 14:31] jbw815 commented on #3185
We got this error also because the helm chart for v1.2.0 wasn't updating the namespace in all locations.  Several places were still using default as the namespace.  We were installing it into cert-manager.  We are installing from a helm v3 template.  Once we have the template created we are using the following to fix this and other issues:
# The following replaces default which is both in quotes a

[2021-03-30 15:07] irbekrm commented on #3821
You can check whether `Certificate` is in a `Ready` state and if `status.renewalTime` is set to the correct date? Did those log lines appear just a few times, or are they still being emitted? If no and the cert looks good, I would assume it will get renewed as expected.

Are there any other errors or some resources that are not ready, etc?

If you see this log line a few times it is normal. We ref

[2021-03-31 03:39] aswanevelder commented on #3261
I have the same issue and when I describe the challenge it seems to be stuck. The HTTP01 challenge is valid and does return but nothing happens. The clusterissuer is True.

[code]

[2021-03-31 08:14] ahmadbabaei opened #3824 "http01 challange creates an invalid ingress resource when ingress class is set"
**Describe the bug**:

The cert-manager version I am using is `1.2.0` and the nginx-ingress version is `0.44.0` and they are deployed on a K8s cluster version `1.18.15`.

These are part of the parameters set for the nginx-ingress controller:
[code]

as you can see I am using a custom ingress class and annotation-prefix.
This is an example of my ingress resource:
[code]

this is the cluster issuer

[2021-03-31 08:57] RinkiyaKeDad opened #3825 "restoring parallel setup behaviour for e2e tests"
**Is your feature request related to a problem? Please describe.**

In order to address issue #3796, PR #3815 runs the e2e tests in series one after the other. It would be nice to run the tests in parallel again as that would lead to all the tests completing earlier.

**Describe the solution you'd like**

We can run the tests in parallel and keep track of which ones failed and then show their logs

[2021-03-31 09:00] gerardgorrion opened #3826 "Error re-connecting fluxcd after cert-manager update 1.0.4 procedure"
**Describe the bug**:

When restore certificates from backup (updating cert-manager with below link: [https://cert-manager.io/docs/installation/upgrading/upgrading-0.16-1.0/](https://cert-manager.io/docs/installation/upgrading/upgrading-0.16-1.0/) ), whe update our certificates allocated in our repo (version v1alpha2 to v1) connected with flux, flux show error that can't manage this cert. Exported

[2021-03-31 09:47] RinkiyaKeDad commented on #3620
/assign @RinkiyaKeDad

[2021-03-31 09:57] irbekrm opened #3827 "All Prow tests currently marked as failing"
Currently we have all the prow tests in testgrid red due to `podinfo.json not found..` https://testgrid.k8s.io/jetstack-cert-manager-website#cert-manager-website-update-index

/kind bug

[2021-03-31 10:21] RinkiyaKeDad commented on #3825
/good-first-issue

[2021-03-31 10:36] gerardgorrion commented on #3512
@alv3ener same issue here. Seem like the resource changes some attribute and fluxcd can not apply after restore it. Some idea to how to manage this cert imported with the same code that was created with fluxcd??

[2021-03-31 16:42] maelvls commented on #3512
@irbekrm I'm not sure how to help out here 😞  Ideas?

[2021-03-31 18:33] irbekrm commented on #3827
[Here](https://github.com/kubernetes/test-infra/issues/21126) is a discussion as to why this happens.

I guess we could either disable the podinfo or install the GCS reporter.

[2021-03-31 18:52] irbekrm commented on #3827
/assign

[2021-04-01 07:19] maelvls commented on #3513
Hi! Did we make any progress on this? 😇

[2021-04-01 08:31] maelvls opened #3837 "Prow: investigate the many setup failures"
We have been seeing a lot of setup failures recently. These setup failures happen in the [pull-cert-manager-e2e-v1-20](https://prow.build-infra.jetstack.net/?job=pull-cert-manager-e2e-v1-20) job. The last lines always look similar to:

[code]

/kind bug
/area testing
/priority important-soon

[2021-04-01 08:47] simplyzee commented on #3513
Hi!

Yes, the ingress path is now exposed for the artifacthub but its still currently returning a 404. I vaguely remember you saying it should be OK to use the existing chart release with this? In this case, i'm wondering if we might need to upgrade the chart museum release to see if it makes any difference. I've also updated the redirect.

I've also noticed it serves an index.yaml file that's not

[2021-04-01 08:55] maelvls commented on #3513
/assign @simplyzee

[2021-04-01 09:01] maelvls commented on #3642
Still to be done: add documentation on https://cert-manager.io/docs/contributing/e2e/ about the temporary use of

[code]

[2021-04-01 09:05] maelvls commented on #3610
TBD for v1.3: document on https://cert-manager.io the workaround/limitation for `acme-dns`

[2021-04-01 09:05] maelvls commented on #3610
/assign

[2021-04-01 09:17] maelvls commented on #3486
**Update:** It is almost impossible to know what is sane and what is not because there are always people with specific requirements. We decided to not continue with this work. This issue was initially exacerbated due to the certificate requests not being cleaned up, which has been fixed in #3458.

**Future work:** the higher-level goal is to avoid cert-manager get into a hot-loop trying to reissue

[2021-04-01 09:17] #3486 closed

[2021-04-01 09:20] maelvls commented on #3413
Related: https://github.com/cert-manager/website/pull/452

[2021-04-01 09:21] maelvls commented on #3726
Related: https://github.com/cert-manager/website/pull/452

[2021-04-01 09:23] maelvls commented on #3390
I'm not sure about what has to be done before v1.3, could you look at this @jakexks? 🙏

Ingress builder might help: https://ingressbuilder.jetstack.io/

[2021-04-01 10:20] maelvls commented on #3390
/assign @jakexks

[2021-04-01 10:31] maelvls commented on #3390
As per https://github.com/jetstack/cert-manager/pull/3499, we want to keep this issue open until **1.19 has become the minimal supported version** for cert-manager and before we start supporting 1.22 in cert-manager. When this is the case, we will be able to switch from `networking.k8s.io/v1beta1` to `networking.k8s.io/v1` and close this issue.

/milestone Next

[2021-04-01 10:36] maelvls commented on #3289
From @wallrj:

[code]

We can do this now.

/assign @wallrj

[2021-04-01 10:39] maelvls commented on #3250
Will be fixed for v1.3. TBD: the PR review of #3444.

[2021-04-01 10:40] irbekrm commented on #3289
I guess that we cannot update `apiregistration.k8s.io/v1beta1` yet? I guess if it's deprecated in v1.19 then the new version only came out then?

[2021-04-01 10:41] maelvls commented on #2930
Are we looking good for v1.3? 😇 @jakexks

[2021-04-01 10:43] maelvls commented on #2868
TBD for v1.3: Irbe to rebase PR + needs another pair of eyes to take a look (I'll look into it).

[2021-04-01 10:45] maelvls commented on #3703
What still needs to be done for the v1.3 release? @JoshVanL

[2021-04-01 10:48] maelvls commented on #3704
Not important for v1.3, we can postpone.

/milestone Next

[2021-04-01 12:07] SoundaryaA3098 opened #3839 "Ingress with cert-manager and clusterIssuer is opening in an insecured mode with warning and not as https"
I am trying to create an ingress for a service with service type as clusterIP in an AKS cluster where I have installed haproxy ingress controller. I have deployed cert-manager and clusterIssuer already in the cluster. I am attaching the contents of ingress.yaml file I have used,

[code]

The issue is, the mentioned secret nginx-ingress-tls is getting created and deleted after 10-15 secs. Because o

[2021-04-01 12:56] andrzejczepiel opened #3840 "cert-manager update to v1.2.0 "message": "error when creating \"build/full.yaml\": Internal error occurred: failed calling webhook \"webhook.cert-manager.io\": GITHUB actions"
Github action check fails when updating cert-manager to version 1.2.0

all works ok with version 0.15.
**Environment details:**:
GitHUb actions
Current runner version: '2.277.1'
ubuntu-latest 20.04.2
'engineerd/setup-kind@v0.5.0'
version: v0.9.0
image: kindest/node:v1.20.2

/kind bug

error in GHA CI

2021-03-30T11:02:19.1783824Z I0330 11:02:19.155671   15949 helpers.go:216] server response object

[2021-04-01 14:03] wallrj opened #3841 "Error in E2E test setup: Internal error occurred: failed calling webhook "webhook.cert-manager.io": Post "https://cert-manager-webhook.cert-manager.svc:443/mutate?timeout=10s": x509: certificate signed by unknown authority"
In #3815 @RinkiyaKeDad made it so that we would be able to easily see errors in the `./devel/addon/*/install.sh` scripts and now I think I've found one of these errors:
[code]
from: https://prow.build-infra.jetstack.net/view/gcs/jetstack-logs/pr-logs/pull/jetstack_cert-manager/3838/pull-cert-manager-e2e-v1-20/1377592354835271681#1:build-log.txt%3A369

/area testing
 /kind bug

[2021-04-01 14:28] wallrj commented on #3841
Oops probably a false alarm.
I'd broken cainjector in the PR where this error occurred: https://github.com/jetstack/cert-manager/pull/3838

[2021-04-01 14:28] #3841 closed

[2021-04-01 14:28] wallrj commented on #3841
[code]
https://storage.googleapis.com/jetstack-logs/pr-logs/pull/jetstack_cert-manager/3838/pull-cert-manager-e2e-v1-16/1377623812052357120/artifacts/cert-manager-e2e-logs/kind-control-plane/pods/cert-manager_cert-manager-cainjector-78fb9879cc-sqzcz_2548f19d-98bd-466c-9ef8-1dfb7dab2c12/cert-manager/1.log

[2021-04-01 14:58] kvaps opened #3842 "Issuing same certificate on different namespaces does not work"
**Describe the bug**:

When you create similar certificate resources on different namespaces, cert-manager marks it as `Ready` but certificate still contain self-signed key pair.

**Expected behaviour**:

Certificate issued for both namespaces

**Steps to reproduce the bug**:

- create cert.yaml:

[code]

- `kubectl create -f cert.yaml -n ns1`
- `kubectl create -f cert.yaml -n ns2`

Check the logs

[2021-04-01 16:01] maelvls commented on #3513
chartmuseum does not actually serve the files in the bucket directly. By default, chartmuseum only serves on path: `/index.yaml` which is generated dynamically by looping over all the `chart.tgz` in the bucket. It also stores a cache (`index-cache.yaml` os something like that)

That's probably why https://charts.jetstack.io/artifacthub-repo.yml won't work

[2021-04-02 03:04] illinar commented on #3137
For those running into the same problem — the underlying cause seems to be lack of connectivity to API server from the pods. When running in AKS with restricted egress you have to permit traffic from the pods to 443 on API server. (See https://docs.microsoft.com/en-us/azure/aks/limit-egress-traffic#azure-global-required-network-rules)

We initially ran into the same issue, verified that deploying

[2021-04-02 11:07] acsecengtesting opened #3843 "Two CSRs submitted upon renewal time with TPP on-prem clusterissuer."
I have a venafi TPP on-prem certificate management system and am issuing via a clusterissuer.
I am seeing two separate certificaterequests and although the first succeeds the second fails (as we prevent more than 2 concurrent certs with the same DN at the TPP/CA side). This leaves the certificate in a state where any subsequent activity (renewals etc..) will fail.

[events.txt](https://github.com/

[2021-04-02 11:59] maelvls opened #3844 "Add --version to the cert-manager-controller CLI"
One way of knowing the cert-manager-controller version that is running is to look at the image tag:

[code]

I also like to use SHA256  hashes instead of tags in order to guarantee that the image has not been tampered with at some point:

[code]

My workaround is to grep the first logline that the cert-manager-controller printed on startup:

[code]

But if you set a log rotation max size, you will

[2021-04-03 12:31] saikiran9824 opened #3845 "error when creating "management_cr.yaml": Internal error occurred: failed calling webhook "apiconnect.managementclusters.defaulter.management.apiconnect.ibm.com": Post "https://ibm-apiconnect.apiconnect.svc:443/mutate-management-apiconnect-ibm-com-v1beta1-managementcluster?timeout=10s": x509: certificate signed by unknown authority (possibly because of "crypto/rsa: verification error" while trying to verify candidate authority certificate "ibm-apiconnect-ca")"
**Describe the bug**:

**Expected behaviour**:

**Steps to reproduce the bug**:

**Anything else we need to know?**:

**Environment details:**:
- Kubernetes version: v1.19.9
- Cloud-provider/provisioner:
- cert-manager version: 0.10.1
- Install method: helm

/kind bug

[2021-04-03 14:24] irbekrm commented on #3845
Hi,

Thanks for opening the issue.

Could you try with a newer version of `cert-manager` i.e [`v1.2.0`](https://github.com/jetstack/cert-manager/releases/tag/v1.2.0) ?

[2021-04-03 14:30] irbekrm commented on #3843
Hi @acsecengtesting ,

Thanks for opening the issue.

There is a known issue where multiple `CertificateRequest`s get generated for a single renewal #3603 .

We implemented a fix in [`v1.3.0-alpha.0`](https://github.com/jetstack/cert-manager/releases/tag/v1.3.0-alpha.0).
The actual `v1.3.0` release should come out next week.

If you happen to have a chance to test the alpha release and see if it f

[2021-04-03 17:44] mhyousefi commented on #3820
Hi @irbekrm,

I was able to re-produce the issue simply by adding some `ingress` objects containing hosts with no DNS record. Then I created a valid ingress named `magic`. At the end of my comment, I've included the section of the `cert-manager` controller pod logs corresponding to when this `ingress` was created. Names and domains have been redacted, and the lines pertaining to the `magic` `ingre

[2021-04-04 05:23] mhyousefi commented on #3820
I would like to emphasize that re-producing this bug isn't really difficult. Simply
1. Create 50-70 `ingress`es containing hosts with no DNS record
2. Create one that has a valid host

Thanks for your time.

[2021-04-04 09:25] Stone624 commented on #466
@compumike This was the final step on 72 hour debugging journey to get my docker-compose app https accessible from Kubernetes ! THANK YOU !!!

[2021-04-04 09:33] acsecengtesting commented on #3843
I have applied the alpha release - I'll know tomorrow if it worked and will update the issue above.

[2021-04-04 11:17] erikgb commented on #3619
I will try to set up a PR to fix this!

/assign

[2021-04-04 20:05] hubstairs-admin commented on #3798
I try to uninstall and reinstall cert-manager, I am the same issue :/

[2021-04-05 04:14] jaxxstorm opened #3848 "Wildcard certificates not being resolved correctly."
I am trying to generate a wildcard certificate using digitalocean. The zone lookup is splitting the entry incorrectly.

**Describe the bug**:

I have a certificate like so:

[code]

Checking the logs, I can see that the call to the digitalocean domain is trying to lookup `.com.` domain, rather than `example.com`:

[code]

It looks like just a string split issue

**Expected behaviour**:
A certifica

[2021-04-05 05:36] saikiran9824 commented on #3845
Hi irbekrm,

I have updated the cert-manager version as you mentioned . But also i am facing same issue.

[2021-04-05 15:29] frabe1579 commented on #3565
Same issue for me, infinete creation of certificaterequest, one every 30-40 seconds; no orders and no challenges created.
Every certificate request has zero events and no status.
Some days before I've create three certificates with success.

This is a sample log from cert-manager:
[code]
cainjector is not involved, no special logs inside.

[2021-04-06 07:35] irbekrm commented on #3843
Thank you- it would be very useful for us to know.

[2021-04-06 07:52] irbekrm opened #3849 "Make debugging e2e tests locally easier"
We could make running e2e tests locally selectively and debugging them easier by:

- allowing for specific test cases to be selected/skipped via setting env vars (the values of the env vars could become values of `-focus` and `-skip` flags to ginkgo [here](https://github.com/jetstack/cert-manager/blob/master/devel/run-e2e.sh#L42))
- allowing for resources created during tests (i.e `Certificate`s,

[2021-04-06 10:10] maelvls commented on #3513
Should we postpone this to v1.4 (v1.4 code freeze: [Fri 7 June 2021](https://docs.google.com/document/d/1Tc5t6ylY9dhXAan1OjOoldeaoys1Yh4Ir710ATfBa5U/edit#bookmark=kix.8a98ch6d7b))? @simplyzee

[2021-04-06 10:49] RinkiyaKeDad commented on #3804
Yaaaay @irbekrm!

`bazel build //cmd/ctl/... ` worked:
[code]

Thanks for fixing this!

[2021-04-06 10:55] RinkiyaKeDad commented on #3804
The strange thing is that `bazel build //build:test-targets` is still failing 🤔
Let me know if you need me to test something out 🙂

[2021-04-06 11:08] skdasari-inndata opened #3851 "unable to delete challenge :'"
**Describe the bug**:

**Expected behaviour**: Delete the challenge

The challenge is stuck in my namespace and not getting deleted even if I force delete it.

Really sorry for weird formatting. This is my first time posting an issue.

warning: Immediate deletion does not wait for confirmation that the running resource has been terminated. The resource may continue to run on the cluster indefinite

[2021-04-06 11:48] irbekrm commented on #3804
Hey, really glad we're closer to fixing this!
`bazel build //build:test-targets` will fail because we have a hardcoded set of test platforms that doesn't include `arm`, but I will create an issue and add that.
Out of interest, does `bazel test --platforms=@io_bazel_rules_go//go/toolchain:darwin_amd64 //build:test-targets` fail too?

Thanks for all the help so far! Once I add the arm targets, it wo

[2021-04-06 12:19] captnbp opened #3852 "Be able to specify a serviceAccount for the HTTP01 ACME solver pod"
When deploying cert-manager using the Helm chart, we can specify the serviceAccount to use for:

- the Webohook
- the CA injector
- the deployment

But we can't specify it for the HTTP01 ACME solver pod.

The problems with this are:

- If the default serviceAccount is disabled, we need to provide a custom one
- We can't use a serviceAccount with linked imagePullSecrets to be able to pull the solve

[2021-04-06 12:20] captnbp commented on #3852
PR is: #3817
Submitter @primael

[2021-04-06 12:38] captnbp opened #3853 "Be able to specify the imagePullSecret to use for the HTTP01 ACME solver pod"
When cert-manager create the HTTP01 ACME solver pod, when can specify:

- The image: `--acme-http01-solver-image`
- The serviceAccount (##3817): `--acme-http01-solver-service-account` in the controller, or in the PodTemplate of the issuer.
- The resources

But we can't specify the imagePullSecret to use.

This is an issue for:

- Air gapped environments with private registries
- Docker Hub rate li

[2021-04-06 12:42] captnbp opened #3854 "Be able to specify custom labels to the HTTP01 ACME solver pod"
Every resource in Kubernetes can have labels.

Labels have many usage (inventory, monitoring, network policies, etc)

We can already specify labels for all cert-manager objects, but not for the acme-http01-solver pod.

We want to be at least able to set commonly used labels (ie. https://helm.sh/docs/chart_best_practices/labels/) but also organization specific labels.

@primael will submit a PR to

[2021-04-06 12:44] captnbp opened #3855 "Be able to specify custom annotations to the HTTP01 ACME solver pod"
Every resource in Kubernetes can have annotations.

Labels have many usage (inventory, monitoring, network policies, auto-configuration, etc)

We can already specify annotations for all cert-manager objects, but not for the acme-http01-solver pod.

We want to be at least able to set custom labels.

@primael will submit a PR to add a controller option to set custom annotations.

/kind feature

[2021-04-06 12:52] SgtCoDFish commented on #3761
@micahhausler do the steps in [this comment](https://github.com/jetstack/cert-manager/issues/3761#issuecomment-809493528) seem reasonable to you?

I'm looking to get PRs raised and merged for adding security contact details soon.

[2021-04-06 13:06] primael commented on #3852
PR is #3856 for image pull secret

[2021-04-06 13:21] RinkiyaKeDad commented on #3804
Yup that works too. It says "Build completed successfully" after running that command but I do see some weird messages in the output:
[code]

Although I don't think so they have something to do with this issue.

[2021-04-06 13:35] munnerz commented on #3852
This should be added as a field in the API, *not* as a flag to the controller: https://github.com/jetstack/cert-manager/blob/2abafa18be128cd337ace1cc281ad1518a67b516/pkg/apis/acme/v1/types_issuer.go#L237-L251

[2021-04-06 13:36] munnerz commented on #3853
Similar to #3852, this should be added as a field in our API rather than as a flag to the controller: https://github.com/jetstack/cert-manager/blob/2abafa18be128cd337ace1cc281ad1518a67b516/pkg/apis/acme/v1/types_issuer.go#L237-L251

[2021-04-06 13:36] munnerz commented on #3855
This is already possible as configuration on the Issuer resource: https://github.com/jetstack/cert-manager/blob/2abafa18be128cd337ace1cc281ad1518a67b516/pkg/apis/acme/v1/types_issuer.go#L237-L251 (same for labels)

[2021-04-06 13:37] munnerz commented on #3854
As per #3855, this is already possible: https://github.com/jetstack/cert-manager/blob/2abafa18be128cd337ace1cc281ad1518a67b516/pkg/apis/acme/v1/types_issuer.go#L237-L251

[2021-04-06 13:39] munnerz commented on #3845
This issue is missing a lot of context and details. Please fill in the issue template _at the very least_ - just the error message here does not allow any ability to further debug, and based on the limited info available it seems like your error resides with the `"apiconnect.managementclusters.defaulter.management.apiconnect.ibm.com"` webhook.

[2021-04-06 13:39] #3845 closed

[2021-04-06 13:40] munnerz commented on #3854
Closing as I think this is already resolved :)

[2021-04-06 13:40] #3854 closed

[2021-04-06 13:40] munnerz commented on #3855
Closing as I think this is already resolved :)

[2021-04-06 13:40] #3855 closed

[2021-04-06 13:43] munnerz commented on #3840
Please can you provide a reproducible case so we can actually debug here - this issue report doesn't follow the standard template for a bug report, and is missing key details needed for us to reproduce and begin to help you with your issue :)

[code]

This implies the webhook component of cert-manager is not yet running - there are some debugging guides in the FAQ in the cert-manager website to tr

[2021-04-06 13:43] #3840 closed

[2021-04-06 13:49] munnerz commented on #3842
Can you expand out on your debugging instructions above to show evidence that these certificates are not issued correctly? This is something I am already doing in one of my own clusters, and do not run into issues. The logs you provided there do not indicate that either of the two Certificates are self signed.

You can use `echo '<pem-encoded-certificate>' | openssl x509 -noout -text` to print out

[2021-04-06 13:52] munnerz commented on #3851
Is your cert-manager controller running, and is there a finalizer left on the resource? You can check for finalizers using `kubectl get challenge -o yaml project-tls-ffws2-1908360826-1233320611`.

I suspect something is causing cert-manager's Challenge finalizer to not complete. You may be able to see more information/details on this using `kubectl describe challenge` and/or by inspecting the cert

[2021-04-06 13:59] irbekrm commented on #3804
Those are [currently expected](https://kubernetes.slack.com/archives/CDEQJ0Q8M/p1613745366304500), see i.e [this successful e2e test run on prow](https://storage.googleapis.com/jetstack-logs/pr-logs/pull/jetstack_cert-manager/3850/pull-cert-manager-e2e-v1-20/1379398877827829760/build-log.txt), it's not an error.

That's really interesting, so you can run code compiled for `amd64` on your M1 Mac! I

[2021-04-06 14:07] RinkiyaKeDad commented on #3804
No no, as far as I know, Rosetta doesn't kick in automatically and I for one didn't launch VS Code or the terminal with it so it is definitely running natively. Thanks to your PRs :)

[2021-04-06 14:19] #3289 closed

[2021-04-06 14:26] gmauleon commented on #3594
Just to keep this thread alive, I got it another 2 times recently.
Same symptoms, one of the challenge failed once because of DNS issues and it never recover after that.

Ex:
[code]
[code]

[2021-04-06 19:17] #3250 closed

[2021-04-06 19:33] dverbeek84 commented on #2882
@robstradling took me a little longer than expected. But it works like a charm!!!! Thank you very much!
@meyskens I think you can close this issue.

[2021-04-06 22:38] tr1ck3r commented on #3642
Great news 😃 Thank you!

[2021-04-06 22:40] heschlie commented on #3079
I was running into the same issue, I added this to my values.yaml

[code]

It appears that by default the namespace Issuers do not allow using "ambient" credentials, this let's them.

[2021-04-06 23:17] tsmock opened #3861 "Wildcard paths seem to take priority"
**Describe the bug**:
It appears that wildcard paths take precedence over explicit paths, at least in the cert-manager workflow. This may be an ingress bug, or undefined behavior in the ingress resource spec.

The following works (if I remove the TLS parts), but the `frontend-service` gets all `.well-known` queries, even when in-place editing is enabled.
[code]

**Expected behaviour**:
Explicit pa

[2021-04-07 02:55] recipedude commented on #3265
Same issue here, also using Calico CNI, nothing special, default install.

In the cert-manager logs:

`dial tcp 10.96.201.4:443: connect: no route to host" `

[code]

Here's the service:

[code]

exec into another container with debug tools in the default namespace:

[code]

Looks like the CNI is working, there's connectivity to the cert-manager webhook service within cluster.

k8s v1.20.2

Next s

[2021-04-07 03:34] recipedude commented on #3265
May have figured this out.

TLDR;

[code]

Am running k8s bare-metal but noticed in the AWS EKS section of the [Compatibility](https://cert-manager.io/docs/installation/compatibility/)
troubleshooting docs it mentioned Calico

I didn't find `hostNetwork` in the cert-manager.yaml manifest so took a stab at using the
[helm chart for cert-manager](https://artifacthub.io/packages/helm/jetstack/cert-ma

[2021-04-07 04:11] skdasari-inndata commented on #3851
Hello Munnerz,

These challenges are from old setup I deleted all the configuration from old setup. I didn't know these challenges will be left in pending state. I can't delete the namespace as well because we are advised not to delete the namespace. This is the output I have received for your command.

apiVersion: acme.cert-manager.io/v1alpha2
kind: Challenge
metadata:
  creationTimestamp: "2021-

[2021-04-07 04:24] skdasari-inndata commented on #3851
The authz url output is as follows:
{
  "identifier": {
    "type": "dns",
    "value": "dev.project-internal.com"
  },
  "status": "pending",
  "expires": "2021-04-13T06:00:57Z",
  "challenges": [
    {
      "type": "http-01",
      "status": "pending",
      "url": "https://acme-v02.api.letsencrypt.org/acme/chall-v3/12122524225/lFLkhQ",
      "token": "3GzZcB5h7ONqnqRj2pt1X61pVbMELIvXBmNoo1hX_y

[2021-04-07 06:03] skdasari-inndata commented on #3851
I was able delete the challenge. But now when I hit the get challenge.  I get the below error

Error from server: conversion webhook for acme.cert-manager.io/v1alpha2, Kind=Challenge failed: Post https://cert-manager-webhook.cert-manager.svc:443/convert?timeout=30s: service "cert-manager-webhook" not found

[2021-04-07 09:39] erikgb commented on #3619
/reopen

[2021-04-07 09:41] SgtCoDFish commented on #3619
reopening!

[2021-04-07 11:53] bjethwan commented on #3801
@JoshVanL
Roughly by when can we expect the policy support coming out?
I am running OPA in all my k8s clusters, so I think I can use the option for external policy server, to code for pausing the renewal during prime time.  We can define renewBefore much greater than maxPrimeTimeWindowEver. But theoretically, there can be a case when cert-manager has decided to wait for the renewal of cert and the

[2021-04-07 12:07] JoshVanL commented on #3801
Hi @bjethwan, while the building blocks for approval/denial will land in v1.3, there will be no support for policy from day 1. I am building https://github.com/cert-manager/policy-approver in parallel which will support the base policy but not the external policy server outlined in the doc.

When 1.3 _is_ released, it will be possible to write an approver controller similar to that project. These

[2021-04-07 12:29] #3642 closed

[2021-04-07 13:36] jandersen-plaid opened #3864 "Enforce a secret length of less than 52 characters at apply time"
**Describe the bug**:

There is an interesting collision that happens when a secret or certificate is at or just above 52 characters. For example, consider a certificate named (for whatever reason):
[code]

This will generate a CertificateRequest (CR) with 5 random~ish characters of:
[code]

And finally generate an order that has a hash of the CR from https://github.com/jetstack/cert-manager/blob/

[2021-04-07 14:54] maelvls commented on #3703
If that's OK, I will postpone this PR to the v1.4 milestone.

/milestone v1.4

[2021-04-07 14:55] acsecengtesting commented on #3843
The multiple certificaterequest issue appears to have gone away but the alpha release appears to have an intermittent issue with venafi cluster issuing  so will close this issue and raise a separate issue for that.

[2021-04-07 14:55] #3843 closed

[2021-04-07 15:02] maelvls commented on #3513
/milestone v1.4

[2021-04-07 15:05] micahhausler commented on #3761
@SgtCoDFish That list sounds great!

[2021-04-07 15:10] maelvls commented on #3051
If that's OK I will postpone this issue to v1.4 (planned for Friday 11 June 2021). The v1.3 is now frozen.

/milestone v1.4

[2021-04-07 15:11] maelvls commented on #2930
If that's OK I will postpone this issue to v1.4 (planned for Friday 11 June 2021). The v1.3 is now frozen.

/milestone v1.4

[2021-04-07 15:11] maelvls commented on #2354
If that's OK I will postpone this issue to v1.4 (planned for Friday 11 June 2021). The v1.3 is now frozen.

/milestone v1.4

[2021-04-07 15:12] maelvls commented on #2868
The v1.3 is now frozen 😞
Let's have it for v1.4!

/milestone v1.4

[2021-04-07 15:13] maelvls commented on #3610
I'll take care of adding the documetation now

[2021-04-07 15:15] maelvls commented on #3610
/milestone v1.4
/unassign

[2021-04-07 15:23] davidpestana commented on #466
thak you Very Much...  its really is only solved the problem since ours searching solutions

[2021-04-07 15:24] wallrj commented on #2354
It was fixed in https://github.com/jetstack/cert-manager/pull/3838

/milestone v1.3

[2021-04-07 15:24] #2354 closed

[2021-04-07 15:40] SgtCoDFish commented on #3761
cert-manager PR is merged: https://github.com/jetstack/cert-manager/pull/3818

other PRs in other repos, which will link back to the main cert-manager SECURITY.md:

- https://github.com/cert-manager/website/pull/505
- https://github.com/cert-manager/istio-csr/pull/44

[2021-04-07 15:51] SgtCoDFish commented on #3619
Worth noting here about https://github.com/cert-manager/website/pull/499 which can be reviewed + merged after #3865

[2021-04-07 17:12] SgtCoDFish opened #3868 "Document Go API Compatibility (or Lack Thereof)"
In the [biweekly meeting](https://docs.google.com/document/d/1Tc5t6ylY9dhXAan1OjOoldeaoys1Yh4Ir710ATfBa5U/edit) on 2021-04-07, Go API compatibility guarantees were raised. Specifically: does cert-manager have any guarantee that code under `pkg/` can be imported as a library and remain stable for other projects to use?

@munnerz was clear that a guarantee would be nice to have, but in practice no g

[2021-04-07 17:15] sangeetg commented on #3656
Is it possible to pull #3465 to v1.0.0? I have a helm2 deployment and I need this fix. v1.2.0 requires helm3 and we only have support of helm2.

[2021-04-07 17:19] SgtCoDFish commented on #3868
/kind documentation

[2021-04-07 18:09] irbekrm commented on #3868
Went to `pkg.go.dev` to look for known imports, it's actually less than I would have thought. A few:

- [`pkg/dns/util`](https://pkg.go.dev/github.com/jetstack/cert-manager/pkg/issuer/acme/dns/util?tab=importedby)
- [`pkg/apis/certmanager/v1alpha1`](https://pkg.go.dev/github.com/jetstack/cert-manager/pkg/apis/certmanager/v1alpha1?tab=importedby) <- generated code (I think)
- [`pkg/client/clientset

[2021-04-07 18:36] tatsonlambda commented on #1292
My setup is bare-metal which sits behind my pfsense firewall. I also encounter the error: http://domain/.well-known/acme-challenge/ACME

For some reason, pfsense has been blocking internal IP to access my domain which is resolved to my WAN IP.
The way I do it is to allow NAT Reflection.

If you have SSL problem, just disable ssl-redirect by adding this under the annotations section.
    nginx.ingr