[2021-04-07 21:32] acsecengtesting opened #3869 "Required Secret Resource not found 'tpp-secret' - v1.3.0.alpha.0 introduced issues with venafi TPP clusterissuer"
In an attempt to resolve an issue with multiple certificaterequests being issued during renewal (#3843), we have deployed 1.3.0.alpha.0 to an OSE cluster. This resolved the original issue however we now appear to have two failure modes for issuing certificates (these happen not just during renewal).  These issues are transient in nature in that when generating a number of certificates using a scri

[2021-04-08 00:30] rayfoss commented on #2640
Same here. It sounds like the recent addition of a long domain name ingress was what triggered the cascade of bugs. Will come back with my fix. I am using nginx-ingress.

[2021-04-08 03:58] skdasari-inndata commented on #3851
v1alpha2.acme.cert-manager.io          Local     True        21h
v1alpha3.acme.cert-manager.io          Local     True        21h
v1beta1.acme.cert-manager.io           Local     True        21h

I found these are the last available resources of my setup. When I try to delete these services they are regenerating. Can anyone please help. I am really stuck here

[2021-04-08 08:57] dverbeek84 commented on #2882
@robstradling i was to fast...... i still got the issue after redeploying.......
'[External Account Binding] The account is not awaiting external account binding'

[2021-04-08 09:07] maelvls commented on #3656
Hi!

I think it makes sense for us to backport "upgrade" patches that would help users upgrade to earlier versions of cert-manager.

From what I understand, you have an existing cert-manager v1.0 deployment that was deployed using Helm 2. Your goal is to upgrade cert-manager to v1.2.0, but v1.3.0 requires Helm 3.

Question:

- Is the problem the fact that there is some difficulty in upgrading your

[2021-04-08 10:00] kieronlanning opened #3870 "Unable to Delete Challenge After Failed Uninstall"
**Describe the bug**:

Unable to delete a Challenge stuck in `Pending` state after a failed `helm uninstall`.

I've tried re-installing/ uninstalling again. And uninstalling using the YAML file from GitHub for 0.16.1.

Currently I have removed everything I could from the cluster, but the Challenge still exists and won't allow me to delete with the following error:

`Error from server: conversion w

[2021-04-08 10:21] zxpower commented on #3103
This issue is also valid if you want to use Cert manager in clusters that should be [SOC 2 compliant](https://www.imperva.com/learn/data-security/soc-2-compliance/) because they're checked according to OWASP and missing liveness and readiness probes qualifies as [Security misconfiguration](https://owasp.org/www-project-top-ten/2017/A6_2017-Security_Misconfiguration). So it would be really nice if

[2021-04-08 11:58] robstradling commented on #2882
@dverbeek84 I've found 4 newAccount requests from an IP address in the Netherlands that we logged a few minutes before you posted that comment and which resulted in that error.  I'm presuming this was you.  :-)
The reason for this error is that you used a different ACME Account Key to the one that you previously established.  You have to use the same ACME Account Key that you used previously, beca

[2021-04-08 12:22] dverbeek84 commented on #2882
@robstradling  I think this is the whole issue here. I did not change the KeyID or KeySecret.
I am trying to user the private key generated(by cert-manager) on cluster A to use it in Cluster B (not that i cannot create a new key, but also for disaster recovery).

This is not working i get '[External Account Binding] The account is not awaiting external account binding'  and i get that because the

[2021-04-08 12:27] dverbeek84 commented on #2882
@robstradling I don't know if you return the error `The account is not awaiting external account binding`
If so maybe you could change it to:

https://github.com/golang/crypto/blob/0c34fe9e7dc2486962ef9867e3edb3503537209f/acme/types.go#L54

[2021-04-08 12:42] irbekrm commented on #3804
I've tried adding arm64 to test platforms in #3871

@RinkiyaKeDad if you at some point had a chance to checkout [my branch for that PR](https://github.com/irbekrm/cert-manager/tree/tests_can_run_on_arm) to see if you can now run `bazel test //...`  without a platform flag that would be much appreciated 😄

[2021-04-08 12:45] irbekrm commented on #3603
We have now released stable release [`v1.3.0`](https://github.com/jetstack/cert-manager/releases/tag/v1.3.0) that hopefully fixes this issue.
Any feedback would be very much welcome 😄

[2021-04-08 13:07] robstradling commented on #2882
Then I presume cert-manager changed it on your behalf.

The 4 newAccount requests that I just looked at in our log specify the same JWK, but it's a different JWK to the one that was originally sent (when the ACME account was first established and bound to the external account).

[2021-04-08 13:30] dverbeek84 commented on #2882
Maybe it can be there because i had forgot to create te secrets.

[2021-04-08 13:49] sangeetg commented on #3656
Thank you Maelvls for your response. Currently I am on v01.15.2 and system is working fine except that the ingress certificates are expiring in 90days which is causing us issues. That is the reason I wanted fix #3465. We are using helm2 and cannot upgrade to helm3 as it will be very complicated for us and require quite a bit of changes.  So

- Can #3465 be back ported to v0.15.2 (preferred) and we

[2021-04-08 14:10] RinkiyaKeDad commented on #3804
Hey @irbekrm! I tested the changes but they failed :(
Here are the logs
[code]

[2021-04-08 14:11] #3621 closed

[2021-04-08 19:03] maelvls commented on #3656
Our main issue is that backporting bug fixes would require us to keep the testing infra up to date for the the v1.0 branch, which we do not do currently. We are at the moment thinking about the support policy that we want for cert-manager, and we think backporting bug fixes should only happen on the previous release (that would be 1.1 back when you opened the issue).

TL;DR: it is too much pain to

[2021-04-08 20:43] acsecengtesting commented on #3869
The secret issue hasn't been able to be reproduced in the 1.3 release - the other issues appear to be with the back end not cert-manager hence I am closing.

[2021-04-08 20:44] acsecengtesting commented on #3869
Sorry - didn't click the close button.

[2021-04-08 20:44] #3869 closed

[2021-04-09 03:19] skdasari-inndata opened #3874 "Getting "Error from server: conversion webhook for acme.cert-manager.io/v1alpha2, Kind=Challenge failed: Post https://cert-manager-webhook.cert-manager.svc:443/convert?timeout=30s: service "cert-manager-webhook" not found""
I was able delete the challenge. But now when I hit the get challenge. I get the below error

Error from server: conversion webhook for acme.cert-manager.io/v1alpha2, Kind=Challenge failed: Post https://cert-manager-webhook.cert-manager.svc:443/convert?timeout=30s: service "cert-manager-webhook" not found

v1alpha2.acme.cert-manager.io Local True 21h
v1alpha3.acme.cert-manager.io Local True 21h
v1

[2021-04-09 03:20] skdasari-inndata commented on #3851
Closing this and opened a new issue as this one is resolved

[2021-04-09 03:20] #3851 closed

[2021-04-09 07:01] mmerickel commented on #3778
Ran into this as well. I used the same fix by defining each `_acme-challenge.<domain>` CNAME record to `<domain>.less-privileged.example.org` such that each CNAME is unique. I was expecting cert-manager to do something to handle this correctly on its own given the examples in the docs.

[2021-04-09 09:04] andrzejsolarwinds commented on #3133
I have the same issue with cert-manager 1.2.0 we have CI check in gihtub which deploys everything on kind cluster

in CI check I deploy the file

validate-server:
    needs: build-manifest-sets
    runs-on: ubuntu-latest
    steps:
      - name: Download manifest sets
        uses: actions/download-artifact@v1
        with:
          name: build
      - uses: engineerd/setup-kind@v0.5.0
        wi

[2021-04-09 13:00] wallrj commented on #3869
Thanks for the followup information @acsecengtesting

We've recently updated the Venafi vcert library (#3831) and re-enabled the Venafi E2E tests (#3867) so we can be more confident that the Venafi Issuer is working correctly.

[2021-04-09 16:06] brkane commented on #3594
We are also hitting this multiple times a day in our development environment, it's blocking us upgrading all our environments to 1.x to get the LetsEncrypt preferred chain to have our certs issued by the new CA. cert-manager just stops processing new acme orders. Cycling the cert-manager pod unsticks things and gets the outstanding orders processed but it happens again in a few hours.

Whatever lo

[2021-04-09 20:58] irbekrm opened #3879 "Unit test for ACME Issuer setup"
We currently don't unit test the `Setup` function that sets up ACME Issuer, [here](https://github.com/jetstack/cert-manager/blob/master/pkg/issuer/acme/setup.go#L61).

This test would be useful for code changes such as #3877 .

This might involve some refactoring of `Setup`.

/kind cleanup

[2021-04-10 03:50] ahmed-adly-khalil commented on #3238
I'm facing the same issue with Linode, Step 5 on digital ocean solution above didn't solve the issue for me. any ideas?

[2021-04-10 05:07] mermetbt commented on #3874
Hi, your issue is probably related with this one #2752.

[2021-04-10 12:50] Flasheh opened #3880 "Helm upgrade failed: cannot patch "certificates.cert-manager.io" with kind CustomResourceDefinition: "" is invalid."
**Describe the bug**:

I am experiencing a failed upgrade from 1.2.0 to 1.3.0 with Helm.
[code]
This seems identical to https://github.com/jetstack/cert-manager/issues/3644 so not sure if I should have reopened that one. Although that issue should have been fixed.

**Expected behaviour**:

I expected the crd to be patched correctly.

**Steps to reproduce the bug**:

Upgrade cert-manager from 1.2.0

[2021-04-10 14:49] abierbaum commented on #3298
@fmasion What method did you end up using?  I am running into the exact same type of restriction.  For me it is our QA/QC infrastructure where we test out new application deployments.  As part of this we first clean the test K8S cluster of all application resources including the ingress(es) and then redeploy.  That burns through certificate requests very quickly.

[2021-04-10 15:51] ahmed-adly-khalil commented on #656
I was able to fix this, the chain of issues started as follow:

I had the following in the annotation in my ingress controller
###    nginx.ingress.kubernetes.io/use-regex: "true"
###     nginx.ingress.kubernetes.io/rewrite-target: /

this caused all URLs to be rewritten to /
this caused the cert-manager to fail on self-check before communicating to let's encrypt
this caused certificate generation

[2021-04-10 15:51] ahmed-adly-khalil commented on #3238
I was able to fix this, the chain of issues started as follow:

I had the following in the annotation in my ingress controller
###    nginx.ingress.kubernetes.io/use-regex: "true"
###     nginx.ingress.kubernetes.io/rewrite-target: /

this caused all URLs to be rewritten to /
this caused the cert-manager to fail on self-check before communicating to let's encrypt
this caused certificate generation

[2021-04-11 14:55] irbekrm commented on #3827
Closing this as it is a duplicate of https://github.com/jetstack/testing/issues/464

[2021-04-11 14:55] #3827 closed

[2021-04-11 16:29] irbekrm commented on #3880
Hi @Flasheh ,

Thank you very much for opening the issue!

I can reproduce this on my `v1.20`  kind cluster.

Steps to reproduce the issue:

`helm install   cert-manager jetstack/cert-manager   --namespace cert-manager --create-namespace --version v1.2.0 --set installCRDs=true`

`helm upgrade cert-manager jetstack/cert-manager   --namespace cert-manager --version v1.3.0 --set installCRDs=true`

We

[2021-04-11 16:30] irbekrm commented on #3880
/assign

[2021-04-11 16:58] irbekrm commented on #3880
Appears to be an issue with the new revisionHistoryLimit field that has a minimum value of 1.

[2021-04-12 08:00] andrzejsolarwinds commented on #3133
During CI check in Github  I noticed that certmanager-webhook pod is not ready due to insufficient CPU

[2021-04-12 08:02] lperdereau opened #3884 "Certs Owner Reference on secret from issuer"
**Is your feature request related to a problem? Please describe.**

In my case I have few issuer, one for my lets-encrypt certificates and 3~4 for my vault certificates. I want to configure OwnerReferences on vault issuers but not on lets-encrypt issuer

**Describe the solution you'd like**

I think we could have a boolean field on issuer who can enable OwnerReference, `secretOwnerReferences`, set

[2021-04-12 08:30] maelvls commented on #3880
I was not able to reproduce the issue, what steps should I take to have the error show up?

<details>
<summary>🧵 Shell commands I used to do the 1.2 → 1.3 update with installCRDs=true</summary>

The upgrade test:

[code]

[code]

</details>

Note: I really need to add a "manual upgrade check" step to our [release-process](https://cert-manager.io/docs/contributing/release-process/); even better, we

[2021-04-12 09:08] irbekrm commented on #3880
@maelvls FWIW last time we had that issue not all of us could reproduce it.

[2021-04-12 09:58] Flasheh commented on #3880
@maelvls @irbekrm It seems to be related to kubernetes version somehow.

I could not reproduce it locally either using k3d until i set it to the same minor version as one of the AKS clusters I tested.
`k3d cluster create ugpradetest --image rancher/k3s:v1.18.13-k3s1
`

Using that image results in the same failed upgrade,

[2021-04-12 10:12] irbekrm commented on #3880
@maelvls can you reproduce it with Kubernetes < `v1.20`?

I think my late night debugging yesterday got me confused as to which version I am working against 😆

It seems like this _has_ been fixed in `v1.20` as Helm folks say, see [this comment](https://github.com/helm/helm/issues/5806#issuecomment-788116838)

[2021-04-12 13:04] maelvls commented on #3880
Ohhh I was able to reproduce the issue with Kubernetes v1.19.9!!

<details>
<summary>👉 Commands to reproduce</summary>

[code]

</details>

[code]

[2021-04-12 14:21] #3880 closed

[2021-04-12 14:22] irbekrm commented on #3880
Hopefully not another issue?

[2021-04-12 14:34] irbekrm commented on #3880
Folks, we have implemented a fix (hopefully) for this issue in #3882 .

We are now going to make a patch release for `v1.3.0` with the fix #3886  so hopefully everyone will be able to upgrade.

Apologies for the inconvenience and a massive thanks to @Flasheh for raising the issue!

[2021-04-13 05:41] KlavsKlavsen opened #3887 "startup errors on new install of 1.3.0"
I just installed cert-manager on a 1.19 k8s cluster, and now upgraded to 1.3.0.

I have valid certs for argocd and grafana service (served by traefik).. so that works.. and yet the startup log right after upgrade says this:
[code]
In the relevant namespaces I have a valid cert - f.ex.
argocd-helm-chart-tls                     True                     argocd-helm-chart-tls                     letse

[2021-04-13 08:13] SgtCoDFish opened #3888 "Create process for cert-manager distributors to get advance embargoed security notices"
As part of the checklist in #3761, it was suggested that we could:

This would be a valuable process to have in the even that someone used the new vulnerability reporting process (#3818).

/kind feature

[2021-04-13 09:15] stephan2012 opened #3889 "Update to v1.3.0 via Helm fails on CRD update: cannot convert int64 to float64"
**Describe the bug**:
Updating cert-manager through Helm fails:

[code]

Contents of the values file:

[code]

Applying `--force` (worked for previous updates) does not help either:

[code]

**Expected behaviour**:
Seemless update from v1.2 to v1.3

**Steps to reproduce the bug**:
Deploy cert-manager 1.2 and upgrade to v1.3 via Helm 3

**Anything else we need to know?**:
Similar issues with update

[2021-04-13 09:17] irbekrm commented on #3887
Hi @KlavsKlavsen ,

Thank you for opening the issue!

Have you created any certs since the upgrade or have there been any renewals?
Are any of the `cert-manager` custom resources (`Certificate`s, `CertificateRequest`s, `Order`s etc) in a not Ready state?
Do the `CertificateRequest`s that apear as 'not found' in the logs actually exist?

I would not worry to much about it not finding a `Certificate

[2021-04-13 09:20] irbekrm commented on #3889
Hi @stephan2012 ,

Please see #3880, but TL;DR is that we will backport a fix for this issue shortly.

[2021-04-13 09:22] stephan2012 commented on #3889
@irbekrm Thanks! Was also wondering if this is related to https://github.com/helm/helm/issues/5806#issuecomment-782224318 but waiting for the patch release now.

[2021-04-13 12:28] #3822 closed

[2021-04-13 12:48] ccw1078 opened #3890 "support more secret type"
apiVersion: cert-manager.io/v1alpha2

So far the Certificate secret can only be stored in kubernetes.io/tls type.  For some reason, I need to store it in Opaque type and specify the key names, Could you please support it in next version?

[2021-04-13 12:58] irbekrm commented on #3879
/assign

[2021-04-13 13:38] guxlightyear opened #3891 "ACME issuer creating two certificates at Let's Encrypt"
**Describe the bug**:
Recently we have been noticing that some of our Certificate Requests to Lets Encrypt have been failing with error `too many certificates already issued for: <our top level domain>`.

From the let's encrypt [rate-limits](https://letsencrypt.org/docs/rate-limits/), it looks as if we have hit their limit of 50 certificates per week. Upon inspection in our clusters we noticed tha

[2021-04-13 14:11] irbekrm commented on #3891
Hi @guxlightyear ,

Would you be able to paste in any of the duplicated `CertificateRequest`s and their `Certificate` (it would be useful to see the metadata and statuses).
If you happen to have controller logs from around the time of renewal/duplication that would be useful too (just for `v1.3.0`).

[2021-04-13 14:14] #3620 closed

[2021-04-13 14:39] guxlightyear commented on #3891
Hi @irbekrm ,

sorry, forgot to attach the logs to my original request.

[code]

[code]

[code]

[2021-04-13 15:02] irbekrm commented on #3891
Hi @guxlightyear ,

Actually I did not properly look at the `crt.sh` search you posted- there are as far as I am aware always two certificate entries per one request seen on crt.sh and it's normal- one is precert, one is leaf cert, see [this discussion](https://community.letsencrypt.org/t/why-crt-sh-show-2-certificate/127131) .
So, at least the first entries look normal to me.

Could it be the cas

[2021-04-13 15:05] irbekrm commented on #3891
Thank you for the logs, from that particular point the `controller`s action don't seem to suggest anything unusual.

[2021-04-13 17:05] srisatya1197 commented on #3825
Is anyone working on this issue. If not I want to work on this .

[2021-04-13 18:03] maelvls commented on #3513
**Update:** we had a meeting with Zee today, he proposed me to try to add a tiny Deployment that we could use to serve `artifacthub-repo.yml`.

/unassign @simplyzee
/assign

[2021-04-13 18:53] RinkiyaKeDad commented on #3825
Hey @srisatya1197! Thanks for offering to work on this issue.
No one is working on this as of now so feel free to do so. Let us know if you have any questions regarding it :)

[2021-04-13 22:34] hadleyrich commented on #3021
Ignore me, this was my lack of understanding of the difference between data and stringData!

[2021-04-14 06:21] guxlightyear commented on #3891
Thank you very much @irbekrm , I'll apply the upgrade in all our clusters and keep monitoring the situation.

It was my first time using crt.sh for troubleshooting certificates issues, and I had no idea it would show two certificates (precert and leaf). Thanks for the tip!

[2021-04-14 06:21] #3891 closed

[2021-04-14 07:45] irbekrm commented on #3891
Thanks! Do let us know if there are further issues with duplicates- we're definitely interested to make sure these issues are fixed.

[2021-04-14 10:54] irbekrm commented on #3889
Hi @stephan2012 we have now released a patch https://github.com/jetstack/cert-manager/releases/tag/v1.3.1 .

Do let us know if there are more issues.

[2021-04-14 10:56] irbekrm commented on #3880
We have now released a patch that should fix this issue https://github.com/jetstack/cert-manager/releases/tag/v1.3.1

Do let us know if there are more issues.

[2021-04-14 11:09] pierluigilenoci commented on #3594
@munnerz could you please take a look?

[2021-04-14 11:26] irbekrm commented on #3783
An example of an install tool could be [linkerd install command](https://linkerd.io/2.10/reference/cli/install/).

I think that if we do end up writing this in a way that the command performs the actual installation and not just outputs yaml, we should then give it some sort of `--dry-run` option so that users can chain it into their existing deployment toolchain.

I think that would give more val

[2021-04-14 11:33] irbekrm commented on #3890
Hi @ccw1078 ,

Would you be able to describe your use case in a bit more detail (i.e why you need/want this option and what alternatives you might have considered)?

[2021-04-14 11:38] Richard87 commented on #3021
I got the same error, but created a new token with these permissions, that worked perfectly:
[code]

I'm sure you can make a more restrictive key, but atleast these works :)

[2021-04-14 13:36] Raboo commented on #3719
This could be a bug in CloudDNS https://issuetracker.google.com/issues/181785646

[2021-04-14 15:18] stephan2012 commented on #3889
LGTM, `helm upgrade` succeeds now:

[code]

Closing this resolved issue.

Thanks for your support & work! :-)

[2021-04-14 15:18] #3889 closed

[2021-04-14 16:47] bergner commented on #3799
I have also been trying to figure out how to do this and while looking for possible ingress annotations for expressing the desire to create JKS and/or PKCS12 keystores I ended up here.

I was trying to use the adcs-issuer and trying to use the issued certificate with a Java service, hence the need for JKS and the wish to automate the conversion of PEM certs to JKS. From what I can tell this is the

[2021-04-14 17:45] Marx2 commented on #3874
I have similar problem with fresh cluster an 1.3.1 version.
I've even moved cert-maanager to cert-manager namespace. The problem is, that event (assigned to "default" namespace) says:
```Error initializing issuer: Failed to register ACME account: context deadline exceeded``` references "letsencrypt-staging" issuera, but then it ```Resource loading has failed: conversion webhook for cert-manager.io

[2021-04-14 17:49] sigxcpu76 commented on #3615
Any update on this? cert-manager has the same issue on Kubernetes 1.20.4

[2021-04-15 03:46] skdasari-inndata commented on #3874
But I deleted all the contents of cert-manager. What can I do? Please help me out.

[2021-04-15 05:37] Marx2 commented on #3874
You probably need to delete crds and they definitions, they are not in namespace

[2021-04-15 09:21] irbekrm opened #3894 "Test with Vault intermediate CA that returns a root CA cert"
Currently in our e2e tests, when testing Vault intermediate CA, we only test with an intermediate whose CA cert does not include the root certificate just the intermediate, see the [setup](https://github.com/jetstack/cert-manager/blob/master/test/e2e/framework/addon/vault/setup.go#L326).
This is also how Hashicorp [seem to recommend setting up an intermediate CA](https://learn.hashicorp.com/tutori

[2021-04-15 12:14] jakexks commented on #3626
/priority important-soon

[2021-04-15 12:15] irbekrm commented on #3868
/priority important-soon

[2021-04-15 12:16] irbekrm commented on #3796
/priority important-soon

[2021-04-15 12:18] irbekrm commented on #3852
/priority important-soon

[2021-04-15 12:18] JoshVanL commented on #3861
Hi @tsmock, this seems to me like an issue for ingress rather than cert-manager. The `rewrite-target` may also having something to do with this behaviour https://kubernetes.github.io/ingress-nginx/examples/rewrite/#examples

[2021-04-15 12:20] irbekrm commented on #3848
/priority important-soon

[2021-04-15 12:20] jakexks commented on #3870
/triage support
/priority awaiting-more-evidence

Hi @kieronlanning, Reinstalling cert-manager should cause the conversion webhook to work again. It's difficult to say what's going on in your cluster state with a failed helm uninstall. Is there a way to reproduce this behaviour reliably on a throwaway cluster? This would bump it up in priority as a bug report

[2021-04-15 12:21] irbekrm commented on #3844
/priority backlog

[2021-04-15 12:23] SgtCoDFish commented on #3839
I changed your comment slightly for formatting.

/triage support

[2021-04-15 12:24] JoshVanL commented on #3813
This is indeed what we are doing, though could be better written in the docs.

https://github.com/jetstack/cert-manager/blob/b95836421f7f3d2bbbebaa4fa3cca7128e3a97ad/pkg/controller/certificates/util.go#L287

[2021-04-15 12:25] JoshVanL commented on #3813
Going to close for now, but please feel free to reopen if you have more questions.

/close

[2021-04-15 12:25] #3813 closed

[2021-04-15 12:25] jakexks commented on #3826
/triage support
/priority awaiting-more-evidence

I feel like this is an issue with flux, but if they point the finger back at us we could investigate

[2021-04-15 12:29] jakexks commented on #3810
/priority important-soon

A probable workaround is to delete pending certificaterequests but we will investigate this

[2021-04-15 12:31] irbekrm commented on #3820
/priority important-soon

[2021-04-15 12:31] jakexks commented on #3798
/triage support

To issue a wildcard certificate a dns-01 solver is required. It looks like your matchlabels stanza is never matched.

[2021-04-15 12:32] irbekrm commented on #3808
/priority important-longterm

[2021-04-15 12:32] jakexks commented on #3778
/priority important-soon

[2021-04-15 12:33] jakexks commented on #3766
/good-first-issue
/help
/priority important-soon

[2021-04-15 12:33] irbekrm commented on #3804
/priority important-longterm

[2021-04-15 12:33] SgtCoDFish commented on #3799
Is this the sort of thing you're looking for? https://cert-manager.io/docs/release-notes/release-notes-0.15/#general-availability-of-jks-and-pkcs-12-keystores

Also, which version of cert-manager are you running?

/triage support

[2021-04-15 12:35] jakexks commented on #3742
/triage support
The only way to create certificates for local domains is to buy the domain name and use a dns-01 challenge

[2021-04-15 12:36] #3742 closed

[2021-04-15 12:36] SgtCoDFish commented on #3787
Thanks for documenting this! I'll close this issue as there's nothing we can really do on our side about a quay.io outage.

[2021-04-15 12:36] #3787 closed

[2021-04-15 12:36] jakexks commented on #3738
/priority important-soon
/assign @maelvls

[2021-04-15 12:37] jakexks commented on #3738
/kind cleanup

[2021-04-15 12:37] jakexks commented on #3730
/priority important-soon
/milestone v1.4

[2021-04-15 12:38] jakexks commented on #3726
/priority important-soon
/milestone v1.4

[2021-04-15 12:39] jakexks commented on #3718
Has this been fixed in v1.3?
/priority awaiting-more-evidence

[2021-04-15 12:39] JoshVanL commented on #3701
Seems like the issue is with the CA rather than cert-manager itself.

/close

[2021-04-15 12:39] #3701 closed

[2021-04-15 12:40] jakexks commented on #3694
Thanks for your contributions, if you've implemented one feel free to add it to https://github.com/cert-manager/website

[2021-04-15 12:40] #3694 closed

[2021-04-15 12:47] jakexks commented on #3594
We are aiming to improve testing in this area over the next couple of months with our Google Summer of Code student. Hopefully this will surface bugs to us.

/priority important-soon

[2021-04-15 12:48] jakexks commented on #3682
https://github.com/jetstack/cert-manager/issues/3390
/priority important-soon

[2021-04-15 12:49] jakexks commented on #3674
/priority backlog

[2021-04-15 12:49] jakexks commented on #3670
/priority important-soon

[2021-04-15 12:49] jakexks commented on #3670
/assign

[2021-04-15 12:49] jakexks commented on #3606
/priority backlog

[2021-04-15 12:50] jakexks commented on #3602
Perhaps pick this up as part of the acceptance process of projects into the cert-manager org
/priority backlog

[2021-04-15 12:52] irbekrm commented on #3428
/priority important-longterm

[2021-04-15 12:52] jakexks commented on #3598
Is this solved? Please reopen if this is still an issue
/close

[2021-04-15 12:52] #3598 closed

[2021-04-15 12:53] SgtCoDFish commented on #3755
This one's tricky to debug given the version of cert-manager in use is out of support and has been for quite a while. I wouldn't be overly concerned about these specific error messages blocking an upgrade to a newer version, to be honest.

Perhaps you could share a couple of the `Certificate` and `CertificateRequest` resources to help narrow down what could be the cause here? It's hard to know wha

[2021-04-15 12:53] jakexks commented on #3586
/priority backlog

[2021-04-15 12:53] irbekrm commented on #3568
/priority important-longterm

[2021-04-15 12:55] jakexks commented on #3422
/priority awaiting-more-evidence
As part of our Google Summer of Code projects in the next 2 months, we are looking to improve e2e testing on cloud providers with DNS challenges. We might find some issues / documentation improvements as this happens

[2021-04-15 12:55] irbekrm commented on #3672
/priority important-soon

[2021-04-15 12:56] jakexks commented on #3751
/area ingress-shim

[2021-04-15 12:56] SgtCoDFish commented on #3751
Do you perhaps have an example use-case for this?

[2021-04-15 12:58] jakexks commented on #3334
/kind documentation
/close

[2021-04-15 12:58] #3334 closed

[2021-04-15 13:00] acsecengtesting opened #3895 "Multiple CSRs posted to Venafi TPP causing errors in certificate state."
(https://github.com/jetstack/cert-manager/files/6318079/talkingheads-10.logs.txt)
We have an issue where certificate signing requests are being sent to venafi/TPP multiple times during issuance/renewal of a certificate. This has reduced in frequency as compared with version 1.2.0 but still happens. Ref [https://github.com/jetstack/cert-manager/issues/3843](3843) and the master issue for this = [ht

[2021-04-15 13:00] jakexks commented on #3298
/help
It would be nice to have a documentation PR for this set up.
/priority backlog

[2021-04-15 13:15] andreas-p commented on #3813
I actually did encounter a renew loop, bringing down my cluster after 3 hours OOM. I'm using Cert-Manager 1.20, which should include that code, and Vault 1.6.2. Apparently the difference of (TTL - 30d) is >0 for some reason in this case.
Still, a TTL of 31d would lead to daily renewal, so I'd propose to use `min(TTL/3, 30d)` instead.

[2021-04-15 13:20] irbekrm commented on #3895
Thanks for opening the issue!

I am guessing this is a different issue than #3603 where there was more than one `CertificateRequest` created per renewal cycle for a `Certificate`.

In this case it apears to be multiple certificate signing requests for `CertificateRequest`, so could be an issue with the certificate-request controller or the  venafi issuer.

[2021-04-15 13:20] irbekrm commented on #3895
/priority important-soon

[2021-04-15 13:34] tsmock commented on #3861
I kind of figured it would probably be an issue for Ingress, but I figured I'd start with cert-manager just in case. It is easy enough to work around (if you know it is happening). Just (temporarily) chop off the `(.*)` for the `/` endpoint.

[2021-04-15 13:57] hubstairs-admin commented on #3798
My bad ... Yes there was no label applied on my certificate. Thank you very much @jakexks :)

/close

[2021-04-15 13:57] #3798 closed

[2021-04-15 14:05] sillent commented on #3751
Use-case is a custom external issuer as in my case.

I need to pass a external thing, what my external issuer should be received

when i create certificate kind, with custom annotations, that annotations proxying into certificaterequest.

[2021-04-15 14:22] smacl commented on #3810
Thanks Jake. As far as I can tell, deleting any certificaterequest resources for stuck certs is indeed an effective workaround.

[2021-04-15 14:30] lperdereau commented on #3884
Hello @irbekrm,

I'm contacting you just to no if someone in contributors/owners think it's a good idea ?
If you think it's a good idea or not?
Then I could start development on it if it's approbe :)

Regard

[2021-04-15 15:57] maelvls commented on #3598
Looks like a solution to this problem has been mentioned by James Munnelly in https://github.com/jetstack/cert-manager/issues/3853#issuecomment-814125519.

[2021-04-15 15:58] harshaperera532 opened #3896 "Cert Manager failing to renew certificate"
**Describe the bug**:

We have two CNAMES pointing to the same Kubernetes endpoint. Cert-Manager created certificates for both of these. However, when it came to renewal only one of these has been renewed. The other one repeatedly fails. The logs show the following at the point of the first renewal attempt.

I0413 19:55:52.000605       1 conditions.go:173] Setting lastTransitionTime for Certificat

[2021-04-15 16:03] maelvls commented on #1888
Looks like this issue has seen many thumbs up over time, and it seems to still appear on v1.3. I will try to reproduce it (somehow).

/assign

[2021-04-15 16:04] t3hmrman commented on #3512
Just ran into this -- I needed to:

1. Delete the resources you've already applied to the cluster that came from the backup
2. Strip `resourceVersion`s out of the backup (applies to certificates, issuers, anything with a `metadata.resourceVersion`)
3. Re-apply the resources from the backup

If you try to apply the backup twice, you will likely see errors regarding immutable fields (ex. `metadata.u

[2021-04-15 16:50] bergner commented on #3799
I'm currently running cert-manager 1.2.0 since when I did my initial install 1.3 wasn't out yet. And yes that's the functionality I am looking for but it is not accessible when provisioning certificates for ingress. The ingress-shim in cert-manager creates the Certificate object and there is no exposed mechanism to get it to add the "keystores" clauses to the certificate. From what I could tell of

[2021-04-15 17:19] SgtCoDFish commented on #3799
Thank you for that information, I think that cleared it up for me; I might have misunderstood when I first read the issue. :+1:

I'll add this as a backlog item; if you (@bergner) or @mvanmeerbeck  would be interested in creating a PR for adding this kind of feature, I'd be happy to take a look.

(I don't know _for sure_ that this feature isn't currently possible, so it's possible another maintain

[2021-04-15 17:23] SgtCoDFish commented on #3751
thanks for giving the use-case, that's good to know.

if you'd be interested in providing a PR, I'd be happy to take a look. In any case, I'll add this to the backlog so it remains visible.

/priority backlog

[2021-04-16 06:39] kieronlanning commented on #3870
Hi @jakexks - it's not the first time this has happened unfortunately. In the end, our only option - due to project time constraints - was to delete and re-create the cluster.

Once we installed the right version, everything worked as expected.

I did try re-installing the exact version that was stuck, but it really didn't want to shift it out.

[2021-04-16 07:32] srisatya1197 commented on #3825
Thanks @RinkiyaKeDad Sir. I would like to work on this issue and I'll let you know if I get stuck.

[2021-04-16 10:53] gudari commented on #3631
Hi, hope this could be helpful. I also had issues testing the jks keystore and truststore. In my case, I found that the password in base64 had the newline character in the end.
I mean, I was using ``` echo "mypassword" | base64 ```  to encode the jks password secret insteand of ``` echo -n "mypassword" | base64 ``` witch removes the newline character in the result.

After that, everything was work

[2021-04-16 15:45] micahhausler commented on #3675
I reached out to @caniszczyk in an email about donation and licensing, just posting his reply here

[2021-04-16 15:58] andreas-p opened #3897 "Unfortunate cert renew handling of 30d < TTL < 90d"
Since I can't reopen the issue #3813, here's a new one:

Despite the code handling certificate TTLs <= 30d, I encountered the renew loop as mentioned in #3813 with cert-manager 1.20, when Vault issues certificates with TTL=30d.

Instead of the current code, renewBefore should be calculated as `min(TTL/3, 30d)` to get a sane renew period for TTLs between 30d and 90d.

[2021-04-16 17:20] mvukadinoff commented on #3748
For our case it's 20000 globally in more than 1500 namespaces. I don't think it's a hard limit it's more how powerful are the masters and how much load they can withstand.

Regarding the query I believe its: /api/v1/secrets?limit=500&resourceVersion=0
But I couldn't trace exactly where cert-manager is making it. Although it seems it has a limit parameter it seems it's not honored because of resour

[2021-04-16 17:42] z0rc opened #3898 "Allow setting PodDisruptionBudget policies via helm chart"
**Is your feature request related to a problem? Please describe.**

To be able to gracefully handle various disruptions (for example rolling restart of nodes) cert-manager would need to have policies for PodDisruptionBudget.

**Describe the solution you'd like**

I'd like to be able to set PodDisruptionBudget policies for cert-manager, cainjector and webhook pods using helm chart values.

**Descri

[2021-04-16 20:52] acsecengtesting commented on #3895
Attaching an example of the logs at the TPP side . Note that with version 1.2 we saw a single CSR entry and with v 1.3 we see two CSRs each time. This doesn't always result in failure as we sometimes see a single cert returned however sometimes we see two certs and that causes the cert to end up in an error state on renewal.

[v1.2_example.csv](https://github.com/jetstack/cert-manager/files/632783

[2021-04-16 21:34] justinkillen commented on #3603
We updated to 1.3.1 about 30 hours ago.  Since then, we've observed almost 600 certificates be issued, and haven't seen the issue.

[2021-04-17 03:37] t3hmrman commented on #3632
You can fix this by adding a new `ClusterRole` & `ClusterRoleBinding` with the appropriate permissions for the `cert-manager` service account you have installed:

[code]

I also needed to create some other permissions for the webhook's service account (in my case `gandi-webhook`) but if you follow the messages in the logs of `deployment/cert-manager`'s deployment and add permissions as necessary (

[2021-04-17 05:34] skdasari-inndata commented on #3874
I have CRD's alive and running in my cluster.

challenges.acme.cert-manager.io              2021-04-06T03:43:26Z
eniconfigs.crd.k8s.amazonaws.com             2021-03-02T09:51:03Z
securitygrouppolicies.vpcresources.k8s.aws   2021-03-02T09:51:06Z

I tried deleting those but seems like they are stuck in a deadlock.
Tried to follow a workaround- https://github.com/kubernetes/kubernetes/issues/60538#is

[2021-04-18 15:45] irbekrm opened #3899 "Delete Venafi TPP test certs created by e2e tests"
Currently our TPP test instance has a bit over 7000 unexpired certs, large part of them created by `cert-manager` e2e tests.

We might want to look into cleaning up Venafi TPP certs as part of e2e test cleanup.

It looks like the `vcert` library currently does not have an option to delete certificates - see [this issue](https://github.com/Venafi/vcert/issues/117).

/kind cleanup

[2021-04-19 11:29] lucwillems commented on #3501
Had same problem, using cert-manager v1.0.0  on google gke.
1 certificate was expired, removed the Certificate , and recreated it.
manager fetched a new certificate after this action and service was restored.

@meyskens : for my understanding, this is still a open issue which will be fixed or is it already fixed on 1.x version ?

[2021-04-19 13:28] christhomas commented on #2763
maybe doing TLS termination in the gateway is not the best idea, since this means that one gateway has to combine all the certificates from all the ingresses which might be configured. So perhaps TLS termination needs to be done further up the chain, closer to the service which is being served, instead of the outside edge where all connections are effectively bottlenecked, leading to this problem

[2021-04-19 13:30] acsecengtesting commented on #3899
We would welcome the ability to optionally delete and/or revoke certificates when the certificate object is deleted in k8s. We have had to implement this functionality ourselves as a webhook.

[2021-04-19 13:35] christhomas commented on #2763
my idea so far is to use normal kubernetes ingress and do the TLS termination here, before sending the traffic into the cluster with no TLS to validate because it's already handled externally. If istio can't punt the TLS termination further up the chain to somewhere where it's more logical to handle, or combine certificates in a reasonable fashion. Then what other options are there for hosting mul

[2021-04-19 15:00] LeducH opened #3900 "Unable to set up two issuers for Let’s Encrypt"
**Describe the bug**:

Unable to create issuers
[code]

**Expected behaviour**:

able to create issuers

**Steps to reproduce the bug**:

install with
[code]

**Anything else we need to know?**:
[code]

**Environment details:**:
- Kubernetes version:
[code]
- Cloud-provider/provisioner: rasperry pi
- cert-manager version: current
- Install method: e.g. helm/static manifests helm version
`version.B

[2021-04-19 16:03] marshields commented on #3730
Hi @jakexks, thank you for the update.

When may I expect https://github.com/jetstack/cert-manager/pull/3746 to receive a written review?

[2021-04-19 18:32] thomas-lui commented on #3755
Hi @SgtCoDFish thanks for getting back to me.

You're right in that it won't block the upgrade. I went ahead with the upgrade and I'm running EKS 1.16 with Cert-manager 1.0.0. However, I'm still seeing these errors come in at an unusual pace. The certificates are being renewed, just not sure why these 404s are coming through.

Here's an example of a Certificate that's showing these errors:

`Name:

[2021-04-19 20:46] LeducH commented on #3900
Please refer to [acme](https://cert-manager.io/docs/configuration/acme/#use-an-alternative-certificate-chain) for further information concerning `spec.acme.preferredChain`

the work around is just this yml where `preferredChain` is specified
[code]

[2021-04-19 20:48] LeducH commented on #3900
Please add this to the documentation.

[2021-04-19 20:48] #3900 closed

[2021-04-19 22:52] acsecengtesting commented on #3895
Have tried building cert-manager with an ealier version of vcert (https://github.com/jetstack/cert-manager/commit/308a0f44052a8954fdc5a81195e68c817aab446d) to no avail. I plan to do a slightly manual git bisect between 1.2.0 and 1.3.0 to see if I can pin down the point at which this behaviour started.

[2021-04-20 09:07] maelvls opened #3901 "Make our release-notes great and share them with the rest of the world"
I am thinking about ways to improve the user experience of cert-manager, and one of the areas of possible improvement is the cert-manager release notes. From my experience, I think users are facing two pain points:

- People skip reading the release notes due to not being super user-friendly,
- People are not aware of these new releases (unless they either watch releases on GitHub or follow us car

[2021-04-20 09:35] daniel-sullivan commented on #3897
I'd like to throw my voice into this matter when using a slightly modified version of the example config here: https://cert-manager.io/docs/installation/kubernetes/

[code]

The above caused the aforementioned renew loop.

Fixed using the following config:

[code]

We are running 1.3.0 simply deployed using:
[code]

[2021-04-20 10:17] acsecengtesting commented on #3895
Results from a git bisect between 1.2.0 and 1.3.0

oot@certmanagerbuild:/home/andy/cert-manager# git bisect good
bad96f51027d0d48e0829e014bab0e532e373a34 is the first bad commit
commit bad96f51027d0d48e0829e014bab0e532e373a34
Merge: 19ae739ab 127acfc7e
Author: jetstack-bot <32282838+jetstack-bot@users.noreply.github.com>
Date:   Fri Mar 26 15:20:58 2021 +0000

    Merge pull request #3582 from lal

[2021-04-20 16:36] jdgri opened #3904 "Akamai Fast DNS should use V2 API and rename to Edge DNS"
**Is your feature request related to a problem? Please describe.**

The challenge is currently failing with a Bad Request. We think this is due to Edgegrid using the v1 API instead of the v2 API. The product has also been renamed to Edge DNS.

We receive this error message. The issue seems to relate to an API client that doesn't have access to the V1 version of the API.

Challenges:
- Name: edgedn

[2021-04-21 06:38] rauanmayemir opened #3907 "Dns01 support for YandexCloud"
**Is your feature request related to a problem? Please describe.**

Currently, I'm using GCP as my dns01 challenge provider, while my infra is in Yandex Cloud.
They also have a hosted DNS solution which I'd like to fully migrate to.

**Describe the solution you'd like**

It would be great to have a dns01 challenge provider for YandexCloud.

/kind feature

[2021-04-21 09:44] mgazza commented on #3338
this also works
[code]

[2021-04-21 10:36] KlavsKlavsen commented on #3887
Everything is in ready state.. so I think everything is working.. all certificaterequests, certificates and orders 8days old..
Its just odd it logs these errors then if everythings fine?

[2021-04-21 15:39] acsecengtesting commented on #3895
Hi - For some reason git bisect gave me the wrong commit to blame (resulting in me undoing the revision above in the most recent master which didn't fix the problem). I have re-tested and the last good version and first bad version are as follows.

Last Good version: "git-commit"="127acfc7e163c206f22ddaa30899cbcd5837b426" "version"="v1.2.0-151-127acfc7e163c2"
First Bad version: "git-commit"="442d7

[2021-04-21 15:40] maelvls opened #3908 "v1.4 Roadmap"
| 👉 @jetstack/team-cert-manager is invited to edit this PR's description and update the roadmap. |
|--|

This issue is a place to record our ideas of what the [v1.4 release](https://github.com/jetstack/cert-manager/milestone/25) will be made of. The [timeline](https://docs.google.com/document/d/1Tc5t6ylY9dhXAan1OjOoldeaoys1Yh4Ir710ATfBa5U/edit#bookmark=kix.8a98ch6d7b) is:

| Date              | Ev

[2021-04-21 15:49] maelvls commented on #3220
Do you think this issue has been fixed with #3877 and could we close this issue? @irbekrm

[2021-04-21 16:09] irbekrm commented on #3220
I think you are right @maelvls 😄

[2021-04-21 16:09] #3220 closed

[2021-04-21 16:58] maelvls commented on #1888
/good-first-issue

[2021-04-22 01:37] bseenu opened #3909 "Make wait time configurable when creating route53 challenge"
**Is your feature request related to a problem? Please describe.**
Recently we ran in to an issue where there were multiple route53 challenges created when creating a cert and took almost 2 hours for the certificate to be issued
**controller log**
[code]

**Describe the solution you'd like**
Currently whenever a acme challenge is created the timeout is hard coded to 120 seconds with polling at 4 s

[2021-04-22 05:35] samene opened #3910 "ACME Certificate in "False" state even when order and certificaterequest are completed"
I am using the ACME certificate provider with DNS challenge on Route53. My certificate resource is in state "False" but the order and the certificaterequest are valid and completed.

See details logs-

===================================================
[code]
===================================================

[code]

As you can see the order resource mentioned in the describe does not exist. It

[2021-04-22 09:06] samene commented on #3910
After around 120 minutes the certificate are issued and in ready "True" state.

[2021-04-22 09:22] acsecengtesting commented on #3895
The issue is with a 1 second timeout in controller.go

  for i := 0; i < workers; i++ {
                wg.Add(1)
                // TODO (@munnerz): make time.Second duration configurable
                go wait.Until(func() {
                        defer wg.Done()
                        c.worker(ctx)
                }, time.Second, stopCh)
        }

I have tested with a longer timeout and the

[2021-04-22 10:11] JoshVanL commented on #3908
The approval API needs to be rolled out to all [known external issuers](https://cert-manager.io/docs/configuration/external/):
- [ ] [step-issuer](https://github.com/smallstep/step-issuer):
  - [ ] PR opened
  - [ ] New release with approval API
  - [ ] Update cert-manager.io docs
- [ ] [aws-pca-issuer](https://github.com/jniebuhr/aws-pca-issuer):
  - [ ] PR opened
  - [ ] New release with approva

[2021-04-22 10:35] irbekrm commented on #3887
Yes, we are currently having some discussions about whether we should or should not not log these messages as errors #3794

It happens because we have multiple control loops updating the same resources and sometimes there is a race condition. When that happens, the control loop that couldn't apply the update logs the error, re-syncs the resource and re-tries the update again till it succeeds.
With

[2021-04-22 11:01] irbekrm commented on #3904
Thanks for spotting the issue and working on this folks!

Unfortunately we ourselves don't have an Akamai account, so we cannot reproduce/test this issue, but it would be great to get this fixed.
Feel free to reach out here or in #cert-manager-dev channel in [Kubernetes Slack](http://slack.kubernetes.io/) for any code/workflow related questions.

[2021-04-22 11:12] #3887 closed

[2021-04-22 12:33] irbekrm opened #3911 "Re-enable Venafi Cloud e2e tests"
The tests were disabled by #3903 after they had been failing for a couple of days.

We should:

- investigate the failure and take any necessary steps such as reporting an issue with Venafi Cloud
- fix it and re-enable the tests

/kind bug

[2021-04-22 12:46] irbekrm commented on #2318
We have been working on documenting some of the edge cases with backup and restore https://github.com/cert-manager/website/pull/531.
Please do reach out if you encounter more issues.

[2021-04-22 13:39] LeducH opened #3912 "Self signed example fails"
**Describe the bug**:
Unable create certificate
[code]

**Expected behaviour**:
[code]

**Steps to reproduce the bug**:
Install k3s in a set of raspberry and follow the instructions from https://cert-manager.io/docs/installation/kubernetes/ using helm

**Anything else we need to know?**:
Is the guide deprecated

**Environment details:**:
- Kubernetes version:
[code]
- Cloud-provider/provisioner: r

[2021-04-22 14:28] irbekrm commented on #3912
Hi @LeducH ,

From the `Certificate` status it appears like it was issued successfully (`Ready: True`) what makes you think it was not?

These log lines can be safely ignored in almost all cases, see #3794 .

[2021-04-22 14:34] irbekrm commented on #3667
I am going to pin this issue as it seems like this is confusing for a large number of questions and we get a number of GitHub issues open where folks think that there is something wrong with their installation when they see these lines in the logs.

[2021-04-22 15:25] irbekrm opened #3915 "Make controller's sync period configurable"
It could be useful to allow for controller's sync period to be configurable.

Background:
See Kubernetes [sample controller diagram](https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/sample-controller/docs/images/client-go-controller-interaction.jpeg) for reference. `cert-manager`'s controller consists of a number of control loops that sync various `cert-manager`'s and Kubern

[2021-04-22 15:31] irbekrm commented on #3895
I think this period might be the period of how often new items are pulled out of workqueue and synced rather than a timeout.

Regardless of whether that is the right fix for this issue, it might make sense to allow for that period to be configurable. I have created a new issue for that #3915 and marked it as a good first issue in case someone wants to give it a try.

[2021-04-22 19:57] MaxTaggart opened #3916 "Self-check continues to run after removing all orders."
Hey, sorry, I tried Slack but I couldn't figure out how to get in.

I'm on Azure Kuberentes Service using the `cert-manager` helm chart version `0.13.0`.

I have been using cert-manager for almost a year now and is has been great. For the last day or so my ingress (Nginx) has been receiving what I believe are self-check requests. I'm not totally sure what triggered them, but I am seeing them every

[2021-04-22 20:50] davidsbond commented on #3915
Be happy to pick this one up during my dev time tomorrow, seems like a nice simple one to start with.

/assign

[2021-04-22 21:27] EronWright commented on #3711
This would be a great feature.

May I suggest that the imported ACM certificate be tagged to associate it with the `Certificate` resource.  e.g. `cert-manager.io/certificate-name: namespace/name`.  Consider recording the cert revision too.

For now, a possible workaround is to import the certificate into ACM from the `Secret` that is created by cert-manager.  Here's a snippet of go code that conve

[2021-04-22 21:32] EronWright commented on #3711
Related issue: https://github.com/kubernetes-sigs/aws-load-balancer-controller/issues/1084

[2021-04-23 01:03] adonaicosta commented on #3238
Hi guys

to fix problem on DOKS cluster, enough add these annotations on ingress-nginx-controller service:

`apiVersion: v1`
`kind: Service`
`metadata:`
  `    annotations:`
  `    service.beta.kubernetes.io/do-loadbalancer-enable-proxy-protocol: "true"`
  `    service.beta.kubernetes.io/do-loadbalancer-hostname: "anyDNSEntryWithThisLoadBalancer, ex: prefix.mydomain.com"`

[2021-04-23 16:53] howardjohn opened #3920 "Support gateway-api HTTPRoute for HTTP01 solving"
http://gateway-api.org/ is a new API driven by Kubenetes sig-network. Conceptually, it is similar to a replacement for Ingress, so it would be great to have support in cert-manager as well.

I am opening this issue to get some feedback on if there is interest, how the API should look like, whether there is interest only after the gateway-api matures more (it is currently in alpha), etc.

Since the

[2021-04-24 07:05] irbekrm commented on #3907
Hi @rauanmayemir ,

Thank you for opening the issue.

Since the `cert-manager` team does not have YandexCloud account, we cannot properly test/implement this, but PRs are very welcome!

[2021-04-24 07:27] rauanmayemir commented on #3907
Could you point me in the direction I should look at? I'd like to try implement this and understand how it all works.

[2021-04-24 09:08] irbekrm commented on #3907
Thanks for showing interest!

I had another look at this- I think the best solution for this could be an out-of-tree dns01 provider for ACME issuer.

There is an example repo [here](https://github.com/cert-manager/webhook-example)- take a look and let us know if it makes sense?

There is a list of other out-of-tree dns providers for `cert-manager` [here](https://cert-manager.io/docs/configuration/

[2021-04-24 10:15] rauanmayemir commented on #3907
Thank you, out-of-tree dns provider makes a lot of sense.

[2021-04-24 11:12] hetii commented on #2875
This issue back to me almost one year the time when I create it, and here is the case.
Usually I create a 3 separate kubernetes clusters, each has own cert-manager and each manage his own given domain,
so it looks like below:
[code]

And now the tricky part, if dev/test cluster is created first and zone example.com doesn't exists in azure cert-manager based on  [this function](https://github.com/j

[2021-04-24 16:33] AdaLiszk commented on #3501
I'm stuck at this problem.

In my case, every deployment is a completely fresh environment, but no matter what I try, I get the "the object has been modified; please apply your changes to the latest version and try again" line.
[code]

Tried:
- k8s v1.18.17 + cert-manager v1.3.1
- k8s v1.20.5 + cert-manager v1.3.1
- k8s v1.20.5 + cert-manager v1.3.0
- k8s v1.20.5 + cert-manager v1.2.0
- k8s v1.20.

[2021-04-24 18:14] AdaLiszk commented on #3501
Okay, my bad, I have messed up the annotation:
`cert-manager.io/issuer: letsencrypt-stage` -> `cert-manager.io/cluster-issuer: letsencrypt-stage`

Everything seems to work now, sorry for the needless spam.

[2021-04-25 10:42] irbekrm commented on #3916
Hi @MaxTaggart,

Thanks for opening the issue- could you please try upgrade to one of the newer versions of `cert-manager` and see if the error still occurs?
Current version is [`v1.3.1`](https://github.com/jetstack/cert-manager/releases/tag/v1.3.1), but you should probably upgrade incrementally and check the release notes for all the versions in-between as there have been some breaking changes.

[2021-04-25 17:14] zeeZ commented on #3689
I also have an OVH cluster. I've found it with several thousands of CertificateRequests and Orders running cert-manger version 1.2.0. After upgrading to 1.3.1 and deleting all those objects I found myself in the same state.

Ultimately I completely uninstalled cert-manager, including all CRDs, then reinstalled it with the same config. All certificates were reissued and these errors disappeared.

S

[2021-04-26 12:55] #3619 closed

[2021-04-26 13:33] jakexks opened #3924 "External Challenge Solver: Support for various Virtual Service implementations"
**Is your feature request related to a problem? Please describe.**
A way of obtaining certificates from an ACME CA is to solve the http-01 challenge. This involves serving a specific string on http://<domain>:80/.well-known/acme-challenge/<token>

Currently, cert-manager dynamically deploys one pod per in-flight challenge and configures an Ingress with the exact `spec.rules[].http.paths[].path` fo

[2021-04-26 13:43] jakexks commented on #3920
/kind feature
/priority backlog
/help

I think we should have some sort of pluggable component here similar to how we allow anyone to add [support for their DNS provider](https://github.com/cert-manager/webhook-example) for dns-01 challenges and how anyone can implement their own [external Issuers](https://github.com/cert-manager/sample-external-issuer).

I created another issue to track that feat

[2021-04-26 14:03] jakexks commented on #3924
Improving our webhook APIs would be a prerequisite for pluggable HTTP-01 solvers. Related Issues:
https://github.com/jetstack/cert-manager/issues/2140
https://github.com/jetstack/cert-manager/issues/3437

[2021-04-26 21:48] JohnGalt1717 opened #3925 "Please make all configuration entries under the dns providers etc. work with valueFrom"
It would save a lot of duplication if these values were able to come from secrets or config maps like environment variables on deployments. (and not just the clientSecret)

In general everything including dns names etc in kind: certificate too would very much benefit from allowing mapping with config map to keep DRY in configuration information. (I can have it once and use it everywhere since this

[2021-04-27 01:16] amjanoni commented on #2166
+1 for having an option to enable a mode where a full CA chain is preserved in ca.crt

I'm having the same issue with Ruby SSL Library, appending the intermediate in the ca.crt works fine.

[2021-04-27 10:47] wallrj commented on #3531
In https://github.com/cert-manager/sample-external-issuer/pull/15 the sample-external-issuer Docker image was published to ghcr.io along with a public install.yaml manifest.

[2021-04-27 10:55] acsecengtesting commented on #3895
I have done some more digging on this - the issue appears intermittent in that I can have a fully working system then kill off the controller pod and when it comes back up have the dual CSR logs in TPP.

By coincidence we have had an issue with the back end CA which has exposed something about the issue due to the time it's taking for the certs to get into an error state on TPP. Note I know the re

[2021-04-27 11:07] liamawhite commented on #3237
Hi all,

I raised a support ticket with AWS and this was the response I got. I haven't got time to verify this works but let me know if it does!

---
From their investigation, the issue mentioned is more related to cert-manager setup. The cert-manager-webhook deployment uses port 10250 which is also used for kubelet on the Fargate pods. Therefore when the connection was made to the cert-manager-we

[2021-04-27 13:55] #3531 closed

[2021-04-27 15:40] maelvls commented on #3513
Thank you Zee for setting `artifacthub-repo.yml`!

[code]

🙏

I went to artifacthub and started the ownership claim. The user `adam` was gone, so I had to register a new chart.

Note: searching "cert-manager" now [gives](https://artifacthub.io/packages/search?page=1&ts_query_web=cert-manager
![cert-manager-search](https://user-images.githubusercontent.com/2195781/116270540-7b860d00-a77f-11eb-896b-

[2021-04-27 22:47] ttk opened #3927 "Temp override _acme-challenge CNAME record"
We moved a domain to a StackPath (a CDN provider) that offers Let's Encrypt support, and as such they manage the ssl renewal by a CNAME record:

`_acme-challenge.example.com CNAME ff762516-563d-4c22-b727-f4a5f5f2c16d.stackpath-tls.com.`

This all works great, but we want to be able to maintain our own certificate for the same domain for our origin servers so that we can offer a hot standby in case

[2021-04-28 01:41] cep21 opened #3928 "CloudFlare for chart repository causes helm verify issues"
I have a chart that uses cert-manager as a sub chart.  When I run the command `helm dep build --verify --skip-refresh .` I get an error

[code]

If I run a `curl -v https://charts.jetstack.io/charts/cert-manager-v1.1.0.tgz` I see

[code]

I wonder if the cloudflare page is causing an issue.

I can get around this by not using `--verify`.  This does not appear to be an issue for charts not behind c

[2021-04-28 02:23] cep21 commented on #3928
I think since the content type of `https://charts.jetstack.io/charts/cert-manager-v1.1.0.tgz` is `text/html; charset=utf-8`, the --verify fails.

[2021-04-28 05:26] maelvls opened #3929 "Turn on parallelization in Ginkgo to speed up Prow jobs"
@jakexks shared the idea of having our e2e suite run in parallel in Prow jobs. This change will probably be in [cert-manager-release-next-periodics.yaml](https://github.com/jetstack/testing/blob/master/config/jobs/cert-manager/release-next/cert-manager-release-next-periodics.yaml) (not sure).

/kind cleanup
/area testing
/priority backlog

[2021-04-28 05:33] maelvls opened #3930 "Add migration tests against forked repositories"
During the v1.3 release retrospective, we discussed the idea of doing migration tests using forked repositories. I'm not sure about what this was about, so I'll let @jakexks expand on that :grin:

[2021-04-28 08:56] derTobsch commented on #3928
We have the same issue and flux is not able to use this. We get the following error

[code]

[2021-04-28 08:58] #1636 closed

[2021-04-28 08:58] #2526 closed

[2021-04-28 09:20] simplyzee commented on #3928
I'm currently looking into this. It's because the files now serve on the main path `https://charts.jetstack.io/cert-manager-v1.1.0.tgz` - I'm checking to see if we can mirror this now to ensure it's available at `charts/`

[2021-04-28 09:35] simplyzee commented on #3928
@cep21 @derTobsch could you try again and let me know? I've just merged a release into production. Files should be available at `charts/` now.

[2021-04-28 09:58] derTobsch commented on #3928
So, we got the last error on
[code]
and since then it is looking good see

[code]

[2021-04-28 10:59] electrical commented on #2868
I ran into this exact issue with some certs. Thanks to the help of @jakexks managed to resolve it for now by deleting the order and CR.

[2021-04-28 11:12] acsecengtesting commented on #3895
I have tried a patch where I added an "in progress" annotation to the CR during the client.RequestCertificate call which prevented other instances of the sign function from re-requesting the CR. Once an error occurs or the function returns a pickupID which is annotated on the CR then I set this to blank.

This results in the issue going away for me.

Would you like me to submit a pull request afte

[2021-04-28 13:14] jakexks commented on #3928
/triage support
/assign @simplyzee
/close

[2021-04-28 13:14] #3928 closed

[2021-04-28 13:21] jakexks commented on #3853
Echoing my comment on https://github.com/jetstack/cert-manager/issues/3853

Is this a necessary feature? As we allow serviceAccounts to be specified a pull secret can be [specified there](https://kubernetes.io/docs/tasks/configure-pod-container/configure-service-account/#add-image-pull-secret-to-service-account)

[2021-04-28 14:42] wallrj commented on #3908
Released https://github.com/jetstack/cert-manager/releases/tag/v1.4.0-alpha.0 :tada:

[2021-04-28 14:59] howardjohn opened #3933 "v1.4.0-alpha.0: kubectl apply fails due to too large CRDs"
**Describe the bug**:
I ran:
[code]
Per docs: https://cert-manager.io/docs/installation/kubernetes/#installing-with-regular-manifests

Error:
[code]

**Expected behaviour**:
Install succeeds

**Steps to reproduce the bug**:
Command above seems to do it consistently

**Anything else we need to know?**:

`kubectl replace` sort of works, but doesn't work well for the non-CRD types (Service especially

[2021-04-28 15:07] howardjohn commented on #3933
I think its specifically the last-applied annotation kubectl adds, so if helm doesn't add that it would make sense it doesn't experience the issue. Just a guess though

[2021-04-28 15:11] wallrj commented on #3915
In  https://github.com/jetstack/cert-manager/pull/3919#discussion_r622113559 @wallrj  wrote:

[2021-04-28 15:13] wallrj commented on #3933
/priority important-soon
/milestone v1.4

[2021-04-28 15:19] wallrj commented on #3513
I notice that https://charts.jetstack.io/ still redirects to https://artifacthub.io/packages/search?org=jetstack which still shows a 404 message.

![Screenshot from 2021-04-28 16-18-57](https://user-images.githubusercontent.com/978965/116429166-8b642680-a83d-11eb-863a-79b472752db6.png)

[2021-04-28 15:21] wallrj commented on #3513
Also noticed that the new https://artifacthub.io/packages/helm/cert-manager/cert-manager page lists even alpha releases as the current release:
![Screenshot from 2021-04-28 16-19-19](https://user-images.githubusercontent.com/978965/116429403-c49c9680-a83d-11eb-8f8a-91e47dd07fce.png)

[2021-04-28 15:26] wallrj opened #3934 "Publish Helm charts to https://github.com/jetstack/jetstack-charts rather than gs://jetstack-chart-museum/"
The Helm releases are now hosted via Cloudflare pages backed by files in a GitHub repository, so we need to adjust the release tool and release documentation accordingly.

See:
 * https://github.com/jetstack/jetstack-charts
 * https://github.com/cert-manager/release/blob/6a57d8eeb4507cbb7913c6a4d1398277cd761001/pkg/release/consts.go#L57-L59
 *  https://github.com/jetstack/cert-manager/issues/3513

[2021-04-28 15:26] wallrj commented on #3934
/milestone v1.4

[2021-04-28 15:46] captnbp commented on #3853
Yes we could do it by updating the service account specs. But in some cases, we don't have the permissions in k8s to do so, we can only add a secret. This is why we want to be able to use it directly in the pod spec.

I updated the issue description to reflect the change proposed in #3913 as we were asked to move the option in the podTemplate instead of the controller options.

[2021-04-28 16:30] #3667 closed

[2021-04-28 20:30] tamalsaha opened #3935 "Build is broken"
[code]

/kind bug

[2021-04-28 20:32] tamalsaha commented on #3935
cc: @inteon  @wallrj

The offending pr seems to be https://github.com/jetstack/cert-manager/pull/3724

[2021-04-28 20:45] adamday2 commented on #2239
@munnerz are you aware of there ANY way to set these values (e.g., keySize) in the current implementation when relying on the ingress-shim? I'll happily accept take hacky workarounds at this point as this is a hard requirement for us and causing issues.

[2021-04-28 22:03] mortenn commented on #3767
I was testing out cert-manager with microk8s and ran into what appears to be a variant of this same issue.
[code]
There is only one message in the cert-manager logs on my deployment:
[code]
I also tried disabling and enabling the dns addon and changed it to use my locally hosted DNS rather than the default Google DNSes, but nothing changed.

[2021-04-28 22:16] mortenn commented on #3767
Logs from the cert-manager application after I restarted the deployment:
[code]

[2021-04-29 05:02] irbekrm commented on #2868
Thanks for the comment- would you happen to remember in what state was the Order? Also, was it for a LetsEncrypt issuer?

There is a PR #3805 to fix this issue- that is specifically for a scenario where the ACME server has not updated the state of the Order correctly/in time after the challenges have been validated. It would be good to know if there are other related/similar issues, maybe a more g

[2021-04-29 06:33] irbekrm commented on #3907
Since this is no longer going to be an issue agains this repo, I am going to close this issue.

Please feel free to PR the provider to [the list](https://cert-manager.io/docs/configuration/acme/dns01/#webhook) once it's ready & tested.

[2021-04-29 06:33] #3907 closed

[2021-04-29 06:45] tegioz commented on #3513
Hi @wallrj

Regarding the `alpha` releases, you have two options:

- You can [ignore packages matching certain patters from your repository metadata file](https://github.com/artifacthub/hub/blob/20c6540ae16feb7035ba0429fb45b0f0c8a105d4/docs/metadata/artifacthub-repo.yml#L18-L21). This way, `alpha` or `beta` packages won't even be visible in Artifact Hub.

- You can mark the package as `pre-release

[2021-04-29 07:51] electrical commented on #2868
Hi @irbekrm

This is with the Letsencrypt provider yeah.
the last update for the cert itself was:
[code]

There only order that was there was of the original creation of the cert. Why the removal of it helped is still confusing to me.
Only after removing the order and CR it would recreate it all.

[2021-04-29 08:02] irbekrm commented on #3935
Thanks for spotting the issue!

It does not break Bazel builds (`bazel build //...` ) so shouldn't affect our own workflows/CI as such except for cases where someone uses `go build` directly.

It would break anyone importing `pkg/controller/acmechallenges` and `cmd/controller/app` without Bazel as those seem to be the two places where there are the imports that the compiler complains about.

[2021-04-29 08:05] inteon commented on #3935
https://github.com/inteon/cert-manager/blob/2d7dfcb4623c24f6eaafd2f7d3d7b1832668e05d/pkg/issuer/acme/http/internal/istio/BUILD.bazel#L10
This line fixes the bazel build. And also persists throughout ./hack/update-all.sh. I was not aware this causes issues when using the go tools directly.

[2021-04-29 08:56] venkatjk commented on #3756
thank you it works.

[2021-04-29 09:44] irbekrm commented on #3756
Thanks for letting us know.
I will close this issue now as it seems solved.

[2021-04-29 09:44] #3756 closed

[2021-04-29 10:37] jakexks commented on #3935
/priority critical-urgent

[2021-04-29 10:49] irbekrm commented on #3912
Hopefully #3794 will help with making the logs less confusing- closing this issue as it seems like this should have been addressed by those changes, but do let us know if you are still experiencing issues.

[2021-04-29 10:49] #3912 closed

[2021-04-29 12:26] #3935 closed

[2021-04-29 14:11] wallrj commented on #3933
In https://github.com/kubernetes-sigs/kubebuilder/issues/1140#issuecomment-562354792 @DirectXMan12 wrote:

And in https://github.com/kubernetes-sigs/controller-tools/issues/561 it is suggested that controller-tools should have a way to turn off descriptions for particular fields.

[2021-04-29 14:41] irbekrm commented on #3894
/assign

[2021-04-29 15:08] jakexks commented on #3927
You can create custom logic for solving a DNS challenge by creating your own [DNS webhook](https://github.com/cert-manager/webhook-example).

This would be the preferred method, as adding support for everyone's unique DNS solution into cert-manager's tree is not maintainable in the long run.

[2021-04-29 15:55] munnerz commented on #3933
I'd personally recommend not using `apply` for CRDs and instead using `replace` - there's not really _any_ cases where you'd want to merge/apply a CRD, and it does create this issue too with the `last-applied` annotation.

[2021-04-29 17:20] GuoqiangZ opened #3941 "Certificate renewal get stuck if Vault becomes temporarily inaccessible during the the time of renewal."
**Describe the bug**:

We use Vault and cert-manager to sign certificates in kubernetes cluster. We noticed that if we shut down the Vault before certificate renewal is going to happen, and then we brought back Vault after the renewal scheduled time, the certificate renewal would still get stuck even after the certificate expired.

This is the status from the Certificate. This is after hours of Va

[2021-04-29 17:46] wallrj opened #3942 "Consolidate duplicate ACMEChallengeSolverHTTP01.*.PodTemplate fields in the API"
In  https://github.com/jetstack/cert-manager/pull/3724#discussion_r619264557 we noted that duplicating the `ACMEChallengeSolverHTTP01.Ingress.PodTemplate` and `ACMEChallengeSolverHTTP01.Istio.PodTemplate` was ugly and that the PodTemplate should be defined as `ACMEChallengeSolverHTTP01.PodTemplate`.

@inteon agreed

/kind feature

[2021-04-29 17:48] wallrj opened #3943 "hack/update-crds.sh no longer updates CRDs"
~~It seems that since we merged https://github.com/jetstack/cert-manager/pull/3724,~~ the CRD templates in `deploy/crds` can no longer be updated.

Correction: @inteon Has dug into it some more and found that the problem was caused by https://github.com/jetstack/cert-manager/pull/3932 -RichardW.

For example:

[code]

If I check out `release-1.3.1` branch and make the same change, the `update-crds

[2021-04-29 17:53] wallrj commented on #3943
[code]

[2021-04-30 00:25] ttk commented on #3927
Thanks for the tip!

[2021-04-30 00:25] #3927 closed

[2021-04-30 08:11] wallrj commented on #3933
Here's an example where FoundationDB operator changed their instructions from `apply` to `create || replace` for the same reason:
 * https://github.com/jetstack/cert-manager/issues/3943

[2021-04-30 08:51] wallrj opened #3944 "Deprecate obsolete API versions"
In https://kubernetes.slack.com/archives/CDEQJ0Q8M/p1619716121064300?thread_ts=1619713785.061100&cid=CDEQJ0Q8M @munnerz wrote:

This will help reduce the size of our manifest files, which cause problems in https://github.com/jetstack/cert-manager/issues/3933
and it will simplify the maintenance of the CRDs, which seem to have become so large as to cause problems for the `controller-gen schemapatch

[2021-04-30 08:53] wallrj commented on #3933
I'd rather use `apply` than `create || replace` for CRDs for the same reason I use it with other resources: because:

 * It's easier to remember. I've been using `apply` for all API create / update operations  since it was introduced.
 * I can use the same command during the initial install and during upgrade
 * I can't use `replace` with the all-in-one manifest; it fails as follows:

[code]

So I

[2021-04-30 08:58] wallrj commented on #3933
@irbekrm The other thing that might help is if we revert the fix for line wrapping in https://github.com/jetstack/cert-manager/pull/3846 .
I remember that we spotted that change from wrapped to unwrapped, because it made the manifest files significantly smaller.

Perhaps that reduction in size would be enough to allow `kubectl apply` to continue to work?

[2021-04-30 08:59] wallrj commented on #3933
It reduced the size by about 0.5 MiB: https://github.com/jetstack/cert-manager/releases/tag/v1.3.0-alpha.1 vs https://github.com/jetstack/cert-manager/releases/tag/v1.3.0-beta.0

[2021-04-30 09:24] irbekrm commented on #3933
@wallrj I tried that yesterday (removing the wrapping)- they were still too big.

[2021-04-30 11:23] irbekrm commented on #3944
It looks like a standard way to deprecate an API version would be using `deprecated` and `deprecationWarning` fields on the CRD for that version, see [here](https://kubernetes.io/docs/tasks/extend-kubernetes/custom-resources/custom-resource-definition-versioning/#version-deprecation).

It seems like that would be using the same mechanism as the validating webhook warnings added by #3969- a warning

[2021-04-30 12:57] inteon commented on #3943
This problem is caused by #3932. In that PR, helm if statements were added to the CRD files. This makes them non-valid yaml. This causes this issue.

[2021-04-30 13:10] wallrj commented on #3943
Thanks for investigating @inteon

@anton-johansson We need to find a different way of conditionally populating the URL field of the conversion webhook config in the  CRD templates, because the new Helm `{if} {else}` statements  (in #3932) have broken the `update-crds.sh` script.
Or we need to come up with some other work around.

[2021-04-30 13:23] wallrj opened #3947 "Linting to check API annotations"
In https://github.com/jetstack/cert-manager/pull/3038#pullrequestreview-441865844 while reviewing a PR to tidy up the API documentation we had to manually check for various patterns and best-practice described in: https://github.com/kubernetes/community/blob/master/contributors/devel/sig-architecture/api-conventions.md

But some / many of these could be checked automatically. For example to enforc

[2021-04-30 13:57] #3933 closed

[2021-04-30 13:58] sass1997 opened #3948 "Encryption Password for Keystore/Truststore from Vault"
**Is your feature request related to a problem? Please describe.**
I would like to use the feature of creating keystores & truststores out of a certificate. My problem that I have is that the secret for the encryption has to be an Kubernetes Secret. It's pretty known that such secret aren't really secured safed for the users and can be injected by almost all applications.

**Describe the solution

[2021-04-30 22:44] Miniland1333 commented on #466
Just wanted to let everyone know that this is still something that does pop up with DigtalOcean loadbalancers with the proxy protocol. It looks like there is some upstream activity to hopefully fix the root cause for this: https://github.com/kubernetes/kubernetes/issues/66607

[2021-05-01 07:11] Magicloud opened #3949 "Option to store selfsigned cert/key pair into two secrets."
**Is your feature request related to a problem? Please describe.**
Especially when using selfsigned issuer to issue CA root for ca issuer, sometimes a pod would request the CA cert for verifying. Storing key in the same secret makes it hard to prevent a wrongly written manifest to access the key.

**Describe the solution you'd like**
Besides storing cert/key pair in one secret, also storing the ce

[2021-05-01 11:19] eplightning commented on #3594
The same happens with Vault Issuer (related https://github.com/jetstack/cert-manager/issues/3941 ). It seems that after `CertificateRequest` transitions to `Failed` state it never gets removed, which is why removing it manually fixes the issue.

The `requestmanager-controller` only removes `CertificateRequests` when `Certificate` spec changed, it doesn't seem to check state at all. I think it shou

[2021-05-01 14:32] mermetbt commented on #3874
Following the suggestion of @Marx2, I suggest to also look at potential configuration left from previous install and delete them as well:
[code]

[2021-05-01 16:20] inteon commented on #3942
UPDATE: due to #3933, the `ACMEChallengeSolverHTTP01.Istio.PodTemplate` field has been removed. Moving this field to `ACMEChallengeSolverHTTP01.PodTemplate` could allow us to add `PodTemplate` support for Istio solvers (without causing #3933).

[2021-05-01 16:36] inteon opened #3950 "Add support for adding cert-manager HTTP01 routing rules to existing Istio VirtualService"
In [#3724 (comment)](https://github.com/jetstack/cert-manager/pull/3724/files#r619506870), it was requested to also add support for updating existing Istio VirtualService resources instead of creating new VirtualService resources. This can be useful in case the routing rules specified by cert-manager conflict with existing Istio VirtualService routing rules.

/kind feature

[2021-05-01 16:50] inteon opened #3951 "Replace DynamicClient for Istio VirtualService with properly generated client"
In [#3724 (comment)](https://github.com/jetstack/cert-manager/pull/3724/files#r610062084), support for solving HTTP01 challenges using Istio VirtualService resources was added.

The implementation uses client-go's Dynamic Client and adds a copy of the DeepCopy methods from https://pkg.go.dev/istio.io/client-go/pkg/apis/networking/v1beta1#VirtualService to the cert-manager codebase. This was done t

[2021-05-01 17:33] inteon commented on #3783
Some reference material (`linkerd install`, `istioctl install`, `helm install` & `kubectl minio init`):
- https://github.com/linkerd/linkerd2/blob/main/cli/cmd/install.go
- https://github.com/istio/istio/blob/da6178604559bdf2c707a57f452d16bee0de90c8/operator/cmd/mesh/install.go
- https://github.com/helm/helm/blob/43853ea772e779b617b011a8d4e69205636fa4f9/cmd/helm/install.go#L172
- https://github.co

[2021-05-01 18:00] inteon opened #3952 "Add helm install to cert-manager cli"
As discussed in #3783, the cert-manager cli needs an install command.
This is a proposal for using the [helm go libraries](https://pkg.go.dev/helm.sh/helm/v3) to implement this install function.

This solution:
- Is possibly the most efficient way of adding install functionality to the cli.
- Supports overwriting helm values.yaml using `--set` arguments and using a values.yaml file out of the box.

[2021-05-02 14:35] cescoferraro commented on #3442
@hainguyen8y been pulling my hair out for a full night.
your comment solved my issue here. thanks

[2021-05-03 07:29] ravilr opened #3954 "Allow ingress-shim to opt-in for privatekey rotation 'Always'"
**Is your feature request related to a problem? Please describe.**
Yes. Certificate resource created by ingress-shim defaults to privateKey.rotationPolicy of `Never`.  This limits the use of ingress-shim with External Issuers which doesn't allow private/public key reuse in the CSR.

**Describe the solution you'd like**
ingress-shim should support Ingress resources to opt-in to privateKey.rotationP

[2021-05-03 10:04] anton-johansson commented on #3943
@wallrj: Hmm, I'm not familiar with `update-crds.sh`. What is the use case for it? The CRD files were already using Helm templating, so I figured it would be OK. Is it a problem with `if` specifically?

[2021-05-03 12:58] tamalsaha commented on #3943
@anton-johansson , I think it is needed for the kustomize bundles. This fix is necessary for https://github.com/jetstack/cert-manager/pull/3926

[2021-05-03 13:26] inteon commented on #3943
@anton-johansson @tamalsaha `update-crds.sh` is a script that runs controller-gen (https://book.kubebuilder.io/reference/controller-gen.html).
The tool generates crds (Custom Resource Definitions) from go code.
It is an important tool that makes sure the Custom Resource Definitions are up-to-date with the API defined in golang.

The `controller-gen` command fails because adding the `{ if }` helm s

[2021-05-03 17:53] maelvls commented on #3908
Not sure whether it should be part of the v1.4 roadmap, but I created an epic "[Effort towards a more user-friendly website #549
](https://github.com/cert-manager/website/issues/549)". Just wanted to let you know 😅

[2021-05-03 21:30] lukipro opened #3957 "Support JKS trust store for ACME certificates"
**Is your feature request related to a problem? Please describe.**
Our application relies on cert-manager to create both `keystore.jks` and `truststore.jks` in a Kubernetes secret.
For self signed certificates it works fine and both `keystore.jks` and `truststore.jks` are in the secret.
However for ACME certificates there is only the `keystore.jks` field.

**Describe the solution you'd like**
I wo

[2021-05-03 23:14] ravilr opened #3958 "Sane defaults for Certificate revision history limit"
**Is your feature request related to a problem? Please describe.**
yes. https://github.com/jetstack/cert-manager/pull/3773 introduced garbage collecting certificateRequest resources. But, the default revisionHistoryLimit is nil, which means revisions will be not be garbage collected, by default.

**Describe the solution you'd like**
default revisionHistoryLimit should be set to 1, if not specified

[2021-05-03 23:25] ravilr commented on #3908
I'm one of a new user adopting cert-manager.  I find it very unusual that cert-manager project seems to not promote reasonable defaults, leaving it to the users to figure out and explicitly configure best practices configuration.

https://github.com/jetstack/cert-manager/issues/3954 : security best practice of rotating keys in CSR for cert renewals, not sure why this is not the default ?
https://g

[2021-05-04 09:09] maelvls commented on #3513
Excellent work @simplyzee!! https://charts.jetstack.io/ is now redirecting to the "official" cert-manager helm chart:

![image](https://user-images.githubusercontent.com/2195781/116982515-2b500300-acc9-11eb-8110-c552c5918460.png)

/close

[2021-05-04 09:09] #3513 closed

[2021-05-04 09:23] wallrj commented on #3944
/milestone v1.4

[2021-05-04 09:27] munnerz commented on #3944
Awesome - it'd be great if we can deprecate the versions now (in v1.4) in prep for removing in v1.5 - we should also ensure the warning message explicitly states _when_ the version will be removed too, to help users.

As an aside, we need to ensure we have given users guidance on how to migrate their 'storage versions' for any resources they have in their cluster already (else updating the existin

[2021-05-04 09:27] maelvls opened #3959 "Keep USERS.md up to date"
@SgtCoDFish made the point that the file [USERS.md](https://github.com/jetstack/cert-manager/blob/master/USERS.md) hasn't been updated in a while. Let's try and have it updated! Note that adding a name in this file is opt-in, we want to be asking first.

<img alt="screenshot-USERS.md-file" src="https://user-images.githubusercontent.com/2195781/116984616-baf6b100-accb-11eb-9ff2-507513aadac5.png" wi

[2021-05-04 09:42] munnerz commented on #3954
I'd love for us to find a way to change the default value for this field to be 'Always'.

That said, there will be users out there who have relied on this behaviour and use private/public key pinning (despite general advise being _against_ this practice). These users may see their private keys lost if we flip this flag to 'Always', which could cause quite difficult to unwind outages (i.e. loss of

[2021-05-04 09:50] irbekrm commented on #3894
/milestone v1.4

[2021-05-04 13:55] irbekrm opened #3961 "Fix pkg/util/pki TestPrivateKeyEncodings test"
This is one of the errors that appeared during our static analysis check party https://github.com/cert-manager/website/issues/538

In [this test](https://github.com/jetstack/cert-manager/blob/master/pkg/util/pki/generate_test.go#L342):

- [key](https://github.com/jetstack/cert-manager/blob/master/pkg/util/pki/generate_test.go#L345) field is actually not used
- [these two test cases](https://github

[2021-05-04 17:07] 7ing commented on #3954
Up vote this feature
In addition to controller level configuration, we also could add an annotation to ingress resource to indicate the rotationPolicy.
Looking forward to see this feature in next release.

[2021-05-04 17:13] muhlba91 opened #3964 "Domain with *.internal.* is not recognized correctly"
**Describe the bug**:
When using e.g. `app.internal.example.com` the manager interprets the domain as `internal.example.com` instead of `example.com` . This leads to errors with e.g. CloudFlare:
`E0504 17:05:18.207442       1 controller.go:158] cert-manager/controller/challenges "msg"="re-queuing item due to error processing" "error"="Zone internal.example.com. not found in CloudFlare for domain _

[2021-05-04 17:53] tamalsaha commented on #3943
Hey, is there a plan on how to fix this? This is blocking #3926 . Thanks!

[2021-05-04 20:09] bakshigit opened #3966 "Using Cert Manager with Hashicorp Vault"
Our configuration : AWS EKS (1.16) with Istio Service Mesh enabled .

Following the below tutorial link to test the cert manager with Hashicorp vault - https://learn.hashicorp.com/tutorials/vault/kubernetes-cert-manager#spec-vault-path

After creating the  issuer, the POD logs for the webhook show the below errors

kubectl logs cert-manager-webhook-64b9b4fdfd-cphrv -n cert-manager
W0504 17:32:15.3

[2021-05-05 02:45] traceygithub opened #3967 "Does the certificate chain include a root CA certificate by default?"
**Describe the bug**:
The root CA certificate is included in the certificate chain in the cert-manager v1.3.0,  Is it a bug ?

Openshift routes get rejected due to two root CA certificates in the certificate chain.

$ oc get route
NAME HOST/PORT PATH SERVICES PORT TERMINATION WILDCARD
parksmap ExtendedValidationFailed parksmap https edge None

**Expected behaviour**:
The cert-manager documentation

[2021-05-05 09:03] irbekrm commented on #3895
Adding a link to a related Slack thread [here](https://kubernetes.slack.com/archives/C4NV3DWUC/p1618486096327300) .

/cc @wallrj as he has worked on TPP more.

[2021-05-05 09:07] irbekrm commented on #3951
Linking an issue with upgrade to v1.21 kubernetes libraries that might be related to the usage of the dynamic client https://github.com/jetstack/cert-manager/pull/3926#issuecomment-832186138 .

[2021-05-05 09:27] rmanibus opened #3968 "acme http01: 504 Gateway Time-out"
**Describe the bug**:
Hi all,
I'm unable to generate a certificate for one of my domain (others subdomains are working). the challenge status is: Waiting for HTTP-01 challenge propagation: wrong status code '504', expected '200'.

when I  forward the port of the generated service (cm-acme-http-solver-f8sgs), I'm able to call it. however, I'm unable to call it via the gateway :
[code]

Challenge St

[2021-05-05 13:13] irbekrm commented on #3895
From the logs, it appears that perhaps what is happening is that:
1. A `CertificateRequest` gets synced, `Sign` function issues a request to Venafi TPP (Timeouts hardcoded [here](https://github.com/Venafi/vcert/blob/master/pkg/venafi/tpp/tpp.go#L419) it seems)
2. Somehow the same `CertificateRequest` is being synced again before the first sync cycle has finished and we end up issuing another reque

[2021-05-05 15:13] Dashrath18 commented on #2525
Hi @vijaykatam did you deployed the controller in separate namespace and rest of the other component in cert-manager namespace right? and also have you deployed all these with clusterRole scope?

[2021-05-05 16:00] irbekrm opened #3969 "Document and optionally simplify cert-manager image building"
Currently we build cert-manager server images using Bazel, see the rules for example [here](https://github.com/jetstack/cert-manager/blob/master/build/container.bzl).

Arguably it can be hard to follow this flow, which could turn problematic if it was needed to debug an issue with an image etc.
It also seems to contain bits of Bazel code that aren't used.

It would be great if we could:
1) documen

[2021-05-05 16:38] jakexks commented on #3943
/priority critical-urgent
/milestone v1.4

[2021-05-05 17:02] jmjava commented on #3442
I get a correct response from inside the cluster only when I open the security group to allow 0.0.0.0.  What is strange is if I open up to 10.0.0.0/16 it still denies from my pod and the pod ip is in 10.* range.

I get a cannot request in my challenge also if not open to 0.0.0.0 but instead of getting the correct response like in the pod, I get the HTTP-01 challenge propagation: did not get expect

[2021-05-05 22:53] ravilr commented on #3954
@munnerz yes, I agree that for any new feature that introduces change in behavior, it is best to initially introduce a feature flag at the controllers level. That way, it enables the cluster admins who wants to ensure best practices for their cluster users, to right away adapt those changes for their cluster cert-manager deployments. Additionally, have a feature maturity/deprecation process simila

[2021-05-06 01:00] raunyoliveira-hotmart opened #3971 "Documentation on how to handle large-scale certificate management"
**Is your feature request related to a problem? Please describe.**

I would like to know what are the best practices for handling large-scale certificate management.
Currently I have almost 20k certificates in the following setup:

1. cert-manager installed in an EKS cluster
2. ClusterIssuer generating ACME certificates
3. Kubernetes objects stored in a single namespace (Ingress, Certificate, Cert

[2021-05-06 02:46] mhamann opened #3972 "Cannot build acme webhooks against k8s api-machinery 0.21"
**Is your feature request related to a problem? Please describe.**

Attempting to use apimachinery v0.21.0 to build an acme webhook handler fails to build, because `ExportOptions` has been removed from the k8s SDK.

See https://github.com/kubernetes/kubernetes/issues/98289 and https://github.com/jetstack/cert-manager/blob/master/pkg/acme/webhook/apiserver/apiserver.go#L58

**Describe the solution

[2021-05-06 06:35] irbekrm commented on #3944
We'd probably need to keep an eye on docs/blogs elsewhere that refer to these alpha/beta versions i.e

- https://istio.io/latest/docs/ops/integrations/certmanager/#istio-gateway
- https://www.jetstack.io/blog/securing-mysql-with-cert-manager/
- \<insert more\>

[2021-05-06 08:49] JovanShandro opened #3973 "No matches for kind "Issuer" in version "cert-manager.io/v1" for rancher k3d cluster"
**Describe the bug**:

I am trying to enable https in a kubernetes cluster created with rancher k3d. I use helm for installing cert-manager in the following way:
[code]
To test that it worked I ran
[code]
which gave the follwing result
[code]

However why I try to create an Issuer with the following yaml file
[code]

I get the following error:
[code]

**Expected behaviour**:
An Issuer should be cr

[2021-05-06 09:00] irbekrm commented on #3971
Hi @raunyoliveira-hotmart , thank you for opening the issue!

Documentation of large scale deployments sounds like a good idea.

It would probably need to be mostly created by users/from users' experience.
We don't do load testing with such large number of certs- this idea has come up before, but given the number of factors involved (i.e the resources allocated to various Kubernetes components, di

[2021-05-06 09:10] irbekrm commented on #3973
Hi @JovanShandro ,

Thanks for opening the issue.

Have you installed `cert-manager` CRDs?

See our installation docs [here](https://cert-manager.io/docs/installation/kubernetes/#option-2-install-crds-as-part-of-the-helm-release), you would need to pass `--set installCRDs=true` flag to the `helm` install command. (CRDs are not installed by default as there are specific cases when users may want to

[2021-05-06 09:29] irbekrm commented on #3952
Hi @inteon

Would it be possible to describe this idea in a little more detail (for someone like me who doesn't know what `helm install` does under the hood 😄 )?

- Would it basically generate a standard Kubernetes deployment manifest from a Helm chart (i.e without any helm annotations etc) and how would that happen?

- How would the `kubectl cert-manager install --help` command (generation of all

[2021-05-06 12:46] raunyoliveira-hotmart commented on #3971
Hey @irbekrm, thank you for answering!

Initially I opened it there, I'm going to close this issue and reopen it there.

[2021-05-06 12:46] #3971 closed

[2021-05-06 12:48] b0nete commented on #3341
Thanks! this helped me.
In my case, had in my cluster a new node miss configured without DNS resolution, so http-resolver pod can't made a curl correctly.
I fixed this node and all worked fine !. I debugged this problem getting into pod and trying a curl request.

[2021-05-06 14:12] inteon commented on #3952
Thanks for the feedback @irbekrm

The helm template engine can be tested using the following command:
[`helm template mycert123 jetstack/cert-manager --set replicaCount=90000`](https://helm.sh/docs/helm/helm_template/)
It uses [these template files](https://github.com/jetstack/cert-manager/tree/master/deploy/charts/cert-manager/templates) and [this `values.yaml`](https://github.com/jetstack/cert-m

[2021-05-06 17:50] irbekrm commented on #3972
Hi,

Thanks for opening the issue!

We currently have a PR in progress for upgrading Kubernetes libraries to `v1.21` #3926

I see that the `ExportOptions` will be removed as a part of this PR [here](https://github.com/jetstack/cert-manager/pull/3926/commits/70d03dbc9e06394bde83206d6c89bd5f3a5e553f#diff-64c69d248f93218acbde215954feaad35e2bf85f81e8658486b3fb2ea4e1034e).

[2021-05-06 17:52] irbekrm commented on #3969
/assign

[2021-05-06 18:23] irbekrm commented on #3966
Hi,

Thank you for opening the issue!

I looked at that tutorial- I see that it links to a very old version of `cert-manager` - `v0.14.3`.

I think this might be an issue that has been solved in a newer version- could you try to instead deploy the latest [`v1.3.1`](https://github.com/jetstack/cert-manager/releases/tag/v1.3.1) release and see if that works?

I'd like to PR a version bump to that tu

[2021-05-07 09:23] wallrj opened #3976 "Flaky test: //test/integration/ctl TestCtlRenew/--all-namespaces_and_-l_foo=bar_given"
In https://github.com/jetstack/cert-manager/pull/3960#issuecomment-834195182 an integration test failed with a timeout.
It passes when run on my laptop.

-- https://prow.build-infra.jetstack.net/view/gs/jetstack-logs/pr-logs/pull/jetstack_cert-manager/3960/pull-cert-manager-bazel/1390591232580784132

/kind bug

[2021-05-07 09:28] irbekrm commented on #3897
Thanks for opening the issue!

Same issue [here](https://kubernetes.slack.com/archives/C4NV3DWUC/p1613091362266800) on Slack, I was not able to reproduce this then, but seem to be able to reproduce it now with `cert-manager` `v1.3.1`.

To reproduce follow steps [here](https://learn.hashicorp.com/tutorials/vault/kubernetes-cert-manager#deploy-cert-manager) except for:
1) Deploy a newer version of `

[2021-05-07 09:46] ewirch commented on #3603
I think this bug got our cluster in a broken state. We see errors during start up of cert-manager:
[code]

and `kubectl cert-manager status certificate` is also not able to find `CertificateRequest`:
[code]

`Certificate` and `CertificateRequest` resources are both present:

[code]

[code]

`CertificateRequest.metadata.ownerReferences[0].name` and `CertificateRequest.metadata.ownerReferences[0].ui

[2021-05-07 10:41] Daniel-Vaz opened #3977 "cert-manager-webhook Firewalld Issues"
**Describe the bug**:
When deploying cert-manager (tested with versions v1.2.0 \ v1.3.1 \ v.1.4alpha ) using Helm all resources show Running, but when I try to create either a SelfSigned Issuer \ ClusterIssuer, I get the following Error:
[code]

Tested Name resolution, using a test pod (on kube-system NS) and the name "cert-manager-webhook.cert-manager.svc" gets resolved successfully.
Tested the p

[2021-05-07 10:44] Daniel-Vaz commented on #3977
Just to show that indeed all pods show Running \ Ready State:
[code]

[2021-05-07 11:45] zdzichu commented on #3777
I've reproduced the crash with `cert-manager v1.3.1` and demo container from Dogtag PKI project. Resulting backtrace looks like dogtagpki/pki#3462

To reproduce:
- get yamls from https://github.com/dogtagpki/pki/tree/master/base/acme/openshift
  - create temporary namespace, like `pki-acme`
  - deploy secrets
  - remove `triggers:` section from deployment
  - deploy deployment and service

- confi

[2021-05-07 11:48] jakexks commented on #3603
I would lean towards deleting the `CertificateRequest`

[2021-05-07 13:01] irbekrm commented on #3603
Agree about deleting `CertificateRequest`- I am also not sure whether this could be in any way related to this issue.

The cert appears to be ok:
[code]

Perhaps try to create another test cert to verify if your `cert-manager` installation & the issuer are ok?

[2021-05-07 13:08] cristiklein commented on #2813
This was useful. I had an issue with nodelocaldns in my Kubernetes cluster.

[2021-05-07 13:11] LukasBlu1 opened #3979 "Certificates for multiple domains (Let's Encrypt)"
Hi Community!

We are providing a service where people can create their own pages and connect them with their own domains.
Currently all domains are listed as additional DNS-Names when issuing a new certificate for our own domain. The issued certificate/created secret is then used in the context of a Traefik IngressRoute.

As the ratelimit from let's encrypt (https://letsencrypt.org/docs/rate-limi

[2021-05-07 16:09] acsecengtesting commented on #3895
I've found my fix isn't 100% effective  hence find attached the full log. A certificate where I note there were  duplicate CSRs is called venafi-fridayac4

[logs.txt](https://github.com/jetstack/cert-manager/files/6442955/logs.txt)

[2021-05-08 03:06] quangthe commented on #3717
Is there any workaround to install cert-manager on GKE Autopilot cluster? 🤔

[2021-05-08 08:10] irbekrm commented on #3897
/milestone v1.4

[2021-05-08 08:14] irbekrm commented on #3897
Agreed.
It could also make sense to refactor [`RenewBeforeExpiryDuration`](https://github.com/jetstack/cert-manager/blob/master/pkg/controller/certificates/util.go#L284) to return renewal time instead (see [this TODO](https://github.com/jetstack/cert-manager/blob/master/pkg/controller/certificates/util.go#L272))- it is currently somewhat non-intuitive what it does which is probably why we missed t

[2021-05-08 09:49] Daniel-Vaz commented on #3977
@greggiles
Thank you for the suggestion but unfortunately it didn't work for me.

I configured the Pod\Services CIDR has sources to the trusted zone on all my cluster machines:
[code]

Confirmation that the configuration was applied:
[code]

But still when I try to create a simple SelfSigned ClusterIssuer I get the following error:
[code]

But here's the thing. While writing this comment I was loo

[2021-05-08 22:08] phenixblue opened #3980 "ingress-shim seems to be incompatible with external ClusterIssuer"
**Describe the bug**:

I’m using the [freeipa-issuer](https://github.com/guilhem/freeipa-issuer) external issuer and running into a problem when trying to use the external ClusterIssuer type.

This seems to be an issue with the ingress-shim when validating annotations on the Ingress resource. I see [this line](https://github.com/jetstack/cert-manager/blob/3434c78188729119766d6f4c42ce0f791fce62b5/p

[2021-05-09 18:47] EddieHoffman commented on #3979
Hi @LukasBlu1,

If you reach near this number of certificate it might be worth checking out [ZeroSSL](https://zerossl.com/) which does not enforce rate limiting and still allows unlimited free single domain certificates issued through ACME.

[2021-05-10 07:51] ewirch commented on #3603
I assume a clear state, between tls secret updates, is having `Certificate` resources and no `CertificateRequest`s or `Order`s in the cluster. `CertificateRequest`s are created in the process of issuing a new tls secret, and deleted at the end. So, if I find dangling `CertificateRequest`s, something went wrong.

The issue description starts:

I assume this happened for us. For one `Certificate` -

[2021-05-10 08:25] irbekrm commented on #3603
`CertificateRequest`s are not deleted by default unless you delete the `Certificate`. (Since `v1.3.0` they can be optionally garbage collected though). Perhaps it's worth for us to add that to [the docs](https://cert-manager.io/docs/concepts/certificaterequest/).

[2021-05-10 08:50] ewirch commented on #3603
If `CertificateRequest`s are not deleted, can you imagine how our cluster got in that state?
[code]

[code]

[2021-05-10 08:56] ppirus commented on #3474
After deleting the finalizers in the challenge and saving the file, the system gets stuck applying it. The error message is this:

`error: challenges.acme.cert-manager.io "ngnix-hello-domain-crt-2gktm-4250696096-4094965733" could not be patched: Internal error occurred: failed calling webhook "webhook.cert-manager.io": Post https://cert-manager-webhook.cert-manager.svc:443/mutate?timeout=10s: serv

[2021-05-10 10:10] JoshVanL commented on #3980
Hi @phenixblue,

It seems the docs my not be up to scratch as to what `cert-manager.io/cluster-issuer` means. The `cert-manager.io/cluster-issuer: foo-bar` annotation is reserved for _only_ the internal `cert-manager.io` `ClusterIssuer` kind. It is effectively a short hand for `cert-manager.io/issuer-group: cert-manager.io` `cert-manager.io/issuer-kind: ClusterIssuer` `cert-manager.io/issuer-name:

[2021-05-10 10:33] irbekrm commented on #3603
I think I missed this sentence initially.
The `CertificateRequest` revision is one higher than that of the `Certificate` only during the issuing process. Once that has succeeded, we bump the revision on the `Certificate` by 1 (see [here](https://github.com/jetstack/cert-manager/blob/1abc7107ca61e794ee837beb33324c40b10b62c1/pkg/controller/certificates/issuing/issuing_controller.go#L207) and [here](

[2021-05-10 10:50] ewirch commented on #3603
Hm. If this is fine, why does cert-manager complain about not finding the certificate request during start up?
[code]
You see the full resource definitions in my [comment above](https://github.com/jetstack/cert-manager/issues/3603#issuecomment-834221368).

[2021-05-10 12:02] irbekrm commented on #3603
There could have been a number of reasons- I cannot quite tell from those logs whether this is something to be concerned about or not. Perhaps you could open another issue with some more detail (i.e what version of `cert-manager` this is, did it happen after an upgrade, whether you have been able to successfully create any certs since etc)- and we could look whether there isn't another issue?
Gene

[2021-05-10 16:22] harshaperera532 commented on #3896
An update on this issue. Deleting the new renewal Certificate Request resulted in a new one being created. However, this was also stuck with no value under Ready. Looking at the Orders there was only one - the one for the initial certificate creation. Deleting this resulted in a new Order being created and the renewal succeeded. This new Order has the same name as that created for the initial cert

[2021-05-10 16:30] sayotte commented on #1751
I appreciate that the current, mandatory status of this parameter forced me to learn that I have a crypto identity with my ACME provider, because I do constantly destroy and rebuild k8s clusters to make sure my process is consistent. Based on my new understanding, it sounds like I could discard this identity every time I rebuild and still produce new certs for my domain, but I'd lose my ability to

[2021-05-10 16:56] mabushey opened #3981 "ClusterIssuer broke, api revision needs upgrading"
**Environment details:**:
- Kubernetes version:
✗  kubectl version --short
Client Version: v1.19.10
Server Version: v1.19.9-gke.1900
- Cloud-provider/provisioner: GKE
- cert-manager version: 1.3.1
- Install method: kustomize on cert-manager.yaml

/kind bug

✗  kubectl get clusterissuer letsencrypt -o yaml
[code]

cat issuer.yaml
[code]

https://letsencrypt.status.io/ shows that they are doing "bro

[2021-05-10 17:01] mabushey commented on #3981
Got it to work, the new server is: `https://acme-staging-v02.api.letsencrypt.org/directory`

[2021-05-10 17:17] mabushey commented on #3981
Thanks @soutar The status page made it sound like the maintenance was only for the old api.

[2021-05-10 17:17] #3981 closed

[2021-05-10 19:42] ppirus opened #3986 "Can't patch challenge, failed calling webhook "webhook.cert-manager.io""
After a `kubectl delete namespace cert-manager` everything deleted but the challenge resources.

I followed the instruction from issue [3474](https://github.com/jetstack/cert-manager/issues/3474), ie I edited the challenge file with `kubectl edit challenge <the-challenge>` and modified the `.metadata.finalizers` to be an empty list.

However on saving the file I get this error:

`error: challenges

[2021-05-11 04:34] mister2d commented on #3363
This workaround/best practice needs documentation. Very hard to parse while standing up Vault AND a K8s cluster for the first time. Why isn't this as simple as with Nomad?

[2021-05-11 04:39] dobesv commented on #2478
For the specific case of setting up an internal CA to use for kubernetes webhooks and API services, tell the CA injector to inject from the issued certificate instead of referencing the certificate issued to the CA.

This works because:

1. The issued certificate has a copy of the CA certificate from the time the certificate was issued, so it always matches the one referenced in the certificate.
2

[2021-05-11 04:41] dobesv commented on #2391
For the specific case of setting up an internal CA to use for kubernetes webhooks and API services, tell the CA injector to inject from the issued certificate instead of referencing the certificate issued to the CA.

This works because:

1. The issued certificate has a copy of the CA certificate from the time the certificate was issued, so it always matches the one referenced in the certificate.
2

[2021-05-11 05:01] tamalsaha opened #3987 "Supporting Gateway API"
**Is your feature request related to a problem? Please describe.**
I am curious if there was any discussion on how to support the new Gateway api. https://gateway-api.sigs.k8s.io/

**Describe the solution you'd like**

**Describe alternatives you've considered**

**Additional context**

**Environment details (remove if not applicable)**:
- Kubernetes version:
- Cloud-provider/provisioner:
- cert-m

[2021-05-11 09:51] namelessvoid commented on #466
@Jyrno42 Thanks for providing the patched cert-manager images! The fix for the proxy protocol works well with my ingress-nginx in proxy protocol mode 👍

However, I found an issue you (or someone else :D) maybe can help me with. The pod hosting the HTTP01 challenge does not start since the docker image tag is not properly populated:

[code]

Manually editing the tag to `v1.3.1` fixes the issue but

[2021-05-11 10:03] irbekrm commented on #3987
We're currently having a discussion about refactoring the http-01 challenge solver so different challenge solvers could be implemented out-of-tree, see #3924

[2021-05-11 10:42] jakexks commented on #3987
👍 Please follow https://github.com/jetstack/cert-manager/issues/3924
Duplicate of https://github.com/jetstack/cert-manager/issues/3920
/close

[2021-05-11 11:06] irbekrm commented on #3986
Hi @ppirus ,

It looks like you might still have `cert-manager` webhook configurations?

If that is the case, you should delete the webhook configurations first:
[code]
and then try to edit and delete the challenges.

[2021-05-11 11:11] freedomofkeima commented on #3864
Hi 👋

I can confirm similar issue is happening with my environment...

[code]

[code]

It will throw `found Order resource not owned by this CertificateRequest` during cert renewal.

[2021-05-11 18:10] LukasBlu1 commented on #3979
@EddieHoffman Thanks for sharing that, but this is no option for us. We want to go with lets encrypt.

[2021-05-11 18:35] atenciom opened #3990 "crt.sh is showing certs issued while k8s cluster is showing status as false"
For the domain www.wefixlocksnow.com, on crt.sh it is showing that multiple valid certs have been issued (https://crt.sh/?q=www.wefixlocksnow.com), while on the cluster it is coming back as false with rate-limit issues. It appears that the requests can go through to cert manager. Cert manager will then generate the cert but it's not being implemented on the k8s cluster, which then starts the proce

[2021-05-11 19:18] owenthereal opened #3991 "cert-manager v1.3.1 pods crash after installation"
**Describe the bug**:

Install cert-manager to EKS:

[code]

**Expected behaviour**:

cert-manager can be installed properly.

**Steps to reproduce the bug**:

See above.

**Anything else we need to know?**:

**Environment details:**:
- Kubernetes version:
$ kubectl version
Client Version: version.Info{Major:"1", Minor:"21", GitVersion:"v1.21.0", GitCommit:"cb303e613a121a29364f75cc67d3d580833a7479

[2021-05-11 19:39] rittneje opened #3992 "Add non-CRD yaml file"
Currently the GitHub releases include two assets (among others):  cert-manager.crds.yaml and cert-manager.yaml. The former only includes the CRD specs, while the latter is everything (CRDs, deployments, service accounts, etc.).

I would like to suggest that another asset be added for the non-CRD resources (i.e., the difference between the two). This is because sometimes we have to make tweaks to t

[2021-05-11 20:07] maelvls commented on #3934
Do we need the updated version of `cmrel` in order to do the `1.4.0-alpha.0` release tomorrow?

[2021-05-12 06:16] irbekrm commented on #3991
Hi @owenthereal ,

Thanks for opening the issue.

This would be `cainjector` trying to reach Kubernetes API server on `172.20.0.1` and timing out, so it's probably worth investigating why the API server cannot be reached from the `cert-manager` pods?

In the past, we've sometimes seen connectivity issues with custom CNIs and/or on EKS, see i.e #3688 and [our docs](https://cert-manager.io/docs/inst

[2021-05-12 07:10] LukasBlu1 commented on #3979
We found another solution by iterating over templates to create multiple ingress routes with multiple certificate resources.

[2021-05-12 08:16] #3943 closed

[2021-05-12 09:08] idsulik opened #3994 "Cannot issue for "kubernetes.docker.internal": Domain name does not end with a valid public suffix"
Why I'm getting - `Cannot issue for "kubernetes.docker.internal": Domain name does not end with a valid public suffix` and how to fix it?

[code]

[2021-05-12 09:23] idsulik commented on #3994
Hm....I don't know why, but it started working after deleting webhook pod

[2021-05-12 09:54] mercer commented on #2319
I'm seeing this on fresh aks clusters, right after installing of cert-manager, when I create an Issuer. Strange is that 2/3 clusters have this issue, but one of them doesn't, although they are provisioned in the same way.

[code]

[2021-05-12 10:19] irbekrm commented on #3994
Thanks for creating the issue.

I assume that you are not actually requesting a certificate for this domain?

It may be worth adding some extra info to the issue (cert spec, version of `cert-manager`, whether all the deployment pods are healthy etc).

[2021-05-12 11:43] cdevrell commented on #2517
Found another potential reason this error might be happening if people are still struggling.
For me this was because I had my ingress pathType set to prefix. I am using the kubernetes nginx ingress controller (made by Google, not the one made by nginxinc). I set my path to ImplementationSpecific and it all started working.
As I'm running locally on microk8s with metalIb, I also updated the coredns

[2021-05-12 12:00] irbekrm commented on #3986
Thanks for letting us know, I have created an issue for updating our uninstallation doc [website#559](https://github.com/cert-manager/website/issues/559).

A fair warning- I had a brief look at [the tutorial](https://www.2stacks.net/blog/rancher-2-and-letsencrypt/#enable-jetpack-helm-repository) you linked- it looks great, but `cert-manager` `v0.9` is a fairly old version of `cert-manager` that we

[2021-05-12 12:35] maelvls commented on #3943
fwiw I reported the issue in kubernetes-sigs/controller-tools#571

[2021-05-12 13:36] irbekrm commented on #3986
Thanks!

[2021-05-12 13:36] #3986 closed

[2021-05-12 16:11] idsulik commented on #3994
Yes, sure, cert version:
![image](https://user-images.githubusercontent.com/3595194/118008402-af535c00-b355-11eb-8d9a-9bd09387e3d5.png)

All pods was in `Running` status

[2021-05-12 17:00] justinkillen commented on #3603
A few weeks later, and now our certs are backing up again.  One of my team opened a new issue #3990.

[2021-05-12 17:33] irbekrm commented on #3990
Hi, thanks for opening the issue!

Do you happen to have some logs from the controller from around the time when either of those certs are being created/renewed?

From the `crt.sh` it appears as if there is approximately one cert a day created (apart from the 6th when it's two).
How many `CertificateRequest`s get created?

Do `Order`s and `Challenge`s get finalized? If you get a chance to paste th

[2021-05-12 17:51] RyuunoAelia opened #3998 "Allow setting caBundle in (Cluster)Issuers to request certificates from https ACME using internal PKI"
**Is your feature request related to a problem? Please describe.**

I have a DogTag PKI (via Freeipa 4.9.2) that supports ACME (, however since it is completely internal it uses a certificate it issued itself to secure the HTTPS entrypoint. Thus the ClusterIssuer I defined for cert-manager is unable to get certificates with this line of log:
[code]

**Describe the solution you'd like**

Allowing c

[2021-05-12 20:27] atenciom commented on #3990
@irbekrm, thank you for the quick reply.
Here are the logs from the cert-manager controller during the time period that it is trying to generate the cert:
[code]
Here is the `Order` for that domian:
[code]
Unfortunately it doesn't look like it's able to get to the stage where there is a `Challenge`.

It looks like there are multiple certificate requests being generated per day with the last one be

[2021-05-12 21:25] irbekrm commented on #3990
I guess from the perspective of certificate-requests controller it makes sense that there are multiple `CertificateRequests` created at this point- it sees that the `Certificate` is in a failing state so tries to create another one which fails because there have been too many ACME orders for that domain.

I guess to understand what caused it to get to this state we would need to look at the contro

[2021-05-13 07:30] wutz commented on #3338
value need a type map instead of array

[code]

[2021-05-13 09:20] irbekrm opened #3999 "Update ginkgo and gomega versions"
We are currently using ginkgo `v1.12.1`  gomega `v1.10.1`.

When I try to bump the versions to `v1.16.1` and `v1.11.0` correspondingly, `bazel test //...` fails with

[code]

Related issue #3926

/kind cleanup

[2021-05-13 16:53] atenciom commented on #3990
@irbekrm, here are the logs during the time that the certs are being issued on crt.sh, and thanks for all the help.
[log-events-viewer-result.csv](https://github.com/jetstack/cert-manager/files/6473901/log-events-viewer-result.csv)

[2021-05-14 02:34] nvthuong1996 opened #4002 "Certificate ACME generated by Cert manager not compatible with android 4.2"
My company software is running on multiple vending machines using Android 4.2.
I noticed that the certificate generated by Cert manager is not compatible with that device.
However if I use traefik with ACME the cert works
------------------
i'm sure i used "DST Root CA X3"
https://letsencrypt.org/docs/certificate-compatibility/#platforms-that-trust-dst-root-ca-x3
------------------
### Config

[co

[2021-05-14 07:37] abhivaidya07 opened #4003 "Accepting challenge authorization failed"
**Cert-manager challenge is throwing timeout error (likely firewall-issue)**
[code]

**Describe the bug**:
Error when describing challenge
  Reason:      Error accepting authorization: acme: authorization error for example.company.org: 400 urn:ietf:params:acme:error:connection: Fetching http://example.company.org/.well-known/acme-challenge/qaQ3IqfKbgySIgiMZDoJhylciS8DbVqFZsX-p8ticZU: Timeout durin

[2021-05-14 09:21] irbekrm opened #4004 "Better/clearer handling of issuer secrets"
Currently our issuer control loops re-sync issuers if the associated `Secret`s change (are created, updated, deleted).

As we were looking at refactoring the ACME issuer's `Setup` function, we noticed a few places where there could be improvements in regards to those `Secret`s:
- Since we re-sync issuer on changes, to `Secret`, re-queuing in ACME issuer when required `Secret` is not found [here](h

[2021-05-14 10:56] irbekrm opened #4005 "Manage ACME accounts registry better"
In #2907 we implemented a cache for ACME clients (accounts registry, [here](https://github.com/jetstack/cert-manager/blob/master/pkg/acme/accounts/registry.go#L35)).

When we set up (create or update) a new ACME `Issuer` we add a client for it to the cache ([here](https://github.com/jetstack/cert-manager/blob/master/pkg/issuer/acme/setup.go#L173) or [here](https://github.com/jetstack/cert-manager/

[2021-05-14 11:47] irbekrm opened #4006 "Test ACME account email update"
This is follow up work to #3938 .

We should test the functionality of [`ensureEmailUpToDate` func](https://github.com/jetstack/cert-manager/blob/master/pkg/issuer/acme/setup.go#L279) and test the behaviour of `Setup` when `ensureEmailUpToDate` returns an error. Perhaps refactor to allow for mocking `ensureEmailUpToDate` in `Setup` tests (i.e by setting the email function as a field on `Acme`).

/

[2021-05-14 14:43] irbekrm commented on #3994
Thanks for that info.

If it is `cert-manager` `v0.10.0`, you may want to first upgrade to a newer, supported version and see if that fixes it.

It may well be an issue that has been fixed in a newer version.

[2021-05-14 19:48] MaxTaggart commented on #3916
Hey,

It turned out that we had a mismatch between the `host` entry in our ingress and our actual hostname. Sorry for the false alarm!

[2021-05-14 19:48] #3916 closed

[2021-05-14 22:57] justinkillen commented on #3990
@irbekrm FYI: I work with @atenciom, and this is the same cluster as the one for #3603, which currently hosts around 14k certs.

We've noticed that once the cluster gets in this state, we get some pretty bad throughput.  We had about 5k certs queued, with the following being completed within cert-manager (cert count grouped by status.notAfter date):
[code]
That's 1,035 over a period of 15 days, or

[2021-05-15 07:04] jvilhuber commented on #2106
I know this is closed, but if the message is "benign", then it shouldn't really be an error (make it info, or even debug). For operations people, error messages are serious business. Error messages indicate "some action needs to be taken", but if this is just informational, please re-categorize this (and other) messages accordingly.

[2021-05-15 07:18] christianhuening commented on #2267
@Nymria could you elaborate a bit on what exactly your issue was?

[2021-05-15 14:27] irbekrm commented on #3990
log-events-viewer-result.csv

Thanks for the logs! Did you also have a chance to check if the `Secret` `www-wefixlocksnow-com-cert` was really not there at that point? In that case, I wonder if it's somehow related to `cert-manager` failing to create the `Secret`.

From the logs I  just see that `cert-manager` attempts to re-issue as it does not find the `Secret`, but the re-issuance fails.
If I u

[2021-05-15 16:32] nvthuong1996 commented on #4002
Sorry. I see this is a problem of ssl protocol.
https://kubernetes.github.io/ingress-nginx/user-guide/tls/#legacy-tls

[2021-05-15 16:33] #4002 closed

[2021-05-16 08:24] ultimatesecpro opened #4008 "Question: how to configure ipAddresses for the ingress configuration?"
We have started ot use cert-manager to store our self-signed certificates.

We have configured our ingress according to https://cert-manager.io/docs/usage/ingress/#how-it-works.

Anycase, we did not find a way to configure SAN ipAddresses (or dnsNames).
These values appear in the CertificateSpec
https://cert-manager.io/docs/reference/api-docs/#cert-manager.io/v1.CertificateSpec but we cannot find

[2021-05-16 12:48] irbekrm opened #4010 "Update cert-manager Helm chart Readme"
[/deploy/charts/cert-manager/Readme.template.md](https://github.com/jetstack/cert-manager/blob/master/deploy/charts/cert-manager/README.template.md#configuration) contains a table with descriptions of most, but not all `cert-manager` Helm chart config options. We should update the table with the missing config options from [/deploy/charts/cert-manager/values.yaml](https://github.com/jetstack/cert-

[2021-05-16 13:23] aelbarkani opened #4011 "Memory segmentation bug when using Vault"
**Describe the bug**:
When I create an Issuer that point to a not-reachable Vault instance and invalid configuration, I get this error message in cert-manager pod:

[code]

**Expected behaviour**:

Cert-manager to not crash when there is some problem with Vault instance or the credentials to authenticate to Vault.

**Steps to reproduce the bug**:
Create an Issuer with the following configuration (

[2021-05-16 19:10] kevgrig opened #4012 "Nginx ingress certificate not updated from original self-signed certificate"
**Describe the bug**:
cert-manager seems to create the certificate but the Nginx ingress still shows the old self-signed certificate. Tried multiple times with fresh Kubernetes cluster and it's reproducible each time.

**Expected behaviour**:
Nginx ingress serves a certificate signed by LetsEncrypt Staging.

**Steps to reproduce the bug**:
1. Create [Digital Ocean Kubernetes cluster](https://cloud

[2021-05-17 10:34] irbekrm opened #4013 "Use Multilock for controller leader election"
For context see [this](https://github.com/jetstack/cert-manager/pull/3926#issuecomment-842187486) and other comments on #3926 .

In #3926 we are upgrading `controller-runtime` from `v0.6.2` to `v0.9.0-beta.1` (see the reason for using a beta version [here](https://github.com/jetstack/cert-manager/pull/3926/commits/0169cd9c7c8a74e15e1be2cf80e832083dfbcf28)).

As a part of this upgrade, we are now u

[2021-05-17 10:35] litewhatever commented on #2007
@rspier I am seeing this very same issue (condition="Unknown"). Did you manage to resolve it?

[2021-05-17 10:36] irbekrm commented on #4013
If #3926 goes into `v1.4.0` so should this.

/milestone v1.4

[2021-05-17 12:41] namelessvoid commented on #466
Follow up to my post above:

Looks like my issue with the acme http challenge pod having an invalid docker tag of `{STABLE_DOCKER_TAG}` was not resolved. Maybe it is related to the way the patched cert-manager images are built by Jyrno42's pipeline.

However, there is an easy workaround by specifying the acme http challenge image via command line argument: `--acme-http01-solver-image=jyrno42/cert-

[2021-05-17 13:31] maelvls commented on #3703
@JoshVanL this issue belongs to the v1.4 milestone but does not have a description. Could you add a description? Thanks!

[2021-05-17 13:40] maelvls commented on #2930
I propose that we postpone the registry mirroring to v1.5, after we are done with the [release automation effort](https://docs.google.com/document/d/1FlSR4Rtd7WUoBvwZiUacxnuZtht_AS3wMq5NtEX8YS4/edit#).

/milestone Next

[2021-05-17 14:52] irbekrm opened #4014 "Use constant values for baseDelay, maxDelay of workqueue"
Currently we hardcode `baseDelay`, `maxDelay` values when creating a workqueue for a controller, see i.e [here](https://github.com/jetstack/cert-manager/blob/master/pkg/controller/certificates/readiness/readiness_controller.go#L81).

For most controllers the values are 1s, 30s (i.e [here](https://github.com/jetstack/cert-manager/blob/master/pkg/controller/certificates/readiness/readiness_controlle

[2021-05-17 15:34] irbekrm commented on #4013
/assign

[2021-05-17 16:17] JoshVanL commented on #3703
@maelvls This doesn't need a stand-alone issue, and has been appropriately broken up into smaller issues/PR.  The main approval API is now merged, and policy related work is now tangential.

/close

[2021-05-17 16:17] #3703 closed

[2021-05-17 16:19] JoshVanL commented on #3703
For reference, here is the v1.4 milestone that included the progress of external issuers and there compatibility https://github.com/jetstack/cert-manager/issues/3908#issue-864024151

Here is a WIP project for one implementation of an approver https://github.com/cert-manager/policy-approver

[2021-05-17 16:39] #3714 closed

[2021-05-17 17:42] #4013 closed

[2021-05-17 20:54] torenware commented on #2545
I'm still seeing this.  Here's what I'm doing that gets it.

Setup:

* I have a domain (for now, call it `host-on-aws.com`) hosted via Route53.
* I've created an issuer in namespace `istio-system` called istio-le-staging

[code]
* I create and apply this Certificate resource:

[code]

I'm aware that this does not match the issuer's '*.host-on-aws.com'  in its spec.solvers.dnsZones, but I have had

[2021-05-17 21:12] torenware commented on #2545
Just went over this with @coderanger from Slack.  My example gets fixed if I change '*.host-on-aws.com' to 'host-on-aws.com'.  Much thanks to @coderanger  for the help.

[2021-05-17 23:09] jlunaq commented on #3501
I have the same problem, how can I workaround this?

[2021-05-18 03:17] carloscao0928 opened #4019 "Internal error occurred: conversion webhook for cert-manager.io/v1"
![微信截图_20210518111718](https://user-images.githubusercontent.com/58930323/118585006-a5ed4800-b7ca-11eb-8c2c-28be646af44f.png)

[2021-05-18 03:18] carloscao0928 commented on #4019
i can't create ca

[2021-05-18 05:15] longkai opened #4020 "server side apply failed"
Hi, I am running the following command to install cert-manger but failed.

[code]

The reason why I use the `--server-side` flag because I want to install the manifest in code using client-go library.

The error message indicates that the port `protocol` field in yaml manifest should not be omitted since [before kubernetes 1.20](https://github.com/kubernetes-sigs/structured-merge-diff/issues/130).

[2021-05-18 08:23] Snehil03 opened #4022 "Cert-manager pod is restarting and end up in crashloop back off error"
**Describe the bug**:

Hello,
I am facing issue with restart of cert-manager pods ,
I am not see any issue with logs, kindly guide me what all things can be checked with respect to it,
Cert-Manager : 1.1.0
Kubernetes : 1.17
Deployment completed via Helm Chart.
Any pointers toward debug or fixing issue would be a really great help.
Below are the complete logs for pod :
[code]

kubectl describe depl

[2021-05-18 08:26] Snehil03 commented on #4022
Additional info : I have tried to create clusterissuer manually with kubectl apply on yaml file provided above as part of code description, It get created succcessfully but apiversions coming as acme.cert-manager.io/v1alpha2

[code]

[2021-05-18 09:49] sramek5 opened #4023 "Vault generated certificates"
**Describe the bug**:
We found a bug regarding ```tls.crt``` creation.
In version ```v1.0.1``` it looks like this:
[code]
and unfortunately for us in newer versions ```v1.2.0``` and ```v1.3.1``` it generates only:
[code]

**Expected behaviour**:
The intermediate ca.crt must be inside the tls.crt as before. Otherwise the cert is not valid and the https web page cannot be reached.

**Environment det

[2021-05-18 10:34] wallrj commented on #3934
- [ ] [Publish Helm charts to github.com/jetstack/jetstack-charts](https://github.com/cert-manager/release/pull/28)
- [ ] Document the new helm release process in https://cert-manager.io/docs/contributing/release-process/

[2021-05-18 11:29] sramek5 commented on #4023
Latest working version is ```v1.1.1```.

[2021-05-18 12:03] irbekrm commented on #4019
It seems like `cert-manager`'s webhook cannot be reached, so you should probably start by investigating that. We have some related [docs](https://cert-manager.io/docs/concepts/webhook/#diagnosing-other-webhook-problems) for that.

If you still experience issues, you might want to add some detail such as versions of cert-manager and Kubernetes to your issue and so someone can come up with a more sp

[2021-05-18 12:34] wallrj opened #4025 "Replace references to broken email address james@jetstack.io"
The Helm chart contact details still refer to james@jetstack.io which is no longer working

https://artifacthub.io/packages/helm/cert-manager/cert-manager

See
* https://github.com/jetstack/cert-manager/blob/master/deploy/charts/cert-manager/Chart.yaml#L18
* https://jetstack.slack.com/archives/C63VC8FAT/p1620921814117600?thread_ts=1620921360.115400&cid=C63VC8FAT
* https://jetstack.slack.com/archiv

[2021-05-18 13:09] mansona commented on #3422
so I have been able to recreate this reliably twice in a row. It happens when I apply a conf file like the following:

[code]

I applied using the normal `kubectl apply -f config.yaml`

My assumption is that there is a kind of race condition with this setup 🤔 All I needed to unblock it (this particular issue) was to delete the CertificateRequest and it was created fine and continued to work.

[2021-05-19 04:18] faisalrazzak commented on #3967
Below is my understanding of the issue.

- Essentially there is no option in TPP like “IncludeChain” where you can switch ON/OFF downloading of certificate chain.
- This option to include/exclude certificate chain essentially exist in TPP’s WEBSDK call using “IncludeChain” (https://docs.venafi.com/Docs/20.4SDK/TopNav/Content/SDK/WebSDK/r-SDK-POST-Certificates-retrieve.php) and vcert utility (https

[2021-05-19 06:49] sfc-gh-cxu commented on #4023
We hit this exact issue where the intermediate CA cert is missing from the signed cert's `tls.crt`.

[2021-05-19 10:56] irbekrm commented on #3879
This was done in #3938

[2021-05-19 10:56] #3879 closed

[2021-05-19 11:13] jakexks commented on #4025
I think we need another public mailing list.

[2021-05-19 13:31] #2868 closed

[2021-05-19 13:39] irbekrm opened #4030 "Come up with a proposal for removing Bazel from cert-manager codebase"
Potentially removing Bazel from `cert-manager` codebase has been discussed a number of times.

Some of the reasoning:

- Make it easier to build/test/understand project structure (new collaborators)

- Upstream Kubernetes removed Bazel in 1.20 (see [k/2420](https://github.com/kubernetes/enhancements/issues/2420))

- The release/development process of cert-manager relies heavily on Bazel and there

[2021-05-19 13:58] kieronlanning commented on #3991
@owenthereal / @irbekrm any ideas how to fix this?

We've got exactly this issue...

We were running cert-manager v0.7 something, but it fell over. Installed 1.3.1 this-morning and have exactly the same problem...

[2021-05-19 17:16] SgtCoDFish opened #4032 "Consider ArtifactHub vulnerability scanning"
The main cert-manager helm repo today is on https://charts.jetstack.io - which links to the [cert-manager ArtifactHub](https://artifacthub.io/packages/search?org=cert-manager).

ArtifactHub recently introduced vulnerability scanning: https://twitter.com/cncfartifacthub/status/1391729806073532417

This was discussed in our biweekly meeting on 19/05: Do we want to add support for this to cert-manage

[2021-05-19 17:28] SgtCoDFish opened #4033 "Automated updates of base images"
If you were sent here from a reminder in `#cert-manager-dev` do the following:

- Run `make update-base-images`
- See below about kind images
- See below about makefile-modules base images

If anything was changed, create a PR for the changes to be merged.

Kind images can't currently be easily automatically updated because you need to use SHAs which match those given in Kind release notes, but we

[2021-05-20 09:38] EddieHoffman commented on #3775
@irbekrm I have raised PR https://github.com/jetstack/cert-manager/pull/4009 for this. Thanks.

[2021-05-20 11:42] munnerz commented on #4033
My concern with this approach is that we then don't really know when the base image _has_ changed. If there _were_ some security issue that needed backporting, we'd then not (easily) be able to identify whether our base images in an older release series do contain the patch or not (without inspecting images directly). By using a digest, the action of upgrading the base image is explicit and versio

[2021-05-20 11:55] munnerz commented on #3972
I think this can be closed now that #3926 has merged :)

[2021-05-20 11:55] #3972 closed

[2021-05-20 11:57] munnerz commented on #3994
This is working as intended - the error you are getting here comes from the ACME server (presumably Let's Encrypt) that you are communicating with, hence `error creating new order: acme: urn:ietf:params:acme:error:rejectedIdentifier: Error creating new order :: Cannot issue for \"kubernetes.docker.internal\": Domain name does not end with a valid public suffix (TLD)`.

Let's Encrypt will not issue

[2021-05-20 11:57] #3994 closed

[2021-05-20 11:57] #3973 closed

[2021-05-20 12:00] munnerz commented on #3957
This is not possible as ACME does not have any capability to retrieve the issuing CA for a certificate, so whilst your proposal does make sense, it isn't really possible to implement.

ACME will return the *chain* that leads up to the root CA, but not the root CA itself. The truststore is intended to contain the *root*, not the intermediates leading up to it. By using the public roots (typically m

[2021-05-20 12:01] munnerz commented on #3915
Given #3919 has closed, I think it makes sense to close this too now? :)

[2021-05-20 12:01] #3915 closed

[2021-05-20 12:02] munnerz commented on #3861
Closing this issue because it's not something that we can fix in cert-manager, but rather something that your ingress controller needs to handle properly :) hope that's okay!

[2021-05-20 12:02] #3861 closed

[2021-05-20 12:59] munnerz commented on #4033
We could write a bot that runs say, nightly in a ProwJob, which checks for
the latest sha for distroless and then uses bazelisk (the bazel tool for
manipulating BUILD files) to patch the file and create a PR to bump image
digests for all supported versions perhaps? This has the added benefit of
automatically including a release note in the PR so it is clear to end
users that a particular patch rel

[2021-05-20 14:37] SgtCoDFish commented on #4033
Yeah, I think I'll cross that off the list in the original post.

This sounds like the approach to take long term :+1:

In the short term, as a low tech approach, maybe it's worth me adding, say, a slack reminder to `#cert-manager-dev` every fortnight or so which just says:

with a link to this issue. That'll be an improvement we could make today, with almost zero engineering effort.

[2021-05-20 16:41] SgtCoDFish commented on #4025
I've created https://groups.google.com/g/cert-manager-maintainers - initially with the Jetstack cert-manager people as a replacement for `cert-manager-maintainers@jetstack.io`.

I'll contact everyone in https://github.com/jetstack/cert-manager/blob/e30dae687a0b498b91b0bb6df7fa51a700241fdb/OWNERS to add them, too.

[2021-05-20 20:59] irbekrm opened #4041 "Switch the api versions accepted by validating and mutating webhook to `v1` only"
This work would be part of deprecating `alpha` and `beta` `cert-manager` versions #3944

See the comments here https://github.com/jetstack/cert-manager/pull/4021#discussion_r636059031 for context.

We want to switch the API versions accepted by validating and mutating webhooks to `v1` only (currently set to accept all versions ([here](https://github.com/jetstack/cert-manager/blob/e30dae687a0b498b9

[2021-05-21 03:37] kevgrig opened #4042 "`make clean` doesn't work"
[code]

/kind feature

[2021-05-21 03:40] rspier commented on #2007
@litewhatever

I believe that this variable is a little bit confusing, but is not wrong.  Every certificate has 3 possible states == True, False, Unknown.  For a particular certificate, you can see see what state it's in by looking for which one has the value of 1.

You'll note in my example above, it has

certmanager_certificate_ready_status{condition="False",name="baz-ssl"}   1
certmanager_certi

[2021-05-21 07:08] eplightning commented on #4023
It might be misconfiguration on Vault side, I think it all comes down to https://www.vaultproject.io/api-docs/secret/pki#set-signed-intermediate endpoint:
[code]

As long as you provide entire chain there, cert-manager will issue valid certificates (at least it works for me).

[2021-05-21 09:02] Snehil03 commented on #4022
I were able to fix these issue yesterday, it's because earlier certificate  generated with cert-manager.io/v1 and after the cert-manager updated or reinstall of helm chart  it moved to different apisversion cert-manager.io/v1alpha2 ,

I did not found these information as part of upgrade document .

[https://cert-manager.io/v1.2-docs/installation/upgrading/upgrading-1.1-1.2/](https://cert-manager.i

[2021-05-21 09:06] #4008 closed

[2021-05-21 09:18] #3894 closed

[2021-05-21 09:28] wallrj opened #4045 "Flaky test: //test/integration/validation"
In https://github.com/jetstack/cert-manager/pull/4036 the following test failed intermittently:

[code]
-- https://prow.build-infra.jetstack.net/view/gs/jetstack-logs/pr-logs/pull/jetstack_cert-manager/4036/pull-cert-manager-bazel/1395667703607332866

/kind flake
/kind bug

[2021-05-21 09:36] mgruener commented on #3748
But it seems to be the case that at least cainjector watches alls secrets. We are currently in the process of introducing cert-manager to our OpenShift clusters and have no (or very few) Certificate objects. But the memory consumption of cainjector seems to scale with the amount of Secrets a cluster has in general. OpenShift creates a lot of serviceaccounts per namespace by default which results i

[2021-05-21 10:22] #3897 closed

[2021-05-21 11:33] yellowmegaman commented on #3739
Same thing with latest release v1.3.1

[2021-05-21 11:39] samf-cy commented on #2640
@rayfoss any updates ?

[2021-05-21 12:03] jakexks commented on #4025
This looks to be completed

[2021-05-21 13:09] sramek5 commented on #4023
I just do not understand now and it seems I am not only one.
Could you be please more specific?

We use this transcript:
[code]

When I apply ```certificate``` in version ```v1.1.1``` it generates proper tls, but when I apply the same certificate in newer versions, I get tls without intermediate part.

Instalation is done by:
``` $ kubectl apply -f https://github.com/jetstack/cert-manager/releases

[2021-05-21 13:10] SgtCoDFish commented on #3868
I think #3902 covers this in the short term, and there's no further work needed for this before v1.4, so I'm going to remove it from the v1.4 milestone

[2021-05-21 13:11] SgtCoDFish commented on #4025
This is completed for the cert-manager repo, but the helm charts aren't updated yet as far as I know?

[2021-05-21 13:22] eplightning commented on #4023
v1.2 changed the way Vault Issuer works (https://github.com/jetstack/cert-manager/pull/3433) - which was advertised as a breaking change in changelog.

There are two ways you can fix this:
- wait for next cert-manager release which should include (https://github.com/jetstack/cert-manager/pull/3982) - I'm not sure but I think this PR will make it work correctly no matter how you configured your Vau

[2021-05-21 14:21] wallrj commented on #4045
Again here: https://prow.build-infra.jetstack.net/view/gs/jetstack-logs/pr-logs/pull/jetstack_cert-manager/4046/pull-cert-manager-bazel/1395742068571115522

[2021-05-21 14:23] wallrj opened #4047 "Flaky test: //test/integration/certificates"
In https://github.com/jetstack/cert-manager/pull/4046

[code]
-- https://prow.build-infra.jetstack.net/view/gs/jetstack-logs/pr-logs/pull/jetstack_cert-manager/4046/pull-cert-manager-bazel/1395742068571115522
/kind bug
/kind flake

[2021-05-21 15:18] jakexks commented on #4025
For all helm charts going forward it should be fixed right? old charts cannot be changed as repos contain a checksum of the chart tarball

[2021-05-21 15:29] SgtCoDFish commented on #4025
As long as the `maintainers` section is taken from https://github.com/jetstack/cert-manager/blob/9837ccdc1feec861bfacef25717c46731b66c509/deploy/charts/cert-manager/Chart.yaml#L16-L18 then it should be fixed, yeah

I'd initially thought (assumed) that they could be changed (caveat: I don't have much experience with helm).

Given we control our whole repo we could update the tarballs as well as the

[2021-05-21 15:54] SgtCoDFish commented on #4025
(having discussed this a bit with James W, the risk/reward on changing it in old stuff means it's probably not worth touching - I'll close this again :) )

[2021-05-21 15:54] #4025 closed

[2021-05-21 15:56] paramsethi opened #4048 "Onboard with CertManager prow cluster for running CI tests for jniebuhr/aws-pca-issuer"
**Is your feature request related to a problem? Please describe.**
Onboard with CertManager prow cluster for running CI tests for jniebuhr/aws-pca-issuer

**Describe the solution you'd like**
We would like to onboard with CertManager prow cluster for running CI tests which are checked in as part of the repo jniebuhr/aws-pca-issuer

**Describe alternatives you've considered**
N/A
**Additional conte

[2021-05-21 16:02] #4042 closed

[2021-05-21 16:45] irbekrm commented on #4048
Hi @paramsethi, thanks for opening the issue!

All our Prow & Prow test config is in https://github.com/jetstack/testing, Prow job configs for the specific repos are [here](https://github.com/jetstack/testing/tree/master/config/jobs). I wonder if it would make sense to open the issue there?

[2021-05-21 17:12] kevgrig commented on #4012
I'm reverse-engineering the code and adding log statements and I thought it's useful to share the diagnostic workflow:

1. Download `cert-manager` code:
[code]
1. Log-in to some registry such as Docker Hub:
[code]
1. Add debug, e.g. adding `debug1` to the first log statement in `cmd/controller/app/start.go`:
[code]
1. Build and push to the registry (replace `docker.io/kevgrig` with your registry a

[2021-05-21 17:30] #3775 closed

[2021-05-21 17:53] #3721 closed

[2021-05-21 18:16] sfc-gh-cxu commented on #4023
The PR description of https://github.com/jetstack/cert-manager/pull/3433 said `This patch changes certificate data (CertificateRequest, Secret, ...) issued with Vault issuer as follows ... tls.crt (certificate): a leaf certificate, plus intermediate certificates if available in ca_chain`. However, this is not the behavior we observed, either with cert-manager v1.3.1 or v1.4.0-alpha.1. Vault actual

[2021-05-21 18:56] eplightning commented on #4023
@sfc-gh-cxu At a quick glance the issue seems to be caused because of missing "CN = Production Root CA" certificate from `ca_chain`. Since it's missing, cert-manager considers "CN = Production Intermediate CA (Kubernetes)" to be a CA cert and most likely puts it in `ca.crt` (instead of `tls.crt`).

You can confirm that by checking `ca.crt` key of created Kubernetes secrets.

Since v1.2.0 cert-mana

[2021-05-21 21:10] paramsethi commented on #4048
Ya that sounds good. Resolving this issue in favor of https://github.com/jetstack/testing/issues/492

[2021-05-21 21:10] #4048 closed

[2021-05-21 22:49] jeffmccune commented on #863
Switching from `ipvs` to `iptables` mode to solved this for me, see also https://github.com/kubernetes/kubernetes/issues/75262

[2021-05-22 01:31] obensouda commented on #2319
I am also seeing the same issue. I have a charmed kubernetes cluster running with flannel and calico. I changed the deployment config to use hostnetwork and changed the port and nothing.
Events:
  Type     Reason                Age                From          Message
  ----     ------                ----               ----          -------
  Warning  ErrVerifyACMEAccount  33s (x4 over 73s)  cert-

[2021-05-22 02:14] kevgrig commented on #4012
Same problem using an `Issuer` in the same application namespace instead of a `ClusterIssuer`. Initial commands the same and then these changes:

1. Create DNS01 secret:
[code]
1. Create Issuer:
[code]
1. Edit the ingress:
[code]
   Add `cert-manager.io/issuer: letsencrypt-staging-issuer` and `tls`:
[code]
1. Wait a few minutes until the certificate is ready:
[code]
1. New request to port 443 stil

[2021-05-22 11:32] fracarvic commented on #1292
I'm using the hostAliases approach and works perfectly.

It would be great that we can configure hostAlises entries using values in helm chart.

[2021-05-22 18:54] JCzz opened #4051 "Knative cert-manager - https error SSL_ERROR_SYSCALL"
Just in case you should know - thanks

https://github.com/knative/serving/issues/11395

[2021-05-22 23:31] rgeraskin opened #4052 "Error while installing kubectl plugin with Apple M1 chip"
**Describe the bug**: plugin "cert-manager" does not offer installation for this platform

**Expected behaviour**: plugin installation

**Steps to reproduce the bug**: try to install the plugin to apple m1

**Anything else we need to know?**: na

**Environment details:**:
- Kubernetes version: kubectl v1.21.0
- Cloud-provider/provisioner: na
- cert-manager version: plugin v1.3.0
- Install method:

[2021-05-23 19:29] michelefa1988 commented on #1661
Same issue here

[2021-05-24 06:11] gerardgorrion opened #4053 "Error setup role to manage Route53 dns01"
**Describe the bug**:

We are looking to change our admin user to role, according with tutorial:
[https://cert-manager.io/v1.2-docs/configuration/acme/dns01/route53/](https://cert-manager.io/v1.2-docs/configuration/acme/dns01/route53/),
but seem like some configuration is not correct, because the sts assumerole no seems to be rights into role cert manager.

[code]

Role created: cert-manager
Polic

[2021-05-24 06:34] litewhatever commented on #2007
@rspier thanks! :)

[2021-05-24 08:05] irbekrm commented on #4012
As I understand, this is the same issue as #7153? I will close this to avoid duplication of replies 😅

[2021-05-24 08:15] irbekrm commented on #4012
(I accidentally closed this as I thought the above linked issue was also open against `cert-manager` 😅 ☕)

Have you had a chance to check the created `Secret`, does it contain the cert that you would expect? Perhaps you could try to force ingress to re-load the cert by i.e killing the `ingress-nginx` pod? That would exclude the possibility that there is something wrong with the `Secret`.

`cert-ma

[2021-05-24 10:11] irbekrm opened #4054 "'External Issuer' e2e tests fail for cert-manager v1.3"
Currently all 'previous' periodic e2e tests for 'External Issuer' (sample external issuer) fail with timeouts https://testgrid.k8s.io/jetstack-cert-manager-previous.

I haven't looked at this in much depth yet, but the timing of the failures seem to coincide with the changes we made on Friday to get all components run as non-root, perhaps we are somehow pulling in the latest configs somewhere?

/c

[2021-05-24 10:25] wallrj commented on #4054
In `master` the external issuer is configured using a versioned release artifact, https://github.com/jetstack/cert-manager/blob/c7dade0fc5e19afdcec02ca963ceeb75ef427964/devel/addon/sample-external-issuer/install.sh#L31, but in the release-1.3 branch, the addon is installing sample-external-issuer by cloning the repo, as you say: https://github.com/jetstack/cert-manager/blob/release-1.3/devel/addon

[2021-05-24 11:36] irbekrm commented on #4054
I see your point and I think there were some other changes we wanted to backport.

I don't know how likely it is though that we change the issuer again in some way such that it doesn't work with a 'previous' `cert-manager` release, perhaps we can somehow change it to not clone the repo from master? I image we don't necessarily want to backport always? (I guess we can sort this tomorrow)

[2021-05-24 12:09] lllelll commented on #1802
Hello, how did you solve this problem?

[2021-05-24 12:34] lllelll commented on #1802
Thx, i found --acme-http01-solver-image option in source code

[2021-05-24 13:28] p-v-a commented on #3964
Are you sure you are not running into https://cert-manager.io/docs/configuration/acme/dns01/#setting-nameservers-for-dns01-self-check?

I.e. your k8s cluster DNS server doesn't resolve *.internal.* instead of Cloud Flare?

[2021-05-24 14:48] dalekurt commented on #3653
I'm currently experiencing this exact issue
* Kubernetes version v1.18
* Cloud-provider/provisioner: EKS
* cert-manager version: 1.3.1
* Install method: Helm chart

[2021-05-24 16:20] Fresa commented on #2726
Regarding setting security context for the http solver containers, was this ever resolved? I can't find any documentation covering it...
![image](https://user-images.githubusercontent.com/1190300/119376832-b61a9100-bcbc-11eb-801d-c27159db1a28.png)

[2021-05-24 16:28] irbekrm commented on #3944
/assign

[2021-05-24 21:48] migounette opened #4055 "OCP 4.7 - Multitenant Cert-Manager installation issue"
**Describe the bug**:
OCP - Openshift Container Platform

Try to deploy a simple self-signed cert manager issuer via a ressource, I have a http error code 500
Pods are not stabilized and I can't find the reason from events or logs....

[code]

Pod status

[code]

But in fact cert-manager pods are not stable:

[code]

Looking at the log did not help me !

[code]

`oc get events` does not provide an

[2021-05-24 21:50] migounette commented on #4055
webhook logs

[code]

[2021-05-24 22:07] acsecengtesting commented on #3895
Hi - We've completed testing on the patched version which caches in-flight requests to TPP as well as the pickupID and it works successfully. Should I submit a PR?

[2021-05-25 01:46] kevgrig commented on #4012
@irbekrm Thanks for the response.

Yes, looks okay:

[code]

Didn't help:

[code]

If I understand what you mean, that didn't help: Deleted ingress1, created ingress2 explicitly with the `cert-manager.io/cluster-issuer` annotation and TLS secret:

[code]

Thanks, I think the next steps are with [ingress-nginx issue #7153](https://github.com/kubernetes/ingress-nginx/issues/7153). It seems like `ing

[2021-05-25 06:49] irbekrm opened #4057 "Remove deprecated APIs"
In #4021 we deprecated `cert-manager.io/v1alpha2`, `cert-manager.io/v1alpha3`, `cert-manager.io/v1beta1`, `acme.cert-manager.io/v1alpha2`, `acme.cert-manager.io/v1alpha3`, `acme.cert-manager.io/v1beta1` APIs.

The next steps are to gradually remove the deprecated APIs.

This issue is to keep track of what needs to be removed and in which `cert-manager` versions.

- [x] Stop serving the deprecated

[2021-05-25 07:09] irbekrm commented on #3766
As of `cert-manager` `v1.4` the leader election will be using `configmapsleases`, see [comments here](https://github.com/jetstack/cert-manager/pull/3926#issuecomment-842134634).

We were planning to follow the migration flow of `controller-runtime`, i.e accept the default lock type.

Theoretically, in `v1.5` we _could_ have a flag to allow users to choose, but I guess since it probably makes sense

[2021-05-25 08:16] james-w commented on #3726
Moving to milestone next as we haven't tackled this for 1.4 and we are close to release. We want to tackle this for 1.5 so that we are compatible with k8s 1.22 when it is released.

[2021-05-25 08:20] james-w commented on #3610
/assign maelvls

[2021-05-25 08:28] james-w commented on #3051
/assign wallrj

[2021-05-25 09:12] irbekrm commented on #3689
Unfortunately `cert-manager` team does not have infrastructure on OVH and we haven't managed to reproduce this issue in other environments.

Any help towards fixing this issue or perhaps some advice how to avoid this issue that we could add to our docs would be appreciated!

[2021-05-25 09:20] irbekrm commented on #3290
With our current work on removing deprecated APIs, it would be nice if these upgrade tests could optionally test migration of stored CRs too, see #4021 , #4057 . With that, it would be nice to get this done by `v1.5`

[2021-05-25 10:14] wallrj commented on #4054
See https://github.com/jetstack/cert-manager/pull/4058 where I cherry pick #3917 into the release-1.3 branch.

[2021-05-25 12:28] mitom opened #4061 "Permission denied errors on AWS cause R53 DDoS"
**Describe the bug**:
When a certificate is requested with DNS verification against a domain that cert-manager can't edit (and it isn't meant to be able to), it fails (as expected) but re-queues the job with the error message. The error message contains the session name, which when using IRSA seems to have a suffix that changes on each attempt:
[code]

(note the `/1621944747142088655` part in the

[2021-05-25 14:06] irbekrm commented on #3895
Hi, I think if you have the code already, it might make sense to PR- it'd always be easier for us to comment on code!

I do still think there _might_ be an issue in why another worker would reconcile the same object before the pickupID annotation has been applied.
I would have expected the sequence to be:

1. A newly created CR get processed, a worker picks it up from the workqueue, eventually cal

[2021-05-25 14:50] muhlba91 commented on #3964
How could I miss that... Thanks, that was it! 👍

[2021-05-25 14:50] #3964 closed

[2021-05-25 17:08] irbekrm commented on #4054
All working again https://testgrid.k8s.io/jetstack-cert-manager-previous

[2021-05-25 17:08] #4054 closed

[2021-05-25 17:11] SgtCoDFish opened #4063 "Incorrect link on cert-manager ArtifactHub"
The helm chart entry for v1.3.1 (from https://charts.jetstack.io/index.yaml) correctly points at https://charts.jetstack.io/charts/cert-manager-v1.3.1.tgz:

[code]

but if I go to https://artifacthub.io/packages/helm/cert-manager/cert-manager/1.3.1 and click "install":

![install](https://user-images.githubusercontent.com/1972547/119539745-7a4afe80-bd84-11eb-9c8f-781686a474ff.png)

It says: "You c

[2021-05-26 12:51] irbekrm commented on #3944
I've been trying out upgrade to a `cert-manager` version that has the deprecated API versions removed (including conversion etc) to understand what steps users should take to take to migrate custom resources.
Upgrade steps in [the official docs](https://kubernetes.io/docs/tasks/extend-kubernetes/custom-resources/custom-resource-definition-versioning/#upgrade-existing-objects-to-a-new-stored-versio

[2021-05-26 16:09] wallrj commented on #3051
I'm going to revert the title change and close this.
The original problem that I was reporting in this issue was that all the CR controllers logged an Info message that they were syncing the CR, even for CRs that had some other issuerRef.

@meyskens fixed that in https://github.com/jetstack/cert-manager/commit/fecd0b3518d0024a686abb7ed590e2fc7a0568e8#diff-243ebed2765f75e6a54f57167212fefb08c3b2a859

[2021-05-26 16:09] #3051 closed

[2021-05-27 08:44] wallrj commented on #3942
This was raised before we reverted the Istio VirtualService work and is probably obsolete.
Current plan is to introduce a new ACME webhook API which will allow the different HTTP01 solvers to be implemented as plugins.
See https://github.com/jetstack/cert-manager/issues/3924

[2021-05-27 08:44] #3942 closed

[2021-05-27 08:45] irbekrm commented on #3976
/milestone next

[2021-05-27 08:46] irbekrm commented on #3976
/milestone Next

[2021-05-27 08:49] irbekrm commented on #3976
/milestone Next

[2021-05-27 08:50] SgtCoDFish commented on #3325
This could potentially be aided by https://github.com/jetstack/cert-manager/issues/3924

/priority backlog

[2021-05-27 08:57] irbekrm commented on #4011
Thanks for opening the issue!
We should try to reproduce this.

/milestone Next

[2021-05-27 09:08] wallrj commented on #4012
Thanks for digging into this @kevgrig

It looks like the problem is in the ingress-nginx project rather than cert-manager.

I'll close this issue, but feel free to re-open it if you disagree :-)

[2021-05-27 09:08] #4012 closed

[2021-05-27 09:17] wallrj commented on #3597
Thanks @harshal-shah

This is a duplicate of https://github.com/jetstack/cert-manager/issues/2992 and you will be interested to note that there is an open PR which fixes this issue in https://github.com/jetstack/cert-manager/pull/3537

Please take a look at that PR, review it if you can and perhaps test it.

[2021-05-27 09:17] #3597 closed

[2021-05-27 09:17] SgtCoDFish commented on #2380
From looking at https://github.com/OctopusDeploy/Issues/issues/6598#issuecomment-720147341 it would seem this limitation is fixed in Octopus?

[2021-05-27 09:19] maelvls commented on #3824
Reading through the error message, what happens is:
- cert-manager creates the ingress meant for solving the challenge,
- nginx-ingress's webhook rejects the deployment (I guess they mean ingress) because the Ingress has the annotation
[code]
  and the nginx-ingress webhook sees
[code]
  on another annotation that conflicts with the first one.

You are right, this seems to be due to the fact that

[2021-05-27 09:20] maelvls commented on #3824
/area ingress-shim
/priority backlog

[2021-05-27 09:21] SgtCoDFish commented on #3980
This doesn't look to be a bug to me, so I'm gonna close the issue. If I've misunderstood, please feel free to re-open.

[2021-05-27 09:21] #3980 closed

[2021-05-27 09:25] maelvls commented on #3954
Hi! I'll just add the missing "priority" label, I hope "backlog" makes sense 😅

/priority backlog

[2021-05-27 09:26] irbekrm commented on #3884
Hi, sorry for the delay.

It should be currently possible to set an ownerReference pointing at the creating `Certificate` on the `Secret` using `--enable-certificate-owner-ref` flag on controller- so that `Secret`s get deleted when the corresponging `Certificate` gets deleted.

If you were to delete the `Secret` without deleting the actual `Certificate` (i.e after the `Issuer` has been deleted) `c

[2021-05-27 09:28] JoshVanL commented on #3948
Hi @sass1997, you may be interested in our newly created [CSI driver](https://github.com/cert-manager/csi-lib), that behaves similar to the [old](https://gihtub.com/jetstack/cert-manager-csi). I expect that the CSI driver(s) will be developed more in the coming months.

[2021-05-27 09:31] irbekrm commented on #3594
/milestone Next

[2021-05-27 09:50] SgtCoDFish commented on #3950
I think this is related to #3924 longer term.

/priority important-longterm

[2021-05-27 10:00] munnerz commented on #3944
Can we open an issue upstream for this? I don't think it is expected behaviour

[2021-05-27 12:02] irbekrm opened #4066 "[Flake] test/e2e/suite/issuers/acme/certificate/http01.go test"
This test fails a lot in CI:
[code]
See i.e here https://prow.build-infra.jetstack.net/view/gs/jetstack-logs/pr-logs/pull/jetstack_cert-manager/4065/pull-cert-manager-e2e-v1-21/1397880837994713092

/kind flake

[2021-05-27 13:04] tegioz commented on #4063
Hi 👋

This is Sergio, from Artifact Hub 🙂

I think the problem is that when version `1.3.1` was indexed by Artifact Hub, the package was available at that location (without `charts/`). Packages versions already indexed are only revisited again when their digest changes. This is an interesting case as I understand the package digest hasn't really changed as the content is the same, it's just that t

[2021-05-27 13:15] SgtCoDFish commented on #4063
Hi Sergio :wave:

Thanks for looking into this, it saves me a bunch of time!

If you could do that it'd be fantastic, thanks! We're pretty reticent to change the digests if we can help it.

[2021-05-27 14:10] tegioz commented on #4063
Done, it should be fixed now 👍

[2021-05-27 14:14] SgtCoDFish commented on #4063
looks like it, yeah :+1: amazing, thanks very much @tegioz

[2021-05-27 14:14] #4063 closed

[2021-05-27 14:55] munnerz commented on #2239
@adamday2 no, aside from creating your own mutating webhook that watches for our resource types.

[2021-05-27 15:23] kevgrig commented on #4012
Started to explore the nginx Lua code that serves the cert and it looks like it'll be non-trivial to understand and add debug to, so for now I just used a workaround of [specifying a default certificate](https://github.com/kubernetes/ingress-nginx/blob/master/docs/user-guide/tls.md#default-ssl-certificate) which works:

1. Edit the ingress-nginx deployment:
[code]
1. Under `spec/template/spec/cont

[2021-05-27 15:40] findmyname666 commented on #2882
Hello all,

I experiencing the same issue with zerossl acme certificates and cert-manager:

[code]

I'm trying to use the same account EAB ID and key in multiple EKS/Kubernetes clusters.
Unfortunately it works only in the one / the first one.
Others throw above errors.

I see that the "some" fix should be deployed as stated by @robstradling.
Is there anything I can do with it ?

[2021-05-27 15:46] wallrj commented on #3415
@brokencode64 wrote:

Do mean literally no logs, or do you mean no relevant logs?
If there are no logs, then it suggests that the web hook server hasn't started.

If there are logs, but only the normal startup logs, then you might try looking at the logs of the Kubernetes API server.
It connects to the webhook server and returns the error message described by the OP.
So perhaps the K8S API server

[2021-05-27 16:53] psavva commented on #1292
Is there any roadmap to allow us to permanently disable the self check?

[2021-05-27 17:00] maelvls commented on #3610
For future reference, here is a detailed explanation of why one cannot use more than 2 subdomains with acme-dns.

Imagining that I am running `acme-dns` on 81.82.83.84, and if I want to have certificate for the subdomains `mael.pw`, `blog.mael.pw` and `minio.mael.pw` using a single acme-dns credential (`da81d9b9-4ed1-5343-9a44-4e78f9ead5d9`), my nameserver would look like this:

[code]

I then cre

[2021-05-27 18:01] #3610 closed

[2021-05-28 13:05] rafaelDev0ps opened #4068 "cert-manager certificate always update when "helm install" command is executed."
I already searched in cert-manager docs about this behavior but I not found. I have cert-manager chart in my personal kubernetes configuration repository. The chart version is v1.3.0 and this version is running on my kubernetes cluster.

**Bug description**:
I have a pipeline integration in this repository and when some configuration is changed all the charts are applied again (including cert-mana

[2021-05-28 16:06] fvlaicu commented on #3748
On a cluster that we've only installed the CRDs and don't have any certificates actually managed by cert-manager, the controller makes a call for all secrets - on that cluster we have about 130k secrets.
here's the log from the controller:

[code]

[2021-05-28 22:29] scrothers commented on #2319
Hello @meyskens,

Since the webhook is clearly not working properly for a significant portion of the cert-manager users here, would it not be best to give us an option to disable it in the helm chart configuration?

It seems like delaying on this and see folks downgrading is encouraging running old code in production.

The webhook is clearly not very stable and I'm not quite sure what usefulness i

[2021-05-31 19:21] msnelling commented on #2802
I agree that it should be possible to hide the `email` field, especially with the rise of GitOps where Issuers would be hosted in a Git repository thereby exposing the email address to spammers.
I would modify the secret to look like below...
[code]
And the Issuer...
[code]

[2021-06-01 02:59] yuzliu commented on #2362
I have the same issue using cert manager v0.13.1 when etcd has long timeout. Turning off leader election seems to fix the issue but is there any down side of doing that?

[2021-06-01 08:38] dgard1981 commented on #2380
@SgtCoDFish - The issue that you mention is related to a Docker Container Registry external feed, not a Helm Feed.

Octopus do have an [issue](https://github.com/OctopusDeploy/Issues/issues/6800) related to non-semver Helm charts in external feeds, but there is no telling when (or even if) that issue will be addressed. In the mean time, they are suggesting that people use cert-manager from an alte

[2021-06-01 09:00] amimof opened #4071 "Add a default value to RevisionHistoryLimit if none is provided in the Certificate"
**Is your feature request related to a problem? Please describe.**

I imagine many are upgrading cert-manager to 1.3.x mainly because of `RevisionHistoryLimit` feature. An awesome feature btw. However after upgrade any existing `Certificate`s needs `revisionHistoryLimit` paramater on all Certificate resources in all clusters. This might not be a problem is smaller environments but it does introduc

[2021-06-01 09:29] SgtCoDFish commented on #2380
My bad, sorry! I can see you've commented on the issue you linked, which is the thing I would've suggested :grin:

We've discussed this issue today in a meeting and we're of the opinion that we can't really justify changing anything in this space - certainly not for the specific reason of supporting Octopus.  These changes tend to be fiddly, and there are a bunch of things we'd have to tweak to dr

[2021-06-01 09:43] dgard1981 commented on #2380
Thanks for the detailed reply.

While I agree that Octopus _could_ apply a fix on their end, I don't necessarily agree that they **should**. As pointed out by an update to the [issue 6800](https://github.com/OctopusDeploy/Issues/issues/6800), the [Helm documentation](https://helm.sh/docs/topics/charts/#the-chartyaml-file) does specify that the version should be semver 2.

Also, as you mentioned, t

[2021-06-01 11:06] brokencode64 commented on #3415
So, the webhook-controller is outputting logs, but nothing that seems particularly helpful:
[code]

The error listed in the title is coming from the api-server itself. I tried enabing verbose logging (output below) - not sure how helpful it is.
[code]

Admissions controllers are definitely enabled, rbac should be fine as far as I can tell:

[code]

[2021-06-01 12:30] wallrj commented on #3415
@brokencode64 and @haskell42 I'm trying to imagine what might be going on here.

You both get an error message from the K8S / K3S API server which ends `failed calling webhook "webhook.cert-manager.io": Post https://cert-manager-webhook.kube-system.svc:443/mutate?timeout=10s: Forbidden`, which I assume relates to the HTTP 403 status code: https://developer.mozilla.org/en-US/docs/Web/HTTP/Status/40

[2021-06-01 16:37] sass1997 commented on #3948
Hi @JoshVanL , thank you for responding. I will checkout the project.

[2021-06-01 18:14] maelvls commented on #3290
I worked for a bit on this and came up with a quick-and-dirty script that might allow us to start doing upgrade tests:

[cert-manager-upgrade-test](https://gist.github.com/maelvls/927f02b4ff70882afa387131929e650a)

[2021-06-01 21:24] slehlib opened #4073 "Internal error occurred: failed calling webhook"
Hello,
I try to install cert-manager but i have this error when to apply Issue.yaml

root@master-ipam cert-manager]# kubectl apply -f Issuer.yaml
Error from server (InternalError): error when creating "Issuer.yaml": Internal error occurred: failed calling webhook "webhook.cert-manager.io": Post "https://cert-manager-webhook.cert-manager.svc:443/mutate?timeout=10s": dial tcp 10.233.10.78:443: i/o t

[2021-06-01 21:33] lasdolphin commented on #2602
It helped me, thanks a lot =)

[2021-06-02 14:51] irbekrm commented on #3682
FWIW, I haven't been able to reproduce this issue.
I have tried with:
- GKE 1.19.9-gke.1400, `cert-manager` `v1.3.1`, ingress-nginx (Helm installed) `v0.46`
- GKE 1.20.6-gke.1000 `cert-manager` `v1.2.0` ingress-nginx (Helm installed) `v0.46`
- GKE 1.20.6-gke.1000 `cert-manager` `v1.2.0` ingress-nginx (Helm installed) `v0.44`

With the following Ingress config
[code]
Each time a certificate for the

[2021-06-02 15:03] cebidhem commented on #3615
Hi,

Having the exact same issue, certmanager v0.10.0 and k8s v1.20.4. For those of you who destroy certmanager v0.10.0 in order to fresh install v1.3.x, did you also delete the ssl secrets in the different namespaces ?
Or just deleting certmanager resources (crds, deploy, r, rb, sa, etc) was enough ?

I mean, I have enough room to re-issue all my certs for all my clusters, and indeed it would be

[2021-06-02 16:19] cweagans commented on #3460
Any updates here? I think I'm running into this bug in my installation now (I can't even get it to issue the first time - haven't gotten to the point where a renewal is a concern).

[2021-06-02 20:34] jeff-r-koyaltech commented on #1944
Thanks @richstokes , that greatly increased my understanding of how all of this works.

[2021-06-03 10:15] sabir-piludiya opened #4075 "Renew certificate keeps in pending state"
We have changed the ingress controller from Nginx to Kong. After changing the class in ClusterIssuer, One of the certification renewals keep in a pending state. However, it renewed the other ingresses successfully as expected. One of the ingress is in pending.

when I describe the challenges, it shows:
[code]
If anyone can suggest the workaround.

[2021-06-03 11:18] wallrj opened #4076 "Incorrect Kubernetes compatibility information in the Helm chart"
In https://github.com/jetstack/cert-manager/blame/528305b5edd3e582a0996d20556a33d5b795564a/deploy/charts/cert-manager/README.template.md#L11 and at https://artifacthub.io/packages/helm/cert-manager/cert-manager/ we are telling users that cert-manager is compatible with K8S 1.11+.

But this is no longer correct.
See https://cert-manager.io/docs/installation/supported-releases/

/kind bug

[2021-06-03 11:21] wallrj opened #4077 "Incorrect installation information in the Helm chart"
In https://github.com/jetstack/cert-manager/blame/528305b5edd3e582a0996d20556a33d5b795564a/deploy/charts/cert-manager/README.template.md#L22 we advise users to install the `{{RELEASE_VERSION}}` of the CRDs, followed by the latest stable version of the chart.

But this will be wrong for all pre-release Helm charts where the CRDs will be the pre-release version but the manifests will be the last sta

[2021-06-03 16:21] irbekrm commented on #2868
Hi @electrical ,

We now have beta release with a fix for this issue https://github.com/jetstack/cert-manager/releases/tag/v1.4.0-beta.0

If you have a chance to experiment with this at some point and see if that also fixes the issue you saw, any feedback would be really useful, else it might be worth opening another issue.

[2021-06-03 17:59] jslester14 commented on #3460
I'm having the same issue with v1.0.4 and the "deleting the secret" workaround doesn't work for me.

[2021-06-04 15:26] davidsbond commented on #3664
@irbekrm I was taking a look at this, I think a simple solution would be to update `Chain.Evaluate` to make a deep copy of `Input.Secret` before running the policy functions, something like:

[code]

This way, when we're checking all these annotation fields and secret data which is all in maps, we always guarantee its a copy rather than the real thing?

[2021-06-04 15:28] davidsbond commented on #3664
Also cc @maelvls, what do you think of my documentation there on the `nil` check? Does it follow your ideas on the "why"?

[2021-06-04 15:42] maelvls commented on #3908
| 👉 @jetstack/team-cert-manager is invited to update this issue. |
|--|

Release plan (release date: 11 June 2021)

Before the release party:

- [ ] Create an upgrade page similar to https://cert-manager.io/docs/installation/upgrading/upgrading-1.0-1.1 and merge it into `release-next` before the release
- [ ] Update release process with "do not fast-forward to master after our first beta" (https:/

[2021-06-05 04:52] nswarnkar commented on #2757
I also fall into this issue and was able to recover successfully.
How this situation came at my end?
We had to setup new cluster, after taking backup of certificates, which is server by cert manager.
As per the cert manager I took backup.
At the time of backup, my kubernetes version was v1.18.18 and cert manager version was v0.16.1(https://github.com/jetstack/cert-manager/releases/download/v0.16.1

[2021-06-05 04:56] nswarnkar commented on #2537
@Anujay-Saraf Please check , it it helps you, I rant into similar situation and recovered broken cert manager installation.
https://github.com/jetstack/cert-manager/issues/2757

[2021-06-06 00:48] annerajb commented on #2466
This is already available in go

https://pkg.go.dev/crypto/ed25519@go1.16.4

Is this accepting branches / merge request?

[2021-06-06 20:21] nswarnkar commented on #3501
I faced this same issue.
I removed ClusterIssuer and deployed again after correcting one configuration at my end and it worked like charm.
Last few lines of logs were kind of same, but when scrolled up and check maximum logs. I was able to figure out configuration issue at my side and corrected it.

Please check more logs, as it gives you exact reason, why it is failing and you might have differen

[2021-06-07 09:28] optix2000 commented on #3501
I have an expired cert, and cert-manager has refused to renew it. It gives no details whatsoever and just spams the same logs over and over (over the course of weeks).

k8s 1.21.1
Certmanager 1.3.1 via Helm chart.
ingress-nginx 0.40.0

[code]

Unlike others, I checked and my `ClusterIssuer` didn't get removed.

I _was_ able to work around this problem by deleting the `Certificate` and it got recre

[2021-06-07 11:18] prabcloudxprt opened #4080 "Local build of cert-manager is failing on Analysis failed"
i see this error when i gave.
`make images`
[code]

[2021-06-07 12:28] rliskunov commented on #3442
Good day, @meyskens! I am sorry for distracting you. Is there any solution to the problem?

[2021-06-08 00:24] carusology commented on #3237
Fantastic comment @liamawhite, this does appear to solve the problem.

Fortunately, that port's value (`10250`) is already mapped to a parameter in the helm chart. Specifically: `webhook.securePort`. ([Source](https://artifacthub.io/packages/helm/cert-manager/cert-manager)). So if you deploy the helm chart while setting `webhook.securePort` to `10260`, you can create the self-signed issuer for ver

[2021-06-08 02:37] khurram-s commented on #3594
DO we have workaround for this issue ? Looks like we hits the same issue although i could see in DNS zone the txt record was created, updated and deleted properly.

│ I0608 01:07:25.019105       1 conditions.go:162] Found status change for Certificate "domain-tls-certificate" condition "Issuing": "True" -> "False"; setting lastTransitionTime to 2021-06-08 01:07:25.019098303 +0000 UTC │
│ E0608 01:

[2021-06-08 08:00] RyuunoAelia commented on #3777
@JoshVanL What kind of additional evidence do you need ?

I am hit with the same issue. I can help in debugging why cert-manager re-POST the challenge instead of polling the authorization if needed.

[2021-06-08 08:03] zedtux commented on #2334
Thank you @justinas-b for sharing your manifest, it helped me a lot.

I had to add another `NetworkPolicy` otherwise the `cainjector` pod couldn't connect to the kubeapi server:

[code]

[2021-06-08 08:29] maelvls commented on #3290
FWIW @JoshVanL plans on testing the upgrade from cert-manager `v1.3.1` to `v1.4.0-beta.0` today, and document the process.

[2021-06-08 11:55] prabcloudxprt commented on #2881
What is the fix for this issue?

[2021-06-08 16:05] MattiasGees opened #4082 "Venafi Cloud 500 errors don't get retried"
**Describe the bug**:

Sometimes on a Certificta issuance or renewal, Venafi Cloud returns a 500. In the corresponding certificate request I see the following message:

[code]

This is no problem if cert-manager would retry after some time, but this doesn't seem to happen based on the full output of a certificaterequest and it stays in failed state.

[code]

**Expected behaviour**:

cert-manager s

[2021-06-08 18:09] pablofiumara-azumo opened #4083 "Cert Manager + Istio + Kubeflow + Azure + LetsEncrypt"
How can I setup SSL for a Kubeflow installation (using Istio) on Azure? URL is https://mydns.westus.cloudapp.azure.com/

Thanks in advance

[2021-06-08 19:43] afzalch opened #4084 "Linting error due to missing metadata labels"
**Describe the bug**:

Linting errors due to missing metadata labels in the secrets that are created by Issuer

**Expected behaviour**:

Expect each resource (pod, secret, Issuer, etc.) to look like the below with the below fields in the metadata section, and at least the productName and productID labels.
[code]

**Steps to reproduce the bug**:
This is a bug with the metadata labels for secrets cr

[2021-06-08 19:52] aharper273 commented on #2421
Is there any better solution to this than recreating a brand new kube cluster?

[2021-06-09 07:44] irbekrm commented on #4080
Could you please update this issue with what os/arch you are running on (the output of `uname -a`) as well as what version of Bazel you are using (`bazel --version`)?

[2021-06-09 08:54] etiennejournet opened #4086 "[CA Issuer] Metrics for getting issuer cert expiration"
Hi !

I couldn't find a metric for reporting a CA Issuer Certificate (so basically a Kubernetes TLS Secret) expiration.
Is there one ? What would you recommend as a workaround if there isn't ?

Regards,

[2021-06-09 10:02] irbekrm commented on #4052
Closing this issue as it was implemented in https://github.com/cert-manager/release/pull/37

`cert-manager ` `v1.4` that should be released on 11th of June should have a `kubectl` plugin for Apple Silicone.

[2021-06-09 10:02] #4052 closed

[2021-06-09 15:29] JoshVanL commented on #3381
I would like to action this for the next release.

/assign

[2021-06-09 18:20] bingisagar opened #4087 "Cert-manager logs deprecated API warning messages in telemetry"
**Describe the bug**:
We have installed latest char version on cert-manager in AKS clusters. But we are seeing warning (networking.k8s.io/v1beta1 Ingress is deprecated in v1.19+, unavailable in v1.22+ use networking.k8s.io/v1 Ingress) messages in logs

**Expected behaviour**:
It should not refer the old deprecated APIs

**The current behaviour**:
We are seeing the following warning messages in tel

[2021-06-09 18:21] #4083 closed

[2021-06-10 01:58] zjcnew opened #4088 "self signed certificate automatically renewed?"
Using ingress to issue a self signed certificate, can you specify the validity period of the certificate, and can it be automatically renewed or renewed?

[2021-06-10 04:40] charuhasan commented on #4073
@slehlib, please uninstall the cert-manager and please verify that all resources are deleted related to the cert-manager (check all namespace).
 Ref: https://cert-manager.io/docs/installation/uninstall/kubernetes/

manually delete the below resources also.
mutatingwebhookconfiguration.admissionregistration.k8s.io/cert-manager-webhook
validatingwebhookconfiguration.admissionregistration.k8s.io/cert

[2021-06-10 06:36] irbekrm commented on #4088
Hi, you mean [ingress-shim](https://cert-manager.io/docs/usage/ingress/)?

The cert will be automatically renewed like any other cert-manager `Certificate`, you can check its `status.renewalTime` to see when.
You can specify duration and renewBefore values with `cert-manager.io/duration`, `cert-manager.io/renew-before` annotations on `Ingress` (see [here](https://github.com/jetstack/cert-manager/b

[2021-06-10 06:51] irbekrm commented on #4087
Hi, we're still using the `v1beta1` Ingress API as we support Kubernetes `v1.16`+.

We're working on supporting both versions in `cert-manager` `v1.5` (in time for Kubernetes `v1.22`)

Closing this issue as we already have #3726 #3390

[2021-06-10 06:51] #4087 closed

[2021-06-10 06:58] irbekrm commented on #4068
Hi, thanks for the issue!

Do you mean the X.509 certificate stored in the `Secret`? Why would the services stop working (assuming a scenario where the `Secret` is i.e mounted to a pod)?

[2021-06-10 07:20] irbekrm commented on #4082
Hi @MattiasGees 👋🏼  thanks for opening the issue,

Once `random-certificate-xqs69` `CertificateRequest` failed, `cert-manager` should have backed off trying to issue the `Certifcate` and retried after 1 hour ([here](https://github.com/jetstack/cert-manager/blob/master/pkg/controller/certificates/trigger/trigger_controller.go#L209)).

Was the `status.lastFailureTime` set on the `Certificate`? I hav

[2021-06-10 07:20] prabcloudxprt opened #4089 "make images throwing unbound variable error"
I get error when i try to create images.

[code]

[2021-06-10 07:21] prabcloudxprt commented on #4080
I downgraded bazel version to 3.3.1. That fixed my issue.
thank you

[2021-06-10 07:21] #4080 closed

[2021-06-10 07:28] irbekrm commented on #3726
Would it make sense to close this issue in favor of #3390 which has more detail so as to not split the conversation?

[2021-06-10 07:37] irbekrm commented on #4089
https://github.com/jetstack/cert-manager/issues/4080

Please provide more information + what command you're actually running.

[2021-06-10 07:43] prabcloudxprt commented on #4089
i ran
`make images`

[2021-06-10 07:43] prabcloudxprt commented on #4089
I run `make images`

[2021-06-10 07:46] prabcloudxprt commented on #4089
I am using version v0.15.0

[2021-06-10 07:48] prabcloudxprt commented on #4089
This is the content of the file ./home/me/.cache/bazel/_bazel_me/3d79acfe119715ea5b1c890a4613b6be/execroot/com_github_jetstack_cert_manager/bazel-out/k8-fastbuild/bin/build/push-server-images-amd64 with line 243

[code]

[2021-06-10 08:05] irbekrm commented on #3952
Sorry for the late reply! Really good write-up of the install tool 😄

This sounds like a great idea.

So I guess this won't really allow for piping into other deployment tools? (i.e like [linkerd install](https://linkerd.io/2.10/getting-started/#step-3-install-the-control-plane-onto-your-cluster) since the `helm template` outputs yamls with Helm annotations etc.

This too seems like it could be us

[2021-06-10 08:27] irbekrm commented on #4089
I cannot reproduce this issue - I am able to run `make images` from latest `cert-manager` master with bazel `v4.0.0` on linux/amd64.
If your setup is different then please provide some information about that, else I don't think we can help here.

[2021-06-10 08:54] prabcloudxprt commented on #4089
Am not using the latest cert-master. i use `cert-manager v0.15.0`  and `bazel version 3.3.1` on linux/amd64.
My setup is not customized otherwise

[2021-06-10 08:58] wallrj commented on #3648
Also consider following this [Makefile style guide](https://clarkgrubb.com/makefile-style-guide) or choose another style guide.

[2021-06-10 09:14] MattiasGees commented on #4082
The status of the relevant cert

[code]

[2021-06-10 09:15] irbekrm commented on #4089
It might make sense for you to upgrade. We no longer support `v0.15`.

[2021-06-10 10:49] rafamttz commented on #4068
Hi @irbekrm, yes I'm using X.509 certificate. I don't know the cause of this behavior, secret is mounted inside the pod. I have Mongo stafefullset with TLS and the other pods that uses certificates also.

I generated  two certificates.
- One CA selfsigned (for Mongo)
- One certificate (for clients)

Both have the same issuer.

To solve this I have to restart my Statefullset and my Pod.

[2021-06-10 12:31] fsniper commented on #3990
We had hit this issue in the past and upgraded certmanager according to the previous bug #3603 . And today we see that we still have this issue with the new cert-manager  (1.3.1) too. We had to remove >60K certificate requests so that the cluster could function normally today.

[2021-06-10 12:31] fsniper commented on #3990
I forgot to mention that we use AKS.

[2021-06-10 13:19] irbekrm commented on #4082
It seems like we might be hitting this code path:

1. A `Certificate` with revision N for which there is a failed `CertificateRequest` with revision N+1 gets the `Issuing` condition applied after the 1 hour backoff [in the 'trigger' controller](https://github.com/jetstack/cert-manager/blob/master/pkg/controller/certificates/trigger/trigger_controller.go#L197)
2. 'keymanager' controller syncs the u

[2021-06-10 15:58] irbekrm commented on #4068
Thanks for the extra info! We should look into this, but at the moment I don't really know how to reproduce it- if you have any ideas that would be very helpful.

[2021-06-10 18:02] WyriHaximus commented on #3501
Found a way around this issue, there is a `cert` resource for the certificate that's in crashloopbackoff. After removing that cert-manager immediately reissued issued a certificate.

[2021-06-10 20:03] irbekrm commented on #4075
Hi @sabir-piludiya ,

Could you try to manually delete the pending `Order` and `Challenge` and the current `CertificateRequest` and see if the renewal succeeds then?

[2021-06-10 21:23] MysticalMount opened #4091 "InvalidKeyPair loop when using Vault issuer"
**Describe the bug**:
Using a Vault ClusterIssuer which is set to ready and is authenticated with the Vault instance:

[code]

The certificate YAML is here:
[code]

Applying this results in:
[code]

Checking the last secret created above, and using OpenSSL after base64 decoding the tls.key and tls.crt does infact show that the above is valid (update: Valid in the sense the private key does not mat

[2021-06-11 04:26] kevgrig commented on #4012
Just to finalize this for anyone else that hits this issue, it seems to be some sort of weird, intermittent ingress-nginx issue with the wildcard host and [using an explicit host worked](https://github.com/kubernetes/ingress-nginx/issues/7153#issuecomment-859254337) (and, oddly, subsequently reverting that to wildcard still worked).

[2021-06-11 06:57] zjcnew commented on #4088
Yes, it does work. I like your answer

[2021-06-11 06:57] #4088 closed

[2021-06-11 10:54] maelvls commented on #3908
Today is the day we had planned on releasing 1.4.

After a discussion in the standup, we decided to push back the release to Tue 15 June 2021 and to have `v1.4.0-beta.1` released today.

**Rationale:** [Richard Wall](https://kubernetes.slack.com/archives/C4NV3DWUC/p1623336008273700) made the point that https://github.com/jetstack/cert-manager/pull/4040 introduced an "unexpected" change in the API

[2021-06-11 11:12] irbekrm commented on #4082
/milestone Next

[2021-06-11 12:07] irbekrm opened #4093 "Clean up/document the defaulting in fuzzer funcs"
See comments on #4092 [here](https://github.com/jetstack/cert-manager/pull/4092#discussion_r649901031) for context.

We set a number of default for field values for cert-manager API types in the fuzzer functions i.e [here](https://github.com/jetstack/cert-manager/blob/3242b83b12d3609ca8f9d6e540daef7e0c8803d7/pkg/internal/apis/certmanager/fuzzer/fuzzer.go#L29-L59).
Are these defaults still needed g

[2021-06-11 13:51] irbekrm commented on #3990
Were there duplicates from the same issuance cycle? Any logs from a point when there were duplicated `CertificateRequest`s would be appreciated.

[2021-06-11 16:05] prabcloudxprt opened #4095 "Update private Docker registry path"
I would need to push the images to my private registry . Instead of quay.io/jetstack/ registry.
How can i achieve this. I tried to update the Makefile with below

`DOCKER_REPO ?= racl/images`

But i see error as below.
`push-server-images-amd64: line 243: STABLE_DOCKER_REGISTRY: unbound variable`

[2021-06-11 17:22] fvlaicu opened #4096 "Cert-manager 1.4.beta0 and ACME providers that don't send the root CA"
It seems that an ACME provider we're using doesn't also send the root CA in the response.
What I noticed is that the intermediate certificate is placed instead of the `ca.crt` field and the certificate is placed alone in the `tls.crt` field.

**Expected behaviour**:

I would expect for the `ca.crt` field to be empty and the `tls.crt` field to contain the certificate and its intermediate.
**Steps t

[2021-06-11 18:39] #4096 closed

[2021-06-11 20:33] mariadb-PeymanMortazavi commented on #1292
Yeah I'm pretty stuck on this at the moment. I'm running a server at home and use dyndns to point to my own ip address. The challange is totally ready but cert-manager keeps getting 404 because it uses the same hostname and that hostname won't work when you're inside the network. I'm giving up on this altogether and going to use http for now but I'm sad about it.

[2021-06-12 00:23] safaci2000 opened #4097 "Generating SSL + ingress-nginx issue"
I'm unable to get a certificate using nginx  https://kubernetes.github.io/ingress-nginx and LetsEncrypt. It seems like the http01 validation isn't working as expected.

Here's the cert-manager logs:

[code]

Ingress Configuration:

[code]

Staging Issuer:
[code]

Certificate:

[code]

kubeclt get Certificate

[code]

kubectl get CertificateRequest

[code]

kubectl get Order

[code]

**Expected beh

[2021-06-12 15:22] psavva commented on #1292
Try this: https://github.com/jetstack/cert-manager/issues/1292#issuecomment-672042901

[2021-06-14 08:07] chrispatmore commented on #2906
Hi, I have also been hitting problems because of this, to be precise, because of not adding https://datatracker.ietf.org/doc/html/rfc5280#section-4.2.1.2, to the SS CA Certificates generated using cert-manager.

If you follow these steps:

1) generate a CA using
[code]
Where `v3_ca` extensions are:
[code]
Note the two commented out extensions, to line up with cert-manager CA

2) generate a child c

[2021-06-14 08:55] maelvls commented on #3897
I was able to check that the "hot-looping" is gone! Thank you @irbekrm for your thorough instructions for reproducing the bug. For later reference I recorded all the steps [in this gist](https://gist.github.com/maelvls/0a297e72942ac9ee14d66aaff91967b8).

<details>
<summary>1.4.0-beta.0 hot-loop logs</summary>

[code]

</details>

[2021-06-14 13:02] chrispatmore commented on #2906
It appears that this has actually been added at some point and is working in `v1.3.1`, so this can probably actually be closed

[2021-06-14 13:04] EnriqueL8 commented on #2906
Just tested with `v1.3.1` and can see in the self-signed root CA the following. I imagine at some point a fix went in for this, but not sure when
[code]

[2021-06-14 13:50] yanniszark opened #4102 "Default leader election namespace to installation namespace"
**Is your feature request related to a problem? Please describe.**

Cert-Manager uses leader election to run its controllers in HA mode.
The leader election algorithm creates a ConfigMap in a namespace configured by `global.leaderElection.namespace`:
https://github.com/jetstack/cert-manager/blob/5e2a6883c1202739902ac94b5f4884152b810925/deploy/charts/cert-manager/values.yaml#L23-L25
This means that

[2021-06-14 16:26] munnerz commented on #3706
I think having a validating hook for this _would_ make sense - you could utilise `failurePolicy` on the webhook resource to control how the webhook failing or being unavailable is treated (some may want to permit persisting anyway, some may not).

cert-manager's `issuing` controller would retry the issuance into the Secret resource if this does fail, without trigger the full issuance flow again, w

[2021-06-14 17:09] amarshall commented on #3338
The problem I encountered is covered in https://github.com/jetstack/cert-manager/pull/3425#issuecomment-719690301, but to echo here: setting `namespace: cert-manager` (or anything else) in Kustomize leads to it overwriting the kube-system namespace specified in some RBAC-related resources, which caused this failure. Removing `namespace:` entirely so it would just use whatever is in the resource de

[2021-06-14 17:51] rramadoss4 commented on #3229
We faced same issue in EKS with cert-manager. We tried to clean up the cluster by deleting some old helm releases which could delete old secrets.
But is this parameter for apiserver something that can be configurable in EKS? or is there a fix available from cert-manager?

[2021-06-14 18:27] buckner commented on #4091
I'm seeing this exact same behavior as well. I've tried completely removing cert-manager and reinstalling it, but that didn't help.

I'm running it on AKS (Azure kubernetes) version 1.19.9 with a vault that is external to the cluster. The symptoms I am seeing line up exactly with this issue.

[2021-06-14 20:43] seemiller opened #4104 "Typo on cert-manager.io homepage"
**Describe the bug**:
This highlight from the cert-manager.io homepage does not read well in my opinion:

**Expected behaviour**:
I would suggest changing this to something like:

**Steps to reproduce the bug**:
1. Go to the cert-manager [homepage](https://certmanager.io)
1.  Read the highlights

**Anything else we need to know?**:

**Environment details:**:
- Kubernetes version:
- Cloud-provider/

[2021-06-15 09:23] #4104 closed

[2021-06-15 09:45] irbekrm commented on #4104
Thanks for spotting the issue @seemiller!

[2021-06-15 12:29] ondrejtomcik commented on #3404
@munnerz @meyskens can you please help me to resolve this issue? I offered a solution here, which wasn't further commented on by you.

Even CertificateRequest doesn't work because your implementation strips all custom EKUs which are requested there. What's the reason for it?

[2021-06-15 15:28] SgtCoDFish commented on #2466
This is implemented by #4079 now :grin:

This allows the use of Ed25519 for certificate private keys and for signatures on certificates, as is supported by Go.

(The other use of Curve25519 - in key exchanges - is out of the scope of cert-manager, since it's negotiated during a TLS handshake)

[2021-06-15 15:28] #2466 closed

[2021-06-15 15:45] #3969 closed

[2021-06-15 18:12] irbekrm commented on #4102
Hi @yanniszark

Thanks for opening the issue!
I think `kube-system` namespace was selected on purpose to prevent folks from creating multiple installations of cert-manager in a cluster, see https://kubernetes.slack.com/archives/C4NV3DWUC/p1595239468130400

[2021-06-15 20:00] #3730 closed

[2021-06-15 20:38] red8888 opened #4107 "Use crds directory for helm chart"
Im trying to wrap the official chart in my own chart.

My own chart uses the ClusterIssuer and Certificate CRDs but it fails with this error because it tries to install these resources before the CRDs are installed from the parent chart:
`Error: unable to build kubernetes objects from release manifest: unable to recognize "": no matches for kind "ClusterIssuer" in version "cert-manager.io/v1"`

He

[2021-06-15 21:13] foosinn commented on #977
It's also useful for cert-managers own `cert-manager.io/allow-direct-injection: "true"` annotation :)

[2021-06-15 23:15] darth-veitcher commented on #3021
For what it's worth I was able to fix my issue by changing from the documented `Secret`. Changes made:

* Added to the `cert-manager` namespace
* Used `data` as opposed to `stringData` because I base64 encoded the secret

I'm using API Token from Cloudflare with a `ClusterIssuer`. Didn't need to adjust from the recommended minimal permission requirements in the docs.

[code]

[2021-06-16 08:13] jakexks commented on #3930
Expansion: In the 1.5 timeframe, a less important repo such as sample-external-issuer to a new prow cluster

[2021-06-16 13:08] timothyclarke commented on #4097
@safaci2000

`#cert-manager` on slack.k8s.io ?

[2021-06-16 13:19] yanniszark commented on #4102
@irbekrm thanks for providing insight on the decision 😄
This reasoning does not make a lot of sense to me, because I understand that it makes the happy path (default installation) more complicated in order to account for a very specific fringe scenario, which can only result due to user error.

But does it even work for that scenario? Consider that:
- If two users install two different versions of

[2021-06-16 14:19] maelvls commented on #3460
It seems to be another case issue with multiple `TXT` records for a single challenge domain. I have seen a similar issue in https://github.com/jetstack/cert-manager/pull/3622 and https://github.com/jetstack/cert-manager/issues/3460.

I'll look into this bug.

[2021-06-16 14:41] irbekrm commented on #4102
Hey @yanniszark I see your point, to be honest I may not know all the reasoning around this, @munnerz would know more.

Ideally only one at the time should be 'functioning' as they use the same leader lock.

[2021-06-16 15:11] costinm commented on #3924
CertManager supports Ingress template - would it be possible to extend or add a similar template for the 'virtual services' CRDs that need to be created ? Could use a go template or ${SERVICE_NAME} to populate the created service name for the resolver,
or something similar.

For Istio - we continue to support Ingress, and it seems to be working fine. However we are starting to adopt the new k8s Ga