[2020-11-04 07:57] fizzyduck commented on #1202
Is there any alternative to this that can be used today to add "out of tree" DNS solvers?

[2020-11-04 10:57] maelvls commented on #3250
@sharmaansh21 If that's OK for you I'll start investigating 😊

[2020-11-04 10:59] sharmaansh21 commented on #3250
Sure, please do.

On Wed, 4 Nov 2020 at 10:57, Maël Valais <notifications@github.com> wrote:

--
Regards,
Anshul Sharma
+31-616039562

[2020-11-04 15:55] bbearce commented on #2487
I've noticed that using the cert-manager documentation is critical as different versions you either need to manually install CRDs or not. It's super confusing. I have gone through numerous tutorials and I have crafted this version of a basic flask deployment that you can sort of find on [Azure](https://docs.microsoft.com/en-us/azure/aks/ingress-static-ip) in various forms. [Link 1](https://bbearce

[2020-11-04 16:57] LekeFasola opened #3434 "Having problem getting Cert-manager to logging to vault deployed in different namespace"
**Describe the bug**:
I'm having challenges getting my cert-manager in a cluster to logging into hashicorp vault deployed in different cluster namespace.

The problem is that the vault is in another namespace inside a different cluster.

I have deployed the cert-manager and the issuer. All the Cert-mnager crds/pods are running. But the issuer status was "false". When I kubectl describe the issuer,

[2020-11-04 16:57] munnerz commented on #3250
This is the method that needs looking into: https://github.com/jetstack/cert-manager/blob/8127f0ad4228c58f37f0c0e4f5a2ef90c04f5082/pkg/controller/certificates/requestmanager/requestmanager_controller.go#L255

If a CertificateRequest contains a CSR that does not match the current Certificate spec, the CertificateRequest should be deleted and recreated (thus causing a new Order to be created). It is

[2020-11-04 16:58] munnerz commented on #3250
I also suspect that if this issue _does_ exist, it will _not_ just affect ACME (given that the ACME issuer does not have any special handling for this case, it solely resides in the Certificates controller)

[2020-11-04 17:00] munnerz commented on #3428
This discrepancy is due to lack of support in our underlying client libraries for manipulating JKS/PKCS#12 files.

You can see the code for it here: https://github.com/jetstack/cert-manager/blob/8127f0ad4228c58f37f0c0e4f5a2ef90c04f5082/pkg/controller/certificates/internal/secretsmanager/keystore.go

It'd be great to first work out exactly what _is_ expected for each different keystore type/the app

[2020-11-05 08:50] hyperfocus1337 commented on #1380
Thanks @krumware

Your example needed to be slight updated for version v1.1.0-alpha.1.

Here's the correct copy paste solution for the answers section:

[code]

[2020-11-05 10:35] kvaps opened #3435 "Race condition while updating commonName"
**Describe the bug**:
When updating bunch of certificates for CA and leaf certs, very likely to get certificates which will be marked as `Ready` but with wrong issuer specified

**Expected behaviour**:

The issued certificates are having valid common name and valid issuer

**Steps to reproduce the bug**:

This bug is easier to reproduce with bunch of resources.

- Download example [manifests.tar.g

[2020-11-05 11:34] meyskens commented on #3250
/assign @maelvls

[2020-11-05 11:34] meyskens commented on #3250
/unassign @sharmaansh21

[2020-11-05 11:36] meyskens commented on #2911
I am going to close this one, PRs to the documentaton are welcome!
/close

[2020-11-05 11:36] #2911 closed

[2020-11-05 11:37] perosb commented on #377
Anyone have hints on this should be solved?

[2020-11-05 11:39] meyskens commented on #3144
@ofer-tvil this is patched in v1.1 we hope, can you try the alpha release or 1.1 in a few days as we release it?

[2020-11-05 11:52] meyskens opened #3437 "DNS-01 webhook improvements"
DNS-01 webhooks allow for a nice way to implement new DNS providers in cert-manager without having to maintain, support and test them all in the main codebase. However when designing these we put out a v1alpha1 API which is kind of an MVP.

We should look into improving this in the future to make deploying, writing and expanding of these DNS-01 webhooks better.
This ticket should keep a list of im

[2020-11-05 13:39] meyskens commented on #3427
if `ca.crt` doesn't match with the content of JKS that feels like a bug to me,

On the proper root store distribution (going further than issuer provided CA) there is some discssions going around in both the Kubernetes as cert-manager community which expands this further. I think for this ticket it is out of scope and a fix for the JKS code to properly convert the ca.pem to the JKS store would wor

[2020-11-05 13:40] meyskens commented on #3431
/remove-kind bug
/triage support

Have you looked at https://cert-manager.io/docs/faq/acme/ ?

[2020-11-05 13:57] meyskens commented on #3432
It seems your webhook deployment is missing some RBAC rules for giving the cert-manager deployment service account access to "cert-manager.webhook.transip"

[2020-11-05 15:28] meyskens commented on #3261
Can this issue be closed?

[2020-11-05 15:34] maelvls commented on #3250
I successfully reproduced the bug with a manual test.

<details>

<summary>Manual test: instructions and results.</summary>

You will need the [kubectl cert-manager](https://cert-manager.io/docs/usage/kubectl-plugin/) plugin as well as a local Kind cluster that I created with

[code]

Let's create a simple certificate relying on ACME. The certificate is voluntarily invalid:

[code]

Let's see the

[2020-11-05 19:50] jsoref opened #3439 "https://charts.jetstack.io eventually redirects to a ~404 page"
**Describe the bug**:
See artifacthub/hub#826

**Expected behaviour**:

Useful landing page about jetstack charts

**Steps to reproduce the bug**:
See artifacthub/hub#826

**Anything else we need to know?**:

**Environment details:**:
/kind bug

[2020-11-05 22:30] 4ss3g4f commented on #3261
@meyskens,

We still trying to fixed dns,can we have time until 16 November 2020,
If it's not possible, you can closed this issue, thank you.

[2020-11-06 05:06] Ndidi commented on #3360
When I do not change the NodePort service type from LoadBalancer and opt to use GKE's load balancing service, everything works as expected. I did not modify my Ingress resource for this to work.

I'm really unsure as to how to begin debugging this.

[2020-11-06 06:42] maaroen commented on #3432
@meyskens Do you have an idea what I'm missing if you see the steps I took? Or where/how I need to add the RBAC rule? I'm still quite new to k8s, so I'm trying to find my way through.

[2020-11-06 09:27] antst opened #3441 "Yet again traefik v2.2 and cert-manager issue"
Yet another attempt to get it running properly, instead of getting: ``` "msg"="propagation check failed" "error"="wrong status code '404', expected '200'"```

So, what I have.
Configuration of traefik deployment:
[code]

Configuration of certificate/issuer :
[code]

solver:
[code]

wget :
[code]

If I temporary deploy traefik without ```--entrypoints.web.http.redirections....``` then cert-manager

[2020-11-06 11:11] l-e-e-o commented on #3374
This should be related to https://github.com/kubernetes/kubernetes/issues/95817.

[2020-11-06 11:43] munnerz commented on #3250
Digging briefly into Pebble, the Let's Encrypt test server used during e2e tests, it seems like it does not support configuring a list of domains that should return this 400 error for.

I actually believe that this may be (almost) working as intended.. this was a failed order because the request submitted to the ACME server was deemed invalid, which will trigger our regular 'back off' behaviour (w

[2020-11-06 14:57] misteruly opened #3442 "challenge fail:Waiting for http-01 challenge propagation: did not get expected response when querying endpoint, expected "xxxxx" but got: <!doctype html>"
####  staging_issuer.yaml

apiVersion: cert-manager.io/v1alpha2
kind: ClusterIssuer
metadata:
 name: letsencrypt-staging
 namespace: demo-project
spec:
 acme:
   server: https://acme-staging-v02.api.letsencrypt.org/directory
   email: 491275293@qq.com
   privateKeySecretRef:
     name: letsencrypt-staging
   solvers:
   - http01:
       ingress:
         class:  nginx

####  echo_ca_tls.yaml

apiV

[2020-11-06 18:02] maelvls commented on #3250
Thanks, you are right! After reducing the 1 hour re-issuance delay to 1 second, the issue seemingly disappears:

https://github.com/jetstack/cert-manager/blob/db9b6448b692eb08e2bb8b8b93d86621029a6feb/pkg/controller/certificates/trigger/trigger_controller.go#L52-L56

After a [conversation](https://kubernetes.slack.com/archives/CDEQJ0Q8M/p1604658520212800) with James on #cert-manager-dev, the plan i

[2020-11-08 04:22] compumike commented on #863
Hi all, I ran into the same issue. I've recently published `hairpin-proxy` which works around the issue, specifically for cert-manager self-checks. https://github.com/compumike/hairpin-proxy

It uses CoreDNS rewriting to intercept traffic that would be heading toward the external load balancer. It then adds a PROXY line to requests originating from within the cluster. This allows cert-manager's se

[2020-11-08 14:04] r0bnet opened #3445 "Connection refused for cert-manager-webhook service"
Hey,

not sure if this is related to https://github.com/jetstack/cert-manager/issues/3133 but it looks quite similar.

Versions tested: `1.0.4` and `0.15.2`.
Kubernetes info (Azure Kubernetes Services / AKS):
[code]

I guess it is a problem related to the Webhook but not sure why and how. I upgraded from a previous version where I could create clusterissuer without any problem. Now I'm not able to

[2020-11-08 14:17] r0bnet commented on #3133
@AlexsJones and @demiters could you check my update/edit at the end of this issue: https://github.com/jetstack/cert-manager/issues/3445?

[2020-11-08 20:27] #3431 closed

[2020-11-09 08:03] r0bnet opened #3446 "Confusions about Prometheus monitoring"
Hey,

I tried to setup monitoring with prometheus now for quite some time and I noticed that there are some things quite confusing and should be streamlined.

### Problem in the documentation of the PodMonitor
I'm installing cert-manager via the manifests and not using helm currently. I then tried to use the pod monitor that is documented here: https://cert-manager.io/docs/usage/prometheus-metrics

[2020-11-09 09:35] wjentner opened #3448 "Self-signed certificate has ready-state: true"
**Describe the bug**:

Not sure if this a bug but it is a somewhat different behavior: After updating to v1.0.4 a new certificate request (using LE issuer) generates a local self-signed certificate (as expected). In this version, the self-signed certificate shows status ready `True` in:
[code]

whereas
[code]

I guess technically this is correct as a self-signed certificate is functional and can b

[2020-11-09 11:26] Skaronator commented on #3219
Quite important documentation now that Let's Encrypt is changing its chain: https://letsencrypt.org/2020/11/06/own-two-feet.html

[2020-11-09 14:36] petenorth commented on #2764
Should the title be 'ECDSA-certificates through ClusterIssuer, **Issuer** or ingress-annotations' ?

[2020-11-09 18:48] johnkoyle commented on #3446
I found the same issue this morning with the manifests.  Setting the cert-manager deployment port name to http also resolved the issue for me.  Without this the PodMonitor doesn't match the <unset> endpoint.

[2020-11-09 21:44] gcamus59 commented on #3441
I think you made a mistake inside the cluster issuer on the Frontend entry points.
The Traefik annotation "frontend-entry-points" can only take the value "http" or "https". So, in your case you should set to "https" instead of "websecure" (see below).
`traefik.ingress.kubernetes.io/frontend-entry-points: https`

[2020-11-10 00:30] LekeFasola commented on #2614
Hello @munnerz, Im having the same error message here but my  endpoint is pki-k8s-usercert/issue/nsv-leke-dev and not pki-k8s-usercert/sign/nsv-leke-dev

[code]

[2020-11-10 06:02] just1689 commented on #2498
@barth12 How did you know that you had multiple cert-managers? Was it the pods running that told you this?

[2020-11-10 06:56] PeteMac88 commented on #2362
Any update here? Same issue with cert-manager helm chart 1.0.4! Is there any drawback from passing `--leader-elect=false`?

[2020-11-10 08:16] txomon commented on #3009
Not sure why this isn't mentioned anywhere else, but in 1.0.4 at least, cert-manager needs to be started with `--issuer-ambient-credentials=true` and/or `--cluster-issuer-ambient-credentials=true` to enable the creation of the GCP CloudDNS client without explicit credentials.

[2020-11-10 11:27] molinch opened #3450 "PKCS12 updating secret reference doesn't update keystore.p12"
We initiated the discussion about this on Slack with @coderanger and @munnerz

If an Issuer has been defined, and we define a Certificate with a keystore part.
The keystore has a passwordSecretRef which is another secret containing the password (let's name it p12-password).
Whenever p12-password is changed, I would have expected the PKCS#12 keystore.p12 to be regenerated.
However nothing will happ

[2020-11-10 12:50] meyskens commented on #2764
Renamed to be specific for ingress-shim

[2020-11-10 12:54] richardthombs commented on #656
@compumike Thanks so much!! 🥇

[2020-11-10 14:17] meyskens opened #3451 "Move repo to cert-manager/cert-manager"
Currently cert-manager has been operating in both the Jetstack GitHub org and the cert-manager org.
This has been causing certain limitations for a while now. However with the donation of cert-manager to a foundation it becomes more of a need to move cert-manager into the cert-manager organisation.

This is easier said than done. As it brings a lot of things to think about:

* change all Go import

[2020-11-10 21:51] slaurencelle opened #3452 "After creating a clusterissuer i got error"
Hi,

i am trying to implement cert-manager + letsencrypt with clusterissuer.

I was able to have the first 2 working but i am unable to have the cluster issuer working, here is the error i got:
Events:
  Type     Reason                Age                    From          Message
  ----     ------                ----                   ----          -------
  Warning  ErrInitIssuer         39m (x20

[2020-11-11 01:14] sharkymcdongles commented on #2602
Here is the easiest solution to this quagmire. The problem stems from the webhook cert secret being outdated for the newer cert-manager. Easiest way to solve all this stuff is just scorch the earth. Helm uninstall or kubectl delete all cert-manager resources and CRDs. If the CRDs get stuck kill the finalizers. Then make sure all secrets and all configmaps are clear in the cert-manager NS. Then you

[2020-11-11 06:42] chrismellard commented on #3148
Could we not apply labels to the controller so that aad_pod_identity functions and helps out here? https://github.com/Azure/aad-pod-identity

[2020-11-11 09:55] foosinn opened #3453 "Wrong SOA record while updating delegated _acme-challenge zone."
**Describe the bug**:

We have delegated our _acme-challenge domains to a BIND dns server.

Delegation records:

[code]

Delegated Zone:

[code]

Updating via nsupdate or getting a cert using certbot works fine.

tcpdumps:
[code]

Seems like the SOA entry is incorrectly set to `example.com`? Bind tries then to update the wrong zone, which causes the `"error"="DNS update failed: dns: bad authentica

[2020-11-11 14:05] ttyS0 commented on #3406
From an alpine Pod running in the `cert-manager` namespace, I get:

[code]

I'm not sure what you mean by `from your kubernetes controller node`, as the service is only exposed internally.

[2020-11-11 17:15] maelvls commented on #3453
Hi! Thank you a lot for the very detailed description, that's very helpful!

Not sure whether that can be helpful or not but I looked at which domain is sent for the `SOA?` query, and it seems like [DNS01LookupFQDN](https://github.com/jetstack/cert-manager/blob/87989dbfe35bed99a9e031c71ad3a7d49030a8bf/pkg/issuer/acme/dns/dns.go#L78-L105) returns the first entry that has an SOA record.

Imagining t

[2020-11-11 18:07] dontreboot commented on #3363
@meyskens I am having the exact same issue. What does "priority important-longterm" mean? Is the work going to be scheduled in couple months or much further out? Thanks!

[2020-11-12 09:40] meyskens commented on #3219
We have documentation over at https://cert-manager.io/docs/release-notes/release-notes-1.0/#preferred-chain
We should copy this into a better place.
Closing this issue as it is related to the website.

/close

[2020-11-12 09:40] #3219 closed

[2020-11-12 09:50] meyskens commented on #3206
/assign

[2020-11-12 10:07] maelvls commented on #3222
If it's ok I'll try to investigate this issue 🙂

/assign @maelvls

[2020-11-12 10:49] maelvls commented on #3222
I tried to reproduce the issue with the cloudDNS provider; the backoff mechanism seems to work well

[code]

The timeout series seems to fit an exponential: 5s -> 20s -> 40s

There might be something off with the route53 provider itself, I'll check it out

[2020-11-12 19:08] maaroen commented on #3432
I've solved the issue, I to make some changes to the webhook configuration and after that it worked.

[2020-11-12 19:08] #3432 closed

[2020-11-12 19:42] JohnGalt1717 commented on #586
So it appears this is done, however when I add:

   keystores:
      pkcs12:
         create: true
         passwordSecretRef:
            name: secret-pkcs-password

the resulting secret still only has tls.crt and tls.key. How do I get it to reissue and add the pkcs certificate?

[2020-11-12 22:53] UsernameAlvarez commented on #3238
Is There a new development about this issue?

[2020-11-13 00:10] dontreboot opened #3455 "updated certificate resource is not processed by cert-manager"
**Describe the bug**:
I updated an existing certificate to add `dnsNames` which was the same value as for what I had for common name and also added `duration` and `renewBefore`. Looking at the status of the certificate, I don't think cert-manager picks up my changes because the `notAfter` and `notBefore` are old and `lastTransitionTime` is also old.

[code]

There is no indication on cert-manage l

[2020-11-13 00:17] nabsul commented on #3238
I've lost faith in cert-manager due to the lack of progress on this issue. I'm writing a replacement that automates what I described in my previous comment.

[2020-11-13 12:02] alikarimii commented on #2918
same issue when i want to create ingress service `(kind: Ingress)`
and i solved that by simple ping from ingress-nginx-controller to ingress-nginx-controller-admission.ingress-nginx.svc
shell to ingress-nginx-controller-ldkssk-sdjfn (this must be different in your env) and `ping ingress-nginx-controller-admission.ingress-nginx.svc`
i don't know why, but work

[2020-11-13 14:55] yspreen commented on #3237
I think just accepting that cert-manager doesn't work on fargate isn't the best of approaches...

It's a tool with growing users, AWS being the biggest cloud hoster and fargate being their preferred deployment option. Is there maybe a way to call these webhooks with HTTP instead, circumventing all domain name issues? @meyskens

[2020-11-13 18:37] neilmfrench commented on #1292
If you're self-hosting a k8s cluster and you can't use a hairpin nat, my workaround was adding a rewrite to your coredns config to send requests from your domain to your loadbalancer service

[2020-11-15 11:57] meyskens opened #3458 "No cleanup of CertificateRequests"
**Describe the bug**:
1. Set up a cert that renews in a very short perion (mine = 1 hour)
2. Let it run for a while

old CertificateRequests stay on the server forever, i had 60d old resrourced making that 60*24 resources giving kubectl a hard time.

**Expected behaviour**:
The controller deleting unused CertificateRequests after a while

**Environment details:**:
- Kubernetes version: 1.18
- Clou

[2020-11-15 12:37] knaitas commented on #2757
Issue still exists with 1.0.4.
Possible cause is: kubectl apply --validate=false
if you do that, you can never ever install CRD again :( RIP

[2020-11-16 21:10] dimm0 commented on #2757
I've killed my production cluster even with the same namespace install.. Glad I had backups. Now keeping the old version.

[2020-11-16 21:17] justinas-b opened #3460 "Multi-domain wildcard certificate validation fails when using DNS delegation"
**Describe the bug**:

I have two domains (`contoso.com` and `example.com`) and would like to manage DNS01 challenges using single DNS zone (`acme.example.com` - https://cert-manager.io/docs/configuration/acme/dns01/#delegated-domains-for-dns01), those in `example.com` and `contoso.com` zones I have created CNAME records that point to `_acme-challenge.acme.example.com` (I am interested only in wil

[2020-11-16 21:26] robstradling commented on #2882
I'm lead developer for Sectigo's ACME service.  I agree that the current behaviour (when a client attempts to recover an existing EAB-based account) can only be described as broken, but I don't currently see an RFC8555-compliant way to fix it.  I've started a thread on the IETF ACME WG mailing list to discuss this issue (https://mailarchive.ietf.org/arch/msg/acme/WbAuLfHlRe-4jhmHcF0IoL1adSE/), but

[2020-11-17 02:09] yoliander commented on #3264
I'm having same issue Kubernetes 1.18.1

Easy to reproduce, install with helm (It works well), and then unninstall, and the second time you install cert-manager it will fail with `unable to update target object with new CA data" "error"="Operation cannot be fulfilled on mutatingwebhookconfigurations.admissionregistration.k8s.io` in the Cainjector pod.

[2020-11-17 08:39] amirkazem1 opened #3461 "کهکشان لاجورد.ابرفضای مجازی"
**Is your feature request related to a problem? Please describe.**

**Describe the solution you'd like**

**Describe alternatives you've considered**

**Additional context**

**Environment details (remove if not applicable)**:
- Kubernetes version:
- Cloud-provider/provisioner:
- cert-manager version:
- Install method: e.g. helm/static manifests

/kind feature

[2020-11-17 08:47] loganmzz commented on #2741
I have similar issue with `0.16.2`, restarting (i.e. rolling out) `cert-manager` does nothing. I have upgraded to `1.0.4` and order finally got their "fine" `Error` status. Found nothing in previous logs but after upgrade, it shows me rate limiting issues.

[2020-11-17 14:10] #3461 closed

[2020-11-17 14:42] ilia-anastasov opened #3462 "Store older versions of certificate secrets"
On cerfiticate rollover(using selfsigned issuer), current certificate (which is still valid) is being replaced with new one. That cert is being used to issue/sign tokens which cannot be validated after that certificate is lost.

It would be nice if those non-expired certificate was stored in the secret side-by-side with the current one(for the time they are active). Something like this:
ca.crt
tls

[2020-11-17 16:54] oliverbaehler commented on #3021
@ltetrel I am currently running cert-manager v1.0.4 (Kubernetes v1.19.4) and still get the same behavior.

Creating ClusterIssuer:

[code]
After requesting a new certificate, the certificaterequest is stuck in pending state:

[code]
And the challange  has the error:
[code]

Not quiet sure what's causing this, I will keep on trying and let you know if I find any solution to it.

[2020-11-17 18:10] oliverbaehler commented on #3021
**siggghhh**, I tried different reconfigurations etc. but as it turns out the 5th new generated Cloudflare API Token somehow worked. I don't think it really made a difference that I started double quoting the String in the secret. Maybe someone else encountering this issue can confirm, that a new, correct API Token resolves this issue. Cert-Manager documented which access roles are required: https

[2020-11-17 23:12] dchw commented on #646
I have API access; on two separate accounts. It looks like this is still up for grabs? Y'all open for a PR?

[2020-11-18 00:26] halcyon commented on #646
That would be awesome!

On Tue, Nov 17, 2020 at 6:12 PM Corey Larson <notifications@github.com>
wrote:

[2020-11-18 22:33] san360 opened #3467 "(Timeout): error when creating "cert-manager.yaml":"
**Describe the bug**:
Error from server (Timeout): error when creating "cert-manager.yaml": the server was unable to return a response in the time allotted, but may still be processing the request (post customresourcedefinitions.apiextensions.k8s.io)

[code]
[code]

**Expected behaviour**:
No timeout error and all crds are installed
[code]

**Steps to reproduce the bug**:
Execute `kubectl apply -f

[2020-11-19 00:31] whitelion-github opened #3468 "Multiple PrivateKeyEntry in keystore ?"
**Describe the bug**:

Running cert-manager in openshift with venafi.  I have created 2 certificates which target the same keystore in a secret.
Certificates are well generated in venafi and no error in openshift.

Only one certificate is created in the keystore.

Would like to know if there is a constraints to have multiple PrivateKeyEntry in the same keystore.

**Anything else we need to know?**

[2020-11-19 08:51] kesor opened #3469 "Allow profiling on controller"
**Is your feature request related to a problem? Please describe.**
We have a problem with the `cert-manager-controller` taking a huge amount of memory (1.5gb for a large cluster). And removing the various controllers, as well as removing its permissions to list pods/services didn't help.

**Describe the solution you'd like**
The `cert-manager-webhook` already has *profiling* as an option. It would

[2020-11-19 14:59] kaypeter87 commented on #3293
@meyskens I know that cert-manager v1.1 is on pre-release. I'm using the cert-manager's helm chart and the repo only has v1.0.3 available. Is this something that is coming to helm?

[2020-11-19 19:09] munnerz commented on #3051
Seems like there may actually be a bug here causing all CertificateRequest controllers to attempt to `update` a certificaterequest regardless of what issuer kind it references: https://kubernetes.slack.com/archives/C4NV3DWUC/p1603466629072300

/reopen
/retitle Multiple CertificateRequest controllers attempt to update a single CertificateRequest causing concurrent write errors

[2020-11-19 19:10] munnerz commented on #3051
/milestone-clear

[2020-11-19 19:10] munnerz commented on #3051
/remove-kind cleanup
/kind bug
/milestone clear

[2020-11-19 19:11] munnerz commented on #3051
/milestone Next

[2020-11-19 21:21] kyprifog commented on #1582
This saved my butt going to reference here:  https://github.com/kubernetes/kubernetes/issues/60538

[2020-11-19 22:52] kyprifog opened #3471 "Issuer is ignored, results in self signed cert no matter what"
No matter what I do I always end up with a self signed cert using the following syntax:
[code]

[code]

[code]

This results in a self signed cert when I go to access <DOMAIN> instead of the CA issuer cert made by letsencrypt-prod.   Nothing unusual or relevant shows up in the cert-manager pod logs.

[2020-11-19 22:55] kyprifog commented on #3471
I'm finding this:
[code]

[2020-11-19 23:08] kyprifog commented on #3471
I think this answered my issue:  https://stackoverflow.com/questions/58553510/cant-get-certs-working-with-cert-manager

[2020-11-19 23:08] #3471 closed

[2020-11-20 10:08] davidshare commented on #841
I have multiple ingresses and I share the same cert for them specifying the annotation on only one of the ingresses. However, only the ingress that has the cert specified in the annotation works.

[2020-11-20 11:31] #3218 closed

[2020-11-20 12:38] niektemme opened #3472 "Add to documentation: change default port of webhook when using hostNetwork and default Kubelet port settings"
**Is your feature request related to a problem? Please describe.**
I am using a kubernetes setup based on my own bare-metal servers where:
- pod networking is provided by callico-flannel (canal)
- apiserver communicates to (kublet) nodes over using host network
- apiserver is not attached to pod overay network and therefore cannot cummunicate with pod over pod network

In order for the apiserver t

[2020-11-20 15:31] JoshVanL opened #3473 "Draft a design for handling identity, policy, and certificates.k8s.io adoption"
/kind feature

When thinking about how we want to build and handle policy for cert-manager, it has uncovered multiple areas of interest. I believe that although they are reliant on each other, are separate distinct topics. To cover them, I want to make a start drafting up some documents on some design.

Identity: https://github.com/jetstack/cert-manager/pull/3630
Policy: TBD
certificates.k8s.io Ad

[2020-11-20 17:41] limai-msk opened #3474 "Can't delete challenge, namespace deletion stuck on terminating"
Recently heard about cert-manager and wanted to try it out, and very quickly made the same mistake referenced in Git issues  [1582](https://github.com/jetstack/cert-manager/issues/1582) and [1978](https://github.com/jetstack/cert-manager/issues/1978).

I know what you're going to say. I should have deleted all existing cert-manager resources BEFORE I tried to delete cert-manager itself and its nam

[2020-11-20 18:45] limai-msk commented on #3474
After a lot of searching. Forcing the deletion of the namespace using this method worked for me.
https://github.com/kubernetes/kubernetes/issues/60807#issuecomment-439906084

[2020-11-20 20:53] mikebryant commented on #3474
The reason for the `Challenge` resources not going is going to be due to finalisation - the controller isn't running any more to remove the flag, and the resources are defined as needing to wait, so Kubernetes is waiting for the controller to finish up.

You can do what the controller would be doing manually - `kubectl edit challenge <the-challenge>` and change the `.metadata.finalizers` to be an

[2020-11-20 22:15] limai-msk commented on #3474
Thanks @mikebryant. After cleaning up the finalizers manually resources deleted as expected. Appreciate your help.

[2020-11-20 22:16] limai-msk commented on #3474
/close

[2020-11-20 22:16] #3474 closed

[2020-11-21 11:17] alexpapworth commented on #2918
@alikarimii Got any more commands for this one? Do you need to `exec` into the `ingress-nginx-controller` first?

[2020-11-21 11:36] baoduy commented on #1292
I also stuck with this issue when setting up egress with Firewall for AKS. Hope the solution will be out soon.

[2020-11-21 18:38] anthr76 commented on #3293
https://artifacthub.io/packages/helm/jetstack/cert-manager/1.1.0-alpha.1 1.1 is avaible @kaypeter87

[2020-11-22 04:31] tharun208 commented on #3469
I like to work on this

[2020-11-22 07:55] tharun208 commented on #3145
@meyskens I like to work on this, can i work on this ?

[2020-11-22 13:18] just1689 commented on #3238
I am also having this issue. Its far too on-and-off

[2020-11-23 03:52] ronaldmiranda commented on #2576
For me too +1

[2020-11-23 11:09] davidkarlsen opened #3479 "Update operator on OpenShift operator hub to support v1.0"
**Is your feature request related to a problem? Please describe.**
Latest available version (both stable and alpha) is cert-manager-operator.v0.15.2 - it would be good to have v1.0.x available.

**Describe the solution you'd like**
Have latest releases available.

**Describe alternatives you've considered**
Install directly with helm-charts - here v1.0.4 is available - but IMO operators and helm-c

[2020-11-23 11:12] davidkarlsen commented on #3479
https://github.com/jetstack/cert-manager-olm/issues/16

[2020-11-23 14:24] Telokis commented on #3458
Could this issue be related to the fact that I have more than 15k `certificaterequests.cert-manager.io` and 15k `orders.acme.cert-manager.io` in my cluster?
I have no idea what I did but I only created 2 `Certificate`s. I'm not sure I should create a new issue for this situation.

[2020-11-23 14:48] xavier-rodet commented on #466
Thank you very much @compumike ! It works great :)

[2020-11-23 16:58] kfox1111 commented on #2576
@munnerz what do you think?

[2020-11-23 17:28] stefansedich commented on #2478
We suffer the same issue, we are using kiam and have setup an issuer with a self signed CA cert, but if the CA cert renews, the old server and agent certs are no longer valid, often resulting in an outage forcing us to remove the agent and server cert secrets to let it generate new ones.

Would be greate if there could be a dependency chain or something where we could link the agent/server certs t

[2020-11-23 20:23] thelittledevops commented on #2724
I'm having the same problem with kubernetes version 1.19.4. did anyone managed to resolve this problem?

[2020-11-24 06:46] ewirch commented on #1489
/reopen

[2020-11-24 09:19] meyskens opened #3480 "Change User-Agent strings"
We use the string `Jetstack cert-manager` in several places. With the CNCF donation we should change these to be `cert-manager`.

This should also come with a clear warning in the release notes and a check on what it might break.

Places where this is used:
https://github.com/jetstack/cert-manager/blob/4f894a7d994e79e2664496f5c9aa82234e4f7aa8/pkg/util/useragent.go#L20
https://github.com/jetstack/c

[2020-11-24 09:21] meyskens commented on #3479
Closing as a duplicate of https://github.com/jetstack/cert-manager-olm/issues/16#issuecomment-732094140

[2020-11-24 09:21] meyskens commented on #3479
/close

[2020-11-24 09:21] #3479 closed

[2020-11-24 09:37] #3092 closed

[2020-11-24 12:39] glitchcrab opened #3481 "cert-manager stops reconciling certificate expiries"
**Describe the bug**:

cert-manager doesn't seem to reconcile certificate expiries, leading to certs expiring. This manifests for certificates issued **by lets encrypt, and also a self-signed issuer**. Note that all the following logs/snippets are for a certificate which has already expired.

Ingress object:

[code]

Certificate object:

[code]

Certificate details at the time:

[code]

Controller

[2020-11-24 23:50] nimerfarahty commented on #3238
i have also the same issue

[2020-11-25 00:06] nabsul commented on #3238
If anyone is stuck and willing to try out some experimental code, please reach out to me (LinkedIn and Twitter username is the same as here).

[2020-11-25 02:22] bergerx commented on #1410
@munnerz do you mind sharing the dashboard json shown in the https://blog.jetstack.io/blog/cert-manager-0.6/ ?

[2020-11-25 06:18] just1689 commented on #3238
@nabsul Hi there. Are you referring to https://github.com/nabsul/k8s-letsencrypt . I'd like to give it a go. Need to find time this week. I'd be happy to move the conversation over to your repo if that works for you.

[2020-11-25 06:36] rcomblen commented on #3238
Hi here,

I got exactly the same issue while deploying the Gitlab Helm charts, that rely on Jetstack's cert-manager (version v0.10.1).

The log of the `acme-htttp-solver` pod kept telling "Failed to perform self check GET request" on the challenge url on the public domain.

I was working on french k8s as a service provider Scaleway (https://www.scaleway.com/en/kubernetes-kapsule/).

The default ne

[2020-11-25 07:23] misteruly commented on #3442
Is this a bug? Can you reply to me?

[2020-11-25 08:14] nimerfarahty commented on #3238
finally i have got a solution, i have follow [the tutorial on digitalocean](https://www.digitalocean.com/community/tutorials/how-to-set-up-an-nginx-ingress-with-cert-manager-on-digitalocean-kubernetes#step-2-%E2%80%94-setting-up-the-kubernetes-nginx-ingress-controller) and step number 5 solve the issue

[2020-11-25 08:21] softlion commented on #2956
Sorry, but so, how to fix the error ?

[2020-11-25 15:09] nabsul commented on #3238
@nimerfarahty Do you know if the solution suggested by digital ocean works if you have multiple domains on the same load balancer?

[2020-11-25 15:10] nabsul commented on #3238
@just1689 It's actually a new project based on the one you referenced . I'll be making the code public today and will tag you from there.

[2020-11-25 22:17] lindhe opened #3482 "helm lint is failing"
##  Describe the bug

[code]

## Expected behaviour

[code]

## Environment details

- Kubernetes version: n/a
- Cloud-provider/provisioner: n/a
- cert-manager version: 1.1.0
- Install method: n/a

/kind bug

[2020-11-26 13:58] akingscote commented on #3445
@r0bnet
Im using AKS and i think the problem is to do with not using the `cert-manager` namespace?
There are some [similar issues](https://github.com/jetstack/cert-manager/issues/2752#issuecomment-607124757
Try installing with this:
[code]
I get an error when installing, but it seems to get a bit further...
[code]
[code]
[code]

[2020-11-26 14:15] r0bnet commented on #3445
Hey @akingscote,

but for me it looks like it's correctly trying to reach the webhook in the certmanager-dev namespace because of the address of it: cert-manager-webhook.**certmanager-dev**.svc

Can you put here the output of `kubectl get svc -n  certmanager-dev`?

Just want to see if the service has the correct IP (`10.1.68.173`). Next step would be to create a pod in the cluster and see if you c

[2020-11-26 14:23] akingscote commented on #3445
**`kubectl get svc -n certmanager-dev`**
[code]

**`kubectl describe svc cert-manager-webhook -n certmanager-dev`**
[code]
Loosely following the documentation https://cert-manager.io/docs/configuration/vault/#verifying-the-issuer-deployment
i'd expect to be able to view the issuer.

[code]
[code]
[code]
[code]

[2020-11-26 15:11] chrissound commented on #3238
Same issue here (digital ocean). Which probably points to a bug upstream, I'm not sure if this issue only started occurring after installation of `cert-manager` though, in which case maybe it's not upstream.

[2020-11-26 15:29] snobu commented on #2517
The TL;DR version of all this -

`kubectl describe challenge` gives you
[code]

which really means you most probably have multiple ingress classes on your cluster and the solver is using the wrong one.

[code]

Check the public IP address, it should match the ingress controller service IP you're expecting to use.
[code]

Notice it doesn't. So `kubectl edit ingress cm-acme-http-solver-r42vl` and ma

[2020-11-26 15:54] chrissound commented on #3238
Seems to be the same issue here: https://github.com/jetstack/cert-manager/issues/466

[2020-11-26 16:14] akingscote commented on #3445
It appears to be working after following the steps here - https://github.com/jetstack/cert-manager/issues/2273#issuecomment-553869491

[2020-11-27 07:27] r0bnet commented on #3445
From checking your outputs I can't see any problem honestly. But I'd try to check what happens if you're trying to connect to service via port 443 via another pod in the cluster either via netcat or curl by using the `--insecure` flag because the used certificate will probably not be allowed on client side. There shouldn't be a conn refused error and you should be able to create the issuer. The wo

[2020-11-27 13:45] mcbos commented on #3442
I think i'm having the same issue:

`Waiting for HTTP-01 challenge propagation: did not get expected response when querying endpoint, expected "xxx" but got: <!DOCTYPE html PUBLIC "-... (truncated)`

https://<domain>/.well-known/acme-challenge/<token>
is returning the key

[2020-11-27 13:47] ameier38 commented on #3329
I ran into this issue and was able to solve it by first manually deleting the secrets `cert-manager-webhook-ca` and `cert-manager-webhook-tls` which were created from a previous deployment and had expired. Once deleted the controller will recreate and then I was able to create the issuer resource.

[2020-11-27 13:55] bygui86 commented on #3446
@r0bnet if you open port forwarding to the `cert-manager-controller` on port `9402`, do you see metrics?
I deployed cert-manager same as you, using manifests, but I'm not able to get metrics out of it...

running this command
`kubectl port-forward pod/cert-manager-... 9402`

then opening a browser tab or running curl
`curl http://localhost:9402/metrics`

I receive a completely empty response :(

T

[2020-11-27 14:10] meyskens commented on #3329
can this issue be closed? seems it is solved

/close

[2020-11-27 14:10] #3329 closed

[2020-11-27 14:11] meyskens commented on #3442
Do you get the same if you curl it from within a pod in the cluster?

/triage support

[2020-11-27 14:20] meyskens commented on #3482
I am afraid Helm is having a false positive, having a `:` in RBAC rules is very common in Kubernetes and completely valid

[2020-11-27 15:26] meyskens commented on #3481
Do you have any non ready certificaterequest objects?

[2020-11-27 15:31] meyskens commented on #2478
This is something we've been planning to do for a while but isn't easy to execute properly. It is on our longer term roadmap, however PRs are always welcome

[2020-11-27 15:34] kskalski commented on #466
In my setup nginx-controller *is* the public facing loadbalancer, there isn't any other (why would I need it) and when it is configured with "use-proxy-protocol: true", then acme self-checks in cert-manager fail. Necessity to disable use-proxy-protocol every time I expect cert-manager to create my certs or re-new them is quite inconvenient and destroyed the purpose of the tool.

Looks like in this

[2020-11-27 15:39] meyskens commented on #3458
@Telokis 15k AMCE orders for 2 certs would mean your k8s cluster has to be existing for 1849 years I would love to see that one! I recommend reading our trouble shooting guide and asking help on #cert-manager in the Kubernetes slack as it seems something is wrong there

[2020-11-27 15:40] meyskens commented on #3145
@tharun208 feel free! you can assign yourself using /assign

[2020-11-27 15:42] meyskens commented on #3293
v1.1.0 is released now

[2020-11-27 15:45] meyskens commented on #3473
/milestone v1.0
/priority important-soon

[2020-11-27 15:46] meyskens commented on #3472
can you re-make this issue at https://github.com/cert-manager/website/? This is where the documentation lives, thanks!

/close

[2020-11-27 15:46] #3472 closed

[2020-11-27 15:56] fabstu commented on #3238
This PR might help: https://github.com/kubernetes/kubernetes/pull/92312
It will probably be merged for 1.21 (next cycle).

[2020-11-27 16:03] meyskens commented on #3467
Which version of kubectl are you using? Also seems to be related to Kubernetes not cert-manager as it is having issues installing our CRDs

[2020-11-27 16:05] mcbos commented on #3442
I'm somehow getting a response from com.nl

For a test I tried another domain name that I own, that one is working.

[2020-11-27 16:07] meyskens commented on #3468
Currently we do not support having multiple certificates in the same keystore.

/kind feature
/remove-kind bug

[2020-11-27 16:12] meyskens commented on #3442
I you're not getting a correct response from inside the cluster but you get it from outside something is wrong with your networking, that will be causing this

[2020-11-27 16:27] meyskens commented on #3462
would indeed be a nice feature however i think just appending 01-99 first of all gives us 99 certs and is not very user friendly.
This would be a good place to think and discuss how we could design this. Currently we store the next private key in a new secret, could we do something similar for the old ones.

What is the specific application usecase for this?

[2020-11-27 16:33] meyskens commented on #3460
I remember @jakexks working on this, can you get us an update?

[2020-11-27 16:39] meyskens commented on #3455
/priority important-soon

[2020-11-27 16:44] meyskens commented on #3452
I'm sorry we no longer support version 0.11, we are already a version 1.1.0

[2020-11-27 16:44] #3452 closed

[2020-11-27 16:53] Telokis commented on #3458
@meyskens Given the popularity of cert-manager, I never doubted it was an issue on my end since it's the first time I configure it.

Regarding the 15k, I'm lucky that my ETCD storage was maxed out and my cluster crashed, it prevented the creation of (probably) infinitely more.

I have no way to reproduce the issue but I'll make sure to ask for help on the Slack channel the next time my certificate

[2020-11-27 18:13] lindhe commented on #3482
Ah, I think you are right! I'll reopen the issue at Helm. Closing this when I've created and linked the new issue.

[2020-11-27 18:14] lindhe commented on #3482
Related to https://github.com/helm/helm/issues/8835

[2020-11-27 18:14] #3482 closed

[2020-11-27 19:05] glitchcrab commented on #3481
No, there were no cert requests for this specific cert at the time:

[code]

[2020-11-27 20:42] mcbos commented on #3442
Not sure yet what the problem is, but certainly not an issue with cert-manager, sorry.

Somehow .com domains get rewriten to .com.nl, .org are working just fine.

`kubectl exec dnsutils -- nslookup google.com`
`Server:         10.96.0.10`
`Address:        10.96.0.10#53`
`** server can't find google.com.nl: SERVFAIL`

[2020-11-28 15:39] kfirfer commented on #3293
closing the issue since the new release is out, if the issue is reproduce I will create new issue

Thanks!

[2020-11-28 18:54] abatilo commented on #2526
I was able to get http01 working with Istio and made a minimal repo with instructions here:
https://github.com/abatilo/istio-https-grpc

Full disclosure: there's a referral link in the README that helps me make money. Apologies if that's not alright.

[2020-11-29 00:05] V4A001 opened #3483 "Error: rendered manifests contain a resource that already exists. Unable to continue with install: CustomResourceDefinition"
Not working for unclear reason to me:
`# Helm v3+
helm install \
  cert-manager jetstack/cert-manager \
  --namespace cert-manager \
  --version v1.1.0 \
  --set installCRDs=true`

Error: rendered manifests contain a resource that already exists. Unable to continue with install: CustomResourceDefinition "certificaterequests.cert-manager.io" in namespace "" exists and cannot be imported into the cu

[2020-11-29 03:12] misteruly commented on #3442
Have you solved the problem now ??

[2020-11-29 09:24] V4A001 commented on #3334
This also was issue with me. On this page the code is listed twice. I believe it is wrong in the first box. Below text of "
Install the CustomResourceDefinitions and cert-manager itself:"
https://cert-manager.io/docs/installation/kubernetes/

If you run the first apply with cert-manager.yaml on the end you get errors. Do an uninstall and do the cert-manager.crds.yaml instead.
`kubectl delete https

[2020-11-29 17:50] maelvls commented on #3222
I was able to reproduce the issue!

<details>

<summary>Steps I followed</summary>

First I created an AWS IAM policy that doesn't have the "change records
sets" that the [cert-manager doc
mentions](<https://cert-manager.io/docs/configuration/acme/dns01/route53/>):
[code]

Then create a zone:

[code]

A user:

[code]

Attach user to policy:

[code]

Finally, create a secret with that:

[code]

Del

[2020-11-30 06:18] maelvls commented on #3222
Hmm... looks like the issue comes from the fact that the `error` returned by [changeRecord](https://github.com/jetstack/cert-manager/blob/7fbdd6487646e812fe74c0c05503805b5d9d4751/pkg/issuer/acme/dns/route53/route53.go#L178-L227) always changes, which means the status if the challenge is updated every time which means the re-sync isn't due to a lack of backoff but rather some spurious updates

Imem

[2020-11-30 10:24] wzrdtales opened #3484 "Ingress annotations with external issuer end up in eternal loop - smallstep"
**Describe the bug**:

Currently when trying to use an external issuer by using the ingress annotations cert-manager will fail to finish the process. By using the Certifcate Resource directly everything works fine. However the ingress annotations cause a valid certificate request  to be generated and in fact it gets valid certificate, but the cert manager will not stop the process and reissue cont

[2020-12-01 05:57] mostafa8026 commented on #2319
Did you find any solution with calico?

[2020-12-01 11:08] wallrj opened #3486 "Sanity checks for the NotBefore / NotAfter dates"
In https://github.com/jetstack/cert-manager/pull/3464#discussion_r527566933 @wallrj  wrote:

/kind bug

xref: #3012, #3481, #3396

[2020-12-01 12:54] meyskens commented on #3413
/assign

[2020-12-01 16:57] flipstone42 commented on #3079
I've got the same issue as @metral with `v1.0.3` of the chart: it works fine with a ClusterIssuer, but I get an error when using an Issuer.

[2020-12-01 18:04] 7ing opened #3488 "Defaulting server auth keyUsage in ingress-shim and certificate controller"
**Is your feature request related to a problem? Please describe.**
Yes. Currently, `ingress shim` does not provide default keyUsage (`server auth`, `digital signature`, `key agreement`) in certificate resource. Certificate controller only adds `digital signature` and `key agreement` as defaults. Issuers might have different logic on how to add the keyUsage here.

**Describe the solution you'd like

[2020-12-02 14:42] #3222 closed

[2020-12-02 14:45] splushii commented on #3460
Running into the same problem (when delegating with multiple CNAME records pointing to the same DNS name) with GCP:s CloudDNS (so it seems to affect not only AWS:s Route53).

I would guess it's the cleanup at https://github.com/jetstack/cert-manager/blob/master/pkg/issuer/acme/dns/clouddns/clouddns.go#L162-L170 that's the problem, but I'm not very well versed with Go nor the cert-manager code base

[2020-12-02 18:59] xwind13 opened #3490 "Private Azure DNS zone"
Hello,

**Does cert-manager support to add certificate for service under private azure DNS zone?**

I applied all instructions from [here](https://cert-manager.io/docs/configuration/acme/dns01/azuredns/),
where I replaced next line
`DNS_ID=$(az network dns zone show --name $AZURE_DNS_ZONE --resource-group $AZURE_DNS_ZONE_RESOURCE_GROUP --query "id" --output tsv)`
to
`DNS_ID=$(az network private-dn

[2020-12-03 08:23] #2166 closed

[2020-12-03 14:11] moicci opened #3491 "TLS Certificate created by cert-manager is not reloaded by ingress-nginx-controller"
Hello, I'm new in cert-manger and ingress-nginx.

First of all: I don't understand whether this issue is caused by cert-manager or ingress-nginx.

cert-manager issued correct certificate (Secret) that is issued by "Fake LE Intermediate X1".
but ingress-nginx loaded the certificate that is issued by 'cert-manager.local'.

I think this is timing problem.
cert-manager may notify to ingress-controller

[2020-12-03 19:01] kfox1111 opened #3492 "Older secret saving"
**Is your feature request related to a problem? Please describe.**
Let's encrypt yesterday switched from X3 to R3 issuence. Due to the way a particular software / configuration, we had to revert to the X3 based cert as the R3 one will take some effort to get to work. Luckily we had a backup of the old, not expired X3 cert.

**Describe the solution you'd like**
It would be nice if Cert-Manager coul

[2020-12-03 19:45] snukone commented on #2319
My Solution was: Download the Cert-Manager Manifest and inserting the following Block after each "containers:"-Declaration in the Manifest:
`dnsPolicy: "None"
      dnsConfig:
        nameservers:
          - 8.8.8.8
          - 8.8.4.4`

[2020-12-03 20:53] diranged commented on #333
I am just reviving this a bit.. the awspca-issuer project looks dead (I have started an issue at https://github.com/codingvirtues/awspca-issuer/issues/5 to discuss). I would love to get some eyes on it though and see if we can revive it somewhere else so that it can be improved. Right now it is not quite production ready.

[2020-12-03 22:12] kirankbee commented on #2773
this problem suddenly popped up today cert-manager-cainjector-7959549c78-d8tpq   0/1     CrashLoopBackOff   332        144d
all tricks and tips i tired but it is not helping, any is highly appreciated

[2020-12-04 14:15] mostafa8026 commented on #2319
And my solution was using these changes in yaml file:

Adding the `hostNetwork: true` to the spec of webhook, and changing the securePort and its relative ports to something other than 10250 (like 10666 that I choose 😄, also don't forget to change the related service), here are the changes:
[code]

[2020-12-04 16:15] czystyl commented on #3021
I'm facing a similar problem.

[code]

I tried to use `api-token` and `api-key` but without success.

[2020-12-04 17:35] faisalrazzak commented on #2178
Is there any update on this request? If a deletion/revocation is not handled when a certificate is delete from Kubernetes it could increase the number of active certificates in TPP inventory to an unmanageable state.

Any workaround ?

[2020-12-04 17:42] faisalrazzak commented on #3486
I am also facing similar issues as defined by @wallrj in few deployments. I would request to:

1. Either we provide some logic to limit the renewal rate of a certificate resource.
2. Provide some way to lock this value "renewBefore" at the Issuer/ClusterIssuer level.

[2020-12-04 21:32] guliaka opened #3493 "Use cert-manager as intermediary CA"
**Is your feature request related to a problem? Please describe.**
We have out internal PKI. I'd like cert-manager CA to be intermediary CA in the chain. I created tls secret for cert-manager CA in our PKI using "subordinate CA" template with "CA: true" bit set and it is chain of "cert-manager CA" --> "Intermediary CA" --> Root CA. I expected to have full chain of certificates presented in certifi

[2020-12-05 00:16] thanatos opened #3494 "Certificate not renewing, referencing unknown order?"
**Describe the bug**:

I have an `Ingress` that is using `cert-manager` to issue a certificate; the `Cert`:

[code]

As you can see by the `notAfter` or the `renwalTime`, very expired. (I've anonymized the domain; it's not really for `example.com`.)

The order it references in `status` *doesn't exist*:
[code]
(those are to a different `Certificate`, which is also having the same problem.) I delete

[2020-12-07 08:17] r0bnet commented on #3446
@bygui86 sorry for my late reply. I'm getting the metrics if I'm doing the same as you mentioned before. Output looks like this (redacted):
[code]

[2020-12-07 08:32] bygui86 commented on #3446
@r0bnet no worries, I found out my mistake! or better my "misassumption"...

right after startup, cert-manager DOES EXPOSE METRICS, but simply there are NO METRICS to be returned.

All metrics are initialized just at the first increment/usage.
So instead of having a bunch of metrics all with values 0 (zero), there are no metrics returned.

After couple of test issuing self-signed certificates and

[2020-12-07 09:32] JosephGJ commented on #3374
It looks like this has been fixed upstream in kubernetes for 1.20. Is there any update on getting a fix in for this in for 1.19?

[2020-12-07 10:09] moicci commented on #3491
SOLVED!
my ingress.yaml is lack of "spec.rules.host".
ingress-nginx responds the correct certificate after putting a domain in spec.rules.host!

[2020-12-07 10:09] #3491 closed

[2020-12-07 12:48] AlexShemeshWix opened #3495 "Webhook remote error: tls: bad certificate"
**Describe the bug**:

Ive deployed 1.1.0 version of cert manager
Into cert-manager namespace.
All CDRs are present.

When i check log of webhook pod i see following
[code]

**Expected behaviour**:
Suppose to work ok

**Steps to reproduce the bug**:

**Anything else we need to know?**:
Ive read other issues like this. I have no additional instances of cert manager. My network policies are ok.
I ca

[2020-12-07 15:00] AlexShemeshWix commented on #2602
I had similar problem.
My solution turned to be very complicated.

1. Delete everything related to cert-manager. CDRS. Secrets.
2. Download https://github.com/jetstack/cert-manager/releases/download/v1.1.0/cert-manager.crds.yaml
3. Replace all namespace cert-manager occurrences to be kube-system in cert-manager.crds.yaml
4. Apply cert-manager.crds.yaml
5. Apply helm chart 1.1.0 to namespace kube-s

[2020-12-07 15:00] AlexShemeshWix commented on #3495
I had similar problem.
My solution turned to be very complicated.

1. Delete everything related to cert-manager. CDRS. Secrets.
2. Download https://github.com/jetstack/cert-manager/releases/download/v1.1.0/cert-manager.crds.yaml
3. Replace all namespace cert-manager occurrences to be kube-system in cert-manager.crds.yaml
4. Apply cert-manager.crds.yaml
5. Apply helm chart 1.1.0 to namespace kube-s

[2020-12-07 15:00] #3495 closed

[2020-12-07 20:01] anthonator opened #3496 "Support hard coding the service name for http01"
**Is your feature request related to a problem? Please describe.**
We are currently trying to use `cert-manager` with `nginx-ingress`'s `VirtualServer` resources. `VirtualServer` is a propriety routing mechanism with more advanced features than an `Ingress` resource provides. We'd like to be able to point the `VirtualServer` to the `cm-acme-http-solver` service but since the service has a randomiz

[2020-12-07 20:02] pnowy commented on #3441
@antst I had the same issue, the @gcamus59 hint helped to solve the issue 👍

[2020-12-07 20:51] meyskens commented on #3496
I'm afraid this is something we cannot add. While that suffix may seem random it has a use, it allows us to uniquely identify challenges which allows us to solve multiple HTTP01 challenges at the same time. Removing the suffix on the service would cause this to fail, and would also give the cert-manager core issues to function (like one stuck challenge could make all your certs expire)

[2020-12-07 20:54] anthonator commented on #3496
Thanks for the explanation!

Are there any known solutions for using `cert-manager` with resource types other than `Ingress`?

[2020-12-08 03:18] triThirty commented on #3429
Hi gays, I faced the same problem before, and I searched the official document and found this [404 troubleshooting](https://cert-manager.io/docs/faq/acme/#got-404-status-code), so I followed it's suggestion and finally solved my problem.
So I guess you can also find some useful information.

[2020-12-08 09:49] cokiengchiara commented on #3481
This happened again today 😢

[2020-12-08 13:15] hugoboos opened #3497 "Option to specify OCSP responder URL"
**Is your feature request related to a problem? Please describe.**
We're using the CA issuer. The certificated it issues should have a OCSP responder URL.

**Describe the solution you'd like**
Add an option to the issuer resource to specify the OCSP responder URL that will be used added to issued certificates. Like https://github.com/jetstack/cert-manager/issues/2612 but for the OCSP responder URL

[2020-12-08 13:38] meyskens opened #3498 "remove api-migration"
I found we still have the api-migration util in our codebase, we should remove this as we no longer release it and we now have a conversion CLI util.

/kind cleanup
/milestone 1.1
/priority important-longterm

[2020-12-08 14:56] fliphess commented on #2538
Any progress on this issue?

[2020-12-08 18:22] skindar commented on #2209
this helps, thank you

[2020-12-08 19:36] hubstairs-admin opened #3501 "Operation cannot be fulfilled on certificates.cert-manager.io the object has been modified"
Hello,

I'm trying to issue certificate from a k8s Ingress, the cert is not becomes ready, the logs from cert-manager pod print this:
[code]
Here is the ingress part of my value.yaml :
[code]
The certificate has been successfully issue without error :
[code]
When I try to access to url in a browser, I have an SSL error.

**Environment details:**:
- Kubernetes version: 1.17
- Cloud-provider/provisi

[2020-12-09 00:40] juliantellez commented on #2487
just came across this issue and the problems was specifying the right `kind` of issuer in your certificate

[code]

[2020-12-09 00:42] juliantellez commented on #3066
just came across this issue and the problems was specifying the right `kind` of issuer in your certificate

[code]

[2020-12-09 15:31] jonnyniv commented on #2969
Running into this issue as well:
Using the below and get the same error as
[code]
Describing the issuer gives:
` Error initializing issuer: error reading Kubernetes service account token from cert-manager-vault-issuer-token: error calling Vault server: Post "https://vault.vault.svc.cluster.local/v1/auth/kubernetes/login": dial tcp 10.100.87.65:443: i/o timeout`

[2020-12-09 15:44] jonnyniv commented on #3363
This is also an issue for gitops-based development, as the token names are non-deterministic.
A workaround is to create a new k8s secret of type service-account-token for the account you want and reference it directly.
Note, that when attempting this with clusterissuers you may also run into [ #2969 ]

[2020-12-09 16:22] ph1387 commented on #1636
@wutz
I had the same issues as described above. Your solution works like a charm!

[2020-12-10 14:08] hugoboos commented on #3497
Already created a PR: #3505

[2020-12-10 15:46] jeroenjacobs79 commented on #2969
@jonnyniv This seems like a connection issue, and has nothing to do with secrets.` i/o timeout` indicates that cert-manager is unable to connect to the Vault instance.

It's also important to remember that a pod cannot access secret outside of its namespace. This is a Kubernetes limitation, and as nothing to do with cert-manager. Since cert-manager processes the clusterIssuer resources, any secret

[2020-12-10 16:07] raffaelespazzoli commented on #2969
this seems to be working for me:
[code]

[2020-12-10 20:42] RenaudDemarneffe commented on #1636
Hi @wutz , could you please explain how to "Remove port 80 definition of specific domain name in all custom Gateway".
I presume it's into the IstioOperator configuration but I don't find the configuration parameter.

Thanks for your help.
Renaud

[2020-12-10 21:05] fabriziopandini opened #3506 "Help for planning upgrades to v1.0.x in Cluster API"
I'm looking at upgrading cert-manager version used by CAPI v0.16.x to v1.0.x, but from my understanding of https://cert-manager.io/docs/installation/upgrading/upgrading-0.16-1.0/ this will require to have a plugin installed, which is not ideal.

So I'm opening this issue for collecting suggestions / discussing options for implementing a fully automatic migration procedure in CAPI

[2020-12-10 21:16] fabriziopandini commented on #3506
as per https://github.com/kubernetes-sigs/cluster-api/issues/3996#issuecomment-742801104 I misread the instruction 😅
upgrading is a simple apply, and migration of existing object happen via conversion web hooks
/close

[2020-12-10 21:16] #3506 closed

[2020-12-11 02:40] wutz commented on #1636
@RenaudDemarneffe It's not in IstioOperator to configure, just remove port `80` definition from `Gateway`

[2020-12-11 07:55] jonnyniv commented on #2969
@jeroenjacobs79 Thanks for the follow-up. I'll try and get to the bottom of the io timeout first, then.
Given that both errors are being thrown isn't it an indicator that I'm running into multiple problems here?

I've explicitly set the clusterResourceNamespace to be cert-manager and am placing the secrets in there while still receiving the secret not found error, I've tried using non-cluster scop

[2020-12-11 08:02] jonnyniv commented on #3493
I'm not too sure cert-manager is intended to issue certificates of its own, you may want to another tool that offers CA features which ties into cert-manager, like hashicorp vault

[2020-12-11 10:21] #3373 closed

[2020-12-11 14:11] #3469 closed

[2020-12-11 18:10] dxfoso commented on #2517
i had the exact problem when installing Rancher with helm , i could just set the ingress class with helm --set like the example below, instead of changing it after the installation

helm install rancher rancher-stable/rancher \
  --namespace cattle-system \
  --set ingress.extraAnnotations.'kubernetes\.io/ingress\.class'=nginx \
  --set ingress.extraAnnotations.'nginx\.org/websocket-services'=ranc

[2020-12-11 20:33] mirsaeedi commented on #3483
I got the same issue. Could you resolve it @V4A001 ?

[2020-12-11 20:38] V4A001 commented on #3483
Try this, see if crd 's are installed:
kubectl get crd
If not, install this:
kubectl apply --validate=false -f https://github.com/jetstack/cert-manager/releases/download/v1.1.0/cert-manager.crds.yaml

then run without --set installCRDs=true and version:
helm install cert-manager jetstack/cert-manager --namespace cert-manager --version v1.1.0

[2020-12-11 23:31] #3496 closed

[2020-12-13 09:17] kskalski opened #3508 "cert-manager is using stale service name for webhook"
**Describe the bug**:
By mistake I did a helm3 install of cert-manager 1.1.0 under a different release name than my previous installation, after some work on uninstalling it and installing one with proper release name I ended up with a de-funct cert-manager that is still referencing some artifacts by the wrong release name.

In particular I get this error in cert-manager:
[code]

The problem is th

[2020-12-13 14:50] devurandom commented on #2971
This section of DigitalOcean's documentation might be informative: https://github.com/digitalocean/clusterlint/blob/master/checks.md#admission-controller-webhook-replacement

[2020-12-13 15:00] devurandom commented on #2971
@KoviaX How did you get this to work? I am looking at https://github.com/jetstack/cert-manager/blob/5aa87267ab57728f22558bd6c1c0154af3b0ed99/deploy/charts/cert-manager/templates/webhook-mutating-webhook.yaml and cannot see anything in there that would support adding a `namespaceSelector` using `Values.webhook.extraValidationExpressions`.

Further, who is supposed to set the `doks.digitalocean.com/

[2020-12-13 17:00] tbclark3 commented on #3098
I'm seeing the same issue with only one CNAME level.

[2020-12-14 10:27] jonnyniv commented on #3424
This would be a very helpful feature to have!

[2020-12-14 14:28] tsde opened #3509 "Provide a separate manifest for the cert-manager Namespace resource"
**Is your feature request related to a problem? Please describe.**

First of all, thank you for creating this amazing tool and for all the work put in it so far.

Not sure if we can call it a feature but having a separate manifest for the cert-manager Namespace resource could be helpful for my use-case. Currently, the manifest provided with each release of cert-manager includes the cert-manager Na

[2020-12-14 16:22] dedanirungu commented on #3266
Does it work with Ingress configuration. https://cert-manager.io/docs/usage/ingress/

`apiVersion: extensions/v1beta1
kind: Ingress
metadata:
  annotations:
    # add an annotation indicating the issuer to use.
    cert-manager.io/cluster-issuer: nameOfClusterIssuer
  name: myIngress
  namespace: myIngress
spec:
  rules:
  - host: example.com
    http:
      paths:
      - backend:
          servi

[2020-12-14 18:22] holmesb opened #3510 "https://charts.jetstack.io down?"
`helm repo add jetstack https://charts.jetstack.io`

is failing when I try from multiple locations.  Isn't responding on port 443.

[2020-12-14 18:25] rchenzheng commented on #3510
It sure is https://kubernetes.slack.com/archives/C4NV3DWUC/p1607969989166100

[2020-12-14 18:26] rchenzheng commented on #3510
@holmesb Should be back online now

[2020-12-14 18:34] holmesb commented on #3510
Back now

[2020-12-14 18:34] #3510 closed

[2020-12-14 19:34] LarsKumbier opened #3511 "Multiple Ingresses on same host url, with different paths?"
**Describe the bug**:
I have two ingress definitions in the same namespace and with the *same hostname*, but with *different paths*. The ingresses are routing to different services (think: frontend under `example.com/` and `example.com/api/`).

I am missing a documentation on how to handle a case like this. If both ingresses have their own secret to save the certificate tls, cert-manager runs havo

[2020-12-14 21:01] alv3ener opened #3512 "The certificates "<cert-name>" is invalid: metadata.resourceVersion: Invalid value: 0x0: must be specified for an update"
**Describe the bug**:
Upgrading cert-manager operator from v0.15.1 to v1.0.4, following the upgrade instructions from [https://cert-manager.io/docs/installation/upgrading/upgrading-0.16-1.0/](https://cert-manager.io/docs/installation/upgrading/upgrading-0.16-1.0/ ) but after restoring certificates, if we try to deploy an updated certificate, we get the error:
[code]

**Expected behaviour**:
After

[2020-12-14 22:33] squarelover commented on #3492
Yes, please add a way to deploy versioned secrets, or at least have a way to perform staged/canary cert rollouts. This exact change Let's Encrypt performed caused critical, service breaking issues with one of our customers.

[2020-12-15 01:50] Titan7777 commented on #2494
V1.1.0 I completely deleted everything, but the error is the same
[code]
[code]
[code]

[2020-12-15 09:49] wallrj commented on #3480
xref: https://github.com/jetstack/cert-manager/issues/3451 https://github.com/cncf/toc/issues/557

[2020-12-15 09:55] munnerz commented on #3480
I know Let's Encrypt have used our user agent in the past to identify traffic coming from cert-manager cc @jsha

There could well be non-public uses of this user agent too.. i.e. for metrics etc

[2020-12-15 11:13] wallrj opened #3513 "Create an Official and Verified cert-manager package on https://artifacthub.io/"
Right now if you visit https://charts.jetstack.io/ it redirects to https://artifacthub.io/charts/jetstack which results in a 404 error page
(although not an  HTTP 404 error status)

We should fix that.

We might also try and have an "official" and "verified" cert-manager package on https://artifacthub.io/

Right now, there are a bunch of cert-manager packages, of unknown provenance, uploaded by in

[2020-12-15 16:48] alex-guenther opened #3516 "Errors in log "the object has been modified; please apply your changes to the latest version and try again""
**Describe the bug**:
Everything works fine (the cert gets issued) but I see the following log messages.

From my experience writing an operator I know that this kind of messages indicate some subtile logic errors.  Which can cause unexpected behaviour or trouble later (eg. incorrect out of date Status, more reconcile loops, ...).

[code]

**Expected behaviour**:
No such messages in the log output

[2020-12-15 17:40] jsha commented on #3480
Changing user-agent strings is fine by us at Let's Encrypt. Our queries are pretty ad-hoc (log analysis, not live metrics), and we can easily adapt them.

[2020-12-15 17:40] james-w commented on #3486
I would like to suggest this for 1.2 if someone is able to tackle it.

[2020-12-15 21:47] ndrpnt opened #3517 "Make leader-election settings customizable for cainjector"
To elect a leader when multiple instances are running, the controller and the cainjector components take a lease by updating a configmap.

Currently, the related settings are customizable for the controller (`--leader-election-lease-duration`, `--leader-election-renew-deadline` and `--leader-election-retry-period` flags, defaulting to 60s, 40s and 15s respectively) but not for the cainjector (hard

[2020-12-16 08:04] alex-guenther commented on #3501
I see the same errors in the log but everything works fine. You seem to have omitten the non error lines, which show that it eventually worked.
* Are sure the ClusterIssuer "letsencrypt-prod" is actually what the name implies?
* Did you check the certificatte, are the contents as expected?
* Could you resolve your issue or find more hints on what the issue is?

I would guess that this error log li

[2020-12-16 10:11] freegroup opened #3520 "missing "organisations" in the 'subject" entity of the certificate CRD"
In the CRD of the certificate is a reference to the https://golang.org/pkg/crypto/x509/pkix/#Name data structure
of the  `subject` entity. Unfortunately the `organisations` field is missing in the CRD

https://github.com/jetstack/cert-manager/blob/master/deploy/crds/crd-certificates.yaml#L203-L239

Maybe I'm wrong - but either the documentation/reference to the data structure is wrong or the field

[2020-12-16 10:38] freegroup commented on #3520
it seems that "some" operator is patching the CRD on the fly.

In the the initial deployment the field is missing:
https://github.com/jetstack/cert-manager/releases/download/v1.1.0/cert-manager.yaml

If I retrieve the CRD from the cluster the field is in:
[code]

In the "last-applied-configuration" we can see that the resources is patched.

Why is this resource modified afterwards? For me, this be

[2020-12-16 12:05] #3480 closed

[2020-12-16 15:33] meyskens commented on #3520
It is present here: https://github.com/jetstack/cert-manager/blob/master/deploy/crds/crd-certificates.yaml#L185

None of our code touches the CRD install so not sure what caused your install to be patched afterwards.

Since it is solved I am going to close this.
/close

[2020-12-16 15:33] #3520 closed

[2020-12-16 15:36] meyskens commented on #3501
This error is a non-error for this, it is a known issue which we're looking into. I cannot seem to find the issue for it right now... it has to do with the design of the new controllers

[2020-12-16 15:37] meyskens commented on #3517
/priority important-longerm

[2020-12-16 15:37] meyskens commented on #3517
/priority important-longterm

[2020-12-16 15:46] meyskens commented on #3492
Duplicate of https://github.com/jetstack/cert-manager/issues/3462
We're mostly looking at a clean way to to this, as far as I know Kubernetes doesn't offer versioned secrets

/close

[2020-12-16 15:46] #3492 closed

[2020-12-16 15:47] freegroup commented on #3520
This is not the field I meant.

`subject` in the CRD before deployment:
[code]

`subject` after deployment of the CRDs and fetched with kubectl:
[code]

as you can see, there is a new field in the CRD **organizations** (plural)

[2020-12-16 15:47] meyskens commented on #3462
/help-wanted

[2020-12-16 15:47] meyskens commented on #3462
/help

[2020-12-16 15:48] freegroup commented on #3520
not solved....

[2020-12-16 15:51] meyskens commented on #3520
https://github.com/jetstack/cert-manager/blob/master/deploy/crds/crd-certificates.yaml#L1112

This is because we deploy 3 versions of the CRD, it seems you were looking at the wrong version in the CRD file.
https://cert-manager.io/docs/reference/api-docs/#cert-manager.io/v1.X509Subject
vs
https://cert-manager.io/docs/reference/api-docs/#cert-manager.io/v1alpha2.X509Subject

[2020-12-16 15:53] meyskens commented on #3512
Not sure if OpenShift behaves differently here but you might need to strip `resourceVersion` out of the manifests

[2020-12-16 15:58] freegroup commented on #3520
sorry for the noise and thanks a lot for the support!

[2020-12-16 17:00] maelvls opened #3521 "Integration with ExternalDNS"
[ExternalDNS](https://github.com/kubernetes-sigs/external-dns) is a small Kubernetes controller that watches your Ingresses and that creates `A` and `AAAA` records for the hostnames given in the ingress. It works out of the box with many DNS providers (cloudflare's dns, google's cloud dns, ...)

ExternalDNS supports many DNS providers that cert-manager doesn't yet. Integrating with ExternalDNS wou

[2020-12-16 17:14] kfox1111 commented on #3462
What about keeping multiple secrets. Something like:
1. add a new field. `versions: n`
2. Whenever `n` is set, any time a cert is refreshed, it gets copied `<secretName>-<current newest version number>` in addition to `<secretName>`
3. if there is more then `n` secrets named `<secretName>-<some version number>` the smallest numbers are garbage collected up to `n`.
4. a new field is added `unmanage

[2020-12-16 17:15] meyskens commented on #3521
/help

Some help from the ExternalDNS side would be nice to see if we can help make this work.

[2020-12-16 17:19] dhermes commented on #2407
I was digging into the "why" on this today and was surprised to see how (A) the Go standard library validates the non-leaf parts of the chain and (B) how the gRPC Go implementation sets expected key usages for the non-leaf parts of the chain:

- https://github.com/golang/go/blob/go1.15.6/src/crypto/x509/verify.go#L815-L819
- https://github.com/grpc/grpc-go/blob/v1.34.0/security/advancedtls/advance

[2020-12-16 19:03] sanarena commented on #438
Please re-open this issue.
I had to migrate some domains to cloudflare due to this and some other domains, have to stay in DME. Appreciate if this get implemented.

[2020-12-17 10:04] #3511 closed

[2020-12-17 10:14] #3266 closed

[2020-12-17 10:43] btai24 commented on #641
I have the same issue with zerossl + eab credentials. the credentials seem to only work once for spinning up a clusterissuer. if that clusterissuer would to be recreated using the same eab credentials, it never becomes ready.

[code]

[2020-12-17 10:45] btai24 commented on #2882
I have the same issue with zerossl + eab credentials. the credentials seem to only work once for spinning up a clusterissuer. if that clusterissuer would to be recreated using the same eab credentials, it never becomes ready.

  ----     ------                ----                   ----          -------
  Warning  ErrVerifyACMEAccount  3m55s (x2 over 3m56s)  cert-manager  Failed to verify ACME acc

[2020-12-17 13:22] fliphess commented on #3501
How can we work around it?

[2020-12-17 13:31] hubstairs-admin commented on #3501
@meyskens I going to update the HAProxy controller through the latest version. I'll keep you informed if the problem goes away.

[2020-12-17 13:34] meyskens commented on #3501
@fliphess cert-manager will work around these itself

[2020-12-17 13:56] meyskens commented on #3508
This webhook error doesn't come from cert-manager itself but the Kubernetes API. What do you get for `kubectl get MutatingWebhookConfiguration` ?
Seems somehow a bad configuration is left behind there, seems Helm didn't uninstall it properly

[2020-12-17 13:58] meyskens commented on #3483
It seems you installed it with `installCRDs=false` before, due to limitations on Helm you can not change this option between upgrades.

[2020-12-17 13:58] #3483 closed

[2020-12-17 13:59] meyskens commented on #3497
/assign @hugoboos
/priority important-longterm

[2020-12-17 14:01] #3493 closed

[2020-12-17 14:04] #3066 closed

[2020-12-17 14:11] meyskens commented on #3498
/milestone v1.2

[2020-12-17 14:22] meyskens commented on #3498
/assign

[2020-12-17 14:23] meyskens commented on #3441
Going to close this issue as it seems resolved.

/close

[2020-12-17 14:23] #3441 closed

[2020-12-17 14:35] meyskens commented on #3429
/close

[2020-12-17 14:35] #3429 closed

[2020-12-17 14:42] meyskens commented on #2178
Also depends on missing support in the API, see https://github.com/jetstack/cert-manager/issues/3096#issuecomment-658643481

[2020-12-17 14:53] meyskens commented on #3494
`404 urn:ietf:params:acme:error:malformed:` comes from Let's Encrypt

What do you get if you describe the orders?

[2020-12-17 14:53] #3494 closed

[2020-12-17 15:06] meyskens commented on #3446
I think the both questions can be answered by: docs got a bit out of date, many parts of our monitoring stack in the Helm chart are external PRs made an I think we overlooked the docs a bit. PRs welcome there!

[2020-12-17 15:06] meyskens commented on #3374
Going to close this as it is an upstream issue.

/close

[2020-12-17 15:07] #3374 closed

[2020-12-17 15:08] meyskens commented on #3490
ACME DNS challenges need to be publicly solvable as they are checked by the issuer that you own a domain. This is why it only works with public DNS.

[2020-12-17 15:08] #3490 closed

[2020-12-17 15:34] faisalrazzak commented on #2178
Thanks. I have seen [#3096(comment)](https://github.com/jetstack/cert-manager/issues/3096#issuecomment-658643481).

Venafi's end point [APIs](https://godoc.org/github.com/Venafi/vcert/pkg/endpoint#Connector) seem to support revocation of a certificate. Logically, does it make sense that a deletion of a certificate resource in Kubernetes be marked as "certificate revoked" in TPP inventory ?

If No,

[2020-12-17 16:10] meyskens commented on #2178
I don't think we should revoke a certificate on deletion, revocation is meant to mark a certificate as bad while just deleting it doesn't mean it can never be used anywhere else, cert-manager will not delete the secret thus an app can still use it, see for example when you re-install a chart. Revocation is currently not in cert-manager but if we add it it needs to be a special action to mark it as

[2020-12-17 16:16] meyskens commented on #3484
@wallrj can you look into this in your e2e tests?

[2020-12-17 16:18] meyskens commented on #3488
Can you clarify way you mean by `And certificate controller should validate if keyUsage does not provided.`?

[2020-12-17 16:30] #2667 closed

[2020-12-17 17:27] #3498 closed

[2020-12-17 17:59] kskalski commented on #3508
Ah, I see, it has
[code]

I guess I should be able to just delete the wrong one

[2020-12-17 18:07] kskalski commented on #3508
so far deleting it and restarting cert-manager pod didn't help, is this value cached somewhere in apiserver, I guess it should expire at some point

[2020-12-17 18:51] 7ing commented on #3488
Suggest all Certificate spec includes key usages, if not, controller shall fail the validation.

[2020-12-18 10:40] munnerz commented on #2882
I don't think this is related to #3141 - and as noted above, cert-manager should handle this case better.

To reproduce this issue:

1) create an issuer that uses EAB (that is brand new/is not already registered)
2) wait for it to be registered
3) delete the issuer
4) recreate the issuer (utilising the same private key)

which causes the above mentioned event/warning to be posted onto the Issuer r

[2020-12-18 11:31] robstradling commented on #2882
@munnerz There seems to be unanimous agreement that my interpretation was wrong!  :-)  @jsha's reply (https://mailarchive.ietf.org/arch/msg/acme/rwieiDldue3az6ZKb8plWvO9wFs/) to my list post explained the authors' intended meaning.  I'm not totally happy that RFC8555 seems to use the word "reflect" inconsistently (https://mailarchive.ietf.org/arch/msg/acme/HrmrtOcW4sjc9HAIa3H3TATIB9w/), but, since

[2020-12-21 12:32] #3517 closed

[2020-12-21 13:07] martykuentzel commented on #3009
The documentation does not cover the fact that you simply cannot create a clusterIssuer without the field `privateKeySecretRef``, because the webhook will block it (even with `--validate=false`):

```Error from server (NotAcceptable): error when creating "STDIN": admission webhook "webhook.cert-manager.io" denied the request: spec.acme.privateKeySecretRef.name: Required value: private key secret n

[2020-12-21 14:41] fliphess commented on #3501
@meyskens

I did an upgrade to the latest cert-manager and all seems to be working, it's just that we notice this error with every (each and everyone) certificate request and renewal.

How should I look at this error? If cert-manager will work around these itself, should I consider it very verbose info output that causes some panic on my end or is this because of a bug or misconfiguration that is

[2020-12-21 15:36] cdmadrigal opened #3528 "Option to populate ca.crt value (Venafi)"
**Is your feature request related to a problem? Please describe.**
Venafi returns the tls.key and tls.crt file to cert-manager after each request but the ca.crt file returns empty. I've noticed that the tls.crt file contains the root, chain and end-user certificate encoded. The issue stems when we are trying to use other operators to build on top of the functionality cert-manager provides.

Recent

[2020-12-21 17:05] tl-eddie-hoffman commented on #3346
@ragurakesh I'm also getting the same issue when using DigiCert with ACME. Did you manage to get anywhere with this?

[2020-12-22 08:51] danopia commented on #3521
Hello 😄 The cert-manager<-->external-dns concept is really strong though and helps decouple dns from cert-manager, in a comparable role to the current webhook solution. As a cluster admin I'd love to see this capability. I think it should be in-tree because this is another, different type of integration point; however it might make sense via webhook for the first steps (and then until external-dns

[2020-12-22 08:54] meyskens commented on #3528
This seems to be a duplicate of https://github.com/jetstack/cert-manager/issues/2847

/close

[2020-12-22 08:54] #3528 closed

[2020-12-22 12:00] dustinmoris opened #3530 "Question: Certificate or Annotations"
I just finished upgrading cert-manager from `v0.11.0` to `v1.1.0` and ended up deleting everything from before and installing cert-manager from scratch.

Our setup is AKS + NGINX ingress + cert-manager and previously I would have created a `Certificate` resource myself in a yaml file and then configured the Ingress to pick up the stored tls secret, but I struggled to get the same working on the ne

[2020-12-22 12:09] #3530 closed

[2020-12-22 13:10] meyskens commented on #3152
/assign @wallrj

[2020-12-22 13:10] meyskens commented on #3098
/assign

[2020-12-22 14:53] wallrj opened #3531 "The sample-external-issuer Docker image should be hosted on quay.io"
For https://github.com/jetstack/cert-manager/issues/3152 we created a [sample-external-issuer](https://github.com/cert-manager/sample-external-issuer).

In https://github.com/jetstack/cert-manager/pull/3514/files#r547154527 @meyskens noted:

The Docker image is currently in a personal ghcr.io at https://github.com/users/wallrj/packages/container/package/sample-external-issuer%2Fcontroller but we s

[2020-12-22 15:24] llb4ll commented on #3501
Seeing the same error logs.
[code]

Environment details::

    Kubernetes version: 1.16
    Cloud-provider/provisioner: Google cloud
    cert-manager version: 1.1.0
    Install method: clean and re-install, using helm template generated files

[2020-12-22 15:45] cdmadrigal commented on #2847
@munnerz @meyskens
In #3528 I stated a usecase where having the ca.crt value separated and available would be useful. When securing Openshift Routes, the object expects a CA certificate to establish trust within the cluster. This is especially important when using the re-encryption method as the full path is encrypted (end to end). This is true for Openshift [3.11](https://docs.openshift.com/conta

[2020-12-23 19:08] rchenzheng commented on #294
Won't this still incur downtime?

[2020-12-24 10:46] wallrj commented on #2847
/assign

[2020-12-24 12:15] kskalski commented on #3508
Is there a way to force cert-manager to fetch the current version of MutatingWebhookConfiguration? The only one I got now has
[code]
but cert-manager is still using ``https://cert-manager-1-1-0-webhook.cert-manager.svc:443``

[2020-12-28 05:37] koo9 commented on #3335
@matthiasbaldi  where did you add that line of argument? thx

[2020-12-28 09:08] floek opened #3534 "cert-manager tries to follow CNAME while "cnameStrategy" is set to "None""
**Describe the bug**:
I have the same issue as seen in #3460, which should be fixed by setting "cnameStrategy" to "None" (the default).
My domain example.tld has the following record:

[code]

I'm using RFC2136, here is my solver config:
[code]

cert-manager tries to follow the CNAME for the propagation check:
[code]

When I try to set cnameStrategy to "Follow" I get another error:
[code]
So it ma

[2020-12-28 19:56] ben-routefusion commented on #2517
For others landing on this with no solution yet, make sure you don't have any certs that are misconfigured. I had several subdomain certificates that were invalid and were never going to resolve, after deleting those I was able to get past the 404. My issue was especially puzzling because after several hours the valid certs would be issued. Our stack uses Ambassador, which requires a custom Mappin

[2020-12-29 05:00] anguslees commented on #2478
I think the solution here requires preserving both the old and new CA key for some overlapping period during the renewal.  This also means publishing a "caBundle" rather than just a single CA in secret/ca.crt, etc.

For cert-manager, I think this means we need a way to keep both keys around, and this implies we need a "secret selector" rather than just a single "secretName".  It's possible we shou

[2020-12-29 10:12] pkhairkh commented on #2538
Actually I'd like to come back to what @discostur mentioned. There are a lot of issues out there with engineers using networking.k8s.io/v1beta1 on >NGINX-controller 1.9.0, however the described behaviour from above seems to have changed.

I have a public and a private ingress controller and tried to challenge ACME obviously over the public one. But it always keeps choosing the private one by the k

[2020-12-30 16:51] matthiasbaldi commented on #3335
@koo9 I found it here: https://www.scaleway.com/en/docs/how-to-setup-traefikv2-and-cert-manager-on-kapsule/#-Deploying-Cert-Manager

I edited the traefik with something like `kubectl edit ds traefik -n kube-system`

[2020-12-30 17:05] koo9 commented on #3335
@matthiasbaldi  excellent link. thx!

[2020-12-31 16:19] Roydon commented on #3335
If I have to supply `ingressClass` in config file can I do this way ?
[code]

[2020-12-31 17:49] xlanor commented on #3021
@oliverbaehler , which version of certmanager are you running?

I'm on the latest version of certmanager, your yaml simply results in ` Error: 6003: Invalid request headers<- 6103: Invalid format for X-Auth-Key header`

[2020-12-31 17:59] xlanor commented on #3021
I was just able to deploy it using an api token generated from cloudflare.

Follow the steps here :
https://blog.darkedges.com/2020/05/04/cert-manager-kubernetes-cloudflare-dns-update/

but, instead of using apiKeySecretRef, using a token here, use apiTokenSecretRef.

You do not need to base64 encode the secret. I read somewhere else that they only got it to work by doing that, so I was on the wro

[2020-12-31 20:01] aakhan1 commented on #2517
Exact same problem here as well.  I noticed the only time get a 404 error is when the solver has no address.   I don't have a LoadBalancer deployed which is likely why, but I did come with with a temporary solution while I get to that part.

[code]

To fix this problem, I changed the `cm-acme-http-solver-r34dl` pod yaml to match my ingress for my nginx deployment.
*  Remove the `kubernetes.io/ingr

[2021-01-01 18:43] TheAggressive commented on #2482
Question as I'm trying to setup the same here using Kustomize.

would you need to install the CRDS as well?

`
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - 'https://github.com/jetstack/cert-manager/releases/download/v1.1.0/cert-manager.crds.yaml'
  - 'https://github.com/jetstack/cert-manager/releases/download/v1.1.0/cert-manager.yaml'
`

whenever I do it gives ` E

[2021-01-01 20:29] kskalski commented on #3508
Ok, turns out there was also ``ValidatingWebhookConfiguration`` with the same name that I had to delete to fix those errors

[2021-01-01 20:29] #3508 closed

[2021-01-02 06:00] nishanthooda commented on #2220
for future reference:
i changed `cloudDNS` (which is what documentation says) to `clouddns` and it solved the issue for me

[2021-01-03 06:36] gurjmatharu commented on #2741
I just ran into this issue.  I upgraded from `v0.16.2` to `v1.0.0` and the order updated to `acme:error:rateLimited: Error creating new order :: too many certificates already issued for exact set of domains`.  Thx @loganmzz for pointing this out.

[2021-01-04 02:38] beautyfree commented on #3508
@kskalski what do you wrote in config? i have same issue

[2021-01-04 06:55] chulkilee commented on #3488
I'm hitting this issue with the latest cert-manager (v1.1.0). Since certs issued by ingress-shim is for https, it should have the key usages expected by web clients - which may be different from default usages of Certificate. (Related: #2351 ?)

I couldn't find a way to annotate ingress to include the key usages as needed.

BTW that correct values are: `digital signature`, `key encipherment`, and

[2021-01-04 09:28] kskalski commented on #3508
I uninstalled cert-manager and manually removed all the remaining artifacts - CRD, namespace, and most importantly ``MutatingWebhookConfiguration`` and  ``ValidatingWebhookConfiguration``. You can list them by ``kubectl get MutatingWebhookConfiguration`` and delete by ``kubectl delete MutatingWebhookConfiguration object``. After that installing cert-manager again worked fine

[2021-01-04 10:49] shibumi commented on #863
@munnerz  I think you misunderstood the problem here. You wrote:
[code]

The problem is *not* that Let's Encrypt can't reach the LoadBalancer... the problem is that certificate manager self-check can't reach it. The connection from LE to the LoadBalancer is fine, due to Destination NAT. The certificate manager inside the cluster how ever tries to resolve the domain name with the external IP and th

[2021-01-04 10:58] net47 opened #3539 "No matching GoogleCloud domain found for domain xyz"
**Describe the bug**:
Using cert-manager v1.1.0 and my domain "tremmel.xyz", I get the following error when issuing a new certificate:
[code]
The domain exists in Cloud DNS. I'm using the DNS01 challenge option. I used the official guide (https://cert-manager.io/docs/configuration/acme/dns01/google/) to configure the issuer.

**Expected behaviour**:
A certificate is issued.

**Steps to reproduce t

[2021-01-04 11:18] ondrejtomcik opened #3540 "OID extended key usage"
Dear cert-manager team

I need to create a certificate with a custom OID, which needs to be present in the Extended Key Usage extension. Your implementation of the `keyUsage` accepts only predefined set, which doesn't allow me to set OIDs at all. I need to set the custom one - `1.3.6.1.4.1.44924.1.6`, required by the Open Connectivity Foundation specification.

Is there a way how I can do it at th

[2021-01-04 14:44] ondrejtomcik commented on #3540
I can create the MR but let's firstly clarify how would you like to approach it.
My proposal would be to:
- continue using the `keyUsage` property of the `Certificate` resource without limiting the user's input to the [predefined set](https://github.com/jetstack/cert-manager/blob/d655522e2e1ad2e178caa7944d48166091718329/pkg/apis/certmanager/v1/types.go#L171)
- https://github.com/jetstack/cert-mana

[2021-01-04 15:13] shibumi commented on #863
Here is another possible solution:

You can use coredns for broadcasting wrong DNS records. Just create host aliases for the domains and link them to the internal cluster IPs. Then propagate these host/IP  tuples via:
[code]

in your coredns config. This way you can use the internal IP addresses inside of your cluster. You just have to maintain another list (or you might just automate this via a c

[2021-01-04 16:29] lziosi opened #3541 "Issuer and the Subject are empty since 0.15.2 but were equal to "O = cert-manager" in 0.14.3 when using SelfSigned CA"
**Describe the bug**:
Issuer and Subject of the generated certificate are empty strings when using SelfSigned Issuer on cert-manager 1.1.0, 0.16.1, 0.15.2 (but they are not empty on 0.14.3).

**Expected behaviour**:
I expect the Issuer and Subject in the certificate to be populated by non-empty strings for a Self signed certificate.

**Steps to reproduce the bug**:

I followed the steps described

[2021-01-04 17:24] meyskens commented on #3541
We removed this om 0.15 as it was wrong behavior to just set that field on every certificate, you can however set the values yourself using the Certificate's subject field: https://cert-manager.io/docs/usage/certificate/

[2021-01-05 05:57] suhail-sullad commented on #3346
@tl-eddie-hoffman @ragurakesh
Here is a KB link. See if it works for you.
 [https://knowledge.digicert.com/solution/Configure-cert-manager-and-DigiCert-ACME-service-with-Kubernetes.html](url)

[2021-01-05 11:59] anuradha-wipro opened #3542 "SSL Certificate Manager has got expired, we need to renew SSL certificate in existing ClusterIssuer Kubernetes Service (AKS)"
Unable to auto renew LetsEncrypt SSL cert for AKS. Tried deleting secret and certificate.
# kubectl apply -f cert-prod.yaml
Error from server (InternalError): error when creating "cert-prod.yaml": Internal error occurred: failed calling webhook "webhook.certmanager.k8s.io": the server is currently unable to handle the request

[2021-01-05 12:51] irzhywau commented on #294
still not working on GKE,
I have a CRD that handles which dns should be added into the certificate, the domain is well added to the certificate object but it did not issue a new certificate at all

[2021-01-05 15:49] Dani-Ionescu opened #3543 "check that a DNS record exists for this domain"
Hello,

I have the following ingress manifest file:
[code]

I am working with VMware with Vsphere. I don't have a domain like www.google.com, just a DNS name which is k8s-cluster and the domain .int (inside my company). When I am trying to generate the certificate I receive this error: `"msg"="error waiting for authorization" "error"="acme: authorization error for k8s-cluster.int: 400 urn:ietf:par

[2021-01-06 03:00] sega-yarkin commented on #2166
@munnerz @meyskens
I've just given a try for `v1.2.0-alpha.0` which includes #3433, and it doesn't seem to work in some cases with self-signed certificates and intermediate CA. Not all software expects CAs in the server certificate file (`tls.crt`), and they are only read from `ca.crt` (and from system). If I manually add intermediate CA into `ca.crt` everything is fine. In my case, for example, E

[2021-01-06 09:52] meyskens commented on #3542
/triage support

It seems you are still using a very old cert-manager version. I recommend to upgrade to the latest.
For further help it would be useful if you could share `cert-prod.yaml` also

[2021-01-06 09:59] meyskens commented on #3543
/triage support

This error comes from Let's Encrypt which cannot reach your domain (it tries to as `.int` is a public known TLD).
In order for Let's Encrypt to work they need to have public access to verify the ownership of your domain.

For internal only domains you might want to look into using an internal CA.

[2021-01-06 10:02] anuradha-wipro commented on #3542
$kubectl apply -f https://github.com/jetstack/cert-manager/releases/download/v1.1.0/cert-manager.yaml
namespace/cert-manager configured
serviceaccount/cert-manager-cainjector configured
serviceaccount/cert-manager configured
serviceaccount/cert-manager-webhook configured
clusterrole.rbac.authorization.k8s.io/cert-manager-cainjector configured
clusterrole.rbac.authorization.k8s.io/cert-manager-cont

[2021-01-06 10:04] anuradha-wipro commented on #3542
cert-prod.yaml
apiVersion: certmanager.k8s.io/v1alpha1
kind: ClusterIssuer
metadata:
  name: letsencrypt-prod
  namespace: cert-manager
spec:
  acme:
    server: https://acme-v02.api.letsencrypt.org/directory
    email: test@mail.com
    privateKeySecretRef:
      name: letsencrypt-prod
      # Enable the HTTP-01 challenge provider
    solvers:
    - http01:
        ingress:
          class: nginx

[2021-01-06 10:05] anuradha-wipro commented on #3542
`apiVersion: certmanager.k8s.io/v1alpha1
kind: ClusterIssuer
metadata:
  name: letsencrypt-prod
  namespace: cert-manager
spec:
  acme:
    server: https://acme-v02.api.letsencrypt.org/directory
    email: test@mail.com
    privateKeySecretRef:
      name: letsencrypt-prod
      # Enable the HTTP-01 challenge provider
    solvers:
    - http01:
        ingress:
          class: nginx
---
apiVersio

[2021-01-06 10:06] meyskens commented on #3539
It seems SOA records get filtered by your DNS resolver, could you check that?

/triage support

[2021-01-06 10:09] meyskens commented on #3542
`apiVersion: certmanager.k8s.io/v1alpha1` is no longer supported, i recommend reading the upgrade guides: https://cert-manager.io/docs/installation/upgrading/

[2021-01-06 10:11] meyskens commented on #3346
Closing this one as a KB article got added

/close

[2021-01-06 10:11] #3346 closed

[2021-01-06 10:20] ondrejtomcik commented on #3540
@meyskens ping :-) Could you please help me to get an answer?

[2021-01-06 11:08] anuradha-wipro commented on #3542
![image](https://user-images.githubusercontent.com/54029688/103761981-8d5f6b00-503d-11eb-815b-3322743e5c92.png)

[2021-01-06 14:27] johnmarx-la opened #3544 "Issuer Creation Error: "local error: tls: no renegotiation""
When attempting to install and configure cert-manager in our private network, we get an error when the system attempts to create the issuer against a Venafi server. The error is: "local error: tls: no renegotiation"

In golang the http.Client will allow the Transport: to specify a TLSClientConfig: parameter to allow Renegotiation.

example:

[code]

If there is an existing command line flag we can

[2021-01-06 14:36] meyskens commented on #3542
That webhook is no longer used, everything ending in `certmanager.k8s.io` is no longer used in cert-manager post-.0.11

[2021-01-06 15:00] meyskens commented on #3544
We use the vCert library for all communication to venafi instances, I think it woule be best to file an issue there to add this option so we can implement it.

[2021-01-06 15:00] meyskens commented on #3544
/area venafi

[2021-01-06 15:05] meyskens commented on #3540
pong

probably a duplicate of https://github.com/jetstack/cert-manager/issues/3404

to clarify: this list comes from https://github.com/kubernetes/kubernetes/blob/cea1d4e20b4a7886d8ff65f34c6d4f95efcb4742/pkg/apis/certificates/types.go#L158

[2021-01-06 15:16] johnmarx-la commented on #3544
Thank you @meyskens, will do!

[2021-01-06 15:16] #3544 closed

[2021-01-06 16:18] net47 commented on #3539
That's it! I wasn't aware that cert-manager relies on the SOA records - which were wrong because of my split DNS setup. Simply changing the DNS resolvers to `8.8.8.8` solved the issue.

Thanks @meyskens !

[2021-01-06 16:18] #3539 closed

[2021-01-06 16:47] tomcruise81 commented on #3544
@johnmarx-la - looks like you opened https://github.com/Venafi/vcert/issues/148. Should this be re-opened and tied to that issue?

[2021-01-06 23:21] thockin opened #3549 "Ingress that set ".../ingress.allow-http: false" hang forever with no messages"
**Is your feature request related to a problem? Please describe.**
@munnerz helped debug this today.

Someone set `kubernetes.io/ingress.allow-http: "false"` on an Ingress resource.  When time came to refresh the cert it just hung forever with no errors or event or anything.

**Describe the solution you'd like**
I'd have liked to see an Event and/or Condition on the Ingress saying "cert-manager ca

[2021-01-07 06:17] anuradha-wipro commented on #3542
my Kubernetes version is 1.15.11, please suggest on how can i configure LetsEncrypt cert via cert-manager helm.

[2021-01-07 08:40] mazen423 commented on #3293
Same issue exists in V1.1.0

[2021-01-07 11:05] anuradha-wipro commented on #3542
![image](https://user-images.githubusercontent.com/54029688/103885637-4f7a4980-5106-11eb-932f-27c4e0697379.png)
After creating ClusterIssuer, i'm unable to list the resource.

[2021-01-07 14:47] paulclark222 opened #3550 "Jetstack Helm repo not working"
The Jetstack helm repo is not longer working:

[code]

[2021-01-07 15:00] anuradha-wipro commented on #3542
# kubectl get crds | grep cert-manager
certificaterequests.cert-manager.io     2021-01-06T10:33:23Z
certificates.cert-manager.io            2021-01-06T10:33:23Z
challenges.acme.cert-manager.io         2021-01-06T10:33:24Z
clusterissuers.cert-manager.io          2021-01-06T10:33:24Z
issuers.cert-manager.io                 2021-01-06T10:33:24Z
orders.acme.cert-manager.io             2021-01-06T10:33

[2021-01-07 15:26] anuradha-wipro commented on #3542
apiVersion: cert-manager.io/v1

Issue resolved. Updated my apiVersion.

[2021-01-07 16:12] #3550 closed

[2021-01-07 16:13] paulclark222 commented on #3550
It's a helm issue:
https://github.com/helm/helm/issues/8761

[2021-01-07 17:42] romdum opened #3551 "Infinite CertificateRequest creation"
**Describe the bug**:

When creating a new Certificate, Cert manager create CertficateRequest each ~30s which are never resolved.
For each CertificateRequest, we have this log in cert-manager pod:
[code]

**Expected behaviour**:

The CertificateRequest and Certificate should be ready, a valid order should be created.

**Steps to reproduce the bug**:

*Certificate and issuer yaml :*
[code]

*Descri

[2021-01-07 19:05] devurandom commented on #2971
Looking at https://github.com/jetstack/cert-manager/blob/v1.1.0/deploy/charts/cert-manager/templates/webhook-validating-webhook.yaml#L25-L30 it is possible to set `cert-manager.io/disable-validation: "true"` on the namespace `cert-manager` is installed into. Such option does not exist for https://github.com/jetstack/cert-manager/blob/v1.1.0/deploy/charts/cert-manager/templates/webhook-mutating-web

[2021-01-07 21:13] kvaps commented on #3281
Hi, I have the same problem:
[code]
[code]

[2021-01-07 22:54] kvaps commented on #3281
Hmm, it seems problem was persist on single node in cluster

[2021-01-07 23:14] thorion3006 opened #3553 "ExperimentalCertificateControllers feature gate not available in v1.1"
**Describe the bug**:

https://cert-manager.io/docs/usage/certificate/#configuring-private-key-rotation mentions that to use `spec.privateKey.rotationPolicy` feature, `ExperimentalCertificateControllers` feature gate must be enabled in the controller component. But in v1.1 of cert-manager that feature gate is not available.
I backtraced the changelogs of all the releases and `ExperimentalCertifica

[2021-01-08 10:20] amritk commented on #3406
Running into the same issue actually
[code]
cert-cert.yaml
[code]
I tried all of the steps in https://cert-manager.io/docs/concepts/webhook/#diagnosing-other-webhook-problems
And nothing shows up in any logs when I execute that command `kubectl apply -f cert-cert.yaml`
![image](https://user-images.githubusercontent.com/2039539/104003949-fe934100-5157-11eb-98b0-8c78b7883de9.png)

[2021-01-08 12:49] wallrj opened #3554 "//hack:verify-codegen copyright boilerplate script fails since 2021"
The script that updates and verifies our copyright boilerplate text has started failing.
It seems to expect all our source files to be updated with the current YEAR.

E.g.:
 * https://prow.build-infra.jetstack.net/view/gcs/jetstack-logs/pr-logs/pull/jetstack_cert-manager/3552/pull-cert-manager-bazel/1347483501296881664

[2021-01-08 12:52] wallrj opened #3555 "Venafi E2E tests are all failing"
The Venafi test server is offline.

This breaks all our Venafi E2E tests.

Paul from Venafi is fixing it and hopefully it'll be back online soon.

xref: https://github.com/jetstack/testing/pull/409/

[2021-01-08 13:16] meyskens commented on #3555
/area venafi
/area testing

[2021-01-08 13:37] flmmartins opened #3558 "Manifest unknow when pinning version to cert-manager in helm"
**Describe the bug**:
I am using HELM to install cert-manager pinning chart version as v1.1.0 as well as v1.1.0 image tag. The same happens with 1.0.4.

If I list my repos I can see that they indeed exist in
[code]
But when I do install everything seems to be installed (the injector and the webhook) except the cert-manager.

Here is my cert-manager log:

Normal   Scheduled  2m39s                de

[2021-01-08 13:37] #3554 closed

[2021-01-08 13:45] wallrj commented on #3555
We've disabled the tests now.
But I'll leave this issue open to remind us to re-enable the tests once the test server is fixed.

[2021-01-09 15:00] himslm01 commented on #1292
I'm also in this situation, where my k8s cluster is behind a NAT gateway. **I only chased this issue for about 8 hours before I understood what was going on** - mostly due to my service's application, my ingress, and my router all running Nginx with the default 404 page.

As I see it, there are currently four options to make cert-manager work, although adding a fifth option of *a switch to disable

[2021-01-09 16:06] himslm01 commented on #2842
I think this is possibly the same as https://github.com/jetstack/cert-manager/issues/1292.

[2021-01-10 22:09] MSandro commented on #2494
Same Issue, not shure what I did wrong.
ClusterIssuer
´´´
apiVersion: cert-manager.io/v1
kind: ClusterIssuer
metadata:
  name: 'letsencryt-prod'
spec:
  acme:
    email: myemail@xyz.com
    preferredChain: ''
    privateKeySecretRef:
      name: letsencrypt-prod
    server: 'https://acme-v02.api.letsencrypt.org/directory'
    solvers:
      - dns01:
          cloudflare:
            apiKeySecretRe

[2021-01-11 12:28] rhysjtevans commented on #2748
was there a solution to this @derrickburns ?

[2021-01-11 12:51] romdum commented on #3551
After applying a security patch on the cluster in OVH console the problem disappeared.

[2021-01-11 12:51] #3551 closed

[2021-01-11 17:07] mam8270 commented on #2302
This seems to have been a bit premature in closing. The awspca-issuer project looks dead  and  not quite production ready. https://github.com/codingvirtues/awspca-issuer/issues/5

[2021-01-12 11:18] ondrejtomcik commented on #3404
@meyskens I don't think this is an edge scenario. First of all, mixing key usages and extended key usages is IMHO not a good idea. If it would be separate, validation would be straightforward - key usages as a predefined set and extended key usages as OIDs.

Do you have a proposal on how to modify the codebase to support custom OIDs? I am willing to contribute but don't want to introduce something

[2021-01-12 11:22] munnerz commented on #3404
The validation works fine - the issue that Maartje raised here is related to validating you aren't *overlapping* with an existing pre-defined usage (or _extended_ usage) when you specify a custom OID by its raw value.

I personally don't think this is a use-case that we should support as part of the *Certificates* API - if you need to make use of custom OIDs, I'd recommend generating your own CSR

[2021-01-12 11:34] ondrejtomcik commented on #3404
It's very straightforward to compare user-defined OID with OIDs of pre-defined keyUsages. In case the user would define custom OID as well as its string representation, it can be easily discovered [in here](https://github.com/jetstack/cert-manager/blob/master/pkg/util/pki/csr.go#L146) or level deeper and include it into CSR just once. Or am I missing something?

Certificate API should IMHO support

[2021-01-12 11:40] munnerz commented on #3404
It'd be brilliant if you can provide some example YAMLs etc to demonstrate what you mean here, so we can have some common talking ground 😄

I'd also note that in future we'll be adopting the `certificate.k8s.io` CertificateSigningRequest type in future, which would be a replacement for our own CertificateRequest resource: https://github.com/kubernetes/api/blob/1198ffc40d001e229a7367071cd3eb9eb84f2

[2021-01-12 12:52] ondrejtomcik commented on #3404
Example:
[code]
`1.3.6.1.4.1.44924.1.6` is the OCF's custom OID. Check line 2350 in [this specification](https://openconnectivity.org/specs/OCF_Security_Specification_v2.2.1.pdf).

I think yes, in the same way. But in the case of `CertificateRequest`, the user can specify his own CSR and include extended key usages there on his own.

Do you want to support only k8s resource definitions - stop exte

[2021-01-12 16:52] aogg commented on #3501
cert-manager version: 1.1.0

install:
helm install \
  cert-manager jetstack/cert-manager \
  --namespace cert-manager \
     --set ingressShim.defaultIssuerName=letsencrypt-prod \
   --set ingressShim.defaultIssuerKind=ClusterIssuer \
   --set ingressShim.defaultIssuerGroup=cert-manager.io \
  --version v1.1.0

+1

[2021-01-13 05:51] devurandom commented on #2971
@KoviaX This issue appears to have been resolved by DigitalOcean. I just received an email that my cluster would be automatically updated and the error messages are gone from the "Version Upgrade" dialogue in the DigitalOcean UI. Can you please confirm?

[2021-01-13 10:09] Gaadek commented on #3406
Same issue here. That's really weird, 1 or 2 weeks ago I've been able to setup cert-manager with Let's encrypt, today I'm not able to reproduce the exact same steps.

[2021-01-13 10:09] satr opened #3561 "Broken link"
In the sentence `This will upgrade you to the latest version of cert-manager, as listed in the Jetstack Helm chart repository.` link is broken:
https://hub.helm.sh/charts/jetstack
It should be probably referring to:
https://artifacthub.io/packages/helm/jetstack/cert-manager

[2021-01-13 10:25] ondrejtomcik commented on #3404
What do you think @munnerz ? :)

[2021-01-13 11:06] arfatbk commented on #1292
Although this is a dirty/temporary solution, But worked for me.
Hairpinning is not a best solution at all.

[2021-01-13 15:05] tibbe opened #3564 "Document which pod makes the http01 self check"
**Is your feature request related to a problem? Please describe.**
I'm trying to debug a "wrong status code '404', expected '200'" issue. I'm suspecting the issue is due to communications between pods, as I can get to the `/.well-known/` challenge URL from a machine external to the cluster. In other words I think the self-check fails where the actual Let's Encrypt check wouldn't.

**Describe the s

[2021-01-13 15:36] ragoragino opened #3565 "requestmanager_controller got stuck in a loop and stopped generating new certificates afterward"
**Describe the bug**:
At some point, it seems that the communication between the cert-manager-cainjector and ServerAPI stopped working (we received few EOF logs and subsequently "Successfully Reconciled" logs in the cert-manager-cainjector). However, after the communication restarted, we started receiving:
[code]
After another while (like 10s), the controller moved further in the processing of ite

[2021-01-13 16:25] tibbe commented on #3564
I'm probably running into https://github.com/jetstack/cert-manager/issues/1292 but the docs would still help as I'm trying to work around that issue (with iptables rules) and run into other errors, such as:

[code]

Again it would be helpful to know which pod tried to make that request so I can debug that pod.

Maybe https://cert-manager.io/docs/concepts/ would be a good place for such docs.

[2021-01-13 17:18] whitelion-github opened #3567 "Install cert-manager 1.1.X on kukernetes 1.19"
When I apply manifest against my openshift cluster 4.6.8 (kubernetes 1.19), the manifest hang at the third resource to create.

[RHEL7:  ~/git/certmanager/cert-manager]> oc apply -f cert-manager-1.1.0.yaml
CustomResourceDefinition "certificaterequests.cert-manager.io" configured
CustomresourceDefinition "certificates.cert-manager.io" configured
[wait]

The installation work well on a 1.17 kubernet

[2021-01-13 18:23] electrical opened #3568 "Feature: ACME Route53 credentials both in secret resource"
**Is your feature request related to a problem? Please describe.**

At the moment the access key is a plain string and the secret key is in a secret.
It would be great if both could be in a secret resource like a lot of other applications.

the external-dns project uses ENV vars for the AWS creds which subsequently come from the same secret resource.

I'm not using something like KIAM because I on

[2021-01-13 19:31] alanjcastonguay commented on #3568
I sometimes want to see this for Azure credentials too. The `azuredns.clientID` is currently embedded in a `ClusterIssuer` resource, but the string is already present in a secret (the same secret cited by `azuredns.clientSecretSecretRef.name`). Single-sourcing both fields from the secret would be nice. Though I don't have an argument for/against `subscriptionID`, `tenantID`, etc.

[2021-01-14 09:24] jniebuhr opened #3573 "New AWS PCA Issuer"
As mentioned in #2302 and codingvirtues/awspca-issuer#5 the project that's referenced on the website seems to be dead.
I have written a new issuer that will be maintained. You can find this issuer at https://github.com/jniebuhr/aws-pca-issuer.
It contains fixes for some of the issues the old one had and also a pre-built Helm chart.

I want to suggest referencing to the new one instead.

/kind feat

[2021-01-14 09:25] jniebuhr commented on #2302
I built a new issuer at https://github.com/jniebuhr/aws-pca-issuer. I have also opened the issue #3573 to replace the unmaintained one.

[2021-01-14 15:37] 4nx opened #3574 "Unable to load initial CA bundle - due to configmap not found"
**Describe the bug**:
Currently I am trying to create a new cert-manager-webhook for the DNS Proivider Joker.com. While I was able to finish the code, run the test suite, and deploy via Helm including ARM builds, I am now failing with an error that I can't fix. The deployment runs on this kubernetes node under K3s:
[code]
The errors which are logged within the pod are the following:
[code]
Normall

[2021-01-14 16:05] raphink commented on #3404
@ondrejtomcik in my case, I'll need values for OIDs as well, so this interface wouldn't work.

[2021-01-14 20:04] tibbe commented on #1292
In addition to the problem with NAT, I'm not sure assuming that a pod can call back into the cluster using an externally-resolved domain name is a good idea. There could be other reasons why a cluster admin wouldn't want to allow that (e.g. security or just enforcing that pods shouldn't talk to pods they don't need to talk to). To me it seems best to just wait for the components that need to be up

[2021-01-14 20:55] ondrejtomcik commented on #3404
What do you mean by I need values for OIDs? Do you mean binary representation?

[2021-01-14 21:10] tibbe commented on #1292
This didn't work for me in the sense it doesn't work on a single node cluster (where everything has affinity :)).

[2021-01-15 11:21] wallrj commented on #3555
TPP server is fixed:

We've re-enabled the Venafi TPP tests:
 * https://github.com/jetstack/testing/pull/412

And tests seem to be passing:
 * https://prow.build-infra.jetstack.net/view/gcs/jetstack-logs/logs/ci-cert-manager-next-e2e-v1-19/1350033578355855361

Closing.

[2021-01-15 12:05] trantor1 commented on #863
In DNAT Scenarios just set externalIP of a ingress Service to your external IP Addresses.
[code]

kubernetes, configured with iptables, mostly standard setup,
creates iptables rules to redirect cluster internal requests to external ip's to apropriate services.
[code]

[2021-01-15 14:10] raphink commented on #3404
Puppet allows to attach extensions with values (OIDs) to certificates, ex:

[code]

Each of the `pp_*` keys correspond to an OID and a value.

See https://puppet.com/docs/puppet/7.1/config_file_csr_attributes.html

[2021-01-15 14:18] ondrejtomcik commented on #3404
Thanks for more details @raphink. Do you have a proposal on how the interface should look like?

[2021-01-15 14:23] ondrejtomcik commented on #3404
Based on the documentation, there are two ways in puppet. What you wrote is optional - referencing OIDs by puppet defined numeric ID. Second one is

I am not sure about your use-case, but why do you need []byte, and why do you need to reference custom IDs puppet has for OIDs if you can use directly number representations, which I used as well in my proposal?

[2021-01-15 16:52] codefrau opened #3576 "Cert-manager does not respect TTL"
In #1507, @moriyoshi diagnosed a caching issue. I ran into the exact same issue and only after banging my head against the wall for hours found that the workaround was to manually kill the cert-manager pod.

_Originally posted by @moriyoshi in https://github.com/jetstack/cert-manager/issues/1507#issuecomment-571993051_:

[2021-01-15 19:10] 4nx commented on #3574
I am closing this bug here, because I found this: https://bugzilla.redhat.com/show_bug.cgi?id=1812877

[2021-01-15 19:10] #3574 closed

[2021-01-15 19:36] howardjohn opened #3577 "Add CRD categories"
**Is your feature request related to a problem? Please describe.**
Add a `category` to all cert-manager CRDs, like `cert-manager` or similar

**Describe the solution you'd like**
I was debugging an issue with a certificate not being issues. I don't know all of the cert manager CRs that may be involved, so I wanted to look at all of them. However, I didn't find a good way to do that.

CRD's allow a

[2021-01-15 19:42] meyskens commented on #3577
/area deploy
/priority important-soon

[2021-01-15 20:27] pebodk opened #3578 "problem with kubernetes v 1.19 challange get 404 expected 200"
[code]
**Describe the bug**:

**Expected behaviour**:

I expect that the challange request will be routed correct so it can be resolved
**Steps to reproduce the bug**:

**Anything else we need to know?**:
[code]
---
**Environment details:**:
- Kubernetes version: 1.19
- Cloud-provider/provisioner: IBM Cloud
- cert-manager version:  v1.1.0
- Install method: e.g. helm/static manifests
 kubectl apply

[2021-01-15 22:48] hsirale commented on #3087
Lovely ... it would be nice to find it in the doc as well 👍🏽

[2021-01-16 00:56] marcellodesales opened #3579 "HTTP01 ACME challenge: 404 in Nginx Controller: Certificate created with invalid "1234567890" host is not trusted"
**Describe the bug**:

* The certificate gets created with the wrong value
* `cert-manager.local`
* Host `"1234567890" certificate is not trusted`
  * Even through the certificate is created

# Possible related issues

* https://github.com/jetstack/cert-manager/issues/3578
* https://github.com/jetstack/cert-manager/issues/2842

# Bug behavior

* Although the certificate is issued

[code]

* It is

[2021-01-16 00:58] marcellodesales commented on #3579
I think the problem described at https://github.com/jetstack/cert-manager/issues/3578 is very similar to what I'm experiencing... We have 2 different isolated clusters in `Azure` and they have similar behavior with the latest version...

[2021-01-16 00:59] marcellodesales commented on #3578
@pebodk Any luck in getting it to work? I've spent a good 10 hrs on this and I can't find a root cause...

[2021-01-16 08:43] raphink commented on #3404
Sure I can use the number OIDs instead of the aliases. I still need to provide values for them though, so a list of OIDs won't do.

[2021-01-16 14:42] himslm01 commented on #1292
Further example of when skipping self-check is needed is when split-DNS exists.

Imagine
* a public facing zone with very few basic records
* a private zone, possibly with sub-domains

The dns01 with rfc2136 solver in an `Ingress` will cause, via the configuration in an `Issuer`, to update the public zone, using the IP address and tsig credentials in the `Issuer`.

The private zone will not be upd

[2021-01-16 21:41] ondrejtomcik commented on #3404
@raphink I am pretty sure that I missing something because I don't understand your use-case. What value do you have in mind? OID value is what is written above - `1.3.6.1.4.1.44924.1.6`. That's all, nothing more, nothing less.

[2021-01-16 21:52] raphink commented on #3404
Then maybe it's my understanding of OpenSSL OIDs that is lacking.

In

[code]

the OID only replaces the key (`pp_image_name`), right?

[2021-01-16 23:15] pebodk commented on #3578
IBM cloud switched their Ingress type i think this is the problem ..

[2021-01-18 04:33] suhail-sullad commented on #1403
@Mayuraggarwal1992 refer #3346. there is a KB link of a working configuration.

[2021-01-18 09:54] meyskens commented on #3567
What version of kubectl (oc) are you using?

[2021-01-18 10:24] ondrejtomcik commented on #3404
I never experienced adding something more than plain OID to the EKUs.
But as interface I described above accepts string, nothing prevents you to add there
`"1.2.840.113549.1.9.7=342thbjkt82094y0uthhor289jnqthpc2290"`, as in puppet.

[2021-01-18 10:28] meyskens commented on #3578
Can you do a curl on `<domain>/.well-known/acme-challenge/<token>` and check if you do also get a 404?
It seems somehow our generated ingress resource is not being passed to the outside correct.

/remove-kind bug
/triage support

[2021-01-18 10:42] wereldbolt commented on #3578
@meyskens I'm facing exactly the same issue. curl replies 200 after adding the ingress annotation `nginx.ingress.kubernetes.io/ssl-redirect: false`.

[2021-01-18 12:33] pebodk commented on #3579
Hi,
I can also verify that i can reproduce this with the same configurations as abow.
gets certificate with 1234567890

[2021-01-18 13:05] meyskens commented on #3579
`cert-manager.io/issue-temporary-certificate: true` causes the weird certificate while it is struggeling to get one signed using ACME.
For why that is failing i suggest to use https://cert-manager.io/docs/faq/troubleshooting/

/remove-kind bug
/triage support

[2021-01-18 13:13] meyskens commented on #3578
If you have a cert issued by cert-manager.local you have turned on issue-temporary-certificate. If you get a 200 in curl from your laptop try to do it from inside the cluster too

[2021-01-18 13:13] raphink commented on #3404
I'd be ok with that.

[2021-01-18 13:17] meyskens commented on #3579
closing in favor of https://github.com/jetstack/cert-manager/discussions/3581

/close

[2021-01-18 13:18] #3579 closed

[2021-01-18 13:38] meyskens commented on #3577
/assign

[2021-01-18 13:51] meyskens commented on #3576
I agree, we should preferably also keep it a short TTL even if the DNS record gives a large one to avoid delays.

/kind feature
/priority important-soon
/area acme

[2021-01-18 13:52] meyskens commented on #3576
/area acme-dns01

[2021-01-18 14:56] meyskens commented on #3555
/reopen

They seem to be failing again

[2021-01-18 15:06] marcellodesales commented on #3579
@meyskens thank you... I will report on what I did to resolve my environment

[2021-01-18 15:27] marcellodesales commented on #3579
# Partial Solution

* Setup Nginx ingress controller with `RBAC=true`

[code]

* Updated the `Ingress` resources annotations with the `ingress.kubernetes.io/rewrite-target: /`

[code]

# Result

* Cert is properly created
* However, Nginx Controller still shows the 301/404s

[code]

* HTTPS endpoint is now taking traffic properly

[code]

* Cert

[code]

# Nginx Logs still showing the errors

* Th

[2021-01-18 15:32] meyskens commented on #3579
`Go-http-client/1.1` isn't cert-manager, so not sure which app is making those requests

[2021-01-18 15:33] meyskens commented on #3573
Closing here as https://github.com/cert-manager/website/pull/404 is made

/close

[2021-01-18 15:33] #3573 closed

[2021-01-18 15:39] marcellodesales commented on #3578
@wereldbolt I tried something else I described at #3579... I get a valid certificate, but I still get the errors in nginx because the `order` object hasn't been removed... How I got a valid certificate? I hope someone from `cert-manager` can explain but I have gone through the troubleshooting and I need another break from this before I try again... :) Any leads?

[2021-01-18 16:26] marcellodesales commented on #3578
I can see the ingress created is there, but not exposed...

[code]

# Service curl

* Trying to curl the service from our pod
* I don't see an Address being assigned to the ingress
  * Could this be the root cause?
  * I tried to use the `ingress-class` and `edit` but that's why I was getting the certificate `1234567890`

[code]

[2021-01-18 18:18] pebodk commented on #3578
Hi I would like someone to clarify for my understanding how these two configurations is connected:

In a certificate you got
dnsNames:
  - demo002-api.manydigital.com
 and secretName: demo002-api-manydigital-com-tls

and in your ingress you also got
tls:
  - hosts:
    - XXXX-api.yyyyy.com
    secretName: XXXX-api-yyyyy-com

just to ensure i got this right.
should the secrets point to the same or

[2021-01-18 18:30] whitelion-github commented on #3567
[RHEL7: ce1091-5@lpopsa100 ~/client]> oc version
oc v3.6.173.0.113
kubernetes v1.6.1+5115d708d7
features: Basic-Auth GSSAPI Kerberos SPNEGO

I found a workaround.
https://github.com/jetstack/cert-manager/issues/3121

I realize that the crd has already been created earlier.
I deleted the crds and rerun the script and it worked.

[2021-01-18 19:50] ondrejtomcik commented on #3404
@munnerz ping

[2021-01-18 20:00] wereldbolt commented on #3578
@meyskens
Your tip brought me the solution. Thanks!

[2021-01-19 09:42] jstrachan opened #3584 "helm repo down?"
can't seem to use the helm chart repository https://charts.jetstack.io today.

Trying it redirects to https://artifacthub.io/charts/jetstack

[2021-01-19 09:51] JoshVanL commented on #3584
Hey @jstrachan, we are working in the background to get it up and running :slightly_smiling_face:

I'll pin this issue and update here on the progress.

[2021-01-19 10:07] JoshVanL commented on #3584
Should be back to normal now.

Will keep the issue up for a bit before closing in case something's still not quite right.

[2021-01-19 10:09] jstrachan commented on #3584
@JoshVanL just tried it in an incognito window + via curl and still get the redirect

[2021-01-19 10:23] JoshVanL commented on #3584
@jstrachan was this not what was happening before?

As far am I'm aware, Helm looks at `${repo-url}/index.yaml` (`https://charts.jetstack.io/index.yaml`) to find the contents on a repo.

All of

[code]

are working as expected for me.

Do let me know if this isn't that case for you.

[2021-01-19 10:23] jstrachan commented on #3584
ah! the redirect just confused me into thinking it wasn't working ;) - yes I can see the index.yaml now thanks!

[2021-01-19 10:53] jstrachan commented on #3584
seems to be working great thanks

[2021-01-19 12:39] kamolhasan opened #3585 "Creating Certificate (kind: Certificate) object with existing k8s certificate secret"
**Is your feature request related to a problem? Please describe.**

**Goal:** Make a decision from the Certificate custom resource object whether the k8s secret is created with the updated specifications or not.

Let's consider a situation, when the below k8s secret (ie. `es-archiver-cert`) already exists in my k8s cluster.

[code]

If I create a `Certificate` object with the same `secretName: es-

[2021-01-19 14:37] meyskens opened #3586 "inspect secret in cert-manager certificate definition"
**Is your feature request related to a problem? Please describe.**
In https://github.com/jetstack/cert-manager/pull/3457 a inspect secret was added to help humans to read certificates in Kubernetes secrets as well as checking often made mistakes.
As suggested by @JoshVanL in the original issue it would be nice to have it in a ` cmapi.Certificate` object definition too. However this cannot represta

[2021-01-19 14:39] meyskens opened #3587 "improve context handling in our CLI"
Suggested in https://github.com/jetstack/cert-manager/pull/3457#discussion_r552532021 we currently do no have shared code to do signal handling in our CLI this would be a nice addition to add to remove hacks  in our code around context right now.

/kind feature

[2021-01-19 16:08] ryanjn commented on #3148
@ppanyukov How did you find the rogue MSI?  I am having the same issue.  We had the `kube_dashboard` add-on installed and that had it's own identity.  We disabled that add-on, and i only see the identity created for the kubelets now, yet the error persists.

[2021-01-19 19:51] marcellodesales commented on #3579
@meyskens hummm, based on the service annotation, it might :) It has an property called `manager: Go-http-client`... Wouldn't that be related?

[code]

[2021-01-19 19:53] marcellodesales commented on #3578
@meyskens What solution? @wereldbolt could you describe how to turn off `issue-temporary-certificate`?

[2021-01-19 19:58] swarren83 opened #3588 "Auth using root namespace with approle even with spec.vault.namespace set"
**Describe the bug**:
When using an approle to authenticate to vault with `spec.vault.namespace` set in the `ClusterIssuer` the auth request is made to the root vault namespace instead of the configured namespace.

ERROR:
[code]

CONFIG:(sensitive information changed to protect the innocent)
[code]

**Expected behaviour**:
POST to URL `https://myvault.server.com:443/v1/my/namespace/auth/approle/lo

[2021-01-19 20:32] tibbe commented on #1292
If we were to get rid of the self-check in favor of a check for the right component to just be up, what are the things that need to be checked? I guess the pod, service, and ingress?

[2021-01-19 20:33] pebodk commented on #3578
i solved my problem with the following solution:

I do have problem with that i still need to redeploy some times before it is created correct.
Needed this on ingress and issuer config
Ingress :
  kubernetes.io/ingress.class: "public-iks-k8s-nginx"
Issuer:
 have this solvers:
    - http01:
        ingress:
          class: public-iks-k8s-nginx
 then the temporary ingress worked and my cert challan

[2021-01-19 20:47] adisong commented on #3588
Yeah I can confirm, from what I'm seeing in [constructor](https://github.com/jetstack/cert-manager/blob/master/pkg/issuer/vault/setup.go#L101) `v.resourceNamespace` is used but from what I understand this is k8s namespace of either `Issuer` or `ClusterIssuer` object. This should be `v.issuer.GetSpec().Vault.Namespace` or something along those lines.

[2021-01-19 21:32] ppanyukov commented on #3148
I did get this to work, yes, will try to dig out details tomorrow

[2021-01-20 02:37] jasperf opened #3589 "Add new domains from Laravel PHP on Demand"
We currently use an ACME 2 client and based on Laravel Jobs we schedule for new Let's Encrypt SSL Certificates for added domains and have them renewed using Laravel Jobs.

_Laravel Let's Encrypt Laravel Package to install Let's Encrypt SSL Certificates for customers using `A NAMES`. Based upon domain name used in Laravel commands and common A Name a certificate is generated and Nginx configuration

[2021-01-20 08:34] absynth76 commented on #1068
/reopen

could you please reopen this one, I also have the same issue using the legacy install (running 3.11) leaderElection namespace is by default kube-system, or the role + role binding  to create configmap in kube-system seems not present.

For info, I tried with a role defined like that:
[code]
but it did not work, it seems the controller is checking if it can create any names configmap,
I wo

[2021-01-20 11:11] JoshVanL commented on #3585
/kind feature

Hey @kamolhasan, due to how the certificates controllers work internally, the revision number doesn't get set until the a CertificateRequest has been kicked off. In this case it looks like that since the Secret is already valid for that Certificate, the revision won't get set.

I agree that this isn't necessarily great. I'd be keen to have this set to perhaps 0 in this case.

[2021-01-20 11:11] munnerz commented on #3585
Why do you want this behaviour? What are you trying to achieve?

Revision specifically refers to which revision of a *CertificateRequest* was used to issue a particular Secret. Therefore there is no revision associated with certificate data provided by the user. The certificate controller uses the revision field persisted to both `certificate.status.revision` and on the most recent still existing

[2021-01-20 11:13] munnerz commented on #3585
I see from Slack: `Hi guys, I'm having difficulties determining whether a k8s secret is updated with the latest changes in Certificate object.` - `status.revision` *cannot* confirm or deny this when you have manually supplied a Secret. The *readiness* condition will perform this check for you, but revision is *not* intended to be used for checking whether a k8s secret is up to date for a given Cer

[2021-01-20 11:20] anton-johansson commented on #1292
I think the more problematic part is to verify that the Ingress controller has actually picked up the `Ingress` and reloaded its configuration (?).

[2021-01-20 11:48] guisilva-cid commented on #2147
It finally worked on my cluster, kudos to @hendrikhalkow and @munnerz !

[2021-01-20 12:20] mialkin commented on #2439
Check out my [Stack Overflow answer](https://stackoverflow.com/a/65809340/1833895) which is using just `Issuer` instead of `ClusterIssuer`. Maybe it will work for you too.

[2021-01-20 13:52] kamolhasan commented on #3585
@munnerz Hi, we're creating the Certificate objects from a CRD controller when a CRD object is created.

- When a Custom Resource object is created, our operator creates the Certificates object based on the specification we provided via the Custom Resource object.

- Now, we watch the Certificate object (ie. the `status.revision`) to make sure that the k8s secret is created.

- When we update our

[2021-01-20 13:56] kevin-shelaga opened #3592 "Ability to not create ca.crt"
I have a self signed cert and I need it to be created without a ca.crt.

I was expecting setting isCA: false would not create a ca.crt in the secret.

#cert manager 1.1.0

[code]

[code]

![image](https://user-images.githubusercontent.com/65769106/105184374-470a1180-5afd-11eb-8275-14de6a011a83.png)

[2021-01-20 14:38] tamalsaha commented on #3585
@munnerz , to add to what @kamolhasan said, I want to clarify the bigger picture:

1. Use created our db object, in turn our operator creates CertificateReuqest object and we get new secrets. This is all good.
2. Now, user deletes our object, we delete the certificate object but the secret is left there (since no  owner ref). We can't enforce that our users always enable owner ref.
3. Now, user re

[2021-01-20 14:41] munnerz commented on #3585
Checking for the Ready condition should be sufficient in this case then. Cert-manager will set this to False if the certificate stored in the secret is not up to date (it does so by applying a more basic heuristic to the issued x509 certificate if the previous CertificateRequest object is not available, like in these instances).

If the Ready condition is set to True, you can be sure that the Secr

[2021-01-20 14:48] kamolhasan commented on #3585
@munnerz To be clear, If we apply changes to the already condition-Ready-True Certificate, The Ready is set "False" instantaneously, and once the secret is verified it becomes "True" again?

[2021-01-20 14:49] wallrj commented on #3555
There seem to be "flaky" rather than outright failed tests. E.g. https://prow.k8s.io/view/gcs/jetstack-logs/logs/ci-cert-manager-e2e-v1-19/1351886931645960193 where the test `[Conformance] Certificates with issuer type Venafi ClusterIssuer should issue a basic, defaulted certificate for a single Common Name` succeeded the second time round.

The logs contain many copies of this error:
[code]

Coul

[2021-01-20 15:21] #2847 closed

[2021-01-20 15:25] tamalsaha commented on #3585
We have draw a sequence diagram for the `sad case` . How can we determine that the cert-manager operator has checked that the tls secret is Ok (R2-A) ?

![TLS secret issue](https://user-images.githubusercontent.com/94814/105196430-76665180-5af0-11eb-84bb-642097dbcfb3.png)

[2021-01-20 15:29] munnerz commented on #3585
This reminds me of a previous request we have had for adding a
`status.observedGeneration` field to our resource types - this would at
least allow you to ensure the current status is correct for a given
instance of the spec.

This is made slightly more complex as we have multiple different
controllers that work together to implement the full certificate
reconciliation flow. We would need some inte

[2021-01-20 15:58] lleifermann commented on #3377
I would like to bump this issue, as we are also facing some problems, due to the fact that we have to manually install the crds. Are there any arguments against moving the crds into a dedicated folder as described here?
https://helm.sh/docs/chart_best_practices/custom_resource_definitions/#method-1-let-helm-do-it-for-you

[2021-01-20 16:31] meyskens commented on #3592
`isCA` applies to the x.509 flag "is ca" https://golang.org/pkg/crypto/x509/#Certificate

The ca.crt key in the secret is set by the issuer to represent which CA it is signed by. Is there any reason you would not want this set?

[2021-01-20 16:43] kevin-shelaga commented on #3592
@meyskens I am using the cert for a dev websites https with Gloo api gateway. It seems like in the latest version, the presence of the ca.crt is activating mtls, which I do not want. Deleting the ca.crt fixes the issue.

[2021-01-20 16:48] meyskens commented on #3592
I see we currently do not have the feature to do that (quite the reverse as many users are asking it to have more ca.crt entries). As a workaround i might suggest mounting only specific keys for now.

[2021-01-20 17:44] sbstp opened #3594 "Certificate sometimes fails to issue properly"
**Describe the bug**:

We are using cert-manager + letsencrypt staging in our test pipeline. The pipeline only runs a few times a week, so it's well under the limits of letsencrypt staging. Our certificate sometimes fails to issue properly. We know that our config is OK since it usually works fine. However in the last week we had two failures caused by cert-manager failing to issue the certificate

[2021-01-21 08:47] andreasolund opened #3596 "Backoff strategy for failing challenge requests"
**Is your feature request related to a problem? Please describe.**

I'm running Cert-Manager within an EKS cluster to issue LE certificates through DNS01 challenges with Route53. I've setup the [role-based approach](https://cert-manager.io/docs/configuration/acme/dns01/route53/) described in the docs.

I've been mostly successful using this approach. But I've noticed that when my ClusterIssuers or

[2021-01-21 09:36] maelvls commented on #3596
Hi!

Not sure but this bug might also have been reported in https://github.com/jetstack/cert-manager/issues/3222; can you confirm that it is the same bug?

It was fixed in https://github.com/jetstack/cert-manager/issues/3222, which is part of cert-manager [v1.2.0-alpha.0](https://github.com/jetstack/cert-manager/releases/tag/v1.2.0-alpha.0) if you want to try it out.

[2021-01-21 10:14] maelvls commented on #3585
Could we use an annotation on the secret to signal that this secret is "final/ready"? (like for the certificate's status.revision) The annotation would only be set when the secret is ready to be consumed?

e.g.

[code]

After thinking about it twice, I realize that it would "only" work for the first issued certificate; afterward, there would be no way to know if this secret's content is "final/rea

[2021-01-21 10:17] munnerz commented on #3585
I think the standard pattern for this in Kubernetes is to have an `observedGeneration` field (and is then also easy to determine by just inspecting the one Certificate object in @tamalsaha's case above). See also https://github.com/jetstack/cert-manager/issues/1551.

@tamalsaha would having this field in the `status` of the Certificate object help you? This would be set once all of our Certificate

[2021-01-21 10:19] andreasolund commented on #3596
Thank you @maelvls for the quick answer. It very much sounds like the same issue, and seems plausible that your fix will resolve my issues. 🙂

[2021-01-21 10:25] kamolhasan commented on #3585
@munnerz So, Having generation at status we can confirm by checking `metadata.generation==status.generation`?

[2021-01-21 10:27] munnerz commented on #3585
So if we had `status.observedGeneration`, you'd need to check two things to verify that the certificate is 'ready' (and also avoid the issue @tamalsaha described):

1) Check the `status.conditions[name="Ready"]` to ensure that the condition is 'True' (i.e. the certificate is marked Ready)
2) Check that `metadata.generation` == `status.generation` - if these are *NOT* equal, it implies that cert-ma

[2021-01-21 10:30] kamolhasan commented on #3585
@munnerz I think it will work. Let's see if @tamalsaha adds something.

[2021-01-21 10:57] JoshVanL commented on #3584
We have now also changed some things on our end which should prevent this particular issue happening again.

Going to close this issue.

/close

[2021-01-21 10:57] #3584 closed

[2021-01-21 13:01] tamalsaha commented on #3585
Thanks, folks! I think this works for us. I wonder how much work involved in addressing this issue.

[2021-01-21 13:56] munnerz commented on #3585
I think we'll want some kind of 'observedGeneration updater' controller or something, at least for the *Certificates* controller. There are 5 or 6 distinct reconcilers that make up the certificates controller (https://github.com/jetstack/cert-manager/tree/master/pkg/controller/certificates), and we'll need to ensure that all of these have had a chance to reconcile the resource at a given generatio

[2021-01-21 14:06] tamalsaha commented on #3585
I don't enough about the cert-manager to make any comments. But as you may already know, the standardized conditions has `observedGeneration` field. https://github.com/kubernetes/enhancements/tree/master/keps/sig-api-machinery/1623-standardize-conditions#proposal

What we have seen to work for us is that only the main controller should be in charge of updating the `status.obsrvedGeneration`. The s

[2021-01-21 14:12] munnerz commented on #3585
Not having a top-level `status.observedGeneration` and instead having condition-specific ones _only_ would certainly make this a lot simpler. We would not need the top-level 'tracking' of each individual controller, and as each *condition* only has one controller that manages it, this would be easier for us to add.

That said, it occurs to me that if the *Secret* resource were to be manually edite

[2021-01-21 14:15] munnerz commented on #3585
Also, so we're all on the same page, there are 2 different conditions that cert-manager adds to Certificate resources:

* Ready - managed by the 'readiness' controller in `pkg/controller/certificates/readiness`
* Issuing - managed by the 'trigger' controller (which sets this to *True*), and then set to *False* by the 'issuing' controller

Readiness shouldn't be too difficult to add `observedGenera

[2021-01-22 06:04] maelvls commented on #3596
Excellent!! Let me know if you think the issue still seems to be here 😊 👍

[2021-01-22 07:23] andreasolund commented on #3596
Will do. 🙂

[2021-01-22 07:23] #3596 closed

[2021-01-22 09:31] harshal-shah opened #3597 "Copy labels of certificate resource to the generated secret"
**Is your feature request related to a problem? Please describe.**
In the current implementation, the `secret` resource created by cert-manager is missing labels.
It would be nice to know which secrets are created by cert manager by querying a label.
For example, I'm trying to migrate `kiam` to use certs created via cert-manager. It is hard to know by looking at labels, which cert is created by ce

[2021-01-22 09:40] primael opened #3598 "Add a label to the pods that are creating certificates"
When a k8s is protected by gatekeeper and the https only constraint is activated, this blocks the launch of the pod for the generation of the certificate.

Add a custom label that can be used in gatekeeper or other exceptions.

**Environment details (remove if not applicable)**:
- Kubernetes version: 1.19.4
- Cloud-provider/provisioner: on-premise
- cert-manager version: v1.1.0
- Install method: h

[2021-01-22 09:45] mn185129 opened #3599 "Create certificate issue (showing in progress only)"
We trying to certificate in our environment but the certificate status showing in progress only. How can we fix this issue?

[code]
* We followed the below steps
1. installed Istio 1.6
2. Installed cert-manager by following these steps:
kubectl apply --validate=false -f https://github.com/jetstack/cert-manager/releases/download/v0.15.1/cert-manager.yaml

3. Created ClusterIssuer using below yaml
[

[2021-01-22 10:57] #3589 closed

[2021-01-22 11:44] larsskj opened #3601 "Missing nodeSelector on challenge pods"
I'm trying to get cert-manager working with Traefik in an AKS cluster running in Azure. I suppose this will work fine in an ordinary cluster - but our cluster has Windows nodes as well as Linux nodes.

And this doesn't work very well as Kubernetes tries to schedule cert-manager pods on a Windows host.

I have installed cert-manager using the current Helm chart. At first installation failed - but w

[2021-01-22 12:26] wallrj opened #3602 "Make it easy to run the issuer conformance tests for any external issuer"
In https://github.com/jetstack/cert-manager/pull/3514#discussion_r560198830 @JoshVanL wrote;

This would allow developers of external issuers to check that their issuer.
And it would allow us to test external issuers before listing them on our website.

/kind feature

[2021-01-22 12:37] #3152 closed

[2021-01-22 15:19] #3206 closed

[2021-01-22 15:38] larsskj commented on #3601
To emphasize the problem: I've created a workaround for now by tainting all Windows nodes.

This works - but it's not the way to go. The proper solution would still be to add the right nodeSelector. I actually believe this can be hardcoded - `cert-manager` will always need a Linux node, won't it?

[2021-01-22 16:07] Rio commented on #3592
I'm very happy to have it in the secret actually. But having an option to disable it is a must as it seems to break some things. For example with Traefik we can't use these secrets for mTLS between Traefik and it's backends because Traefik mandates only 2 files to be present in the secret.

[2021-01-23 18:50] marcellodesales commented on #3579
# Solution

* Switched to `DNS01` :)
  * Both Azure and AWS work properly

[2021-01-23 23:30] mihairadulescu commented on #992
@victornoel  i`m more assamed you are asshamed cas i`m the same typo as you :)

[2021-01-25 06:06] ekimia commented on #3009
@txomon did you manage to figure out how to enable issuer-ambient-credentials with the helm chart?

[2021-01-25 07:47] Useurmind commented on #3592
We are using the nginx-controller which also does not accept secrets with the `ca.crt` field for TLS. Deleting the `ca.crt` field from the secret makes the ingress-controller pick up the secret for TLS.

Although I have to say in the source code it looks like the nginx-ingress is using the presence of the `ca.crt` field to check whether it is a CA certificate or a server cert.
https://github.com/k

[2021-01-25 09:55] txomon commented on #3009
@ekimia yes, although redundant, I found it difficult to undertand how exactly things are connected, so I will write here just all the steps to get it working. You need:

* GCP Service account (gsa)
* Kubernetes service account (ksa)

I use the default ksa of the namespace to set up the permissions. The regular steps to use Workload Identity:

1. Create the gsa
1. Give GCP IAM role `roles/iam.work

[2021-01-25 11:36] Rio commented on #3592
I've created a PR to Traefik that will at least tolerate this behavior without losing backwards compatibility. https://github.com/traefik/traefik/pull/7789

[2021-01-25 13:01] irbekrm commented on #3587
/assign

[2021-01-25 16:15] gmauleon commented on #3594
I had some similar issues on multiple clusters with version `1.0.4`, seems to appear randomly 😢  .
Symptoms: some challenges are stuck in an invalid state that will never recover (i.e: 70% will be good and valid, the rest are stuck in invalid, got 12 hostnames including wildcards to validate on this particular certificate).

It takes some tinkering to unlock the situation (delete invalid challenge

[2021-01-25 17:19] flmmartins commented on #3558
I fix this by pin down the version in the crds installation.

[2021-01-25 17:19] #3558 closed

[2021-01-25 19:34] paulternate commented on #3555
Hi team - I am looking into this with the environment provider CloudShare. At this point, I'm leaning toward a networking issue as @wallrj commented. I'm not seeing any errors in the Venafi Platform logging, so it's acting as if the requests are being blocked before reaching Venafi.

[2021-01-25 20:56] justinkillen opened #3603 "Multiple CertificateRequest objects (6) created within 60 seconds of each other for a single Certificate resource"
**Describe the bug**:
I’m noticing an issue where cert-manger is generating multiple CertificateRequests for a single Certificate (6 within a span of 24 minutes).  When this happens, the first 5 succeed (up to the LE "Duplicate Certificate limit of 5 per week"), but the 6th one fails with a 429 error: "too many certificates already issued for exact set of domains".  Looking at https://crt.sh, I do

[2021-01-25 21:09] jonaskello commented on #3601
I'm facing the exact same issue. Installed with helm chart v1.1.0 and set ` nodeSelector: kubernetes.io/os: linux` however this nodeselector does not get applied to the solver pods that are created for acme:

[code]

[code]

So I get `no matching manifest for windows/amd64` becuase it was assigned to a windows node.

The same issue existed in the chart for ingress-nginx but there they have now [se

[2021-01-26 08:43] irbekrm commented on #3587
I think I will use the stop channel created [here](https://github.com/jetstack/cert-manager/blob/master/cmd/ctl/main.go#L28) to make a `context.WithCancel` and use that instead of creating `context.TODO()` everywhere in `/cmd/ctl`, similarly to how it's done for example [here](https://github.com/jetstack/cert-manager/blob/master/cmd/cainjector/app/start.go#L108)

[2021-01-26 11:45] meyskens commented on #2868
/assign

[2021-01-26 16:45] mn185129 commented on #3599
Any help on this ticket?

[2021-01-26 18:46] NBroomfield commented on #1672
I've got the same issue, it looks like the certificate have been created and issued:

  Normal  Requested  32m   cert-manager  Created new CertificateRequest resource "appapi-tls-secret-jcbj7"
  Normal  Issuing    31m   cert-manager  The certificate has been successfully issued

  Normal  CreateCertificate  32m                  cert-manager              Successfully created Certificate "appapi-tls

[2021-01-26 20:31] techgnosis commented on #1687
I'm also stuck on this.

Does it want the actual plain-text contents? For example,

caBundle: |
  -----BEGIN blah blah-----
    adgasdfsaf
  ------END blah blah------

Does it want it as a single line?
caBundle: -----BEGIN blah blah ------xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx------END blah blah-----

Does it want the whole thing encoded again?
caBundle: AB7239C3029BCE12387

It's unclear and I c

[2021-01-26 22:21] mikebryant commented on #3601
While I agree this should be fixed by default, there is a way of setting this in the current release.

The `spec.acme.solvers[].http01.ingress.podTemplate.spec.nodeSelector` field can be set in the `Issuer` / `ClusterIssuer` object to add this nodeSelector. The helm chart isn't doing this because it doesn't create any issuers, that's left to the user. See https://cert-manager.io/docs/configuration

[2021-01-26 23:27] mikebryant commented on #3564
My intuition would be that the Pod executing the self-check is the Pod that produces the log message, which would be the cert-manager controller in this case?

[2021-01-27 00:01] mikebryant commented on #3220
While https://github.com/golang/crypto/pull/109 was never merged, it looks like the change did make it upstream in https://github.com/golang/crypto/commit/9d1352758620574fd6fc23c31c59c4333b4b3fff#diff-5e5688f8837e9b71f5af5974a09984bb41fd3b361ca5d773240e581b96505a42

I think this only covers the ExternalAccountBinding change though, the FetchCertAlternatives was never proposed upstream?

[2021-01-27 09:52] JoshVanL commented on #3231
From my perspective, it would make sense to not `os.Exit(1)` here if the connection to the master is lost, and the controllers fail to renew their leader election. I would have thought that it would make sense for all reconciles to finish, the scheduler to de-queue everything, mark itself as not ready, and wait in a passive state.

This means that we are not restarting the pods multiple times duri

[2021-01-27 10:02] vd-rd commented on #3377
Hello,
I would also like to bump this issue, as it would make the chart rendering tool to default to helm3.
My use case is loading the chart in ArgoCD which uses helm2 or helm3 based on the apiVersion in the Chart.yaml
Right now v1 is used which defaults to helm2. Due to the fact that helm2 is EOL this might create issues in the future when it is deprecated from ArgoCD.

Technical setup: FedoraSer

[2021-01-27 10:14] coderanger commented on #3231
Echoing my statements from Slack, the intention is to rapidly terminate all running reconciles or other actions because by definition they are no longer safe if we have lost the leader lock. That could be done more gracefully, but the process exiting ensures everything is 100% stopped ASAP :)

[2021-01-27 10:48] maelvls commented on #3603
Hi! Thank you for the nice bug report!! I'll take a look

/assign

[2021-01-27 11:50] munnerz commented on #1551
ref https://github.com/jetstack/cert-manager/pull/3545#discussion_r565232466 this feature would also be useful here
Also ref https://github.com/jetstack/cert-manager/issues/3585

In both these instances, we are discussing adding `observedGeneration` to each *status condition* rather than one overarching `status.observedGeneration` field.

/reopen

[2021-01-27 11:50] munnerz commented on #1551
/remove-lifecycle rotten
/area api

[2021-01-27 12:51] mikebryant opened #3606 "Provide windows images for all components"
**Is your feature request related to a problem? Please describe.**

The default behaviour on a mixed-os or windows-only cluster is for cert-manager components scheduled on windows Nodes to not start.

**Describe the solution you'd like**

Provide windows images so these components can start on any Node

**Describe alternatives you've considered**

Setting default nodeSelectors for linux, discussed

[2021-01-27 13:44] #3577 closed

[2021-01-27 13:53] malacoss commented on #3293
Same issue in v1.1.0 @kfirfer may you reopen please?

[2021-01-27 13:56] kfirfer commented on #3293
Reopened

[2021-01-27 13:59] james-w commented on #3293
@malacoss would you open a new ticket with the information about the symptoms you are seeing. The code has changed and it will cause confusion to try and handle it here. Thanks.

[2021-01-27 13:59] #3293 closed

[2021-01-27 14:31] #3587 closed

[2021-01-27 15:28] #3098 closed

[2021-01-27 15:47] gidesh opened #3608 "Unable to renew certificate for some cert hosts with propagation check failed"
**Describe the bug**:

Certmanager expectedly renews the certificate of all our tenant's host that we have configured on our K8s cluster. Unfortunately, it is not able to renew some of the hosts for some unknown reason. There is not enough in the logs to suggest why except for the `propagation check failed` error.

We fix the issue by deleting the `secret` and the `order` and let cert-manager crea

[2021-01-27 18:55] yaroslavkasatikov opened #3609 "oauth2: cannot fetch token: Post \https://oauth2.googleapis.com/token": x509: certificate signed by unknown authority""
Hello team,
I trying to configure cert-manager with ACME cluster-issuer and smallstepCA. All worked fine with http01 solver but decided to try checking dns01 solver with GloudDNS (private zone which solved from cluster VPC correctly).
[code]

Certificate resource:

[code]

Certificates are not issue. Here is the event for Certificates resource:

[code]

Here is event for CertificateRequest:

[code

[2021-01-27 21:09] k3a opened #3610 "ACMEDNS with reused credentials for many domains makes it impossible to issue a certificate"
**Describe the bug**:

I configured cert-manager with ACMEDNS (DNS01 challenge) according to the [official docs](https://cert-manager.io/docs/configuration/acme/dns01/acme-dns/), **reusing the same credentials block** in the Issuer config for the main wildcard and multi-level wildcard domains (`e.g. *.domain.com, *.clients.domain.com`), using an ACME-DNS instance hosted on a different domain (`e.g

[2021-01-28 08:50] maelvls commented on #3439
I came across this exact weird behavior this morning 🤔

The helm index is served correctly:

[code]

but https://charts.jetstack.io does not seem to redirect to the place:

[code]

I would expect https://charts.jetstack.io to redirect to https://hub.helm.sh/packages/search?repo=jetstack instead of the 404 https://hub.helm.sh/charts/jetstack

Does it make sense? @meyskens

[2021-01-28 09:20] eXpire163 opened #3611 "Order expires on renew"
**Describe the bug**:

cert-manager is running on aws/eks and uses a private ACME. Requesting initial certificate works fine. When it comes to an update the order expires:

[code]

**Expected behaviour**:
The expired order appears seconds after the renew was triggered.

**Anything else we need to know?**:

**Environment details:**:
- Kubernetes version: 1.16
- Cloud-provider/provisioner: aws/eks
-

[2021-01-28 09:21] oguzkilcan commented on #3148
@ppanyukov Could you please share how did you find the rouge MSI and how did you get this to work?

[2021-01-28 11:27] larsskj commented on #3601
Sorry I overlooked that config. I'll test it as quickly as possible.

Nevertheless, I think all of us agree that this should be set by default?

[2021-01-28 14:07] ppanyukov commented on #3148
@ryanjn @oguzkilcan : It's been a while since I touched this. So yeah, there is no "solution" as such. As I said in the original post, just making sure there is only one managed identity set on the cluster (either user-assigned, or system-assigned) is the way.

As to how to even find out what MSI is assigned? In Portal, find the "AKS management" resource group, its name will be `MC_clustername`. G

[2021-01-28 14:23] ryanjn commented on #3148
[omsagent](https://docs.microsoft.com/en-us/azure/azure-monitor/insights/container-insights-manage-agent) is another Azure add-on, and per Azure - each add-on is given it's own identity which I guess makes some sense.  It makes me wonder if it's really reasonable for solutions like `external-dns` and `cert-manager` to be making the assumption that there will only ever be one identity assigned to t

[2021-01-28 14:28] meyskens commented on #3188
/priotity important-soon

[2021-01-28 14:28] udhos commented on #3608
I am hitting this exact same issue on cert-manager v1.0.3.
I can work-around the automatic renewal by deleting the secret.

[2021-01-28 14:29] meyskens commented on #3188
/priority important-soon

[2021-01-28 14:42] meyskens commented on #3594
Would it be possible to get a `kubectl describe` on the order and challenge resources? That would help us to look what is the latest state on those resources.

/triage needs-information
/area acme

[2021-01-28 14:43] jakexks commented on #3585
/priority important-soon
/area api

[2021-01-28 14:46] jakexks commented on #3567
/triage-support
/help-wanted

Does this require a documentation update @whitelion-github ?

[2021-01-28 14:47] meyskens commented on #3588
/area vault
/priority important-longterm

Might be related to the work being done in https://github.com/jetstack/cert-manager/pull/3582

[2021-01-28 14:47] maelvls commented on #3512
Hi! Were you able to work around the issue by stripping away the `metadata.resourceVersion` in the to-be-restored certificates?

/area deploy
/priority backlog
/triage needs-information

[2021-01-28 14:48] jakexks commented on #3567
/triage support
/help

[2021-01-28 14:49] meyskens commented on #3564
the self-check is coming from the controller pod. Would it be possible to move this issue to the website repo (https://github.com/cert-manager/website/) as this is where we track documentation, thanks!

/close

[2021-01-28 14:49] #3564 closed

[2021-01-28 14:50] meyskens commented on #3540
Closing this as duplicate

/close

[2021-01-28 14:50] #3540 closed

[2021-01-28 14:51] jakexks commented on #3561
Hi,
Please open a PR or issue on https://github.com/cert-manager/website

/close

[2021-01-28 14:51] #3561 closed

[2021-01-28 14:54] jakexks commented on #3555
/priority important-soon

[2021-01-28 14:58] meyskens commented on #3549
Depending on the ingress controller it can, let's encrypt will follow redirects to HTTPS (and trust self signed certs) just fine. However your ingress controller needs to somehow present a certificate for the connection to work.

[2021-01-28 14:59] jakexks commented on #3531
/priority important-longterm

To follow up on when we have access to quay.io/cert-manager

[2021-01-28 15:00] maelvls commented on #3458
Hi! I think @meyskens was able to reproduce the issue, which caused her princess certificate to expire 😅

<blockquote class="twitter-tweet"><p lang="en" dir="ltr">Did the princess certificate expire? 👑<a href="https://twitter.com/MaartjeME?ref_src=twsrc%5Etfw">@MaartjeME</a> </p>&mdash; Maël Valais (@maelvls) <a href="https://twitter.com/maelvls/status/1354442823890825220?ref_src=twsrc%5Etfw">Janu

[2021-01-28 15:01] jakexks commented on #3549
/good-first-issue
/priority backlog

[2021-01-28 15:01] meyskens commented on #3534
Seems to be related to the rfc2136 issuer not having access to otherdomain.tld in the 2nd case. Could you check that?

/triage needs-information

[2021-01-28 15:02] jakexks commented on #3567
/kind documentation

[2021-01-28 15:03] maelvls commented on #3512
cc @wallrj did you see another similar issue?

[2021-01-28 15:03] meyskens commented on #3516
Seems to be a duplicate of https://github.com/jetstack/cert-manager/issues/3501

/close

[2021-01-28 15:03] #3516 closed

[2021-01-28 15:04] jakexks commented on #3513
How official is https://artifacthub.io/packages/helm/jetstack/cert-manager ? Either way we should have a cert-manager org or similar for the chart to live under.
/priority important-soon
/area deploy

[2021-01-28 15:04] meyskens commented on #3501
/priority important-soon
/area api

[2021-01-28 15:04] meyskens commented on #3486
/priority important-soon

[2021-01-28 15:05] maelvls commented on #2456
Hi! Quick update on this issue: we currently have discussions about this; Josh will soon get a design document open for review.

[2021-01-28 15:11] meyskens commented on #3468
/priority backlog

[2021-01-28 15:11] JoshVanL commented on #2855
Looks like this issue is resolved

/close

[2021-01-28 15:11] #2855 closed

[2021-01-28 15:11] meyskens commented on #3468
/area api

[2021-01-28 15:12] meyskens commented on #3462
/priority backlog

[2021-01-28 15:13] meyskens commented on #3450
/kind bug
/area api
/priority important-longterm

[2021-01-28 15:14] meyskens commented on #3318
/triage support

This seems to be an issue related to your ingress controller not cert-manager.

[2021-01-28 15:14] jakexks commented on #3453
/help
/priority backlog

Thanks for the detailed report! It's almost certainly a bug in cert-manager but fixing and testing it would require some help from someone with the same setup.

[2021-01-28 15:14] meyskens commented on #3210
Going to close this due to inactivity

/close

[2021-01-28 15:14] #3210 closed

[2021-01-28 15:15] JoshVanL commented on #2549
This should hopefully be quite well documented in https://cert-manager.io/docs/concepts/ca-injector/ now. Going to close the issue.

/close

[2021-01-28 15:15] #2549 closed

[2021-01-28 15:16] wallrj commented on #3140
We're going to implement this as a separate TPP credential controller.

/close

[2021-01-28 15:16] #3140 closed

[2021-01-28 15:17] JoshVanL commented on #3365
Duplicate of https://github.com/jetstack/cert-manager/issues/2525

[2021-01-28 15:17] JoshVanL commented on #3365
/close

[2021-01-28 15:17] #3365 closed

[2021-01-28 15:17] jakexks commented on #3435
/priority important-soon

[2021-01-28 15:18] meyskens commented on #3012
Closing this in favor of  #3486

/close

[2021-01-28 15:18] #3012 closed

[2021-01-28 15:18] wallrj opened #3612 "CLI tool should have a dedicated backup and restore subcomand"
In https://github.com/jetstack/cert-manager/issues/2112#issuecomment-619076005 @munnerz  wrote:

/kind feature

[2021-01-28 15:19] wallrj commented on #3612
/area ctl

[2021-01-28 15:21] jakexks commented on #3231
I agree that this is intended behaviour, although if leader election was disabled it might be a nice feature?
/kind feature
/remove-kind bug
/priority backlog

[2021-01-28 15:21] wallrj commented on #2112
I've created a separate issue for the `kubectl cert-manager {backup, restore}` command and I'll now close this one in favour of another related issue in the website repo: https://github.com/cert-manager/website/issues/234

@ensonic @ailox if either of you have time to contribute some improvements to the backup restore docs I'll help get it reviewed and merged. Thanks.

[2021-01-28 15:21] #2112 closed

[2021-01-28 15:22] jakexks commented on #1551
/priority important-soon

[2021-01-28 15:25] JoshVanL commented on #1551
/assign

[2021-01-28 15:32] wallrj commented on #2971
@KoviaX @devurandom Thanks for reporting and investigating this.

We're cleaning up our issues and I'd like to know what is the status of this one.
Please close this if you think that the problem has been fixed by DigitalOcean.

/triage needs-information

[2021-01-28 15:35] gmauleon commented on #3594
Will do when I witness the problem next time since I deleted problematic orders and challenges to make it pass clusters that were failing.

[2021-01-28 15:41] sbstp commented on #3594
I haven't run into the problem this week over maybe 7 or 8 test runs. Not sure if it's luck of if something was wrong with the LE server last week.

[2021-01-28 15:49] wallrj commented on #2800
@radarnex @dhiman-git @philipp1992 Hopefully you've updated to a newer version of cert-manager by now. One which has the new metrics controller mentioned by @meyskens .
I'll close this, but please create new issues if you encounter issues with the metrics in recent versions of cert-manager.

/close

[2021-01-28 15:49] #2800 closed

[2021-01-28 15:53] wallrj commented on #3446
/kind documentation

I'll close this issue, but  please contribute improvements to the documentation of cert-manager monitoring at https://github.com/cert-manager/website if you have time. I'll help with reviews etc.

/close

[2021-01-28 15:53] #3446 closed

[2021-01-28 15:54] wallrj commented on #3259
Thanks @sslavic

Please submit a PR if you have time and I'll help with reviews etc.
We can try and get this fixed in the next couple of releases.

For reference, here are some related suggestions for extending the cert-manager metrics:
 * https://github.com/jetstack/cert-manager/issues/3366
 * https://github.com/jetstack/cert-manager/issues/2998

/priority important-longterm

[2021-01-28 15:56] wallrj commented on #3513
This may be a duplicate of https://github.com/jetstack/cert-manager/issues/3439

[2021-01-28 16:07] thockin commented on #3549
In this case, the HTTP endpoint doesn't redirect, but just fails to answer.

Maybe redirect would be better, especially if cert-manager did the first
self-signed cert automatically.

On Thu, Jan 28, 2021, 6:58 AM Maartje Eyskens <notifications@github.com>
wrote:

[2021-01-28 16:11] munnerz commented on #3549
cert-manager _is_ creating a self-signed 'temporary' certificate in the k8s.io cluster - the issue here is that `allow-http: "false"` completely disables routing on port 80 (and the GCLB is then returning a 404 itself). This is pretty much incompatible with any of the redirecting logic that Let's Encrypt does, and means an awkward UX whereby if a user visits a website on `http://my.domain.com`, th

[2021-01-28 16:43] thockin commented on #3549
@bowei @rramkumar I wonder if we should change the GCP implementation of the ingress.allow-http annotation to redirect to HTTPS instead of blackhole?

[2021-01-28 18:48] udhos commented on #3608
@gidesh I am facing a very similar issue and wondering what setting might be triggering such an effect in my environment.

Issue is, once the automatic renewal fails, cert-manager logs continuously report "propagation check failed".

I can work-around the renewal failure by manually deleting the secret. However I am looking for the root cause preventing automatic renewal. I am puzzled on why cert-

[2021-01-28 19:01] TeoGoddet commented on #3437
Hi, I'm pretty new to go and cert-manager.

I wanted to create a webhook provider based on lego.
See (WIP) https://github.com/TeoGoddet/cert-manager-webhook-example/blob/lego-solver/main.go
And https://github.com/TeoGoddet/cert-manager-webhook-example/blob/lego-solver/testdata/lego-solver/config.json
All the work is not pushed yet as It need cleaning.

I don't know why but I missed this issue :/.

[2021-01-28 19:30] netthier opened #3615 "resourceVersion should not be set on objects to be created"
When trying to secure my Ingress with letsencrypt, it gets stuck on the temporary certificate.
cert-manager-controller logs contain a lot of the following:
[code]
And they stop after printing out the following:
[code]
Here's the output of `kubectl describe certificate,issuer,clusterissuer --all-namespaces`:
[code]
My ingress config looks like this:
[code]
I replaced all sensitive info with placeho

[2021-01-28 19:50] Ahmadre opened #3616 "[Feature]: Add namespaceOverride for using cert-manager as a subchart"
At first: Thank you soo much for this great work and chart :)! Really appreciate it!

But I encountered, if I use cert-manager as a subchart for helm, there's no `namespaceOverride` to override the default namespace which is set in the chart.

Thanks for a quick response :)

[2021-01-29 00:51] calvinpark opened #3617 "Manage etcd, apiserver, controller-manager, scheduler, proxy, kubelet certificates"
**Is your feature request related to a problem? Please describe.**
Using cert-manager I can't auto rotate the certificates for k8s control plane components such as etcd, apiserver, controller-manager, scheduler, proxy, kubelet.

**Describe the solution you'd like**
Provide a way to manage those certificates by reading and writing certificate files on the master nodes' disk.

**Describe alternative

[2021-01-29 10:28] hueseyinkilic commented on #2362
same issues on helm installation v.1.1.0 on AKS with AAD Pod Identity v1.7.1

[2021-01-29 10:43] floek commented on #3534
Yes, the issuer has no access to otherdomain.tld. But I expected him to add A-Records to example.tld and not to try to follow the CNAME.

[2021-01-29 11:22] nikhileshva opened #3618 "Cannot fetch the Order for CertificateRequest [Using EAB, ZeroSSL]"
**Describe the bug**:

I'm using ZeroSSL account to create ACME certificates. I was able to get EAB credentials from ZeroSSL, which I added to the ClusterIssuer.
[code]
The issuer is set up in the cluster with success. No issues here.

Next, when I create a CertificateRequest with my CSR, this never gets in Ready state. Even after I can see that certificates have been created at ZeroSSL, I cannot

[2021-01-29 11:30] irbekrm commented on #3549
I guess at the moment folks using GCE ingress and not wanting to expose port 80 would have to set up HTTP->HTTPS redirection? https://github.com/kubernetes/ingress-gce/pull/1206

[2021-01-29 14:41] irbekrm commented on #2009
/assign

[2021-01-29 15:24] gidesh commented on #3608
Hi @udhos , The cert `order` is still stuck in a pending state for the cert that I had raised the issue for.
[code]
My setup is similar but in GCP
1. Kubernetes: GKE `v1.17.14-gke.1600`
2. cert-manager: `v1.1.0` using static manifests
3. Challenge: DNS01 with GCP Cloud DNS
4. Just one host name :
[code]
5. Not using such a strategy of less privileged zone.

[2021-01-29 17:25] udhos commented on #3608
@gidesh Thanks for sharing.

I have environments still stuck in pending as well.
I know I can work-around the failed renewal by deleting the secret, but I am searching for the root cause preventing automatic renewal.
It currently looks like this:

[code]

[2021-01-29 17:57] udhos commented on #3608
Just tested this recipe for manually renewing a certificate previously stuck in failed automatic renewal.

[code]

Didn't find yet why automatic renewal failed the DNS challenge.

[2021-01-29 21:51] udhos commented on #3460
I think I might be facing this exact same issue.

However I see minor differences:
1) My certificate holds two non-wildcard DNS names.
2) DNS01 challenge is solved successfully when the certificate is first issued.
3) DNS01 challenge hits the DNS propagation issue only for renewal.
4) cert-manager is v1.0.3

Another similar report is https://github.com/jetstack/cert-manager/issues/3608

[2021-01-29 23:50] braudel commented on #3484
Hello,

I am currently seeing a very similar issue: The ingress object leads to the generation of a perfectly working tls secret with the certificate, but cert-manager keeps re-issuing the certs.  I can see this in the logs:

[code]
Environment:
- EKS: 1.18
- cert-manager v1.1.0 (helm)
- external vault: v.1.6.0
- ingress  annotations:
[code]

@wzrdtales did you find a workaround for this?

[2021-01-30 11:54] yanjunli76 opened #3619 "Does ca.crt entry contains the actual signing CA or Root CA?"
**Describe the bug**:

When using CA Issuer and providing an intermediate CA, ca.crt entry only contains the intermediate CA. Please see below example:

ClusterIssuer:  **tls.crt**
- intermediate CA (signing CA)
- root CA

ClusterIssuer:  **tls.key**
- the private key paired with the above intermediate CA

Generated certificate entity **ca.crt**:
- intermediate CA

Generated certificate entity **t

[2021-01-30 13:27] wzrdtales commented on #3484
not using the ingress features. the small step implementation is incomplete and incapable of creating the certificate resource from t he ingress annotation and information. thats all to it... . So someone has to actually finish the implementation of small step in that regard. Didn't had time to do it yet on my own

[2021-01-30 15:35] fuog commented on #646
any news on this topic?

[2021-01-30 20:16] newtorob commented on #3246
This was my issue. Thanks!

[2021-01-31 08:18] ryo-egch commented on #3009
I also got issue  when using workloadIdentity on GKE, with DNS-01

version
 - cert-manager-v1.1.0

but worked fine with @txomon 's step
https://github.com/jetstack/cert-manager/issues/3009#issuecomment-766696268

change all serviceAccount to default
[code]
add extraArgs
[code]

And binding GoogleServiceAccount & default (kubernetes serviceaccount), add annotation

  --role roles/iam.workloadIdenti

[2021-02-01 02:37] tuananh commented on #2891
@munnerz if we were to use helm-docs, the commented values will not be generated in the values table. I'm not sure if that's what you wanted?

eg: this line https://github.com/jetstack/cert-manager/blob/master/deploy/charts/cert-manager/values.yaml#L36

[2021-02-01 08:13] n27051538 commented on #310
Hello,
I have found that in values.yaml it should be https_proxy in comments. Now http_proxy has two lines.
https://github.com/jetstack/cert-manager/blob/33f18811909bdd08d39fd8aa3f016734d1393d18/deploy/charts/cert-manager/values.yaml#L169

[2021-02-01 09:30] maelvls commented on #3619
/priority backlog
/area ca

Not sure myself, @wallrj what do you think?

[2021-02-01 09:49] maelvls commented on #3601
Hi!

The `nodeSelector` field in the Helm chart seems to be made for the cert-manager's deployment itself (as opposed to the challenge pods which are created dynamically using the Issuer/ClusterIssuer configuration).

Might be worth adding this bit of information to the `nodeSelector` field in the helm chart's [README.md](https://github.com/jetstack/cert-manager/blob/master/deploy/charts/cert-mana

[2021-02-01 09:55] maelvls commented on #3616
Hi!

I came across https://github.com/jetstack/cert-manager/pull/2964 where this exact same feature was discussed by @munnerz on 11 Jun 2020:

Please feel free to re-open this issue if you feel the above message does not make sense!

/close

[2021-02-01 09:55] #3616 closed

[2021-02-01 09:57] irbekrm commented on #2009
I see that there are three case where we assume that Ingress is invalid - if any of the `spec.tls.hosts` or `spec.tls.secretName` fields are empty as well as if there is a duplicate `spec.tls.secretName` field.
I guess if we are relaxing the validation to allow an empty `spec.tls.hosts` field, we should do the same for an empty `spec.tls.secretName`? (Whilst a duplicate `spec.tls.secretName` shoul

[2021-02-01 12:57] irbekrm opened #3620 "Use constants when recording new events"
Small codebase improvement: maybe we could use constants for the different 'reason' argument values to [`k8s.io/client-go/tools/record.EventRecorder.Eventf`](https://pkg.go.dev/k8s.io/client-go/tools/record#EventRecorder) function call similarly to how it's done, for example, in the Kubernetes codebase [here](https://github.com/kubernetes/kubernetes/blob/master/pkg/controller/controller_utils.go#L

[2021-02-01 15:08] udhos commented on #3594
Hi!

I have one environment with challenge forever stuck on pending (and logging DNS not propagated).
Though it is not using letsencrypt staging, it is on production.

[code]

I am able to work-around that automatic renewal failure by deleting the secret.
Will apply such a work-around on Feb 3rd.

Is there any information I can collect to help in understanding this issue?

[2021-02-01 15:19] nsteinmetz commented on #3501
Hello @meyskens

So when we face this issue, we just should wait if I understand correctly ? any idea on how long I should wait ? Any workaround ?

Thanks !

[2021-02-01 16:27] nsteinmetz commented on #3501
Ok my bad - as I cleaned a lot of annotations - I removed a useful one.

Once I redefined that certificate is to be generated with a ClusterIssuer, it works as expected...

[2021-02-01 16:38] foosinn opened #3621 "Requesting multiple dnsNames using rfc2136 is broken"
**Describe the bug**:

I tried to create a certificate with multiple dnsNames using rfc2136. Requesting the challenges workes fine, but the validation failes.

CRD:

[code]

[code]

Upon closer inspection i noticed that the RFC2136 provider removes all existing `TXT` recods, destroying all records except for the last one.

https://github.com/jetstack/cert-manager/blob/33f18811909bdd08d39fd8aa3f016

[2021-02-01 16:43] maelvls commented on #3621
/area rfc2136
/priority backlog

[2021-02-01 16:49] justinkillen commented on #3603
Thanks @maelvls for taking a look.  Please let me know if there's any more information I can provide or any other way I can help.  I currently have 1,500 certificates that going to expire in the next 7-8 days, so any advice would be helpful: manual workarounds, config changes that avoid the issue, etc.

[2021-02-01 17:00] #3618 closed

[2021-02-01 20:37] sveba commented on #3619
I also need this feature. The trust chain should be provided to the client. This should be done also in the JKS-Truststore and the PKCS12-Truststore

[2021-02-02 07:42] ktpktr0 opened #3624 "Certificate issued by cert manager is unsafe"
k8s version: 1.17.3
cert-manger: cert- manager.yaml
ingress-controller: 0.30.0

I use cert Manger on k8s to automatically sign the domain name managed by ingress controller. It successfully signs the certificate, but when accessing through the browser, it prompts that the certificate is not secure.
![image](https://user-images.githubusercontent.com/41657218/106568699-96752680-656e-11eb-8f3e-c11ca7

[2021-02-02 08:43] #3624 closed

[2021-02-02 19:47] irbekrm commented on #2037
/assign

[2021-02-03 09:14] Patafix commented on #3501
Same error here, but not working at all on my side...

[2021-02-03 09:44] irbekrm opened #3626 "Add Go package comments to all packages"
It would be nice if all the packages had  [package comments](https://blog.golang.org/godoc) as it would make it easier to, for example, view the contents on [https://pkg.go.dev/github.com/jetstack/cert-manager](https://pkg.go.dev/github.com/jetstack/cert-manager).

A lot of them already have package comments in [doc.go](https://github.com/jetstack/cert-manager/blob/master/pkg/acme/webhook/apis/acm

[2021-02-03 09:55] irbekrm commented on #3626
/assign

[2021-02-03 09:56] irbekrm commented on #3620
/assign

[2021-02-03 10:23] #2009 closed

[2021-02-03 11:27] wallrj opened #3627 "CRD definitions appear twice in the cert-manager.yaml file"
@dippynark Noticed that the CRD definitions appear twice in the https://github.com/jetstack/cert-manager/releases/tag/v1.2.0-alpha.1 release `cert-manager.yaml` file.

And the file size is now 3.24 MB vs 1.16 MB in the https://github.com/jetstack/cert-manager/releases/tag/v1.2.0-alpha.0 release.

Probably something was overlooked in the PRs where we removed tooling for creating cert-manager legacy

[2021-02-03 11:29] wallrj commented on #3627
/milestone v1.2
/area deploy

[2021-02-03 11:30] wallrj commented on #3627
/priority important-soon

[2021-02-03 11:30] wallrj commented on #3627
/assign

[2021-02-03 11:44] TafkaMax commented on #2882
I have the same problem with certbot, so this is related to Sectigos implementation of the ACME protocol, so if the fix is implemented it will also be applied to certbot or do I have to open a issue on their github aswell? (Also using Sectigo CA)

[2021-02-03 11:50] maelvls commented on #2037
Would it be possible to use the `alb.ingress.kubernetes.io/actions.*` feature of [the ALB controller](https://kubernetes-sigs.github.io/aws-load-balancer-controller/v2.1/guide/ingress/annotations/)?

In order for the ingress-shim to support the ALB controller's redirect feature, we would have to add a way to configure additional rules for the ingress. I detail what I mean by that in the remaining

[2021-02-03 11:55] munnerz commented on #2037
We should not have any ingress-controller specific behaviour IMO. Allowing users to provide additional annotations to be added to objects we create _does_ make sense (similar to pods).

That said, I don't think what you've described here is actually relevant to this issue. The annotation in question is `"alb.ingress.kubernetes.io/backend-protocol": "HTTPS"` - which tells Azure's load balancer to s

[2021-02-03 11:57] munnerz commented on #2037
Regards to your actual comment though - I'm not sure why it'd be useful for us to do this given we don't really mind if the user (Let's Encrypt) requests the challenge endpoint over HTTP or HTTPS - with the way we do things right now, the Ingress will *not* configure TLS, so the LB will listen on port 80. We *could* redirect them to 443, but it'd bring no benefits.

Having TLS used for *backend co

[2021-02-03 12:00] irbekrm commented on #2037
We had a short discussion about this earlier with the team- there is a concern that having the solver accept HTTPS traffic would be against the ACME spec (even though it would only be between the load balancer and the backend). Also (and related to the first point) that someone might see our implementation of the solver that accepts HTTPS and reuse it in a different scenario (i.e without an Ingres

[2021-02-03 12:04] munnerz commented on #2037
I don't think it's against the ACME spec at all - how traffic traverses from the LB to the backend isn't really a concern of Let's Encrypt. If it _were_ against the spec, then any kind of service mesh would be problematic to run too.

I'm also not too sure on this one either - why would someone choose to use it without an Ingress because it accepts HTTPS traffic? Let's Encrypt specifically *requir

[2021-02-03 12:06] rahbal commented on #2319
Why is this issue closed ? I am facing same issue, with the helm chart of cert-manager v1.1.0

`main.go:38] cert-manager "msg"="error executing command" "error"="listen tcp :10250: bind: address already in use"`

@mostafa8026 seems to have corrected the issue by changing the port 10250. Why is this even a port issue ?

[2021-02-03 12:34] wallrj commented on #3555
The Venafi Cloud E2E tests are also now failing and we think it is because the test infra is using an expired or revoked Vcloud API token.

Here's an example of the cert-manager e2e tests failing:
[code]
-- https://prow.k8s.io/view/gcs/jetstack-logs/logs/ci-cert-manager-e2e-v1-20/1356893208860168193

@simplyzee  is investigating

[2021-02-03 12:39] irbekrm commented on #2037
Linking a [discussion](https://kubernetes.slack.com/archives/CDEQJ0Q8M/p1612353089102500) about this issue on cert-manager Kubernetes Slack channel.

Note: testing this could be problematic as we currently only run e2e tests on GCP whilst the issue is linked to ALB/Azure load balancer.

[2021-02-03 13:06] munnerz commented on #2037
I think testing the actual behaviour of "can make an HTTPS and HTTP request to the same endpoint" would probably suffice - we don't really provide a contract around whether an ingress controller will work - rather, we build features that various ingress controllers can work with when configured by users.. it's a fine line 😅

[2021-02-03 13:09] nmiculinic opened #3629 "AWS Cloud Map manager Route53 zones"
**Describe the bug**:

I want a cert-manager provision wildcard certificate for the specific domain name using the DNS01 provider. This domain is managed on Route53 via the AWS Cloud Map. This is mostly due to hitting Route53 rate limits due to external-dns, and the following issue:

* https://github.com/kubernetes-sigs/external-dns/issues/1293
* https://github.com/kubernetes-sigs/external-dns/blo

[2021-02-03 14:57] robstradling commented on #2882
This fix was deployed to Sectigo's ACME service on Jan 10th as planned.

@TafkaMax I would have expected any ACME client that supports recovery of EAB-based accounts to have benefited from this fix.  If it's still not working for you, please open a ticket with our Support team.

[2021-02-03 15:35] mvukadinoff commented on #3229
/reopen

On clusters with more than 20000 secrets this becomes a problem . The query that Cert manager does is not optimal.
/api/v1/secrets?limit=500&resourceVersion=0

resourceVersion=0 will cause to query always all secrects and limit=500 will not be taken into account. This way cert manager is not scalable for large deployments. Secrets are used not only for certificates.

 As mentioned in : ht

[2021-02-03 17:11] gmauleon commented on #3594
Ok I just got a somehow similar problem. Start with the same symptoms, some challenges are invalid, this one is with AWS Route53 (was GCP before). Sorry for the wall of text 😅

So I witness some challenges were invalid and dumped some describes below while the challenge were there:
One invalid challenge
[code]
Order
[code]
So looks like some DNS problem here. Shortly after for me (but probably one

[2021-02-03 17:41] justinkillen commented on #3603
As a work-around, is there a way to change something in config so that there is more time between those cycles?

[2021-02-03 18:40] irbekrm commented on #3603
For the sync cycles in particular I don't think there is currently a flag.
 I imagine we might want something similar to [kube-controller-manager](https://kubernetes.io/docs/reference/command-line-tools-reference/kube-controller-manager/) sync options for the Certificate Request controller.

[2021-02-03 19:21] irbekrm commented on #3629
Hi @nmiculinic,
Would you be able to share the `Issuer` (or `ClusterIssuer`) and `Certificate` config?

[2021-02-03 21:02] maelvls commented on #3603
Hi again, apologies for the delay, I assigned myself but didn't get around.

I think we don't have any way of "slowing down" the processing of certificate renewal, which (if I understand correctly) will trigger the 5 to 6 certificate requests per renewal bug.

I'll unassign myself for now (too much on my plate at the moment 😅)

/unassign

[2021-02-03 21:19] irbekrm commented on #3603
I'd be really interested to look into this.

@justinkillen - unfortunately if we fix this in the codebase, it is still unlikely that this would make it to a release witin the next 5 days. There might be a need for some sort of workaround / manual hack to fix your upcoming issue 😞

[2021-02-03 21:25] justinkillen commented on #3603
This didn't seem to be an issue until I upgraded to 1.1.  Is there a way to tell when this bug was introduced?  Perhaps I could downgrade for now.

[2021-02-03 21:36] irbekrm commented on #3603
@justinkillen do you happen to remember what was your last good version?

[2021-02-03 21:41] justinkillen commented on #3603
@irbekrm Prior to 1.1.0 we were using 0.14.3.  We updated on Jan 9th.

[2021-02-03 21:57] irbekrm commented on #3603
Thanks for the info! I will let a bunch of renewals run against both versions overnight. Will let you know.

With 1.1.0 I can only reproduce it sometimes, so I wasn't sure if it's not something that has always been there.

/assign

[2021-02-03 22:07] justinkillen commented on #3603
I haven't noticed it prior.  This time it is just obvious because we've received hundreds of emails from LetsEncrypt warning about expiration.  For what it's worth, following is an aggregate I created from our system listing expiration dates and a count of certs (I limited it to just what expires in the next 30 days):

[code]

[2021-02-03 22:14] udhos commented on #3594
Perhaps there is an underlying issue in the code for solving DNS challenges, like this https://github.com/jetstack/cert-manager/issues/3621

[2021-02-03 22:37] chadleeshaw opened #3631 "JKS Password Empty"
It appears that the JKS keystore/truststore isn't using the password provided to it.

[code]
Secret(nifi-keystore):
[code]
After generating the cert and decoding the base64 of the keystore.jks and truststore.jks there is no password:
[code]

I would expect that the keystore and truststore have a password that's pulled from `nifi-keystore` secret under the key `keyStorePassowrd`.

**Environment det

[2021-02-03 23:32] lboix commented on #2538
My team and I are facing this exact same situation : we are migrating our cluster from Kubernetes 1.14 to 1.18 and wanted to upgrade to the last cert-manager version too (from 0.9.1 to 1.1.0)

Unfortunately without adding an extra annotation to all our existing Ingress objects, or hardcoding the class name of one of our Ingress Controllers in the **ClusterIssuer** specs, it's impossible to generat

[2021-02-03 23:46] chadleeshaw commented on #3631
Resolved.  Password was randomly generated at 60 characters.  Shortened the password to 12 characters and it worked.

[2021-02-04 06:19] nmiculinic commented on #3629
[code]

[code]

Wow, so dumb, initially I had a more restrictive dnsZones selector. Anyhow after fixing this I get the following error:

Now I get the following error:
[code]

[2021-02-04 08:03] Useurmind commented on #3592
Ok, I solved the issue. I guess the problem was that we had two Ingress Definitions for the same hosts with different secrets. In this case the nginx-ingress seems to use one of the secrets for all requests to the hosts. In our case this meant we always got the old certificate back.

[2021-02-04 08:24] maelvls commented on #3603
If that's OK, I'll add the label "important-soon" since this issue possibly can cause outages.

/priority important-soon
/area acme
/milestone Next

[2021-02-04 08:54] irbekrm commented on #3629
After reading a little bit about AWS Cloud Map, I think this is happening because if a zone is managed by AWS Cloud Map it cannot be modified directly.
For the DNS01 challenge, cert-manager needs to be able to [create a record in that zone](https://cert-manager.io/next-docs/configuration/acme/dns01/route53/#set-up-an-iam-role), so I think it might not work.

This is from the [discussion](https://g

[2021-02-04 09:04] irbekrm commented on #3629
I think we need to understand whether it is the case that cert-manager cannot be made to work with AWS Cloud Map - or maybe there is some way around it, with zone delegation or something like that? - and update our docs accordingly.

[2021-02-04 09:55] maelvls commented on #3486
@wallrj Since we plan on releasing 1.2 tomorrow, would it make sense to bump this issue to 1.3 instead?

[2021-02-04 09:59] maelvls commented on #3610
Hi! I was wondering if we could create a small minimal working environment e.g. using `kind` in order to reproduce the issue? e.g.,

1. run acme-dns as a container with some credentials,
2. create a local kind cluster using the same docker network,
3. install cert-manager 1.1
3. create an issuer that tagets acme-dns,
4. create many short-lived certs (1 minute?),
5. wait until renewal

What do you

[2021-02-04 10:01] hainguyen8y commented on #3442
I have same issue, it's resolved by adding `acme.cert-manager.io/http01-edit-in-place: "true"` in the annotations of ingress controller

[2021-02-04 10:01] maelvls commented on #3610
/priority important-soon
/area acme/dns01
/milestone Next

[2021-02-04 10:07] maelvls commented on #2868
We plan on releasing 1.2 tomorrow; I will bump this issue to 1.3. Let me know if you would still like to finish it for 1.2!

/milestone Next

[2021-02-04 10:52] mostafa8026 commented on #2319
did you set the hostNetwork to true? could you please provide your config?

[2021-02-04 11:05] maelvls commented on #3051
/milestone Next

[2021-02-04 13:33] rootsh commented on #2319
My example using Terraform

resource "helm_release" "cert_manager_calico" {
  count            = var.calico_install ? 1 : 0
  name             = "cert-manager"
  repository       = "https://charts.jetstack.io"
  chart            = "cert-manager"
  namespace        = "cert-manager"
  replace          = true
  values = [<<EOF
affinity:
  nodeAffinity:
    requiredDuringSchedulingIgnoredDuringExecuti

[2021-02-04 15:05] irbekrm commented on #3603
Still trying to reproduce this again.

For what it's worth, I also noticed this in the logs added to the description of this issue `Message: Failed to wait for order resource "78502295-xyz-cert-sf28k-3636131827" to become ready: order is in "errored" state: Failed to create Order: 429 urn:ietf:params:acme:error:rateLimited: Error creating new order :: too many new orders recently: see https://lets

[2021-02-04 15:19] #3627 closed

[2021-02-04 15:44] SiegfredRodriguez opened #3632 "cert-manager service account seems to lack permission when using custom webhooks"
I am trying to use cert-manager with webhook for Linode :
https://github.com/slicen/cert-manager-webhook-linode

When i apply for certificate, I get this error on Challenge object:

`linode.acme.slicen.me is forbidden: User "system:serviceaccount:cert-manager:cert-manager" cannot create resource "linode" in API group "acme.slicen.me" at the cluster scope`

why is cert-manager trying to create Lino

[2021-02-04 16:03] SiegfredRodriguez commented on #3632
Issue still unresolved, used annotation based certification instead.

[2021-02-04 16:03] #3632 closed

[2021-02-04 16:12] wallrj commented on #3486
/assign

[2021-02-04 16:18] justinkillen commented on #3603
We were granted a rate limit increase from LetsEncrypt.  I forget exactly what it is now, but I don't think will be an issue.

Around 14 hours ago, I downgraded to 1.0.3 (I tried 0.14.3, but ran into issues with CRD versions) and let it run overnight.  As part of the downgrade, I also deleted all failed certificaterequests and orders.  A few minutes ago, I re-ran my check and it seems to be making

[2021-02-04 16:23] pkhairkh commented on #2538
@lboix quick: I had to move to Cloudflare due to this issue... http01 challenge seems to be broken or I did not achieve implementing it on networking.k8s.io/v1beta1 for NGINX ingress controller v1.9.1...

If that somehow helps you out in any way I am glad to share you my experience.

Cheers mate

[2021-02-04 16:29] irbekrm commented on #3629
@nmiculinic you could get this working by using a second zone (not managed by AWS Cloud Map) and allowing cert-manager to follow CNAME records- see an example [here](https://cert-manager.io/docs/configuration/acme/dns01/#delegated-domains-for-dns01)

Let us know if this works!

[2021-02-04 16:49] gmauleon commented on #3594
OK, I got another one (other cluster using GCP DNS challenge this time) which is stuck since multiple days.
Same thing, a challenge is invalid out of 12:
[code]

Order:
[code]

Logs: [cert-manager-logs.txt](https://github.com/jetstack/cert-manager/files/5927226/cert-manager-logs.txt)

[2021-02-04 17:53] nmiculinic commented on #3629
I'm not sure can you create a CNAME entry in AWS Cloud Map. I couldn't do it manually, though I may be doing something wrong.

[2021-02-04 18:33] irbekrm commented on #3629
I saw in their docs that you can [create a service and specify the DNS record type](https://docs.aws.amazon.com/cli/latest/reference/servicediscovery/create-service.html) - one of the options there is CNAME. I haven't actually tried myself yet.
You probably won't be able to add the record to the zone manually because AWS Cloud Map expects to manage that zone.